@inject IStringLocalizer<CheckboxShowLabel> Localizer

<div class="row g-3 form-inline">
    <div class="col-12 col-md-4">
        <Checkbox TValue="string" State="CheckboxState.Checked" DisplayText="@Localizer["StatusText1"]" ShowLabel="true" Color="@Color.Primary" />
    </div>
    <div class="col-12 col-md-4">
        <Checkbox TValue="string" State="CheckboxState.Checked" DisplayText="@Localizer["StatusText1"]" ShowLabel="true" Color="@Color.Success" />
    </div>
    <div class="col-12 col-md-4">
        <Checkbox TValue="string" State="CheckboxState.Checked" DisplayText="@Localizer["StatusText1"]" ShowLabel="true" Color="@Color.Danger" />
    </div>
    <div class="col-12 col-md-4">
        <Checkbox TValue="string" State="CheckboxState.Checked" DisplayText="@Localizer["StatusText1"]" ShowLabel="true" Color="@Color.Info" />
    </div>
    <div class="col-12 col-md-4">
        <Checkbox TValue="string" State="CheckboxState.Checked" DisplayText="@Localizer["StatusText1"]" ShowLabel="true" Color="@Color.Warning" />
    </div>
    <div class="col-12 col-md-4">
        <Checkbox TValue="string" State="CheckboxState.Checked" DisplayText="@Localizer["StatusText1"]" ShowLabel="true" Color="@Color.Dark" />
    </div>
</div>
