@namespace BootstrapBlazor.Components
@inherits TooltipWrapperBase

<Tooltip Title="@TooltipText" Trigger="@TooltipTrigger" Placement="@TooltipPlacement">
    <span @attributes="@AdditionalAttributes" tabindex="0" class="@ClassString"></span>
</Tooltip>
