@namespace BootstrapBlazor.Components
@inherits BootstrapModuleComponentBase
@attribute [JSModuleAutoLoader("./_content/BootstrapBlazor.SummerNote/Components/Editor/Editor.razor.js", JSObjectReference = true)]

<div @attributes="@AdditionalAttributes" id="@Id" class="editor" data-bb-submit="@ShowSubmitString">
    <div class="@EditClassString" placeholder="@PlaceHolder"></div>
</div>
