@namespace BootstrapBlazor.Components
@inherits IdComponentBase

<div @attributes="@AdditionalAttributes" id="@Id" class="editor" data-bb-submit="@ShowSubmitString">
    <div class="@EditClassString" placeholder="@PlaceHolder"></div>
</div>
