@page "/captchas"

<h3>Captchas 滑块验证码</h3>

<h4>通过拖动滑块进行人机识别</h4>

<Block Title="基础功能" Introduction="进行简单的人机识别" CodeFile="captcha.1.html">
    <Captcha ImagesPath="@ImagesPath" @ref="Captcha" OnValid="@OnValid" />
    <Logger @ref="Trace" class="mt-3" />
</Block>

<Block Title="指定图床路径与名称" Introduction="通过 <code>ImagesPath</code> 设置图床路径，通过 <code>ImagesName</code> 设置图片名称，后台通过计算拼接随机图片全路径名称" CodeFile="captcha.2.html">
    <Captcha ImagesPath="@ImagesPath" ImagesName="@ImagesName" />
</Block>

<Block Title="指定图床委托方法" Introduction="通过 <code>GetImageName</code> 设置自定义方法拼接随机图片全路径名称" CodeFile="captcha.3.html">
    <Captcha GetImageName="@GetImageName" />
</Block>

<AttributeTable Items="@GetAttributes()" />

<EventTable Items="@GetEvents()" />

<MethodTable Items="@GetMethods()" />
