@page "/carousels"

<h3>Carousel 走马灯</h3>

<h4>在有限空间内，循环播放同一类型的图片、文字等内容</h4>

<Block Title="基础用法" Introduction="适用广泛的基础用法，通过设置 <code>Items</code> 属性值对组件进行图片的绑定，值为图片路径数组" CodeFile="carousel.1.html">
    <div class="form-inline">
        <div class="row">
            <div class="form-group col-12">
                <Carousel Images="@Images" Width="280"></Carousel>
            </div>
        </div>
    </div>
</Block>

<Block Title="淡入淡出" Introduction="通过设置 <code>IsFade</code> 属性，图片切换时采用淡入淡出效果" CodeFile="carousel.2.html">
    <div class="form-inline">
        <div class="row">
            <div class="form-group col-12">
                <Carousel Images="@Images" Width="280" IsFade="true"></Carousel>
            </div>
        </div>
    </div>
</Block>

<Block Title="点击图片回调事件" Introduction="通过设置 <code>OnClick</code> 属性后，点击 <code>Image</code> 后触发 <code>OnClick</code> 回调委托" CodeFile="carousel.3.html">
    <div class="form-inline">
        <div class="row">
            <div class="form-group col-12">
                <Carousel Images="@Images" Width="280" IsFade="true" OnClick="@OnClick"></Carousel>
            </div>
        </div>
    </div>
    <Logger @ref="Trace" class="mt-3" />
</Block>

<AttributeTable Items="@GetAttributes()" />
