@page "/components"
@inject IStringLocalizer<Coms> Localizer

<div class="coms-search">
    <div class="row">
        <div class="col-12">
            <Search PlaceHolder="@Localizer["Search"]" IsOnInputTrigger="true" IsAutoFocus="true"
                    Items="@ComponentItems" IsLikeMatch="true" IgnoreCase="true" OnSearch="@OnSearch"></Search>
        </div>
    </div>
    <div class="coms-search-filter">
    </div>
</div>

<CascadingValue Value="ComponentItems" IsFixed="true">
    <CascadingValue Value="@SearchText">

        <ComponentCategory Text="@Localizer["Text1"]">
            <ComponentCard Text="@Localizer["DividerText"]" Image="Divider.svg" Url="dividers"></ComponentCard>
            <ComponentCard Text="@Localizer["LayoutText"]" Image="Layout.svg" Url="layouts"></ComponentCard>
            <ComponentCard Text="@Localizer["FooterText"]" Image="Footer.jpg" Url="footers"></ComponentCard>
            <ComponentCard Text="@Localizer["RowText"]" Image="Row.jpg" Url="rows"></ComponentCard>
            <ComponentCard Text="@Localizer["ScorllText"]" Image="Scroll.png" Url="scrolls"></ComponentCard>
            <ComponentCard Text="@Localizer["SkeletonText"]" Image="Skeleton.png" Url="skeletons"></ComponentCard>
            <ComponentCard Text="@Localizer["SplitText"]" Image="Split.png" Url="splits"></ComponentCard>
        </ComponentCategory>

        <ComponentCategory Text="@Localizer["Text2"]">
            <ComponentCard Text="@Localizer["AnchorText"]" Image="Anchor.png" Url="anchors"></ComponentCard>
            <ComponentCard Text="@Localizer["AnchorLinkText"]" Image="AnchorLink.jpg" Url="anchorlinks"></ComponentCard>
            <ComponentCard Text="@Localizer["BreadcrumbText"]" Image="Breadcrumb.png" Url="breadcrumbs"></ComponentCard>
            <ComponentCard Text="@Localizer["DropdownText"]" Image="Dropdown.svg" Url="dropdowns"></ComponentCard>
            <ComponentCard Text="@Localizer["FullScreenText"]" Image="FullScreen.jpg" Url="fullscreens"></ComponentCard>
            <ComponentCard Text="@Localizer["GoTopText"]" Image="GoTop.png" Url="gotops"></ComponentCard>
            <ComponentCard Text="@Localizer["LogoutText"]" Image="Logout.png" Url="logouts"></ComponentCard>
            <ComponentCard Text="@Localizer["MenuText"]" Image="Menu.svg" Url="menus"></ComponentCard>
            <ComponentCard Text="@Localizer["NavText"]" Image="Space.svg" Url="navs"></ComponentCard>
            <ComponentCard Text="@Localizer["PaginationText"]" Image="Pagination.svg" Url="paginations"></ComponentCard>
            <ComponentCard Text="@Localizer["StepsText"]" Image="Steps.svg" Url="stepss"></ComponentCard>
            <ComponentCard Text="@Localizer["TabText"]" Image="Tabs.svg" Url="tabs"></ComponentCard>
        </ComponentCategory>

        <ComponentCategory Text="@Localizer["Text3"]">
            <ComponentCard Text="@Localizer["AutoCompleteText"]" Image="AutoComplete.svg" Url="autocompletes"></ComponentCard>
            <ComponentCard Text="@Localizer["AutoFillText"]" Image="AutoFill.jpg" Url="autofills"></ComponentCard>
            <ComponentCard Text="@Localizer["ButtonText"]" Image="Button.svg" Url="buttons"></ComponentCard>
            <ComponentCard Text="@Localizer["CascaderText"]" Image="Cascader.png" Url="cascaders"></ComponentCard>
            <ComponentCard Text="@Localizer["CheckboxText"]" Image="CheckBox.svg" Url="checkboxs"></ComponentCard>
            <ComponentCard Text="@Localizer["CheckboxListText"]" Image="CheckboxList.png" Url="checkboxlists"></ComponentCard>
            <ComponentCard Text="@Localizer["ColorPickerText"]" Image="ColorPicker.jpg" Url="colorpickers"></ComponentCard>
            <ComponentCard Text="@Localizer["DateTimePickerText"]" Image="DatePicker.svg" Url="datetimepickers"></ComponentCard>
            <ComponentCard Text="@Localizer["DateTimeRangeText"]" Image="DateTimeRange.png" Url="datetimeranges"></ComponentCard>
            <ComponentCard Text="@Localizer["EditorText"]" Image="Editor.png" Url="editors"></ComponentCard>
            <ComponentCard Text="@Localizer["EditorFormText"]" Image="EditorForm.png" Url="editorforms"></ComponentCard>
            <ComponentCard Text="@Localizer["FloatingLabelText"]" Image="FloatingLabel.jpg" Url="floatinglabels"></ComponentCard>
            <ComponentCard Text="@Localizer["InputText"]" Image="Input.svg" Url="inputs"></ComponentCard>
            <ComponentCard Text="@Localizer["InputNumberText"]" Image="InputNumber.png" Url="inputnumbers"></ComponentCard>
            <ComponentCard Text="@Localizer["InputGroupText"]" Image="InputGroup.png" Url="inputgroups"></ComponentCard>
            <ComponentCard Text="@Localizer["MarkdownText"]" Image="Markdown.png" Url="markdowns"></ComponentCard>
            <ComponentCard Text="@Localizer["MultiSelectText"]" Image="MultiSelect.png" Url="multiselects"></ComponentCard>
            <ComponentCard Text="@Localizer["RadioText"]" Image="Radio.svg" Url="radios"></ComponentCard>
            <ComponentCard Text="@Localizer["RateText"]" Image="Rate.jpg" Url="rates"></ComponentCard>
            <ComponentCard Text="@Localizer["SelectText"]" Image="Select.svg" Url="selects"></ComponentCard>
            <ComponentCard Text="@Localizer["SliderText"]" Image="Slider.svg" Url="sliders"></ComponentCard>
            <ComponentCard Text="@Localizer["SwitchText"]" Image="Switch.svg" Url="switchs"></ComponentCard>
            <ComponentCard Text="@Localizer["TextareaText"]" Image="Textarea.png" Url="textareas"></ComponentCard>
            <ComponentCard Text="@Localizer["ToggleText"]" Image="Toggle.png" Url="toggles"></ComponentCard>
            <ComponentCard Text="@Localizer["TransferText"]" Image="Transfer.svg" Url="transfers"></ComponentCard>
            <ComponentCard Text="@Localizer["UploadText"]" Image="Upload.svg" Url="uploads"></ComponentCard>
            <ComponentCard Text="@Localizer["ValidateFormText"]" Image="ValidateForm.png" Url="validateforms"></ComponentCard>
        </ComponentCategory>

        <ComponentCategory Text="@Localizer["Text4"]">
            <ComponentCard Text="@Localizer["AvatarText"]" Image="Avatar.svg" Url="avatars"></ComponentCard>
            <ComponentCard Text="@Localizer["BadgeText"]" Image="Badge.svg" Url="badges"></ComponentCard>
            <ComponentCard Text="@Localizer["BarcodeReaderText"]" Image="BarcodeReader.png" Url="barcodereaders"></ComponentCard>
            <ComponentCard Text="@Localizer["BlockText"]" Image="Block.jpg" Url="blocks"></ComponentCard>
            <ComponentCard Text="@Localizer["CardText"]" Image="Card.svg" Url="cards"></ComponentCard>
            <ComponentCard Text="@Localizer["CalendarText"]" Image="Calendar.svg" Url="calendars"></ComponentCard>
            <ComponentCard Text="@Localizer["CameraText"]" Image="Camera.png" Url="Cameras"></ComponentCard>
            <ComponentCard Text="@Localizer["CaptchaText"]" Image="Captcha.png" Url="captchas"></ComponentCard>
            <ComponentCard Text="@Localizer["CarouselText"]" Image="Carousel.svg" Url="carousels"></ComponentCard>
            <ComponentCard Text="@Localizer["ClientText"]" Image="Client.jpg" Url="client"></ComponentCard>
            <ComponentCard Text="@Localizer["CircleText"]" Image="Circle.png" Url="circles"></ComponentCard>
            <ComponentCard Text="@Localizer["CollapseText"]" Image="Collapse.svg" Url="collapses"></ComponentCard>
            <ComponentCard Text="@Localizer["DisplayText"]" Image="Display.jpg" Url="displays"></ComponentCard>
            <ComponentCard Text="@Localizer["DownloadText"]" Image="Download.png" Url="downloads"></ComponentCard>
            <ComponentCard Text="@Localizer["DropdownWidgetText"]" Image="DropdownWidget.png" Url="dropdownwidgets"></ComponentCard>
            <ComponentCard Text="@Localizer["EmptyText"]" Image="Empty.jpg" Url="empties"></ComponentCard>
            <ComponentCard Text="@Localizer["GeolocationText"]" Image="Geolocation.jpg" Url="geolocations"></ComponentCard>
            <ComponentCard Text="@Localizer["GroupBoxText"]" Image="GroupBox.png" Url="groupboxs"></ComponentCard>
            <ComponentCard Text="@Localizer["HandwrittenPageText"]" Image="Handwritten.jpg" Url="handwrittenpage"></ComponentCard>
            <ComponentCard Text="@Localizer["IpText"]" Image="IP.jpg" Url="ips"></ComponentCard>
            <ComponentCard Text="@Localizer["LinkButtonText"]" Image="LinkButton.png" Url="linkbuttons"></ComponentCard>
            <ComponentCard Text="@Localizer["ListViewText"]" Image="ListView.png" Url="listviews"></ComponentCard>
            <ComponentCard Text="@Localizer["LocatorText"]" Image="Locator.jpg" Url="locator"></ComponentCard>
            <ComponentCard Text="@Localizer["PrintText"]" Image="Print.jpg" Url="prints"></ComponentCard>
            <ComponentCard Text="@Localizer["QRCodeText"]" Image="QRCode.png" Url="qrcodes"></ComponentCard>
            <ComponentCard Text="@Localizer["SearchText"]" Image="Search.png" Url="searchs"></ComponentCard>
            <ComponentCard Text="@Localizer["TableText"]" Image="Table.svg" Url="tables"></ComponentCard>
            <ComponentCard Text="@Localizer["TagText"]" Image="Tag.svg" Url="tags"></ComponentCard>
            <ComponentCard Text="@Localizer["TimelineText"]" Image="Timeline.svg" Url="timelines"></ComponentCard>
            <ComponentCard Text="@Localizer["TitleText"]" Image="Title.jpg" Url="titles"></ComponentCard>
            <ComponentCard Text="@Localizer["TreeText"]" Image="Tree.svg" Url="trees"></ComponentCard>
            <ComponentCard Text="@Localizer["TransitionText"]" Image="Transition.jpg" Url="transitions"></ComponentCard>
        </ComponentCategory>

        <ComponentCategory Text="@Localizer["Text6"]">
            <ComponentCard Text="@Localizer["ChartSummaryText"]" Image="Chart.png" Url="charts/index"></ComponentCard>
            <ComponentCard Text="@Localizer["ChartLineText"]" Image="Line.jpg" Url="charts/line"></ComponentCard>
            <ComponentCard Text="@Localizer["ChartBarText"]" Image="Bar.jpg" Url="charts/bar"></ComponentCard>
            <ComponentCard Text="@Localizer["ChartPieText"]" Image="Pie.jpg" Url="charts/pie"></ComponentCard>
            <ComponentCard Text="@Localizer["ChartDoughnutText"]" Image="Doughnut.jpg" Url="charts/doughnut"></ComponentCard>
            <ComponentCard Text="@Localizer["ChartBubbleText"]" Image="Bubble.jpg" Url="charts/bubble"></ComponentCard>
        </ComponentCategory>

        <ComponentCategory Text="@Localizer["Text5"]">
            <ComponentCard Text="@Localizer["AlertText"]" Image="Alert.svg" Url="alerts"></ComponentCard>
            <ComponentCard Text="@Localizer["ConsoleText"]" Image="Console.png" Url="consoles"></ComponentCard>
            <ComponentCard Text="@Localizer["DialogText"]" Image="Notification.svg" Url="dialogs"></ComponentCard>
            <ComponentCard Text="@Localizer["DispatchText"]" Image="Dispatch.jpg" Url="dispatchs"></ComponentCard>
            <ComponentCard Text="@Localizer["DrawerText"]" Image="Drawer.svg" Url="drawers"></ComponentCard>
            <ComponentCard Text="@Localizer["EditDialogText"]" Image="Notification.svg" Url="editdialogs"></ComponentCard>
            <ComponentCard Text="@Localizer["LightText"]" Image="Light.png" Url="lights"></ComponentCard>
            <ComponentCard Text="@Localizer["MessageText"]" Image="Message.svg" Url="messages"></ComponentCard>
            <ComponentCard Text="@Localizer["ModalText"]" Image="Modal.svg" Url="modals"></ComponentCard>
            <ComponentCard Text="@Localizer["NotificationsText"]" Image="Notifications.jpg" Url="notifications"></ComponentCard>
            <ComponentCard Text="@Localizer["PopconfirmText"]" Image="Popconfirm.svg" Url="popconfirms"></ComponentCard>
            <ComponentCard Text="@Localizer["PopoverText"]" Image="Popover.svg" Url="popovers"></ComponentCard>
            <ComponentCard Text="@Localizer["ProgressText"]" Image="Progress.svg" Url="progresss"></ComponentCard>
            <ComponentCard Text="@Localizer["SearchDialogText"]" Image="SearchDialog.png" Url="searchdialogs"></ComponentCard>
            <ComponentCard Text="@Localizer["SpinnerText"]" Image="Spinner.gif" Url="spinners"></ComponentCard>
            <ComponentCard Text="@Localizer["SweetAlertText"]" Image="SweetAlert.png" Url="swals"></ComponentCard>
            <ComponentCard Text="@Localizer["TimerText"]" Image="Timer.png" Url="timers"></ComponentCard>
            <ComponentCard Text="@Localizer["ToastText"]" Image="Toast.png" Url="toasts"></ComponentCard>
            <ComponentCard Text="@Localizer["TooltipText"]" Image="Tooltip.svg" Url="tooltips"></ComponentCard>
        </ComponentCategory>

    </CascadingValue>
</CascadingValue>
