@page "/consoles"

<h3>Console 控制台</h3>

<h4>控制台组件，一般用于后台任务的输出</h4>

<Block Title="基本用法" Introduction="显示后台推送的消息" CodeFile="console.1.html">
    <Console Items="@Messages" Height="126" />
</Block>

<Block Title="可清空的控制台" Introduction="通过设置 <code>OnClear</code> 回调方法对数据集进行清空操作，由于本例与上例使用相同数据源，会导致上例中数据源更新延时" CodeFile="console.2.html">
    <Console Items="@Messages" Height="126" OnClear="@OnClear" />
</Block>

<Block Title="不同颜色的消息" Introduction="通过设置 <code>ConsoleMessageItem</code> 的 <code>Color</code> 参数进行对颜色的更改" CodeFile="console.3.html">
    <Console Items="@ColorMessages" Height="126" />
</Block>

<Block Title="自动滚屏" Introduction="通过设置 <code>ShowAutoScroll</code> 属性值开启或者关闭自动滚屏功能" CodeFile="console.4.html">
    <Console Items="@Messages" Height="126" ShowAutoScroll="true" />
</Block>

<AttributeTable Items="@GetAttributes()" />

<AttributeTable Items="@GetItemAttributes()" Title="ConsoleMessageItem 属性" />