@page "/install-server"
@inject IStringLocalizer<Install_Server> Localizer

<InstallContent Title="@Localizer["Title"]">
    <ChooseTemplate>
        <div class="code-label mt-3 mb-2">4. @Localizer["D1"] <b>Blazor Server App</b>@Localizer["D2"] <b>Create</b></div>
        <img src="./images/choose-project-template-server-blazor.png" style="border-radius: 6px;" class="d-none d-sm-block mb-3" />
    </ChooseTemplate>
    <SheetTemplate>
        <ul>
            <li><code>~/Pages/_Host.cshtml</code> <b>.NET5</b></li>
            <li><code>~/Pages/_Layout.cshtml</code> <b>.NET6</b></li>
        </ul>
    </SheetTemplate>
    <ScriptsTemplate>
        <ul>
            <li><code>~/Pages/_Host.cshtml</code> <b>.NET5</b></li>
            <li><code>~/Pages/_Layout.cshtml</code> <b>.NET6</b></li>
        </ul>
    </ScriptsTemplate>
    <ServicesTemplate>
        <ul>
            <li><code>Starup.cs</code> <b>.NET5</b></li>
            <li><code>Program.cs</code> <b>.NET6</b></li>
        </ul>
        <div class="mb-2"><b>Startup.cs</b></div>
        <Pre class="mb-2">namespace MyBlazorAppName
{
    public class Startup
    {
        public void ConfigureServices(IServiceCollection services)
        {
            services.AddServerSideBlazor();

            // @Localizer["CodeComment"]
            <b><i>services.AddBootstrapBlazor();</i></b>
        }
    }
}</Pre>

    <div class="mb-2"><b>Program.cs</b></div>
    <Pre class="mb-2">var builder = WebApplication.CreateBuilder(args);

// Add services to the container.
builder.Services.AddServerSideBlazor();

// @Localizer["CodeComment"]
<b><i>builder.Services.AddBootstrapBlazor();</i></b>

var app = builder.Build();
//more code may be present here</Pre>
    </ServicesTemplate>
</InstallContent>
