@page "/docs"
@page "/introduction"
@inject IOptions<WebsiteOptions> WebsiteOption
@implements IAsyncDisposable

<h3>简介</h3>

<p>BootstrapBlazor 是一套基于 Bootstrap 和 Blazor 的企业级组件库，可以认为是 Bootstrap 项目的 Blazor 版实现。</p>

<p>由于 Bootstrap UI 框架目前版本对 jQuery 有依赖，所以我们的 BootstrapBlazor 对 jQuery 也是有依赖</p>

<p>依赖关系为：BootstrapBlazor > Bootstrap > jQuery</p>

<p>最新 <a href="template" target="_blank">项目模板</a> 中将以上依赖进行了打包捆绑大大简化使用</p>

<h3>更新日志</h3>

<p>
    本组件目前每天可能有 <b><code>beta</code></b> 版本发布，每 <b><code>周四</code></b> 发布 <b><code>正式版</code></b> 更新日志
    <a id="log" data-toggle="popover" title="更新日志" data-content="本组件目前每天可能有 <b><code>beta</code></b> 版本发布，每 <b><code>周四</code></b> 发布 <b><code>正式版</code></b> 更新日志" data-html="true" href="@WebsiteOption.Value.WikiUrl" target="_blank">[传送门]</a>
</p>

<h3>学习资料</h3>

<ul class="ul-demo mt-3">
    <li><a href="https://docs.microsoft.com/zh-cn/aspnet/core/blazor/?WT.mc_id=DT-MVP-5004174" target="_blank">Blazor 官方文档</a></li>
    <li><a href="https://docs.microsoft.com/zh-cn/learn/modules/build-blazor-webassembly-visual-studio-code/?WT.mc_id=DT-MVP-5004174" target="_blank">使用 Blazor WebAssembly 和 Visual Studio Code 生成 Web 应用</a></li>
    <li class="learn-item">
        <a target="_blank" href="https://docs.microsoft.com/zh-cn/learn/modules/build-blazor-webassembly-visual-studio-code/2-understand-blazor-webassembly?WT.mc_id=DT-MVP-5004174">什么是 Blazor</a>
    </li>
    <li class="learn-item">
        <a target="_blank" href="https://docs.microsoft.com/zh-cn/learn/modules/build-blazor-webassembly-visual-studio-code/3-exercise-configure-enviromnent?WT.mc_id=DT-MVP-5004174">练习 - 配置开发环境</a>
    </li>
    <li class="learn-item">
        <a target="_blank" href="https://docs.microsoft.com/zh-cn/learn/modules/build-blazor-webassembly-visual-studio-code/4-blazor-components?WT.mc_id=DT-MVP-5004174">Blazor 组件</a>
    </li>
    <li class="learn-item">
        <a target="_blank" href="https://docs.microsoft.com/zh-cn/learn/modules/build-blazor-webassembly-visual-studio-code/5-exercise-add-component?WT.mc_id=DT-MVP-5004174">练习 - 添加组件</a>
    </li>
    <li class="learn-item">
        <a target="_blank" href="https://docs.microsoft.com/zh-cn/learn/modules/build-blazor-webassembly-visual-studio-code/6-csharp-razor-binding?WT.mc_id=DT-MVP-5004174">数据绑定和事件</a>
    </li>
    <li class="learn-item">
        <a target="_blank" href="https://docs.microsoft.com/zh-cn/learn/modules/build-blazor-webassembly-visual-studio-code/7-exercise-razor-binding?WT.mc_id=DT-MVP-5004174">练习 - 数据绑定和事件</a>
    </li>
    <li class="learn-item">
        <a target="_blank" href="https://docs.microsoft.com/zh-cn/learn/modules/build-blazor-webassembly-visual-studio-code/8-summary?WT.mc_id=DT-MVP-5004174">总结</a>
    </li>
</ul>

<h3>作品展示</h3>

<p>国内最大代码托管协作开发平台 <b><a href="@WebsiteOption.Value.BootstrapBlazorLink" target="_blank">码云</a></b> C# 板块最高星 <a href='@WebsiteOption.Value.BootstrapAdminLink/stargazers'><img src='@WebsiteOption.Value.BootstrapAdminLink/badge/star.svg?theme=gvp' alt='star' style="margin-bottom: 1px;" /></a> 作品 <b><a href="@WebsiteOption.Value.BootstrapAdminLink" target="_blank">通用后台管理系统 BootstrapAdmin</a></b> 准备使用本组件实现全部功能</p>

<p>演示网站：<a href="@($"{WebsiteOption.Value.AdminUrl}/Pages")" target="_blank">@WebsiteOption.Value.AdminUrl</a></p>

<h4>快速上手</h4>

<p><a href="https://v4.bootcss.com/docs/getting-started/introduction/" target="_blank">Bootstrap 快速入门</a></p>

<h4>组件特色</h4>

<p>Bootstrap Blazor UI 组件库提供了从基本的 <code>Button</code> 组件到高级的网页级 <code>SmartPage</code> 组件</p>

<p class="code-label">优势</p>

<ul>
    <li>使用组件无需编写 <code>Javascript</code></li>
    <li>组件支持所有 <code>html</code> 特性</li>
    <li>组件支持数据双向绑定</li>
    <li>组件支持自动客户端验证</li>
    <li>组件支持组合</li>
</ul>

<p class="code-label">交流群</p>

<QQGroup />

@code {
    [Inject]
    [NotNull]
    private IJSRuntime? JSRuntime { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("$.bb_open");
        }
    }

    public async ValueTask DisposeAsync()
    {
        await JSRuntime.InvokeVoidAsync("$.bb_open", "dispose");
        GC.SuppressFinalize(this);
    }
}
