@page "/docs"
@page "/introduction"

<h3>@Localizer["Title"]</h3>

<p>@Localizer["P1"]</p>

<p>@Localizer["P2"]</p>

<p>@((MarkupString)Localizer["P3"].Value)</p>

<h3>@Localizer["UpdateTitle"]</h3>

<p>@((MarkupString)Localizer["P4", WebsiteOption.Value.WikiUrl].Value)</p>

<h3>@Localizer["LearnTitle"]</h3>

<ul class="ul-demo mt-3">
    <li><a href="https://docs.microsoft.com/zh-cn/aspnet/core/blazor/?WT.mc_id=DT-MVP-5004174" target="_blank">@Localizer["LearnLi1"]</a></li>
    <li><a href="https://docs.microsoft.com/zh-cn/learn/modules/build-blazor-webassembly-visual-studio-code/?WT.mc_id=DT-MVP-5004174" target="_blank">@Localizer["LearnLi2"]</a></li>
    <li class="learn-item">
        <a target="_blank" href="https://docs.microsoft.com/zh-cn/learn/modules/build-blazor-webassembly-visual-studio-code/2-understand-blazor-webassembly?WT.mc_id=DT-MVP-5004174">@Localizer["LearnLi3"]</a>
    </li>
    <li class="learn-item">
        <a target="_blank" href="https://docs.microsoft.com/zh-cn/learn/modules/build-blazor-webassembly-visual-studio-code/3-exercise-configure-enviromnent?WT.mc_id=DT-MVP-5004174">@Localizer["LearnLi4"]</a>
    </li>
    <li class="learn-item">
        <a target="_blank" href="https://docs.microsoft.com/zh-cn/learn/modules/build-blazor-webassembly-visual-studio-code/4-blazor-components?WT.mc_id=DT-MVP-5004174">@Localizer["LearnLi5"]</a>
    </li>
    <li class="learn-item">
        <a target="_blank" href="https://docs.microsoft.com/zh-cn/learn/modules/build-blazor-webassembly-visual-studio-code/5-exercise-add-component?WT.mc_id=DT-MVP-5004174">@Localizer["Learn6"]</a>
    </li>
    <li class="learn-item">
        <a target="_blank" href="https://docs.microsoft.com/zh-cn/learn/modules/build-blazor-webassembly-visual-studio-code/6-csharp-razor-binding?WT.mc_id=DT-MVP-5004174">@Localizer["LeanrnLi7"]</a>
    </li>
    <li class="learn-item">
        <a target="_blank" href="https://docs.microsoft.com/zh-cn/learn/modules/build-blazor-webassembly-visual-studio-code/7-exercise-razor-binding?WT.mc_id=DT-MVP-5004174">@Localizer["LearnLi8"]</a>
    </li>
    <li class="learn-item">
        <a target="_blank" href="https://docs.microsoft.com/zh-cn/learn/modules/build-blazor-webassembly-visual-studio-code/8-summary?WT.mc_id=DT-MVP-5004174">@Localizer["Summarize"]</a>
    </li>
</ul>

<h3>@Localizer["ProjectsShow"]</h3>

<p>@((MarkupString)Localizer["P5", LocalizerUrls].Value)</p>

<p>@Localizer["ShowWebSiteTitle"]：<a href="@($"{WebsiteOption.Value.AdminUrl}/Pages")" target="_blank">@WebsiteOption.Value.AdminUrl</a></p>

<h4>@Localizer["GetStarted"]</h4>

<p><a href="https://v5.bootcss.com/docs/getting-started/introduction/" target="_blank">Bootstrap @Localizer["QuikStart"]</a></p>

<h4>@Localizer["Features"]</h4>

<p>@((MarkupString)Localizer["P6"].Value)</p>

<p class="code-label">@Localizer["Advantage"]</p>

<ul>
    <li>@((MarkupString)Localizer["AdvantageLi1"].Value)</li>
    <li>@((MarkupString)Localizer["AdvantageLi2"].Value)</li>
    <li>@Localizer["AdvantageLi3"]</li>
    <li>@Localizer["AdvantageLi4"]</li>
    <li>@Localizer["AdvantageLi5"]</li>
</ul>

<p class="code-label">@Localizer["Community"]</p>

<QQGroup />
