@page "/template"
@inject NugetVersionService VersionManager
@inject IStringLocalizer<Template> Localizer

<h3>@Localizer["Title"]</h3>

<h4>@Localizer["SubTitle"]</h4>

<p>@((MarkupString)Localizer["P1"].Value)</p>

<p class="code-label">@Localizer["P2"]</p>
<Pre class="no-highlight">dotnet new -i Bootstrap.Blazor.Templates::@Version</Pre>

<p class="code-label">@Localizer["P3"]</p>
<Pre>dotnet new bbapp</Pre>

<p>@((MarkupString)Localizer["P4"].Value)</p>

<p class="code-label">@Localizer["P5"]</p>
<Pre>dotnet new -u Bootstrap.Blazor.Templates</Pre>

<h4>@Localizer["SubTitle1"]</h4>

<p>@((MarkupString)Localizer["P6"].Value)</p>

<p><a href="https://gitee.com/LongbowEnterprise/BootstrapBlazor/wikis/%E9%A1%B9%E7%9B%AE%E6%A8%A1%E6%9D%BF%E4%BD%BF%E7%94%A8%E6%95%99%E7%A8%8B?sort_id=3059284" target="_blank">安装使用教程链接</a></p>

<Video Name="template" />
