@page "/template"
@inject PackageVersionService VersionManager
@inject IStringLocalizer<Template> Localizer
@inject IOptionsMonitor<WebsiteOptions> WebsiteOption

<h3>@Localizer["Title"]</h3>

<h4>@Localizer["SubTitle"]</h4>

<p>@((MarkupString)Localizer["P1"].Value)</p>

<p class="code-label">@Localizer["P2"]</p>
<Pre class="no-highlight">dotnet new install Bootstrap.Blazor.Templates::@Version</Pre>

<p class="code-label">@Localizer["P3"]</p>
<Pre>dotnet new bbapp</Pre>

<p>@((MarkupString)Localizer["P4"].Value)</p>

<p class="code-label">@Localizer["P5"]</p>
<Pre>dotnet new update</Pre>
<p>@Localizer["P6"]</p>

<p class="code-label">@Localizer["P7"]</p>
<Pre>dotnet new uninstall Bootstrap.Blazor.Templates</Pre>

<h4>@Localizer["SubTitle1"]</h4>

<p>@((MarkupString)Localizer["P8"].Value)</p>

<p class="code-label mb-3">1. @Localizer["P9"]</p>

<div class="mb-2">@Localizer["P10"] <b>Visual Studio 2022 @Localizer["P11"]</b> @Localizer["P12"] <b>@Localizer["P13"]</b> <a href="https://marketplace.visualstudio.com/items?itemName=Longbow.BootstrapBlazorUITemplate" target="_blank">[@Localizer["P14"]]</a> @Localizer["P15"] <a href="@TemplateUrl" target="_blank">[@Localizer["P16"]]</a></div>

<img src="./images/seach-extensions.png" style="width: 800px; border-radius: 6px;" class="d-none d-sm-block mb-3" />

<img src="./images/download-extensions.png" style="width: 800px; border-radius: 6px;" class="d-none d-sm-block mb-3" />

<p class="code-label mb-3">2. @Localizer["P17"]</p>

<img src="./images/install-extensions.png" style="width: auto; border-radius: 6px;" class="d-none d-sm-block mb-3" />

<img src="./images/install-finish.png" style="width: auto; border-radius: 6px;" class="d-none d-sm-block mb-3" />

<p class="code-label mb-3">3. @Localizer["P18"]</p>

<img src="./images/create-project.png" style="width: 800px; border-radius: 6px;" class="d-none d-sm-block mb-3" />

<img src="./images/project.png" style="width: 400px; border-radius: 6px;" class="d-none d-sm-block mb-3" />

<Video Name="template" />
