@page "/toasts"

<h3>Toast 轻量弹窗</h3>

<h4>提供轻量级 Toast 弹窗</h4>

<Block Title="基础用法" Introduction="用户操作时，右下角给予适当的提示信息" CodeFile="toast.1.html">
    <div class="form-inline">
        <div class="row overflow-hidden">
            <div class="form-group col-12 col-lg-4">
                <ToastBox class="d-block" Title="保存数据" IsAutoHide="false" Content="保存数据成功，4 秒后自动关闭"></ToastBox>
            </div>
            <div class="form-group col-12 col-lg-4">
                <ToastBox class="d-block" Category="ToastCategory.Error" Title="保存数据" IsAutoHide="false" Content="保存数据失败，4 秒后自动关闭"></ToastBox>
            </div>
            <div class="form-group col-12 col-lg-4">
                <ToastBox class="d-block" Category="ToastCategory.Information" Title="提示信息" IsAutoHide="false" Content="信息提示弹窗，4 秒后自动关闭"></ToastBox>
            </div>
            <div class="form-group col-12 col-sm-4">
                <Button Color="Color.Success" OnClick="@OnSuccessClick">成功通知</Button>
            </div>
            <div class="form-group col-12 col-sm-4">
                <Button Color="Color.Danger" OnClick="@OnErrorClick">失败通知</Button>
            </div>
            <div class="form-group col-12 col-sm-4">
                <Button Color="Color.Info" OnClick="@OnInfoClick">信息通知</Button>
            </div>
        </div>
    </div>
</Block>

<Block Title="Toast 手动关闭" Introduction="不会自动关闭，需要人工点击关闭按钮" CodeFile="toast.2.html">
    <div class="form-inline">
        <div class="row">
            <div class="form-group col-12">
                <Button OnClick="@OnNotAutoHideClick">成功通知</Button>
            </div>
        </div>
    </div>
</Block>

<Block Title="Toast 显示位置" Introduction="提供设置 Toast 弹窗出现位置" CodeFile="toast.3.html">
    <p>通过设置 <code>Toast</code> 组件的 <code>Placement</code> 值来设置弹窗出现的位置，默认值为 <code>BottomEnd</code> 除此之外的值均为右上角</p>
    <div class="form-inline">
        <div class="row">
            <div class="form-group col-6">
                <Button OnClick="e => OnPlacementClick(Placement.TopEnd)">右上角</Button>
            </div>
            <div class="form-group col-6">
                <Button OnClick="e => OnPlacementClick(Placement.BottomEnd)">右下角</Button>
            </div>
        </div>
    </div>
</Block>

<h4>特别注意</h4>

<p>本组件使用注入服务的形式提供功能，使用时用户体验效果非常舒适，随时随地的调用</p>

<Pre>private void OnInfoClick()
{
    ToastService.Show(new ToastOption()
    {
        // 通知类别
        Category = ToastCategory.Information,

        // 通知框 Title 值
        Title = "消息通知",

        // 通知正文内容
        Content = "系统增加新组件啦，4 秒后自动关闭"
    });
}
</Pre>

<p>
    需要在使用本组件的页面中内置 <code>Toast</code> 组件，或者在 <code>MainLayout</code> 主布局组件中内置，示例代码如下
</p>

<Pre>&lt;Toast /&gt;</Pre>

<AttributeTable Items="@GetAttributes()" />

<Toast @ref="Toast"></Toast>