@inject IStringLocalizer<EditorDoMethodAsync> Localizer

<Editor IsEditor="true" @ref="Editor" />
<div class="mt-3">
    <Button OnClick="InsertHtmlAsync">@Localizer["DoMethodAsyncButton1"]</Button>
    <Button OnClick="@(() => Editor.DoMethodAysnc("formatH2", ""))">@Localizer["DoMethodAsyncButton2"]</Button>
    <Button OnClick="@(() => Editor.DoMethodAysnc("insertImage", "https://www.blazor.zone/_content/BootstrapBlazor.Shared/images/avatars/150-1.jpg", "tree"))">@Localizer["DoMethodAsyncButton3"]</Button>
</div>

@code {
    [NotNull]
    private Editor? Editor { get; set; }

    private async Task InsertHtmlAsync()
    {
        await Editor.DoMethodAysnc("pasteHTML", $"<h1>{Localizer["DoMethodAsyncPasteHTML"]}</h1>");
    }
}
