@inject IStringLocalizer<DrawerNoBackdrop> Localizer

<div>
    <p>
        <button type="button" class="btn btn-primary" @onclick="@OpenNoBackdropDrawer">@Localizer["Open"]</button>
    </p>
    <Drawer Placement="Placement.Left" @bind-IsOpen="@IsShowBackdropOpen" ShowBackdrop="false">
        <div class="d-flex justify-content-center align-items-center flex-column" style="height: 290px;">
            <p>@Localizer["Description"]</p>
            <button type="button" class="btn btn-primary" @onclick="@(e => IsShowBackdropOpen = false)">@Localizer["Close"]</button>
        </div>
    </Drawer>
</div>

@code {
    private bool IsShowBackdropOpen { get; set; }

    private void OpenNoBackdropDrawer()
    {
        IsShowBackdropOpen = true;
    }
}
