@namespace BootstrapBlazor.Components
@inherits ValidateBase<DateTimeRangeValue>

@if (IsShowLabel)
{
    <label class="control-label">@DisplayText</label>
}
<div @attributes="@AdditionalAttributes" class="@ClassString" @ref="PickerRange" data-placement="@PlacementString">
    <div class="datetime-range-bar" style="@BarStyleString">
        <div class="position-relative">
            <span class="@DateTimePickerIconClassString">
                <i class="fa fa-calendar"></i>
            </span>
            <input readonly="readonly" class="datetime-range-input" value="@StartValueString" placeholder="@StartPlaceHolderText" disabled="@DisabledString" />
        </div>
        <span class="range-separator">@SeparateText</span>
        <input readonly="readonly" class="datetime-range-input" value="@EndValueString" placeholder="@EndPlaceHolderText" disabled="@DisabledString" />
    </div>
    @if (AllowNull)
    {
        <span class="range-clear" @onclick:stopPropagation @onclick="@ClickClearButton">
            <svg t="1606104211196" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3401" width="9" height="9"><path d="M176.661601 817.172881C168.472798 825.644055 168.701706 839.149636 177.172881 847.338438 185.644056 855.527241 199.149636 855.298332 207.338438 846.827157L826.005105 206.827157C834.193907 198.355983 833.964998 184.850403 825.493824 176.661601 817.02265 168.472798 803.517069 168.701706 795.328267 177.172881L176.661601 817.172881ZM795.328267 846.827157C803.517069 855.298332 817.02265 855.527241 825.493824 847.338438 833.964998 839.149636 834.193907 825.644055 826.005105 817.172881L207.338438 177.172881C199.149636 168.701706 185.644056 168.472798 177.172881 176.661601 168.701706 184.850403 168.472798 198.355983 176.661601 206.827157L795.328267 846.827157Z" p-id="3402"></path></svg>
        </span>
    }
    <div class="@BodyClassString">
        <div class="range-panel-body">
            @if (ShowSidebar)
            {
                <div class="picker-panel-sidebar">
                    @foreach (var item in SidebarItems)
                    {
                        <div class="sidebar-item">
                            <div @onclick="@(e => OnClickSidebarItem(item))">@item.Text</div>
                        </div>
                    }
                </div>
            }
            <CascadingValue Value="this" IsFixed="true">
                <DatePickerBody @bind-Value="@StartValue" AllowNull="@AllowNull" IsShown="true"
                                ViewModel="DatePickerViewModel.Date" ShowFooter="false" ShowRightButtons="false">
                </DatePickerBody>
                <DatePickerBody @bind-Value="@EndValue" AllowNull="@AllowNull" IsShown="true"
                                ViewModel="DatePickerViewModel.Date" ShowFooter="false" ShowLeftButtons="false">
                </DatePickerBody>
            </CascadingValue>
        </div>
        <div class="range-panel-footer picker-panel-footer">
            <div class="flex-fill">
                @if (AllowNull)
                {
                    <button type="button" class="btn picker-panel-link-btn is-confirm is-clear" @onclick="@ClickClearButton">
                        <span>@ClearButtonText</span>
                    </button>
                }
            </div>
            <button type="button" class="btn picker-panel-link-btn is-confirm" @onclick="@ClickConfirmButton">
                <span>@ConfirmButtonText</span>
            </button>
        </div>
    </div>
</div>

