@namespace BootstrapBlazor.Components
@inherits ValidateBase<DateTimeRangeValue>

@if (IsShowLabel)
{
    <BootstrapLabel required="@Required" ShowLabelTooltip="ShowLabelTooltip" Value="@DisplayText" />
}
<div @attributes="@AdditionalAttributes" id="@Id" tabindex="0" class="@ClassString" @ref="PickerRange" data-bs-placement="@PlacementString">
    <div class="datetime-range-bar">
        <div class="position-relative">
            <i class="@DateTimePickerIconClassString"></i>
            <input readonly="readonly" class="datetime-range-input" value="@StartValueString" placeholder="@StartPlaceHolderText" disabled="@Disabled" />
        </div>
        <span class="range-separator">@SeparateText</span>
        <input readonly="readonly" class="datetime-range-input" value="@EndValueString" placeholder="@EndPlaceHolderText" disabled="@Disabled" />
    </div>
    @if (AllowNull)
    {
        <i class="range-clear @ClearIcon" @onclick:stopPropagation @onclick="@ClickClearButton"></i>
    }
    <div class="@BodyClassString">
        <div class="range-panel-body">
            @if (ShowSidebar)
            {
                <div class="picker-panel-sidebar">
                    @foreach (var item in SidebarItems)
                    {
                        <div class="sidebar-item">
                            <div @onclick="@(e => OnClickSidebarItem(item))">@item.Text</div>
                        </div>
                    }
                </div>
            }
            <CascadingValue Value="this" IsFixed="true">
                <DatePickerBody @bind-Value="@StartValue" AllowNull="@AllowNull" IsShown="true"
                                ViewMode="DatePickerViewMode.Date" ShowFooter="false" ShowRightButtons="false" MaxValue=MaxValue MinValue=MinValue>
                </DatePickerBody>
                <DatePickerBody @bind-Value="@EndValue" AllowNull="@AllowNull" IsShown="true"
                                ViewMode="DatePickerViewMode.Date" ShowFooter="false" ShowLeftButtons="false" MaxValue=MaxValue MinValue=MinValue>
                </DatePickerBody>
            </CascadingValue>
        </div>
        <div class="range-panel-footer picker-panel-footer">
            <div class="flex-fill me-3">
                @if (AllowNull)
                {
                    <button type="button" class="btn picker-panel-link-btn is-confirm is-clear" @onclick="@ClickClearButton">
                        <span>@ClearButtonText</span>
                    </button>
                }
            </div>
            @if (ShowToday)
            {
                <button type="button" class="btn picker-panel-link-btn is-confirm me-3" @onclick="@ClickTodayButton">
                    <span>@TodayButtonText</span>
                </button>
            }
            <button type="button" class="btn picker-panel-link-btn is-confirm" @onclick="@ClickConfirmButton">
                <span>@ConfirmButtonText</span>
            </button>
        </div>
    </div>
</div>

