@namespace BootstrapBlazor.Components
@inherits PaginationBase

<nav class="nav nav-pages" aria-label="分页组件">
    <div class="@PaginationBarClass">
        <div class="d-inline-block">显示第 <span>@StarIndex</span> 到第 <span>@EndIndex</span> 条记录</div>
        <div class="d-none d-sm-inline-block">，总共 <span>@TotalCount</span> 条记录</div>
        <span>每页显示</span>
        <div class="pagination-items d-none d-sm-inline-block">
            <Select TItem="int" Value="@PageItems" Items="@GetPageItems()" OnSelectedItemChanged="@OnPageItemsSelectItemChanged" />
        </div>
        <span class="d-sm-none">@PageItems</span>
        <span>条记录</span>
    </div>
    <ul class="@PaginationClass">
        <li class="page-item">
            <a class="page-link" aria-label="上一页" href="#" @onclick:preventDefault @onclick="e => MovePrev(1)">
                <i class="fa fa-angle-left"></i>
            </a>
        </li>
        @if (PageCount > 5)
        {
            <PaginationItem PageIndex="1" Active="PageIndex == 1" OnClick="OnPageItemClick" />
            <li class="page-item">
                <a class="page-link page-link-prev" aria-label="上一页" href="#" @onclick:preventDefault @onclick="e => MovePrev(5)">
                    <i class="fa fa-ellipsis-h"></i>
                </a>
            </li>
        }
        @for (int i = StartPageIndex; i <= EndPageIndex; i++)
        {
            @if (PageCount > 5 && (i == 1 || i == EndPageIndex)) continue;
            <PaginationItem PageIndex="@i" Active="PageIndex == i" OnClick="OnPageItemClick" />
        }
        @if (PageCount > 5)
        {
            <li class="page-item">
                <a class="page-link page-link-next" aria-label="下一页" href="#" @onclick:preventDefault @onclick="e => MoveNext(5)">
                    <i class="fa fa-ellipsis-h"></i>
                </a>
            </li>
            <PaginationItem PageIndex="@PageCount" Active="PageIndex == PageCount" OnClick="OnPageItemClick" />
        }
        <li class="page-item">
            <a class="page-link" aria-label="下一页" href="#" @onclick:preventDefault @onclick="e => MoveNext(1)">
                <i class="fa fa-angle-right"></i>
            </a>
        </li>
    </ul>
</nav>
