@page "/tutorials/memorial"
@inject IStringLocalizer<Memorial> Localizer

<Button Text="@Localizer["ToggleButtonText"]" OnClick="OnToggle" class="mb-3"></Button>

<p class="code-label">@((MarkupString)Localizer["Step1Title"].Value)</p>
<Pre>var module = await JSRuntime.LoadUtility();</Pre>

<p class="code-label">@Localizer["Step2Title"]</p>
<Pre>await module.InvokeVoidAsync("SetMemorial", true);</Pre>

<p class="code-label">@Localizer["Step3Title"]</p>
<p>@((MarkupString)Localizer["Step3Description"].Value)</p>
<Pre>&lt;html lang="en" data-bs-theme='dark' data-bb-theme="memorial"&gt;</Pre>
