@namespace BootstrapBlazor.Components
@inherits ButtonBase

<DynamicElement TagName="@TagName" @attributes="AdditionalAttributes" class="@ClassString" id="@Id" href="@UrlString" disabled="@Disabled" role="button" aria-disabled="@DisabledString" tabindex="@Tab" target="@Target" StopPropagation="@StopPropagation" PreventDefault="@Prevent" OnClick="OnClickButton" TriggerClick="TriggerClick">
    @if (!string.IsNullOrEmpty(Icon))
    {
        <i class="@Icon"></i>
    }
    @if (!string.IsNullOrEmpty(ImageUrl))
    {
        <img alt="img" src="@ImageUrl" />
    }
    @if (!string.IsNullOrEmpty(Text))
    {
        <span>@Text</span>
    }
    @ChildContent
    @if (!string.IsNullOrEmpty(Title))
    {
        <CascadingValue Value="this" IsFixed="true">
            <Tooltip Title="@Title" Placement="TooltipPlacement" />
        </CascadingValue>
    }
</DynamicElement>
