@namespace BootstrapBlazor.Components
@inherits PopConfirmButtonBase

<button @attributes="@AdditionalAttributes" data-toggle="confirm" data-placement="@Placement.ToDescriptionString()" @onclick="@OnClick" Id="@Id" type="button" class="@ClassName" disabled="@Disabled" role="button" aria-disabled="@Disabled" tabindex="@Tab">
    <i class="@ButtonIcon"></i>
    <span>@ButtonText</span>
</button>
