@namespace BootstrapBlazor.Components
@inherits PopConfirmButtonBase

<DynamicElement TagName="@TagName" OnClick="Show" data-bs-custom-class="@CssClass"
                data-bs-toggle="confirm" data-bs-placement="@Placement.ToDescriptionString()" id="@Id" type="@ElementType"
                class="@PopButtonClassName" disabled="@Disabled" role="button" aria-disabled="@DisabledString" tabindex="@Tab">
    @if (!string.IsNullOrEmpty(Icon))
    {
        <i class="@Icon"></i>
    }
    @if (!string.IsNullOrEmpty(Text))
    {
        <span>@Text</span>
    }
</DynamicElement>
