@namespace BootstrapBlazor.Components
@inherits BootstrapComponentBase

<div data-bb-toggle="confirm">
    @if (!string.IsNullOrEmpty(Title))
    {
        <h3 class="popover-header">@Title</h3>
    }
    <div class="popover-body">
        <p class="popover-confirm-body">
            @if (ChildContent != null)
            {
                <CascadingValue Value="OnCloseClick" IsFixed="true">
                    <CascadingValue Value="OnConfirmClick" IsFixed="true">
                        @ChildContent
                    </CascadingValue>
                </CascadingValue>
            }
            else
            {
                <i class="@IconString"></i>
                <span>@Content</span>
            }
        </p>
        <div class="popover-confirm-buttons">
            @if (ShowCloseButton)
            {
                <div class="@CloseButtonClass" @onclick="@OnCloseClick">
                    <span>@CloseButtonText</span>
                </div>
            }
            @if (ShowConfirmButton)
            {
                <div class="@ConfirmButtonClass" @onclick="@OnConfirmClick">
                    <span>@ConfirmButtonText</span>
                </div>
            }
        </div>
    </div>
</div>
