@namespace BootstrapBlazor.Components
@inherits PopConfirmButtonBase

<DynamicElement TagName="@TagName" OnClick="Show" id="@Id" type="@ElementType"
                data-bs-custom-class="@CssClass" data-bs-trigger="@Trigger" data-bs-placement="@PlacementString"
                class="@ClassString" disabled="@Disabled" role="button" tabindex="@Tab" aria-disabled="@DisabledString">
    @if (!string.IsNullOrEmpty(ButtonIcon))
    {
        <i class="@ButtonIcon"></i>
    }
    @if (!string.IsNullOrEmpty(Text))
    {
        <span>@Text</span>
    }
    <CascadingValue Value="this" IsFixed="true">
        @ChildContent
    </CascadingValue>
</DynamicElement>
