@namespace BootstrapBlazor.Components
@inherits Button

<button @attributes="AdditionalAttributes" class="@ButtonClassName" type="@ButtonType.ToDescriptionString()" id="@Id" disabled="@Disabled" role="button" aria-disabled="@DisabledString" @onclick="OnClick">
    @if (!string.IsNullOrEmpty(Icon))
    {
        <i class="@Icon"></i>
    }
    @if (!string.IsNullOrEmpty(ImageUrl))
    {
        <img alt="img" src="@ImageUrl" />
    }
    @if (!string.IsNullOrEmpty(Text))
    {
        <span>@Text</span>
    }
    @ChildContent
    <div class="@PulseColorString">
    </div>
</button>
