@namespace BootstrapBlazor.Components
@inherits BootstrapModuleComponentBase
@attribute [BootstrapModuleAutoLoader("Button/SlideButton.razor.js")]

<div @attributes="AdditionalAttributes" id="@Id" class="slide-button" data-bb-placement="@Placement.ToDescriptionString()" data-bb-offset="@Offset">
    @if (ButtonTemplate == null)
    {
        <button type="button" class="@ClassString" disabled="@Disabled" role="button" id="@ButtonId">
            @if (!string.IsNullOrEmpty(Icon))
            {
                <i class="@Icon"></i>
            }
            @if (!string.IsNullOrEmpty(Text))
            {
                <span>@Text</span>
            }
        </button>
    }
    else
    {
        @ButtonTemplate
    }
    <div class="@SlideListClassString">
        @if (SlideTemplate == null)
        {
            if (ShowHeader)
            {
                <div class="slide-header">
                    <div class="flex-fill">@HeaderText</div>
                    <button class="btn-close btn-close-white" type="button" aria-label="Close"></button>
                </div>
            }
            <div class="slide-body scroll">
                @foreach (var item in Items)
                {
                    <div @key="@item" class="@GetItemClass(item)" @onclick="@(e => OnClickItem(item))">
                        @item.Text
                    </div>
                }
            </div>
        }
        else
        {
            @SlideTemplate
        }
    </div>
</div>
