@page "/tables/dialog"
@inject IStringLocalizer<TablesDialog> Localizer

<h3>@Localizer["H1"]</h3>
<h4>@Localizer["H2"]</h4>

<DemoBlock Title="@Localizer["P1"]" Introduction="@Localizer["P2"]" Name="TableDialog">
    <p>@Localizer["P3"]</p>
    <ul class="ul-demo mb-3">
        <li>@Localizer["P4"]</li>
        <li>@Localizer["P5"]</li>
        <li>@Localizer["P6"]</li>
    </ul>
    <Table TItem="Foo" @ref="ProductTable"
           IsStriped="true" IsBordered="true"
           ShowToolbar="true" ShowDefaultButtons="true" ShowAddButton="false" IsMultipleSelect="true" ShowExtendButtons="true"
           OnQueryAsync="@OnQueryEditAsync" OnSaveAsync="@OnSaveAsync" OnDeleteAsync="@OnDeleteAsync">
        <TableToolbarTemplate>
            <TableToolbarButton TItem="Foo" Color="Color.Primary" Icon="fa-fw fa-solid fa-pen-to-square" Text="@Localizer["P7"]" OnClickCallback="@ShowDialog" />
        </TableToolbarTemplate>
        <TableColumns>
            <TableColumn @bind-Field="@context.DateTime" Readonly="true" />
            <TableColumn @bind-Field="@context.Name" Readonly="true" />
            <TableColumn @bind-Field="@context.Count" Width="80" />
        </TableColumns>
    </Table>

    <Modal @ref="Modal">
        <ModalDialog Title="@Localizer["P8"]" IsCentered="true">
            <BodyTemplate>
                <Table TItem="Foo" IsStriped="true" @bind-SelectedRows="@SelectedRows" ClickToSelect="true"
                       ShowToolbar="true" ShowDefaultButtons="false" IsMultipleSelect="true"
                       OnQueryAsync="@OnQueryProductAsync" HeaderStyle="TableHeaderStyle.Light">
                    <TableColumns>
                        <TableColumn @bind-Field="@context.DateTime" />
                        <TableColumn @bind-Field="@context.Name" />
                        <TableColumn @bind-Field="@context.Count" />
                    </TableColumns>
                </Table>
            </BodyTemplate>
            <FooterTemplate>
                <Button Text="@Localizer["P9"]" Icon="fa-regular fa-square-check" OnClick="@OnConfirm" />
            </FooterTemplate>
        </ModalDialog>
    </Modal>
</DemoBlock>
