@page "/table/column/list"
@inject IStringLocalizer<TablesColumn> Localizer
@inject IOptionsMonitor<WebsiteOptions> WebsiteOption

<h3>@Localizer["TablesColumnTitle"]</h3>

<h4>@Localizer["TablesColumnDescription"]</h4>

<DemoBlock Title="@Localizer["VisibleTitle"]"
           Introduction="@Localizer["VisibleIntro"]"
           Name="Visible"
           Demo="typeof(Demos.Table.TablesColumn.TablesColumnVisible)">
    <p>@((MarkupString)Localizer["VisibleP1"].Value)</p>
    <p>@((MarkupString)Localizer["VisibleP2"].Value)</p>
    <p>@((MarkupString)Localizer["VisibleP3"].Value)</p>
    <p>@((MarkupString)Localizer["VisibleP4"].Value)</p>
    <p>@((MarkupString)Localizer["ResetVisibleColumnsDesc"].Value)</p>
</DemoBlock>

<DemoBlock Title="@Localizer["ShownWithBreakPointTitle"]"
           Introduction="@Localizer["ShownWithBreakPointIntro"]"
           Name="ShownWithBreakPoint"
           Demo="typeof(Demos.Table.TablesColumn.TablesColumnShownWithBreakPoint)">
    <p>@((MarkupString)Localizer["ShownWithBreakPointP1"].Value)</p>
    <ul class="ul-demo mb-3">
        <li>@((MarkupString)Localizer["ShownWithBreakPointLi1"].Value)</li>
        <li>@((MarkupString)Localizer["ShownWithBreakPointLi2"].Value)</li>
        <li>@((MarkupString)Localizer["ShownWithBreakPointLi3"].Value)</li>
        <li>@((MarkupString)Localizer["ShownWithBreakPointLi4"].Value)</li>
        <li>@((MarkupString)Localizer["ShownWithBreakPointLi5"].Value)</li>
    </ul>
    <p>@((MarkupString)Localizer["ShownWithBreakPointP2"].Value)</p>
    <p>@((MarkupString)Localizer["ShownWithBreakPointP3"].Value)</p>
    <p>@((MarkupString)Localizer["ShownWithBreakPointP4"].Value)</p>
</DemoBlock>
