@page "/tables/fix-column"
@inject IStringLocalizer<TablesFixedColumn> Localizer

<h3>@Localizer["TablesFixedColumnTitle"]</h3>
<h4>@Localizer["TablesFixedColumnDescription"]</h4>

<p>@((MarkupString)Localizer["TablesFixedColumnNote"].Value)</p>

<div style="width:900px;overflow:auto;">
<DemoBlock Title="@Localizer["TablesFixedColHeaderTitle"]"
           Introduction="@Localizer["TablesFixedColHeaderIntro"]"
           Name="FixedColHeader"
           Demo="typeof(Demos.Table.TablesFixedColumn.TablesFixedColHeader)">
    <p>@((MarkupString)Localizer["TablesFixedColHeaderDescription"].Value)</p>
</DemoBlock>
</div>

<div style="width:900px;overflow:auto;">
<DemoBlock Title="@Localizer["TablesFixedColTableHeaderTitle"]"
           Introduction="@Localizer["TablesFixedColTableHeaderIntro"]"
           Name="FixedColTableHeader"
           Demo="typeof(Demos.Table.TablesFixedColumn.TablesFixedColTableHeader)">
</DemoBlock>
</div>
<div style="width:900px;overflow:auto;">
<DemoBlock Title="@Localizer["TablesFixedExtendButtonsColumnTtile"]"
           Introduction="@Localizer["TablesFixedExtendButtonsColumnIntro"]"
           Name="FixedExtendButtonsColumn"
           Demo="typeof(Demos.Table.TablesFixedColumn.TablesFixedExtendButtonsColumn)">
</DemoBlock>
</div>
<div style="width:900px;overflow:auto;">
<DemoBlock Title="@Localizer["TablesFixedHeaderAndExtendButtonsColumnTitle"]"
           Introduction="@Localizer["TablesFixedHeaderAndExtendButtonsColumnIntro"]"
           Name="FixedHeaderExtendButtonsColumn"
           Demo="typeof(Demos.Table.TablesFixedColumn.TablesFixedHeaderAndExtendButtonsColumn)">
</DemoBlock>
</div>
