@inherits BootstrapComponentBase
@page "/table/wrap"
@inject IStringLocalizer<TablesWrap> Localizer

<h3>@Localizer["TablesWrapTitile"]</h3>
<h4>@Localizer["TablesWrapDescription"]</h4>

<p>@((MarkupString)Localizer["TablesWrapTip"].Value)</p>

<DemoBlock Title="@Localizer["TablesWrapNormalTitle"]"
           Introduction="@Localizer["TablesWrapNormalIntro"]"
           Name="Normal"
           Demo="typeof(Demos.Table.TablesWrap.TablesWrapNormal)">
    <p>@((MarkupString)Localizer["TablesWrapNormalDescription"].Value)</p>
</DemoBlock>

<DemoBlock Title="@Localizer["TablesWrapHeaderTextWrapTitle"]"
           Introduction="@Localizer["TablesWrapHeaderTextWrapIntro"]"
           Name="HeaderTextWrap"
           Demo="typeof(Demos.Table.TablesWrap.TablesWrapHeaderTextWrap)">
    <p>@Localizer["TablesWrapHeaderTextWrapDescription"]</p>
</DemoBlock>

<DemoBlock Title="@Localizer["TablesWrapLongDataTitle"]"
           Introduction="@Localizer["TablesWrapLongDataIntro"]"
           Name="LongData"
           Demo="typeof(Demos.Table.TablesWrap.TablesWrapLongData)">
    <ul class="ul-demo mb-3">
        <li>@((MarkupString)Localizer["TablesWrapLongDataTips1"].Value)</li>
        <li>@((MarkupString)Localizer["TablesWrapLongDataTips2"].Value)</li>
        <li>@((MarkupString)Localizer["TablesWrapLongDataTips3"].Value)</li>
    </ul>
</DemoBlock>

<DemoBlock Title="@Localizer["TablesWrapDataResizingTitle"]"
           Introduction="@Localizer["TablesWrapDataResizingIntro"]"
           Name="DataResizing"
           Demo="typeof(Demos.Table.TablesWrap.TablesWrapDataResizing)">
    <ul class="ul-demo mb-3">
        <li>@((MarkupString)Localizer["TablesWrapDataResizingTips1"].Value)</li>
        <li>@((MarkupString)Localizer["TablesWrapDataResizingTips2"].Value)</li>
        <li>@((MarkupString)Localizer["TablesWrapDataResizingTips3"].Value)</li>
        <li>@((MarkupString)Localizer["TablesWrapDataResizingTips4"].Value)</li>
        <li>@((MarkupString)Localizer["TablesWrapDataResizingTips5"].Value)</li>
    </ul>
</DemoBlock>

<DemoBlock Title="@Localizer["TablesWrapCustomCellTitle"]"
           Introduction="@Localizer["TablesWrapCustomCellIntro"]"
           Name="CustomCell"
           Demo="typeof(Demos.Table.TablesWrap.TablesWrapCustomCell)">
</DemoBlock>
