@page "/tables/lookup"
@inject IStringLocalizer<Foo> Localizer
@inject IStringLocalizer<TablesLookup> LookupLocalizer

<h3>@LookupLocalizer["TablesLookupTitle"]</h3>

<h4>@((MarkupString)LookupLocalizer["TablesLookupDescription"].Value)</h4>

<DemoBlock Title="@LookupLocalizer["TableLookupNormalTitle"]"
           Introduction="@LookupLocalizer["TableLookupNormalIntro"]"
           Name="Lookup"
           Demo="typeof(Demos.Table.TablesLookup.TableLookupNormal)">
    <p>@((MarkupString)LookupLocalizer["TableLookupNormalTips1"].Value)</p>
    <Pre>DataSource = new List&lt;SelectedItem&gt;
{
    new SelectedItem { Value = "True", Text = @Localizer["True"].Value },
    new SelectedItem { Value = "False", Text = @Localizer["False"].Value }
};</Pre>
    <p>@((MarkupString)LookupLocalizer["TableLookupNormalTips2"].Value)</p>
    <p>@((MarkupString)LookupLocalizer["TableLookupNormalTips3"].Value)</p>
</DemoBlock>
