@page "/tables/cell"
@inject IStringLocalizer<TablesCell> Localizer

<style>
    .cell-demo {
        --bs-table-bg: #e9ecef;
    }
</style>

<h3>@Localizer["TablesCellTitle"]</h3>

<h4>@Localizer["TablesCellDescription"]</h4>

<DemoBlock Title="@Localizer["TableCellMergeCellTitle"]"
           Introduction="@Localizer["TableCellMergeCellIntro"]"
           Name="MergeCell"
           Demo="typeof(Demos.Table.TablesCell.TableCellMergeCell)">
    <p>@((MarkupString)Localizer["TableCellMergeCellTip"].Value)</p>
    <Pre>.cell-demo {
    --bs-table-bg: #e9ecef;
}</Pre>
</DemoBlock>

<DemoBlock Title="@Localizer["TableCellOnDoubleClickCellTitle"]"
           Introduction="@Localizer["TableCellOnDoubleClickCellIntro"]"
           Name="OnDoubleClickCell"
           Demo="typeof(Demos.Table.TablesCell.TableCellOnDoubleClickCell)">
    <Tips>
        <p>@((MarkupString)Localizer["TableCellOnDoubleClickCellTip"].Value)</p>
    </Tips>
</DemoBlock>

<AttributeTable Items="GetAttributes()" Title="TableCellArgs" />
