@page "/table/cell"
@inject IStringLocalizer<TablesCell> Localizer
@inject IStringLocalizer<Foo> Localizer
@inject ToastService ToastService

<style>
    .cell-demo {
        --bs-table-bg: #e9ecef;
    }
</style>

<h3>@Localizer["TablesCellTitle"]</h3>

<h4>@Localizer["TablesCellDescription"]</h4>

<DemoBlock Title="@Localizer["TableCellMergeCellTitle"]"
           Introduction="@Localizer["TableCellMergeCellIntro"]"
           Name="MergeCell">
    <p>@((MarkupString)Localizer["TableCellMergeCellTip"].Value)</p>
    <Pre class="mb-3">.cell-demo {
    --bs-table-bg: #e9ecef;
}</Pre>
    <Table TItem="Foo" Items="@Items.Take(3)">
        <TableColumns>
            <TableColumn @bind-Field="@context.DateTime" Width="140" />
            <TableColumn @bind-Field="@context.Name" OnCellRender="@OnCellRenderHandler" />
            <TableColumn @bind-Field="@context.Address" />
        </TableColumns>
    </Table>
</DemoBlock>

<DemoBlock Title="@Localizer["TableCellOnDoubleClickCellTitle"]"
           Introduction="@Localizer["TableCellOnDoubleClickCellIntro"]"
           Name="OnDoubleClickCell">
    <Tips class="mb-3">
        <p>@((MarkupString)Localizer["TableCellOnDoubleClickCellTip"].Value)</p>
    </Tips>
    <Table TItem="Foo" Items="@Items.Take(3)" IsBordered="true" OnDoubleClickCellCallback="@OnDoubleClickCellCallback">
        <TableColumns>
            <TableColumn @bind-Field="@context.DateTime" Width="180" />
            <TableColumn @bind-Field="@context.Name" />
            <TableColumn @bind-Field="@context.Address" />
            <TableColumn @bind-Field="@context.Complete" />
        </TableColumns>
    </Table>
</DemoBlock>

<AttributeTable Items="GetAttributes()" Title="TableCellArgs" />
