@page "/table/loading"
@inject IStringLocalizer<TablesLoading> Localizer

<h3>@Localizer["TablesLoadingTitile"]</h3>
<h4>@Localizer["TablesLoadingDescription"]</h4>

<DemoBlock Title="@Localizer["TablesLoadingShowLoadingTitle"]"
           Introduction="@Localizer["TablesLoadingShowLoadingIntro"]"
           Name="ShowLoading" Demo="typeof(Demos.Table.TablesLoading.TablesLoadingShowLoading)">
</DemoBlock>

<DemoBlock Title="@Localizer["TablesLoadingShowSkeletonTitle"]"
           Introduction="@Localizer["TablesLoadingShowSkeletonIntro"]"
           Name="ShowSkeleton"
           Demo="typeof(Demos.Table.TablesLoading.TablesLoadingShowSkeleton)">
</DemoBlock>

<DemoBlock Title="@Localizer["TablesLoadingShowLoadingInFirstRenderTitle"]"
           Introduction="@Localizer["TablesLoadingShowLoadingInFirstRenderIntro"]"
           Name="ShowLoadingInFirstRender"
           Demo="typeof(Demos.Table.TablesLoading.TablesLoadingShowLoadingInFirstRender)">
</DemoBlock>
