@page "/tables/lookup"

<h3>Table 表格</h3>

<h4>用于自动将外键列转换成 <code>Text</code> 显示文字</h4>

<DemoBlock Title="Lookup 外置数据源" Introduction="通过设置 <code>Lookup</code> 自动翻译显示文字" Name="Lookup">
    <p>本例中通过设置 <code>Complete</code> 列 <code>Lookup</code> 值为</p>
    <Pre>DataSource = new List&lt;SelectedItem&gt;
{
    new SelectedItem { Value = "true", Text = Localizer["True"].Value },
    new SelectedItem { Value = "false", Text = Localizer["False"].Value }
};
</Pre>
    <p>组件自动将 <code>Complete</code> 转换为 <code>DataSource</code> 集合中的预设值</p>
    @if (Items != null)
    {
        <Table TItem="Foo" Items="@Items.Take(3)">
            <TableColumns>
                <TableColumn @bind-Field="@context.DateTime" Width="180" />
                <TableColumn @bind-Field="@context.Name" />
                <TableColumn @bind-Field="@context.Complete" Lookup="@DataSource" />
            </TableColumns>
        </Table>
    }
</DemoBlock>
