@page "/tables/column/resieing"
@inject IStringLocalizer<TablesColumn> Localizer
@inject IOptionsMonitor<WebsiteOptions> WebsiteOption

<h3>@Localizer["TablesColumnTitle"]</h3>

<h4>@Localizer["TablesColumnDescription"]</h4>

<DemoBlock Title="@Localizer["WidthTitle"]"
           Introduction="@Localizer["WidthIntro"]"
           Name="Width"
           Demo="typeof(Demos.Table.TablesColumn.TablesColumnWidth)">
    <p>@((MarkupString)Localizer["WidthP1"].Value)</p>
    <p>@((MarkupString)Localizer["WidthP2"].Value)</p>
    <p>@((MarkupString)Localizer["WidthP3"].Value)</p>
</DemoBlock>

<DemoBlock Title="@Localizer["AllowResizingTitle"]"
           Introduction="@Localizer["AllowResizingIntro"]"
           Name="AllowResizing"
           Demo="typeof(Demos.Table.TablesColumn.TablesColumnAllowResizing)">
    <p>@((MarkupString)Localizer["AllowResizingDesc"].Value)</p>
</DemoBlock>
