@page "/tables/column"
@inject IStringLocalizer<TablesColumn> Localizer
@inject IOptionsMonitor<WebsiteOptions> WebsiteOption

<h3>@Localizer["TablesColumnTitle"]</h3>

<h4>@Localizer["TablesColumnDescription"]</h4>

<DemoBlock Title="@Localizer["ColumnTextTitle"]"
           Introduction="@Localizer["ColumnTextIntro"]"
           Name="ColumnText"
           Demo="typeof(Demos.Table.TablesColumn.TablesColumnText)">
    <p>@((MarkupString)Localizer["ColumnTextDesc"].Value)</p>
</DemoBlock>

<DemoBlock Title="@Localizer["SelectTitle"]"
           Introduction="@Localizer["SelectIntro"]"
           Name="Select"
           Demo="typeof(Demos.Table.TablesColumn.TablesColumnSelect)">
</DemoBlock>

<DemoBlock Title="@Localizer["ShowCheckboxTitle"]"
           Introduction="@Localizer["ShowCheckboxIntro"]"
           Name="ShowCheckbox"
           Demo="typeof(Demos.Table.TablesColumn.TablesColumnShowCheckbox)">
</DemoBlock>

<DemoBlock Title="@Localizer["DisabledTitle"]"
           Introduction="@Localizer["DisabledIntro"]"
           Name="Disabled"
           Demo="typeof(Demos.Table.TablesColumn.TablesColumnDisabled)">
</DemoBlock>

<DemoBlock Title="@Localizer["WidthTitle"]"
           Introduction="@Localizer["WidthIntro"]"
           Name="Width"
           Demo="typeof(Demos.Table.TablesColumn.TablesColumnWidth)">
    <p>@((MarkupString)Localizer["WidthP1"].Value)</p>
    <p>@((MarkupString)Localizer["WidthP1"].Value)</p>
    <p>@((MarkupString)Localizer["WidthP3"].Value)</p>
</DemoBlock>

<DemoBlock Title="@Localizer["TableColumnTitle"]"
           Introduction="@Localizer["TableColumnIntro"]"
           Name="TableColumnNormal"
           Demo="typeof(Demos.Table.TablesColumn.TablesColumnNormal)">
    <p>@((MarkupString)Localizer["TableColumnP1"].Value)</p>
    <p>@((MarkupString)Localizer["TableColumnP2"].Value)</p>
    <p>@((MarkupString)Localizer["TableColumnP3"].Value)</p>
    <ul>
        <li>@((MarkupString)Localizer["TableColumnli1"].Value)</li>
        <li>@((MarkupString)Localizer["TableColumnli2"].Value)</li>
    </ul>
</DemoBlock>

<DemoBlock Title="@Localizer["FormatterTitle"]"
           Introduction="@Localizer["FormatterIntro"]"
           Name="Formatter"
           Demo="typeof(Demos.Table.TablesColumn.TablesColumnFormatter)">
    <p>@((MarkupString)Localizer["FormatterP1"].Value)</p>
    <p>@((MarkupString)Localizer["FormatterP2"].Value)</p>
</DemoBlock>

<DemoBlock Title="@Localizer["AlignTitle"]"
           Introduction="@Localizer["AlignIntro"]"
           Name="Align"
           Demo="typeof(Demos.Table.TablesColumn.TablesColumnAlign)">
    <p>@((MarkupString)Localizer["AlignP1"].Value)</p>
    <p>@((MarkupString)Localizer["AlignP2"].Value)</p>
</DemoBlock>

<DemoBlock Title="@Localizer["ShownWithBreakPointTitle"]"
           Introduction="@Localizer["ShownWithBreakPointIntro"]"
           Name="ShownWithBreakPoint"
           Demo="typeof(Demos.Table.TablesColumn.TablesColumnShownWithBreakPoint)">
    <p>@((MarkupString)Localizer["ShownWithBreakPointP1"].Value)</p>
    <ul class="ul-demo mb-3">
        <li>@((MarkupString)Localizer["ShownWithBreakPointLi1"].Value)</li>
        <li>@((MarkupString)Localizer["ShownWithBreakPointLi2"].Value)</li>
        <li>@((MarkupString)Localizer["ShownWithBreakPointLi3"].Value)</li>
        <li>@((MarkupString)Localizer["ShownWithBreakPointLi4"].Value)</li>
        <li>@((MarkupString)Localizer["ShownWithBreakPointLi5"].Value)</li>
    </ul>
    <p>@((MarkupString)Localizer["ShownWithBreakPointP2"].Value)</p>
    <p>@((MarkupString)Localizer["ShownWithBreakPointP3"].Value)</p>
    <p>@((MarkupString)Localizer["ShownWithBreakPointP4"].Value)</p>
</DemoBlock>

<DemoBlock Title="@Localizer["VisibleTitle"]"
           Introduction="@Localizer["VisibleIntro"]"
           Name="Visible"
           Demo="typeof(Demos.Table.TablesColumn.TablesColumnVisible)">
    <p>@((MarkupString)Localizer["VisibleP1"].Value)</p>
    <p>@((MarkupString)Localizer["VisibleP2"].Value)</p>
    <p>@((MarkupString)Localizer["VisibleP3"].Value)</p>
    <p>@((MarkupString)Localizer["VisibleP4"].Value)</p>
    <p>@((MarkupString)Localizer["ResetVisibleColumnsDesc"].Value)</p>
</DemoBlock>

<DemoBlock Title="@Localizer["AllowResizingTitle"]"
           Introduction="@Localizer["AllowResizingIntro"]"
           Name="AllowResizing"
           Demo="typeof(Demos.Table.TablesColumn.TablesColumnAllowResizing)">
    <p>@((MarkupString)Localizer["AllowResizingDesc"].Value)</p>
</DemoBlock>

<DemoBlock Title="@Localizer["AllowDragOrderTitle"]"
           Introduction="@Localizer["AllowDragOrderIntro"]"
           Name="AllowDragColumn"
           Demo="typeof(Demos.Table.TablesColumn.TablesColumnDragOrder)">
    <p>@((MarkupString)Localizer["AllowDragOrderDesc"].Value)</p>
</DemoBlock>

<DemoBlock Title="@Localizer["ShowCopyColumnTitle"]"
           Introduction="@Localizer["ShowCopyColumnIntro"]"
           Name="ShowCopyColumn"
           Demo="typeof(Demos.Table.TablesColumn.TablesColumnShowCopyColumn)">
    <p>@((MarkupString)Localizer["ShowCopyColumnDesc"].Value)</p>
</DemoBlock>

<DemoBlock Title="@Localizer["TemplateTitle"]"
           Introduction="@Localizer["TemplateIntro"]"
           Name="Template"
           Demo="typeof(Demos.Table.TablesColumn.TablesColumnTemplate)">
</DemoBlock>

<DemoBlock Title="@Localizer["AutoGenerateColumnsTitle"]"
           Introduction="@Localizer["AutoGenerateColumnsIntro"]"
           Name="AutoGenerateColumns"
           Demo="typeof(Demos.Table.TablesColumn.TablesColumnAutoGenerateColumns)">
    <p>
        @((MarkupString)Localizer["AutoGenerateColumnsP1"].Value)
        <ul class="ul-demo mb-3">
            <li>@((MarkupString)Localizer["AutoGenerateColumnsLi1"].Value)</li>
            <li>@((MarkupString)Localizer["AutoGenerateColumnsLi2"].Value)</li>
            <li>@((MarkupString)string.Format(Localizer["AutoGenerateColumnsLi3"].Value, WebsiteOption.CurrentValue.BootstrapBlazorLink))</li>
        </ul>
        @((MarkupString)Localizer["AutoGenerateColumnsP2"].Value)
    </p>
</DemoBlock>

<DemoBlock Title="@Localizer["OnColumnCreatingTitle"]"
           Introduction="@Localizer["OnColumnCreatingIntro"]"
           Name="OnColumnCreating"
           Demo="typeof(Demos.Table.TablesColumn.TablesColumnOnColumnCreating)">
    <Tips>
        <p>@((MarkupString)Localizer["OnColumnCreatingP1"].Value)</p>
        <ol>
            <li>@Localizer["OnColumnCreatingLi1"]</li>
            <li>@((MarkupString)Localizer["OnColumnCreatingLi2"].Value)</li>
        </ol>
        <p>@((MarkupString)Localizer["OnColumnCreatingP2"].Value)</p>
    </Tips>
</DemoBlock>

<DemoBlock Title="@Localizer["AdvanceTitle"]"
           Introduction="@Localizer["AdvanceIntro"]"
           Name="Advance"
           Demo="typeof(Demos.Table.TablesColumn.TablesColumnAdvance)">
</DemoBlock>
