@page "/table/footer"
@inject IStringLocalizer<TablesFooter> Localizer

<h3>@Localizer["TablesFooterTitle"]</h3>
<h4>@Localizer["TablesFooterDescription"]</h4>

<DemoBlock Title="@Localizer["TablesFooterStatisticsTitle"]"
           Introduction="@Localizer["TablesFooterStatisticsIntro"]"
           Name="Statistics"
           Demo="typeof(Demos.Table.TablesFooter.TablesFooterStatistics)">
    <p>@((MarkupString)Localizer["TablesFooterStatisticsTips1"].Value)</p>
    <p>@((MarkupString)Localizer["TablesFooterStatisticsTips2"].Value)</p>
    <p>@((MarkupString)Localizer["TablesFooterStatisticsTips3"].Value)</p>
</DemoBlock>

<DemoBlock Title="@Localizer["TablesFooterTemplateTitle"]"
           Introduction="@Localizer["TablesFooterTemplateIntro"]"
           Name="FooterTemplate"
           Demo="typeof(Demos.Table.TablesFooter.TablesFooterTemplate)">
    <p>@((MarkupString)Localizer["TablesFooterTemplateDescription"].Value)</p>
</DemoBlock>
