@page "/table/row"
@inject IStringLocalizer<TablesRow> RowLocalizer

<h3>@RowLocalizer["TablesRowTitle"]</h3>

<h4>@RowLocalizer["TablesRowDesc"]</h4>

<DemoBlock Title="@RowLocalizer["RowNubmerTitle"]"
           Introduction="@RowLocalizer["RowNubmerIntro"]"
           Name="RowNubmer"
           Demo="typeof(Demos.Table.TablesRow.TablesRowNubmer)">
    <p>@((MarkupString)RowLocalizer["RowNumberP"].Value)</p>
</DemoBlock>

<DemoBlock Title="@RowLocalizer["ClickToSelectTitle"]"
           Introduction="@RowLocalizer["ClickToSelectIntro"]"
           Name="ClickToSelect"
           Demo="typeof(Demos.Table.TablesRow.TablesRowClickToSelect)">
    <p>@((MarkupString)RowLocalizer["ClickToSelectP"].Value)</p>
    <p>@((MarkupString)RowLocalizer["ClickToSelectP2"].Value)</p>
</DemoBlock>

<DemoBlock Title="@RowLocalizer["DoubleClickToEditTitle"]"
           Introduction="@RowLocalizer["DoubleClickToEditIntro"]"
           Name="DoubleClickToEdit"
           Demo="typeof(Demos.Table.TablesRow.TablesRowDoubleClickToEdit)">
    <p>@((MarkupString)RowLocalizer["DoubleClickToEditP"].Value)</p>
    <p>@((MarkupString)RowLocalizer["DoubleClickToEditP1"].Value)</p>
</DemoBlock>

<DemoBlock Title="@RowLocalizer["DoubleClickRowCallbackTitle"]"
           Introduction="@RowLocalizer["DoubleClickRowCallbackIntro"]"
           Name="DoubleClickRowCallback"
           Demo="typeof(Demos.Table.TablesRow.TablesRowDoubleClickRowCallback)">
    <p>@RowLocalizer["DoubleClickRowCallbackP"]</p>
</DemoBlock>

<DemoBlock Title="@RowLocalizer["SetRowClassFormatterTitle"]"
           Introduction="@RowLocalizer["SetRowClassFormatterIntro"]"
           Name="SetRowClassFormatter"
           Demo="typeof(Demos.Table.TablesRow.TablesRowSetRowClassFormatter)">
    <p>@((MarkupString)RowLocalizer["SetRowClassFormatterP"].Value)</p>
</DemoBlock>
