@inherits BootstrapComponentBase
@page "/table/virtualization"
@inject IStringLocalizer<TablesVirtualization> Localizer

<h3>@Localizer["TablesVirtualizationTitle"]</h3>
<h4>@Localizer["TablesVirtualizationDescription"]</h4>

<DemoBlock Title="@Localizer["VirtualizationNormalTitle"]"
           Introduction="@Localizer["VirtualizationNormalIntro"]"
           Name="Normal"
           Demo="typeof(Demos.Table.TablesVirtualization.TablesVirtualizationNormal)">
    <p>@((MarkupString)Localizer["VirtualizationNormalDescription"].Value)</p>
</DemoBlock>

<DemoBlock Title="@Localizer["VirtualizationDynamicTitle"]"
           Introduction="@Localizer["VirtualizationDynamicIntro"]"
           Name="Dynamic"
           Demo="typeof(Demos.Table.TablesVirtualization.TablesVirtualizationDynamic)">
    <p>@Localizer["VirtualizationDynamicDescription"]</p>
</DemoBlock>
