@page "/tables/column/template"
@inject IStringLocalizer<TablesColumn> Localizer
@inject IOptionsMonitor<WebsiteOptions> WebsiteOption

<h3>@Localizer["TablesColumnTitle"]</h3>

<h4>@Localizer["TablesColumnDescription"]</h4>

<DemoBlock Title="@Localizer["TableColumnTitle"]"
           Introduction="@Localizer["TableColumnIntro"]"
           Name="TableColumnNormal"
           Demo="typeof(Demos.Table.TablesColumn.TablesColumnNormal)">
    <p>@((MarkupString)Localizer["TableColumnP1"].Value)</p>
    <p>@((MarkupString)Localizer["TableColumnP2"].Value)</p>
    <p>@((MarkupString)Localizer["TableColumnP3"].Value)</p>
    <ul>
        <li>@((MarkupString)Localizer["TableColumnli1"].Value)</li>
        <li>@((MarkupString)Localizer["TableColumnli2"].Value)</li>
    </ul>
</DemoBlock>

<DemoBlock Title="@Localizer["TemplateTitle"]"
           Introduction="@Localizer["TemplateIntro"]"
           Name="Template"
           Demo="typeof(Demos.Table.TablesColumn.TablesColumnTemplate)">
</DemoBlock>
