@page "/table/export"
@inject IStringLocalizer<TablesExport> Localizer

<h3>@Localizer["TablesExportTitle"]</h3>
<h4>@((MarkupString)Localizer["TablesExportDescription1"].Value)</h4>

<p>@((MarkupString)@Localizer["TablesExportDescription2"].Value)</p>

<PackageTips Name="BootstrapBlazor.TableExport" />


<p><b>@Localizer["TablesExportTips"]：</b></p>

<Pre>public void ConfigureServices(IServiceCollection services)
{
    // @Localizer["TablesExportNote1"]
    services.AddBootstrapBlazor();

    // @Localizer["TablesExportNote2"]
    services.AddBootstrapBlazorTableExcelExport();
}</Pre>

<DemoBlock Title="@Localizer["TablesExportShowExportButtonTitle"]"
           Introduction="@Localizer["TablesExportShowExportButtonIntro"]"
           Name="ShowExportButton"
           Demo="typeof(Demos.Table.TablesExport.TablesExportShowExportButton)">
</DemoBlock>

<DemoBlock Title="@Localizer["TablesExportOnExportAsyncTitle"]"
           Introduction="@Localizer["TablesExportOnExportAsyncIntro"]"
           Name="OnExportAsync"
           Demo="typeof(Demos.Table.TablesExport.TablesExportOnExportAsync)">
</DemoBlock>

<DemoBlock Title="@Localizer["TablesExportButtonDropdownTemplateTitle"]"
           Introduction="@Localizer["TablesExportButtonDropdownTemplateIntro"]"
           Name="ExportButtonDropdownTemplate"
           Demo="typeof(Demos.Table.TablesExport.TablesExportButtonDropdownTemplate)">
</DemoBlock>
