@page "/tables/column/list"
@inject IStringLocalizer<TablesColumn> Localizer
@inject IOptionsMonitor<WebsiteOptions> WebsiteOption

<h3>@Localizer["TablesColumnTitle"]</h3>

<h4>@Localizer["TablesColumnDescription"]</h4>

<DemoBlock Title="@Localizer["VisibleTitle"]"
           Introduction="@Localizer["VisibleIntro"]"
           Name="Visible"
           Demo="typeof(Demos.Table.TablesColumn.TablesColumnVisible)">
    <p>@((MarkupString)Localizer["VisibleP1"].Value)</p>
    <p>@((MarkupString)Localizer["VisibleP2"].Value)</p>
    <p>@((MarkupString)Localizer["VisibleP3"].Value)</p>
    <p>@((MarkupString)Localizer["VisibleP4"].Value)</p>
    <p>@((MarkupString)Localizer["ResetVisibleColumnsDesc"].Value)</p>
</DemoBlock>
