@page "/table/multi-header"
@inject IStringLocalizer<TablesHeader> Localizer

<h3>@Localizer["TablesHeaderTitle"]</h3>
<h4>@Localizer["TablesHeaderDescription"]</h4>

<DemoBlock Title="@Localizer["TablesHeaderNormalTitle"]"
           Introduction="@Localizer["TablesHeaderNormalIntro"]"
           Name="Normal"
           Demo="typeof(Demos.Table.TablesHeader.TablesHeaderNormal)">
    <p>
        <div>@((MarkupString)Localizer["TablesHeaderNormalTips1"].Value)</div>
        <div>@((MarkupString)Localizer["TablesHeaderNormalTips2"].Value)</div>
    </p>
</DemoBlock>
