@page "/table/dynamic"
@inject IStringLocalizer<TablesDynamic> DynamicLocalizer

<h3>@DynamicLocalizer["TablesDynamicTitle"]</h3>

<h4>@DynamicLocalizer["TablesDynamicDescription"]</h4>

<DemoBlock Title="@DynamicLocalizer["TablesDynamicDataTableTitle"]"
           Introduction="@DynamicLocalizer["TablesDynamicDataTableIntro"]"
           Name="DataTable"
           Demo="typeof(Demos.Table.TablesDynamic.TablesDynamicDataTable)">
</DemoBlock>

<DemoBlock Title="@DynamicLocalizer["TablesDynamicEditTitle"]"
           Introduction="@DynamicLocalizer["TablesDynamicEditIntro"]"
           Name="Edit"
           Demo="typeof(Demos.Table.TablesDynamic.TablesDynamicEdit)">
    <p>@((MarkupString)DynamicLocalizer["TablesDynamicEditDescription"].Value)</p>
</DemoBlock>

<DemoBlock Title="@DynamicLocalizer["TablesDynamicDynamicColTitle"]"
           Introduction="@DynamicLocalizer["TablesDynamicDynamicColIntro"]"
           Name="DynamicCol"
           Demo="typeof(Demos.Table.TablesDynamic.TablesDynamicDynamicCol)">
</DemoBlock>

<DemoBlock Title="@DynamicLocalizer["TablesDynamicPageTitle"]"
           Introduction="@DynamicLocalizer["TablesDynamicPageIntro"]"
           Name="Page"
           Demo="typeof(Demos.Table.TablesDynamic.TablesDynamicPage)">
</DemoBlock>

