@inherits BootstrapComponentBase
@page "/table/tree"
@inject IStringLocalizer<TablesTree> Localizer

<h3>@Localizer["TablesTreeTitle"]</h3>
<h4>@Localizer["TablesTreeDescription"]</h4>

<Tips class="mt-3">
    <div>@((MarkupString)Localizer["TablesTreeTip_title"].Value)</div>
    <ul class="ul-demo mt-3">
        <li>@((MarkupString)Localizer["TablesTreeTip_note1"].Value)</li>
        <li>@((MarkupString)Localizer["TablesTreeTip_note2"].Value)</li>
        <li>@((MarkupString)Localizer["TablesTreeTip_note3"].Value)</li>
        <li>@((MarkupString)Localizer["TablesTreeTip_note4"].Value)</li>
    </ul>
</Tips>

<p>@((MarkupString)Localizer["TablesTreeStep1"].Value)</p>
<p>@((MarkupString)Localizer["TablesTreeStep2"].Value)</p>
<p>@((MarkupString)Localizer["TablesTreeStep3"].Value)</p>
<p>@((MarkupString)Localizer["TablesTreeStep4"].Value)</p>

<DemoBlock Title="@Localizer["TablesTreeDataTitle"]"
           Introduction="@Localizer["TablesTreeDataIntro"]"
           Name="TreeData"
           Demo="typeof(Demos.Table.TablesTree.TablesTreeData)">
</DemoBlock>

<DemoBlock Title="@Localizer["TablesTreeLevelTitle"]"
           Introduction="@Localizer["TablesTreeLevelIntro"]"
           Name="Level"
           Demo="typeof(Demos.Table.TablesTree.TablesTreeLevel)">
    <Tips>
        <div>@((MarkupString)Localizer["TablesTreeLevelTips1"].Value)</div>
    </Tips>
    <p>@((MarkupString)Localizer["TablesTreeLevelTips2"].Value)</p>
</DemoBlock>

<DemoBlock Title="@Localizer["TablesTreeEditTitle"]"
           Introduction="@Localizer["TablesTreeEditIntro"]"
           Name="EditTree"
           Demo="typeof(Demos.Table.TablesTree.TablesTreeEdit)">
</DemoBlock>

<DemoBlock Title="@Localizer["TablesTreeIconTitle"]"
           Introduction="@Localizer["TablesTreeIconIntro"]"
           Name="Icon"
           Demo="typeof(Demos.Table.TablesTree.TablesTreeIcon)">
    <Tips>
        <div>@((MarkupString)Localizer["TablesTreeIconTips1"].Value)</div>
    </Tips>
    <p>@((MarkupString)Localizer["TablesTreeIconTips2"].Value)</p>
</DemoBlock>
