@page "/tables/column"
@inject IStringLocalizer<TablesColumn> Localizer
@inject IOptionsMonitor<WebsiteOptions> WebsiteOption

<h3>@Localizer["TablesColumnTitle"]</h3>

<h4>@Localizer["TablesColumnDescription"]</h4>

<DemoBlock Title="@Localizer["ColumnTextTitle"]"
           Introduction="@Localizer["ColumnTextIntro"]"
           Name="ColumnText"
           Demo="typeof(Demos.Table.TablesColumn.TablesColumnText)">
    <p>@((MarkupString)Localizer["ColumnTextDesc"].Value)</p>
</DemoBlock>

<DemoBlock Title="@Localizer["WidthTitle"]"
           Introduction="@Localizer["WidthIntro"]"
           Name="Width"
           Demo="typeof(Demos.Table.TablesColumn.TablesColumnWidth)">
    <p>@((MarkupString)Localizer["WidthP1"].Value)</p>
    <p>@((MarkupString)Localizer["WidthP2"].Value)</p>
    <p>@((MarkupString)Localizer["WidthP3"].Value)</p>
</DemoBlock>

<DemoBlock Title="@Localizer["TableColumnTitle"]"
           Introduction="@Localizer["TableColumnIntro"]"
           Name="TableColumnNormal"
           Demo="typeof(Demos.Table.TablesColumn.TablesColumnNormal)">
    <p>@((MarkupString)Localizer["TableColumnP1"].Value)</p>
    <p>@((MarkupString)Localizer["TableColumnP2"].Value)</p>
    <p>@((MarkupString)Localizer["TableColumnP3"].Value)</p>
    <ul>
        <li>@((MarkupString)Localizer["TableColumnli1"].Value)</li>
        <li>@((MarkupString)Localizer["TableColumnli2"].Value)</li>
    </ul>
</DemoBlock>

<DemoBlock Title="@Localizer["OnColumnCreatingTitle"]"
           Introduction="@Localizer["OnColumnCreatingIntro"]"
           Name="OnColumnCreating"
           Demo="typeof(Demos.Table.TablesColumn.TablesColumnOnColumnCreating)">
    <Tips>
        <p>@((MarkupString)Localizer["OnColumnCreatingP1"].Value)</p>
        <ol>
            <li>@Localizer["OnColumnCreatingLi1"]</li>
            <li>@((MarkupString)Localizer["OnColumnCreatingLi2"].Value)</li>
        </ol>
        <p>@((MarkupString)Localizer["OnColumnCreatingP2"].Value)</p>
    </Tips>
</DemoBlock>

<DemoBlock Title="@Localizer["AdvanceTitle"]"
           Introduction="@Localizer["AdvanceIntro"]"
           Name="Advance"
           Demo="typeof(Demos.Table.TablesColumn.TablesColumnAdvance)">
</DemoBlock>
