@page "/table/dialog"
@inject IStringLocalizer<TablesDialog> Localizer

<h3>@Localizer["TablesDialogTitle"]</h3>
<h4>@Localizer["TablesDialogDescription"]</h4>

<DemoBlock Title="@Localizer["TableDialogNormalTitle"]"
           Introduction="@Localizer["TableDialogNormalIntro"]"
           Name="TableDialogNormal"
           Demo="typeof(Demos.Table.TablesDialog.TableDialogNormal)">
    <p>@((MarkupString)Localizer["TableDialogNormalDescription"].Value)</p>
    <ul class="ul-demo mb-3">
        <li>@((MarkupString)Localizer["TableDialogNormalTips1"].Value)</li>
        <li>@((MarkupString)Localizer["TableDialogNormalTips2"].Value)</li>
        <li>@((MarkupString)Localizer["TableDialogNormalTips3"].Value)</li>
    </ul>
</DemoBlock>
