@page "/table/detail"
@inject IStringLocalizer<TablesDetailRow> Localizer

<h3>@Localizer["TablesDetailRowTitle"]</h3>

<h4>@Localizer["TablesDetailRowDesc"]</h4>

<DemoBlock Title="@Localizer["DetailRowTemplateTitle"]"
           Introduction="@Localizer["DetailRowTemplateIntro"]"
           Name="IsDetails"
           Demo="typeof(Demos.Table.TablesDetailRow.TablesDetailRowIsDetails)">
    <p>@((MarkupString)Localizer["DetailRowTemplateP"].Value)</p>
</DemoBlock>

<DemoBlock Title="@Localizer["DetailRowTemplate2Title"]"
           Introduction="@Localizer["DetailRowTemplate2Intro"]"
           Name="Show"
           Demo="typeof(Demos.Table.TablesDetailRow.TablesDetailRowShow)">
    <p>@((MarkupString)Localizer["DetailRowTemplate2P"].Value)</p>
</DemoBlock>

<DemoBlock Title="@Localizer["HeightTitle"]"
           Introduction="@Localizer["HeightIntro"]"
           Name="Height"
           Demo="typeof(Demos.Table.TablesDetailRow.TablesDetailRowHeight)">
    <p>@Localizer["HeightP"]</p>
</DemoBlock>

<DemoBlock Title="@Localizer["DetailRowTemplate3Title"]"
           Introduction="@Localizer["DetailRowTemplate3Intro"]"
           Name="DetailRowTemplate"
           Demo="typeof(Demos.Table.TablesDetailRow.TablesDetailRowTemplate)">
    <p>@((MarkupString)Localizer["DetailRowTemplate3P"].Value)</p>
</DemoBlock>

<DemoBlock Title="@Localizer["DynamicTitle"]"
           Introduction="@Localizer["DynamicIntro"]"
           Name="Excel"
           Demo="typeof(Demos.Table.TablesDetailRow.TablesDetailRowExcel)">
</DemoBlock>
