@page "/tables/column"
@inject IStringLocalizer<TablesColumn> Localizer
@inject IOptionsMonitor<WebsiteOptions> WebsiteOption

<h3>@Localizer["TablesColumnTitle"]</h3>

<h4>@Localizer["TablesColumnDescription"]</h4>

<DemoBlock Title="@Localizer["ColumnTextTitle"]"
           Introduction="@Localizer["ColumnTextIntro"]"
           Name="ColumnText"
           Demo="typeof(Demos.Table.TablesColumn.TablesColumnText)">
    <p>@((MarkupString)Localizer["ColumnTextDesc"].Value)</p>
</DemoBlock>

<DemoBlock Title="@Localizer["SelectTitle"]"
           Introduction="@Localizer["SelectIntro"]"
           Name="Select"
           Demo="typeof(Demos.Table.TablesColumn.TablesColumnSelect)">
</DemoBlock>

<DemoBlock Title="@Localizer["ShowCheckboxTitle"]"
           Introduction="@Localizer["ShowCheckboxIntro"]"
           Name="ShowCheckbox"
           Demo="typeof(Demos.Table.TablesColumn.TablesColumnShowCheckbox)">
</DemoBlock>

<DemoBlock Title="@Localizer["DisabledTitle"]"
           Introduction="@Localizer["DisabledIntro"]"
           Name="Disabled"
           Demo="typeof(Demos.Table.TablesColumn.TablesColumnDisabled)">
</DemoBlock>

<DemoBlock Title="@Localizer["AdvanceTitle"]"
           Introduction="@Localizer["AdvanceIntro"]"
           Name="Advance"
           Demo="typeof(Demos.Table.TablesColumn.TablesColumnAdvance)">
</DemoBlock>
