@page "/tables"
@inject IStringLocalizer<Tables> Localizer

<h3>@Localizer["TableBaseTitle"]</h3>
<h4>@Localizer["TableBaseDescription"]</h4>

<Tips>
    <p>@((MarkupString)Localizer["TableBaseExplain1"].Value)</p>
    <p>@((MarkupString)Localizer["TableBaseExplain2"].Value)</p>
    <ul class="ul-demo">
        <li>@((MarkupString)Localizer["TableBaseTips1"].Value)</li>
        <li>@((MarkupString)Localizer["TableBaseTips2"].Value)</li>
        <li>@((MarkupString)Localizer["TableBaseTips3"].Value)</li>
    </ul>
    <p>@((MarkupString)Localizer["TableBaseTips4"].Value)</p>
</Tips>

<DemoBlock Title="@Localizer["TableBaseNormalTitle"]"
           Introduction="@Localizer["TableBaseNormalIntro"]"
           Name="TableBaseNormal"
           Demo="typeof(Demos.Table.TablesBase.TableBaseNormal)">
    <div>@((MarkupString)Localizer["TableBaseNormalDescription"].Value)</div>
</DemoBlock>

<DemoBlock Title="@Localizer["TableBaseStripedTitle"]"
           Introduction="@Localizer["TableBaseStripedIntro"]"
           Name="TableBaseStriped"
           Demo="typeof(Demos.Table.TablesBase.TableBaseStriped)" />

<DemoBlock Title="@Localizer["TableBaseBorderedTitle"]"
           Introduction="@Localizer["TableBaseBorderedIntro"]"
           Name="TableBaseBordered"
           Demo="typeof(Demos.Table.TablesBase.TableBaseBordered)" />

<DemoBlock Title="@Localizer["TableBaseSizeTitle"]"
           Introduction="@Localizer["TableBaseSizeIntro"]"
           Name="TableBaseSize"
           Demo="typeof(Demos.Table.TablesBase.TableBaseSize)">
    <p>@((MarkupString)Localizer["TableBaseSizeDescription"].Value)</p>
</DemoBlock>

<DemoBlock Title="@Localizer["TableBaseHeaderStyleTitle"]"
           Introduction="@Localizer["TableBaseHeaderStyleIntro"]"
           Name="TableBaseHeaderStyle"
           Demo="typeof(Demos.Table.TablesBase.TableBaseHeaderStyle)">
    <p>@((MarkupString)Localizer["TableBaseHeaderStyleDescription"].Value)</p>
</DemoBlock>

<AttributeTable Items="GetAttributes()" />

<MethodTable Items="GetMethods()" />

<AttributeTable Items="GetTableColumnAttributes()" Title="@Localizer["AttributeTitle"]" />
