@page "/table/page"
@inject IStringLocalizer<TablesPages> Localizer

<h3>@Localizer["TablesPagesTitle"]</h3>
<h4>@Localizer["TablesPagesDescription"]</h4>

<DemoBlock Title="@Localizer["TablesPagePaginationTitle"]"
           Introduction="@Localizer["TablesPagePaginationIntro"]"
           Name="Pagination"
           Demo="typeof(Demos.Table.TablesPage.TablesPagePagination)">
</DemoBlock>

<DemoBlock Title="@Localizer["TablesPageShowTopPaginationTitle"]"
           Introduction="@Localizer["TablesPageShowTopPaginationIntro"]"
           Name="ShowTopPagination"
           Demo="typeof(Demos.Table.TablesPage.TablesPageShowTopPagination)">
</DemoBlock>
