@page "/table/dynamic-object"
@inject IStringLocalizer<TablesDynamicObject> Localizer

<h3>@Localizer["TablesDynamicObjectTitle"]</h3>
<h4>@((MarkupString)Localizer["TablesDynamicObjectDescription"].Value)</h4>

<DemoBlock Title="@Localizer["TablesDynamicObjectMetaObjectProviderTitle"]"
           Introduction="@Localizer["TablesDynamicObjectMetaObjectProviderIntro"]"
           Name="MetaObjectProvider"
           Demo="typeof(Demos.Table.TablesDynamicObject.TablesDynamicObjectMetaObjectProvider)">
</DemoBlock>

<DemoBlock Title="@Localizer["TablesDynamicObjectIDynamicObjectTitle"]"
           Introduction="@Localizer["TablesDynamicObjectIDynamicObjectIntro"]"
           Name="IDynamicObject"
           Demo="typeof(Demos.Table.TablesDynamicObject.TablesDynamicObjectIDynamicObject)">
</DemoBlock>
