@page "/tables"
@inject IStringLocalizer<Tables> TablesLocalizer

<h3>@TablesLocalizer["TableBaseTitle"]</h3>

<h4>@TablesLocalizer["TableBaseDescription"]</h4>

<p>@((MarkupString)TablesLocalizer["TableBaseExplain1"].Value)</p>

<p>@((MarkupString)TablesLocalizer["TableBaseExplain2"].Value)</p>

<ul class="ul-demo">
    <li>@((MarkupString)TablesLocalizer["TableBaseTips1"].Value)</li>
    <li>@((MarkupString)TablesLocalizer["TableBaseTips2"].Value)</li>
    <li>@((MarkupString)TablesLocalizer["TableBaseTips3"].Value)</li>
</ul>

<DemoBlock Title="@TablesLocalizer["TableBaseNormalTitle"]"
           Introduction="@TablesLocalizer["TableBaseNormalIntro"]"
           Name="TableBaseNormal"
           Demo="typeof(Demos.Table.TablesBase.TableBaseNormal)">
    <div>@((MarkupString)TablesLocalizer["TableBaseNormalDescription"].Value)</div>
</DemoBlock>

<DemoBlock Title="@TablesLocalizer["TableBaseStripedTitle"]"
           Introduction="@TablesLocalizer["TableBaseStripedIntro"]"
           Name="TableBaseStriped"
           Demo="typeof(Demos.Table.TablesBase.TableBaseStriped)" />

<DemoBlock Title="@TablesLocalizer["TableBaseBorderedTitle"]"
           Introduction="@TablesLocalizer["TableBaseBorderedIntro"]"
           Name="TableBaseBordered"
           Demo="typeof(Demos.Table.TablesBase.TableBaseBordered)" />

<DemoBlock Title="@TablesLocalizer["TableBaseSizeTitle"]"
           Introduction="@TablesLocalizer["TableBaseSizeIntro"]"
           Name="TableBaseSize"
           Demo="typeof(Demos.Table.TablesBase.TableBaseSize)">
    <p>@((MarkupString)TablesLocalizer["TableBaseSizeDescription"].Value)</p>
</DemoBlock>

<DemoBlock Title="@TablesLocalizer["TableBaseHeaderStyleTitle"]"
           Introduction="@TablesLocalizer["TableBaseHeaderStyleIntro"]"
           Name="TableBaseHeaderStyle"
           Demo="typeof(Demos.Table.TablesBase.TableBaseHeaderStyle)">
    <p>@((MarkupString)TablesLocalizer["TableBaseHeaderStyleDescription"].Value)</p>
</DemoBlock>

<AttributeTable Items="GetAttributes()" />

<MethodTable Items="GetMethods()" />

<AttributeTable Items="GetTableColumnAttributes()" Title="@TablesLocalizer["AttributeTitle"]" />
