@page "/tables/toolbar"
@inject IStringLocalizer<TablesToolbar> Localizer

<h3>@Localizer["TablesToolbarTitle"]</h3>
<h4>@Localizer["TablesToolbarDescription"]</h4>

<DemoBlock Title="@Localizer["TablesToolbarNormalTitle"]"
           Introduction="@Localizer["TablesToolbarNormalIntro"]"
           Name="Normal"
           Demo="typeof(Demos.Table.TablesToolbar.TablesToolbarNormal)">
</DemoBlock>

<DemoBlock Title="@Localizer["TablesToolbarQueryTabelTitle"]"
           Introduction="@Localizer["TablesToolbarQueryTabelIntro"]"
           Name="QueryTabel"
           Demo="typeof(Demos.Table.TablesToolbar.TablesToolbarQueryTabel)">
    <p>@((MarkupString)Localizer["TablesToolbarQueryTabelDescription"].Value)</p>
</DemoBlock>

<DemoBlock Title="@Localizer["TablesToolbarCustomButtonTitle"]"
           Introduction="@Localizer["TablesToolbarCustomButtonIntro"]"
           Name="CustomButton"
           Demo="typeof(Demos.Table.TablesToolbar.TablesToolbarCustomButton)">
    <p>@((MarkupString)Localizer["TablesToolbarCustomButtonDescription"].Value)</p>
    <ul class="ul-demo mb-3">
        <li>@((MarkupString)Localizer["TablesToolbarCustomButtonTips1_title"].Value)</li>
        <li>@((MarkupString)Localizer["TablesToolbarCustomButtonTips1_note1"].Value)</li>
        <li>@((MarkupString)Localizer["TablesToolbarCustomButtonTips1_note2"].Value)</li>
    </ul>
    <p>@((MarkupString)Localizer["TablesToolbarCustomButtonTips2_title"].Value)</p>
</DemoBlock>

<DemoBlock Title="@Localizer["TablesToolbarCustomDisplayButtonTitle"]"
           Introduction="@Localizer["TablesToolbarCustomDisplayButtonIntro"]"
           Name="CustomDisplayButton"
           Demo="typeof(Demos.Table.TablesToolbar.TablesToolbarCustomDisplayButton)">
</DemoBlock>
