@page "/table/header"
@inject IStringLocalizer<TablesFixedHeader> Localizer

<h3>@Localizer["TablesFixedHeaderTitle"]</h3>

<h4>@Localizer["TablesFixedHeaderDesc"]</h4>

<p>@((MarkupString)Localizer["TablesFixedHeaderDescP"].Value)</p>

<DemoBlock Title="@Localizer["FixedHeaderTitle"]"
           Introduction="@Localizer["FixedHeaderIntro"]"
           Name="FixedHeaderNormal"
           Demo="typeof(Demos.Table.TablesFixedHeader.TablesFixedHeaderNormal)">
    <p>@Localizer["FixedHeaderP"]</p>
    <p>@Localizer["FixedHeaderP1"]</p>
</DemoBlock>

<DemoBlock Title="@Localizer["FixedWidthTitle"]"
           Introduction="@Localizer["FixedWidthIntro"]"
           Name="FixedHeaderWidth"
           Demo="typeof(Demos.Table.TablesFixedHeader.TablesFixedHeaderWidth)">
    <p>@Localizer["FixedWidthP"]</p>
</DemoBlock>

<DemoBlock Title="@Localizer["AllowResizingTitle"]"
           Introduction="@Localizer["AllowResizingIntro"]"
           Name="AllowResizing"
           Demo="typeof(Demos.Table.TablesFixedHeader.TablesFixedHeaderAllowResizing)">
    <p>@((MarkupString)Localizer["AllowResizingP"].Value)</p>
</DemoBlock>

<DemoBlock Title="@Localizer["AutoHeightTitle"]"
           Introduction="@Localizer["AutoHeightIntro"]"
           Name="AutoHeight"
           Demo="typeof(Demos.Table.TablesFixedHeader.TablesFixedHeaderAutoHeight)">
    <p>@((MarkupString)Localizer["AutoHeightP"].Value)</p>
</DemoBlock>

<DemoBlock Title="@Localizer["DialogTitle"]"
           Introduction="@Localizer["DialogIntro"]"
           Name="Dialog"
           Demo="typeof(Demos.Table.TablesFixedHeader.TablesFixedHeaderDialog)">
    <p>@((MarkupString)Localizer["DialogDesc"].Value)</p>
    <Pre>&lt;style&gt;
    .dialog-table .modal-body {
        height: calc(100vh - 400px);
        overflow: hidden;
    }
&lt;/style&gt;</Pre>
</DemoBlock>
