@page "/table/lookup"
@inject IStringLocalizer<Foo> FooLocalizer
@inject IStringLocalizer<TablesLookup> Localizer

<h3>@Localizer["TablesLookupTitle"]</h3>

<h4>@((MarkupString)Localizer["TablesLookupDescription"].Value)</h4>

<DemoBlock Title="@Localizer["TableLookupNormalTitle"]"
           Introduction="@Localizer["TableLookupNormalIntro"]"
           Name="Lookup"
           Demo="typeof(Demos.Table.TablesLookup.TableLookupNormal)">
    <p>@((MarkupString)Localizer["TableLookupNormalTips1"].Value)</p>
    <Pre>DataSource = new List&lt;SelectedItem&gt;
{
    new SelectedItem { Value = "True", Text = "@FooLocalizer["True"].Value" },
    new SelectedItem { Value = "False", Text = "@FooLocalizer["False"].Value" }
};</Pre>
    <p>@((MarkupString)Localizer["TableLookupNormalTips2"].Value)</p>
    <p>@((MarkupString)Localizer["TableLookupNormalTips3"].Value)</p>
</DemoBlock>
