@page "/tables/column/fomatter"
@inject IStringLocalizer<TablesColumn> Localizer
@inject IOptionsMonitor<WebsiteOptions> WebsiteOption

<h3>@Localizer["TablesColumnTitle"]</h3>

<h4>@Localizer["TablesColumnDescription"]</h4>

<DemoBlock Title="@Localizer["FormatterTitle"]"
           Introduction="@Localizer["FormatterIntro"]"
           Name="Formatter"
           Demo="typeof(Demos.Table.TablesColumn.TablesColumnFormatter)">
    <p>@((MarkupString)Localizer["FormatterP1"].Value)</p>
    <p>@((MarkupString)Localizer["FormatterP2"].Value)</p>
</DemoBlock>
