@page "/tables/column/copy"
@inject IStringLocalizer<TablesColumn> Localizer
@inject IOptionsMonitor<WebsiteOptions> WebsiteOption

<h3>@Localizer["TablesColumnTitle"]</h3>

<h4>@Localizer["TablesColumnDescription"]</h4>

<DemoBlock Title="@Localizer["ShowCopyColumnTitle"]"
           Introduction="@Localizer["ShowCopyColumnIntro"]"
           Name="ShowCopyColumn"
           Demo="typeof(Demos.Table.TablesColumn.TablesColumnShowCopyColumn)">
    <p>@((MarkupString)Localizer["ShowCopyColumnDesc"].Value)</p>
</DemoBlock>
