@page "/tables/cell"
@inject IStringLocalizer<TablesCell> CellLocalizer

<style>
    .cell-demo {
        --bs-table-bg: ##e9ecef;
    }
</style>

<h3>@CellLocalizer["TablesCellTitle"]</h3>

<h4>@CellLocalizer["TablesCellDescription"]</h4>

<DemoBlock Title="@CellLocalizer["TableCellMergeCellTitle"]" Introduction="@CellLocalizer["TableCellMergeCellIntro"]" Name="MergeCell" Demo="typeof(Demos.Table.Cell.TableCellMergeCell)">
    <p>@((MarkupString)CellLocalizer["TableCellMergeCellTip"].Value)</p>
    <Pre>.cell-demo {
    --bs-table-bg: ##e9ecef;
}</Pre>
</DemoBlock>

<DemoBlock Title="@CellLocalizer["TableCellOnDoubleClickCellTitle"]" Introduction="@CellLocalizer["TableCellOnDoubleClickCellIntro"]" Name="OnDoubleClickCell" Demo="typeof(Demos.Table.Cell.TableCellOnDoubleClickCell)">
    <Tips>
        <p>@((MarkupString)CellLocalizer["TableCellOnDoubleClickCellTip"].Value)</p>
    </Tips>
</DemoBlock>

<AttributeTable Items="GetAttributes()" Title="TableCellArgs" />
