@namespace BootstrapBlazor.Components
@inherits BootstrapComponentBase
@attribute [ExcludeFromCodeCoverage]

<div @attributes="@AdditionalAttributes" class="@ClassString">
    <CascadingValue Value="this" IsFixed="true">
        @ChildContent
    </CascadingValue>
    <RenderTemplate>
        <div class="step-header">
            @foreach (var option in Items)
            {
                <div @key="option" class="@GetHeaderClassString(option)">
                    @RenderHeader(option)
                    @RenderDesc(option)
                </div>
            }
        </div>
        <div class="step-body">
            @foreach (var option in Items)
            {
                <div @key="option" class="@GetBodyClassString(option)">
                    @option.Template
                </div>
            }
        </div>
    </RenderTemplate>
</div>

@code {
    RenderFragment RenderHeader(StepOption option) =>
    @<div class="step-item-header">
        <div class="step-line"></div>
        @if (!string.IsNullOrEmpty(option.Icon))
        {
            <i class="@GetIconClassString(option)"></i>
        }
        @if (!string.IsNullOrEmpty(option.Text))
        {
            <span>@option.Text</span>
        }
        else
        {
            <span class="step-title">@GetStepString(option)</span>
        }
    </div>;

    RenderFragment RenderDesc(StepOption option) =>
    @<div class="step-item-content"></div>;
}
