<div class="table-attr d-none d-md-block">
    <h4>@Title</h4>

    <Table TItem="BootstrapBlazor.Shared.Common.AttributeItem" Items="Items" class="table-demo">
        <TableColumns>
            <TableColumn TItem="string" @bind-Field="@context.Name" />
            <TableColumn TItem="string" @bind-Field="@context.Description" />
            <TableColumn TItem="string" @bind-Field="@context.Type" />
            <TableColumn TItem="string" @bind-Field="@context.ValueList" />
            <TableColumn TItem="string" @bind-Field="@context.DefaultValue" />
        </TableColumns>
    </Table>
</div>

@code {
    [Parameter] public IEnumerable<AttributeItem>? Items { get; set; }
}
