<div class="table-attr">
    <h4>@Title</h4>

    <Table TItem="BootstrapBlazor.Shared.Common.AttributeItem" Items="Items">
        <TableColumns>
            <TableColumn @bind-Field="@context.Name" />
            <TableColumn @bind-Field="@context.Description" AllowTextWrap="true" />
            <TableColumn @bind-Field="@context.Type" />
            <TableColumn @bind-Field="@context.ValueList" AllowTextWrap="true" />
            <TableColumn @bind-Field="@context.DefaultValue" />
        </TableColumns>
    </Table>
</div>

@code {
    [Parameter] public IEnumerable<AttributeItem>? Items { get; set; }
}
