<div class="table-attr d-none d-md-block">
    <h4>事件 Events</h4>

    <Table TItem="BootstrapBlazor.Shared.Common.EventItem" Items="Items" class="table-demo">
        <HeaderTemplate>
            <TableColumn TItem="string" @bind-Field="@context.Name" />
            <TableColumn TItem="string" @bind-Field="@context.Description" />
            <TableColumn TItem="string" @bind-Field="@context.Type" />
        </HeaderTemplate>
        <RowTemplate>
            <TableCell>@context.Name</TableCell>
            <TableCell>@context.Description</TableCell>
            <TableCell>@context.Type</TableCell>
        </RowTemplate>
    </Table>
</div>

@code {
    [Parameter] public IEnumerable<EventItem>? Items { get; set; }
}