@using Microsoft.Extensions.DependencyInjection
@inject NugetVersionService VersionManager
@inject IStringLocalizer<InstallContent> Localizer

<h3>@Title</h3>

<h4>@Localizer["H1"]</h4>

<p>@Localizer["P1"]</p>

<div class="code-label">.NET CLI</div>
<Pre class="no-highlight">dotnet add package BootstrapBlazor --version @Version</Pre>

<h5>@Localizer["H2"]</h5>

<p>@((MarkupString)Localizer["P2"].Value)</p>

<Tips>
    <p>@((MarkupString)Localizer["Tips"].Value)</p>
</Tips>
<Pre>@((MarkupString)Localizer["Pre"].Value)</Pre>

<Tips>
    <p>@((MarkupString)Localizer["Tips2"].Value)</p>
</Tips>

<h5>@Localizer["H3"]</h5>

<p>@((MarkupString)Localizer["P3"].Value)</p>
<Pre>@((MarkupString)Localizer["Pre2"].Value)</Pre>

<h4>@((MarkupString)Localizer["H4"].Value)</h4>

<Pre>@@using BootstrapBlazor.Components</Pre>

<h4>@Localizer["H5"]</h4>

@ChildContent

<h4>@Localizer["H6"]</h4>

<p>@((MarkupString)Localizer["P4"].Value)</p>
<Pre>@((MarkupString)Localizer["Pre3"].Value)</Pre>
