@namespace BootstrapBlazor.Components
@inherits IdComponentBase

<div @attributes="@AdditionalAttributes" id="@Id" class="@ClassName">
    <input class="range-slider_range" id="@("slider_range"+Id)" @oninput=oninputAsync disabled="@IsDisabled" type="range" value="@Value" min="@Min" max="@Max">
    @if (ShowValueLabel)
    {
        <input class="range-slider_value" id="@("slider_value"+Id)" @bind-value="@Value" />
        @*         <span class="range-slider_value" id="@("slider_value"+Id)">@Value</span> *@
    }
</div>
