<div class="table-attr d-none d-md-block">
    <h3>事件 Events</h3>

    <Table TItem="BootstrapBlazor.WebConsole.Common.EventItem" Items="Items">
        <HeaderTemplate>
            <TableHeader TItem="string" @bind-Field="@context.Name" />
            <TableHeader TItem="string" @bind-Field="@context.Description" />
            <TableHeader TItem="string" @bind-Field="@context.Type" />
        </HeaderTemplate>
        <RowTemplate>
            <td>@context.Name</td>
            <td>@context.Description</td>
            <td>@context.Type</td>
        </RowTemplate>
    </Table>
</div>

@code {
    [Parameter] public IEnumerable<EventItem>? Items { get; set; }
}