@inject IStringLocalizer<CardCompare> Localizer

<Card IsCollapsible="false" HeaderText="@Localizer["CollapsibleTitle"]" class="mt-3">
    <HeaderTemplate>
        <div class="me-2">@Localizer["CollapsibleHeaderTemplate"]</div>
        <Select TValue="string">
            <Options>
                <SelectOption Text="Test1" Value="" />
                <SelectOption Text="Test2" Value="1" />
                <SelectOption Text="Test3" Value="2" />
                <SelectOption Text="Test4" Value="3" />
            </Options>
        </Select>
    </HeaderTemplate>
    <BodyTemplate>
        @Localizer["CollapsibleBody"]
    </BodyTemplate>
</Card>

<Card IsCollapsible="true" HeaderText="@Localizer["CollapsibleTitle"]" class="mt-3">
    <HeaderTemplate>
        <div class="me-2">@Localizer["CollapsibleHeaderTemplate"]</div>
        <Select TValue="string">
            <Options>
                <SelectOption Text="Test1" Value="" />
                <SelectOption Text="Test2" Value="1" />
                <SelectOption Text="Test3" Value="2" />
                <SelectOption Text="Test4" Value="3" />
            </Options>
        </Select>
    </HeaderTemplate>
    <BodyTemplate>
        @Localizer["CollapsibleBody"]
    </BodyTemplate>
</Card>
