@page "/anchor"

<h3>@Localizer["Title"]</h3>

<h4>@Localizer["SubTitle"]</h4>

<DemoBlock Title="@Localizer["BaseUsageText"]" Introduction="@Localizer["IntroText1"]" Name="Normal">
    <div style="height: 400px; overflow: auto;">
        <p>@((MarkupString)Localizer["IntroText2"].Value)</p>
        <ul class="demo-ul">
            <li>
                <Anchor Target="anchor1" Offset="50">Anchor1</Anchor>
            </li>
            <li>
                <Anchor Target="anchor2" Offset="50">Anchor2</Anchor>
            </li>
            <li>
                <Anchor Target="anchor3" Offset="50">Anchor3</Anchor>
            </li>
            <li>
                <Anchor Target="anchor4" Offset="50">Anchor4</Anchor>
            </li>
        </ul>

        <h4 id="anchor1">Anchor1</h4>
        <div>@((MarkupString)Localizer["ContentText1"].Value)</div>
        <h4 id="anchor2">Anchor2</h4>
        <div>@((MarkupString)Localizer["ContentText1"].Value)</div>
        <h4 id="anchor3">Anchor3</h4>
        <div>@((MarkupString)Localizer["ContentText1"].Value)</div>
        <h4 id="anchor4">Anchor4</h4>
        <div>@((MarkupString)Localizer["ContentText1"].Value)</div>
    </div>
</DemoBlock>

<AttributeTable Items="@GetAttributes()" />
