@page "/authenticator"

<h3>@Localizer["Title"]</h3>

<h4>@Localizer["SubTitle"]</h4>

<Tips></Tips>

<DemoBlock Title="@Localizer["BaseUsageText"]" Introduction="@Localizer["IntroText1"]" Name="Normal">
    <div class="d-flex justify-content-center mb-3">
        <QRCode Content="@_content" Width="256"></QRCode>
    </div>
    <OtpInput Value="@_code" class="text-center mb-3"></OtpInput>
</DemoBlock>

<div>@TOTPService.TOTPInstance?.GetRemainingSeconds()</div>

<div>@TOTPService.GenerateSecretKey()</div>

<div>@TOTPService.Verify(TOTPService.Compute("OMM2LVLFX6QJHMYI"))</div>
