@page "/authenticator"

<HeadContent>
    <style>
        .qrcode {
            display: flex;
            justify-content: center;
        }

        .progress {
            max-width: 500px;
            margin: 0 auto;
        }
    </style>
</HeadContent>

<h3>@Localizer["Title"]</h3>

<h4>@Localizer["SubTitle"]</h4>

<PackageTips Name="BootstrapBlazor.Authenticator"></PackageTips>

<DemoBlock Title="@Localizer["BaseUsageText"]" Introduction="@Localizer["IntroText1"]" Name="Normal">
    <QRCode Content="@_content" Width="256" class="mb-3"></QRCode>
    <OtpInput Value="@_code" class="text-center mb-3"></OtpInput>
    <BootstrapBlazor.Components.Progress Value="@_remain" IsShowValue="false"></BootstrapBlazor.Components.Progress>
</DemoBlock>
