@page "/authenticator"

<h3>@Localizer["Title"]</h3>

<h4>@Localizer["SubTitle"]</h4>

<div>@TOTPService.GenerateOtpUri()</div>

<div>@TOTPService.Compute("OMM2LVLFX6QJHMYI")</div>

<div>@TOTPService.TOTPInstance?.GetRemainingSeconds()</div>

<div>@TOTPService.GenerateSecretKey()</div>

<div>@TOTPService.Verify(TOTPService.Compute("OMM2LVLFX6QJHMYI"))</div>
