@page "/auto-complete"
@inject IStringLocalizer<AutoCompletes> Localizer

<h3>@Localizer["Title"]</h3>

<h4>@Localizer["Description"]</h4>

<DemoBlock Title="@Localizer["Block1Title"]" Introduction="@Localizer["Block1Intro"]" Name="Normal">
    <section ignore>@Localizer["NormalDescription"]</section>
    <div style="width: 200px;">
        <Display Value="@Value" class="mb-3"></Display>
        <AutoComplete Items="@StaticItems" IsSelectAllTextOnFocus="true" @bind-Value="@Value"></AutoComplete>
    </div>
</DemoBlock>
