@page "/ocr"

<h3>@Localizer["Title"]</h3>

<h4>@Localizer["SubTitle"]</h4>

<Tips>@Localizer["BaiduOcrDesc"]</Tips>
<PackageTips Name="BootstrapBlazor.BaiduOcr" />

<p><b>@Localizer["BaiduOcrIntro"]</b></p>
<p class="code-label">@Localizer["BaiduOcrStep1"]</p>
<Pre>services.AddBootstrapBlazorBaiduOcr();</Pre>

<p class="code-label">@((MarkupString)Localizer["BaiduOcrStep2"].Value)</p>
<p>@((MarkupString)Localizer["BaiduOcrStep1Desc"].Value)</p>
<Pre>{
    "BaiduOcrOption": {
      "AppId": "",
      "ApiKey": "",
      "Secret": ""
    }
}</Pre>

<p class="code-label">@((MarkupString)Localizer["BaiduOcrStep3"].Value)</p>
<Pre>[Inject, NotNull]
private IBaiduOcr? OcrService { get; set; }</Pre>

<p class="code-label">@((MarkupString)Localizer["BaiduOcrStep4"].Value)</p>

<DemoBlock Title="@Localizer["VatInvoiceTitle"]" Introduction="@Localizer["VatInvoiceIntro"]" Name="VatInvoice">
    <ButtonUpload TValue="string" OnChange="@OnClickToUploadBlock" BrowserButtonText="@Localizer["VatInvoiceButtonText"]" ShowUploadFileList="false" IsDisabled="_isLoading" BrowserButtonIcon="@Icon"></ButtonUpload>
    @if (Invoice != null)
    {
        <div class="row form-inline g-3 mt-0">
            <div class="col-12 col-sm-6">
                <Display ShowLabel="true" DisplayText="@Localizer["InvoiceCodeLabel"]" @bind-Value="Invoice.InvoiceCode"></Display>
            </div>
            <div class="col-12 col-sm-6">
                <Display ShowLabel="true" DisplayText="@Localizer["InvoiceNumLabel"]" Value="Invoice.InvoiceNum"></Display>
            </div>
            <div class="col-12 col-sm-6">
                <Display ShowLabel="true" DisplayText="@Localizer["InvoiceServiceTypeLabel"]" @bind-Value="Invoice.ServiceType"></Display>
            </div>
            <div class="col-12 col-sm-6">
                <Display ShowLabel="true" DisplayText="@Localizer["SheetNumLabel"]" Value="Invoice.SheetNum"></Display>
            </div>
            <div class="col-12 col-sm-6">
                <Display ShowLabel="true" DisplayText="@Localizer["InvoiceTypeLabel"]" @bind-Value="Invoice.InvoiceType"></Display>
            </div>
            <div class="col-12 col-sm-6">
                <Display ShowLabel="true" DisplayText="@Localizer["InvoiceTypeOrgLabel"]" Value="Invoice.InvoiceTypeOrg"></Display>
            </div>
            <div class="col-12 col-sm-6">
                <Display ShowLabel="true" DisplayText="@Localizer["InvoiceTagLabel"]" @bind-Value="Invoice.InvoiceTag"></Display>
            </div>
            <div class="col-12 col-sm-6">
                <Display ShowLabel="true" DisplayText="@Localizer["InvoiceDateLabel"]" Value="Invoice.InvoiceDate"></Display>
            </div>
            <div class="col-12">
                <Display ShowLabel="true" DisplayText="@Localizer["CheckCodeLabel"]" Value="Invoice.CheckCode"></Display>
            </div>
            <div class="col-12 col-sm-6">
                <Display ShowLabel="true" DisplayText="@Localizer["PurchaserNameLabel"]" @bind-Value="Invoice.PurchaserName"></Display>
            </div>
            <div class="col-12 col-sm-6">
                <Display ShowLabel="true" DisplayText="@Localizer["PurchaserRegisterNumLabel"]" Value="Invoice.PurchaserRegisterNum"></Display>
            </div>
            <div class="col-12 col-sm-6">
                <Display ShowLabel="true" DisplayText="@Localizer["PurchaserBankLabel"]" @bind-Value="Invoice.PurchaserBank"></Display>
            </div>
            <div class="col-12 col-sm-6">
                <Display ShowLabel="true" DisplayText="@Localizer["PurchaserAddressLabel"]" Value="Invoice.PurchaserAddress"></Display>
            </div>
            <div class="col-12 col-sm-6">
                <Display ShowLabel="true" DisplayText="@Localizer["SellerNameLabel"]" @bind-Value="Invoice.SellerName"></Display>
            </div>
            <div class="col-12 col-sm-6">
                <Display ShowLabel="true" DisplayText="@Localizer["SellerRegisterNumLabel"]" Value="Invoice.SellerRegisterNum"></Display>
            </div>
            <div class="col-12 col-sm-6">
                <Display ShowLabel="true" DisplayText="@Localizer["SellerBankLabel"]" @bind-Value="Invoice.SellerBank"></Display>
            </div>
            <div class="col-12 col-sm-6">
                <Display ShowLabel="true" DisplayText="@Localizer["SellerAddressLabel"]" Value="Invoice.SellerAddress"></Display>
            </div>
            <div class="col-12">
                <Display ShowLabel="true" DisplayText="@Localizer["RemarksLabel"]" @bind-Value="Invoice.Remarks"></Display>
            </div>
            <div class="col-12 col-sm-6">
                <Display ShowLabel="true" DisplayText="@Localizer["AmountInFiguresLabel"]" Value="Invoice.AmountInFiguers"></Display>
            </div>
            <div class="col-12 col-sm-6">
                <Display ShowLabel="true" DisplayText="@Localizer["TotalAmountLabel"]" Value="Invoice.TotalAmount"></Display>
            </div>
            <div class="col-12 col-sm-6">
                <Display ShowLabel="true" DisplayText="@Localizer["TotalTaxLabel"]" @bind-Value="Invoice.TotalTax"></Display>
            </div>
            <div class="col-12 col-sm-6">
            </div>
            @if (Invoice.CommodityName?.Any() ?? false)
            {
                <div class="col-12 col-sm-6">
                    <Display ShowLabel="true" DisplayText="@Localizer["CommodityNameLabel"]" Value="Invoice.CommodityName.First().CommodityName"></Display>
                </div>
            }
            @if (Invoice.CommodityTaxRate?.Any() ?? false)
            {
                <div class="col-12 col-sm-6">
                    <Display ShowLabel="true" DisplayText="@Localizer["CommodityTaxRateLabel"]" Value="Invoice.CommodityTaxRate.First().CommodityTaxRate"></Display>
                </div>
            }
        </div>
    }
</DemoBlock>

<DemoBlock Title="@Localizer["VerifyVatInvoiceTitle"]" Introduction="@Localizer["VerifyVatInvoiceIntro"]" Name="Verify">
    <p class="code-label">@Localizer["InvoiceTypeLabel"]</p>
    <ul class="ul-demo">
        <li>@Localizer["InvoiceTypeOption1"]</li>
        <li>@Localizer["InvoiceTypeOption2"]</li>
        <li>@Localizer["InvoiceTypeOption3"]</li>
        <li>@Localizer["InvoiceTypeOption4"]</li>
        <li>@Localizer["InvoiceTypeOption5"]</li>
        <li>@Localizer["InvoiceTypeOption6"]</li>
        <li>@Localizer["InvoiceTypeOption7"]</li>
        <li>@Localizer["InvoiceTypeOption8"]</li>
        <li>@Localizer["InvoiceTypeOption9"]</li>
        <li>@Localizer["InvoiceTypeOption10"]</li>
        <li>@Localizer["InvoiceTypeOption11"]</li>
        <li>@Localizer["InvoiceTypeOption12"]</li>
    </ul>
    <ValidateForm Model="Model" OnValidSubmit="@Verify">
        <EditorForm TModel="InvoiceForm" RowType="RowType.Inline" AutoGenerateAllItem="false">
            <FieldItems>
                <EditorItem @bind-Field="@context.InvoiceType" Text="@Localizer["InvoiceTypeLabel"]" />
                <EditorItem @bind-Field="@context.InvoiceCode" Text="@Localizer["InvoiceCodeLabel"]" />
                <EditorItem @bind-Field="@context.InvoiceNum" Text="@Localizer["InvoiceNumLabel"]" />
                <EditorItem @bind-Field="@context.InvoiceDate" Text="@Localizer["InvoiceDateLabel"]" PlaceHolder="@Localizer["InvoiceDatePlaceHolder"]" />
                <EditorItem @bind-Field="@context.CheckCode" Text="@Localizer["CheckCodeLabel"]" PlaceHolder="@Localizer["CheckCodePlaceHolder"]" />
                <EditorItem @bind-Field="@context.TotalAmount" Text="@Localizer["AmountLabel"]" PlaceHolder="@Localizer["AmountPlaceHolder"]" />
            </FieldItems>
            <Buttons>
                <Button ButtonType="ButtonType.Submit" Icon="fa-solid fa-check" Text="@Localizer["VerifyButtonText"]"></Button>
            </Buttons>
        </EditorForm>
    </ValidateForm>
</DemoBlock>
