@page "/breadcrumb"
@inject IStringLocalizer<Breadcrumbs> Localizer

<h3>@Localizer["Title"]</h3>

<h4>@Localizer["Describe"]</h4>

<DemoBlock Title="@Localizer["Block1Title"]" Introduction="@Localizer["Block1Intro"]" Name="Normal">
    <Breadcrumb Value="@DataSource" />
</DemoBlock>
