@page "/edit-dialog"
@inject IStringLocalizer<EditDialogs> Localizer

<h3>@Localizer["Title"]</h3>
<h4>@Localizer["Description"]</h4>

<p>@((MarkupString)Localizer["SubDescription"].Value)</p>

<Tips>
    <p>@((MarkupString)Localizer["Tip"].Value)</p>
</Tips>

<DemoBlock Title="@Localizer["NormalTitle"]" Introduction="@Localizer["NormalIntro"]" Name="Normal">
    <div>
        <Button Text="@Localizer["LeftAlignedButton"]" OnClickWithoutRender="@NormalShowDialog" />
        <Button Text="@Localizer["RightAlignedButton"]" OnClickWithoutRender="@NormalShowAlignDialog" />
        <ConsoleLogger @ref="NormalLogger" />
    </div>
</DemoBlock>

<DemoBlock Title="@Localizer["NoRenderTitle"]" Introduction="@Localizer["NoRenderIntro"]" Name="NoRender">
    <Button Text="@Localizer["PopupButton"]" OnClickWithoutRender="@NoRenderShowEditDialog" />
    <section ignore>
        <ConsoleLogger @ref="NoRenderLogger" />
    </section>
</DemoBlock>

<AttributeTable Items="@GetAttributes()" Title="@Localizer["EditDialogOption"]" />
