@page "/export-pdf-button"
@inject IStringLocalizer<ExportPdfButtons> Localizer

<h3>@Localizer["ExportPdfButtonsTitle"]</h3>

<h4>@((MarkupString)Localizer["ExportPdfButtonsDescription"].Value)</h4>

<PackageTips Name="BootstrapBlazor.Html2Pdf" />

<p>@((MarkupString)Localizer["ExportPdfButtonTips"].Value)</p>

<DemoBlock Title="@Localizer["NormalTitle"]" Introduction="@Localizer["NormalIntro"]" Name="Normal">
    <section ignore>
        <Table TItem="Foo" Items="@Items.Take(3)" Id="table-9527-01" IsStriped="true">
            <TableColumns>
                <TableColumn @bind-Field="@context.DateTime" Width="180" />
                <TableColumn @bind-Field="@context.Name" />
                <TableColumn @bind-Field="@context.Address" />
            </TableColumns>
        </Table>
    </section>
    <ExportPdfButton ElementId="table-9527-01" IsAsync="true" OnBeforeExport="OnBeforeExport" OnAfterDownload="OnAfterDownload" AutoDownload="true"></ExportPdfButton>
</DemoBlock>

<DemoBlock Title="@Localizer["SelectorTitle"]" Introduction="@Localizer["SelectorIntro"]" Name="Selector">
    <section ignore class="table-9527-02">
        <GroupBox Title="@Localizer["GroupBoxTitle"]">
            <ValidateForm Model="@Model">
                <EditorForm TModel="Foo" ItemsPerRow="3">
                    <FieldItems>
                        <EditorItem @bind-Field="@context.Hobby" Items="@Hobbies" />
                    </FieldItems>
                </EditorForm>
            </ValidateForm>
        </GroupBox>
    </section>
    <ExportPdfButton Selector=".table-9527-02" IsAsync="true" OnBeforeExport="OnBeforeExport" OnAfterDownload="OnAfterDownload" AutoDownload="true" FileName="@PdfFileName"></ExportPdfButton>
</DemoBlock>

<AttributeTable Items="@GetAttributes()" />
