@page "/fa-icon"
@inject IStringLocalizer<FAIcons> Localizer

<h3>@Localizer["Title"]</h3>

<h4>@((MarkupString)Localizer["BaseUsageText"].Value)</h4>

<Tips class="mt-3">
    <div>@Localizer["P1"] <a href="https://www.nuget.org/packages/BootstrapBlazor.FontAwesome/" target="_blank">BootstrapBlazor.FontAwesome</a> @Localizer["P2"]</div>
</Tips>

<Pre>&lt;link href="_content/BootstrapBlazor.FontAwesome/css/font-awesome.min.css" rel="stylesheet"&gt;</Pre>

<p>
    <b>@Localizer["P3"]：</b>
    <span>@Localizer["P4"]</span>
</p>

<div class="row form-inline">
    <div class="col-12">
        <Switch ShowLabel="true" DisplayText="@DisplayText" @bind-Value="@ShowCopyDialog" />
    </div>
</div>

<FAIconList ShowCopyDialog="ShowCopyDialog" IsCopy="true" CopiedTooltipText="@Localizer["CopiedTooltipText"]" />
