@page "/flip-clock"
@inject IStringLocalizer<FlipClocks> Localizer

<h3>@Localizer["FlipClocksTitle"]</h3>

<h4>@((MarkupString)Localizer["FlipClocksDescription"].Value)</h4>

<DemoBlock Title="@Localizer["BaseUsageText"]" Introduction="@Localizer["BaseUsageIntro"]" Name="Normal">
    <FlipClock></FlipClock>
</DemoBlock>

<DemoBlock Title="@Localizer["ShowMinuteText"]" Introduction="@Localizer["ShowMinuteIntro"]" Name="ShowMinute">
    <FlipClock ShowHour="false" ShowMinute="false"></FlipClock>
</DemoBlock>

<DemoBlock Title="@Localizer["CountText"]" Introduction="@Localizer["CountIntro"]" Name="Count">
    <FlipClock ViewMode="FlipClockViewMode.Count"></FlipClock>
</DemoBlock>

<DemoBlock Title="@Localizer["IsCountDownText"]" Introduction="@Localizer["IsCountDownIntro"]" Name="CountDown">
    @if (_isCompleted)
    {
        <section ignore>
            <div>Trigger OnCompletedAsync</div>
        </section>
    }
    <FlipClock ViewMode="FlipClockViewMode.CountDown" StartValue="@TimeSpan.FromSeconds(10)" OnCompletedAsync="OnCompletedAsync"></FlipClock>
</DemoBlock>
