@page "/hik-vision"
@inject IStringLocalizer<HikVisions> Localizer

<h3>@Localizer["Title"]</h3>

<h4>@Localizer["SubTitle"]</h4>

<Tips>
    <p>本组件依赖 <code>BootstrapBlazor.HikVision</code> 扩展包，需要依照下面步骤进行引用</p>
</Tips>

<PackageTips Name="BootstrapBlazor.HikVision" />

<DemoBlock Title="@Localizer["BasicUsageTitle"]" Introduction="@Localizer["BasicUsageIntro"]" Name="Normal">
    <section ignore>
        <p class="code-label">注意事项：</p>
        <ul class="ul-demo">
            <li><code>HikVisionWebPlugin</code> 组件依赖海康威视 Web 插件包，仅支持 windows 平台</li>
            <li>由于核心功能均由海康威视 Web 插件提供所有浏览器控制台中会有部分提示或者报错信息均属于正常现象</li>
            <li>由海康威视 Web 插件绘制的预览窗口并不是 html dom 元素，所以出现被截断遮挡其他窗口，多屏显示不正确时请刷新浏览器即可</li>
        </ul>
        <p class="code-label">抓图功能说明：</p>
        <ul class="ul-demo">
            <li>必须登录并且开始预览后才可以开启抓图功能</li>
            <li>抓图后，文件默认存储在插件安装路径文件夹内（C:\Users\[UserName]\HCWebSDKPlugins\CaptureFiles）</li>
            <li>组件提供两种抓图方法，<code>CapturePicture</code> 方法直接抓图到本地存储路径；<code>CapturePictureAndDownload</code> 方法抓图后直接弹窗下载文件</li>
        </ul>
        <p class="code-label">录像功能说明：</p>
        <ul class="ul-demo">
            <li>必须登录并且开始预览后才可以开启录像功能</li>
            <li>开始录像后，文件默认存储在插件安装路径文件夹内（C:\Users\[UserName]\HCWebSDKPlugins\RecordFiles）</li>
        </ul>
    </section>
    <HikVisionWebPlugin @ref="_hikVision" OnInitedAsync="OnInitedAsync"
                        OnLoginAsync="OnLoginAsync" OnLogoutAsync="OnLogoutAsync" OnGetChannelsAsync="OnGetChannelsAsync"
                        OnStartRealPlayedAsync="OnStartRealPlayedAsync" OnStopRealPlayedAsync="OnStopRealPlayedAsync"></HikVisionWebPlugin>
    <section ignore>
        <div class="row form-inline g-3" style="--bb-input-group-label-width: 88px;">
            <div class="col-12 col-sm-6">
                <BootstrapInputGroup>
                    <BootstrapInputGroupLabel DisplayText="IP 地址"></BootstrapInputGroupLabel>
                    <BootstrapInput @bind-Value="@_ip"></BootstrapInput>
                </BootstrapInputGroup>
            </div>
            <div class="col-12 col-sm-6">
                <BootstrapInputGroup>
                    <BootstrapInputGroupLabel DisplayText="网络端口"></BootstrapInputGroupLabel>
                    <BootstrapInput @bind-Value="@_port"></BootstrapInput>
                </BootstrapInputGroup>
            </div>
            <div class="col-12 col-sm-6">
                <BootstrapInputGroup>
                    <BootstrapInputGroupLabel DisplayText="用户名"></BootstrapInputGroupLabel>
                    <BootstrapInput @bind-Value="@_userName"></BootstrapInput>
                </BootstrapInputGroup>
            </div>
            <div class="col-12 col-sm-6">
                <BootstrapInputGroup>
                    <BootstrapInputGroupLabel DisplayText="密码"></BootstrapInputGroupLabel>
                    <BootstrapPassword @bind-Value="@_password"></BootstrapPassword>
                </BootstrapInputGroup>
            </div>
            @if (_inited)
            {
                <div class="col-12 col-sm-6">
                    <BootstrapInputGroup>
                        <BootstrapInputGroupLabel DisplayText="码流类型"></BootstrapInputGroupLabel>
                        <Select @bind-Value="_streamType" Items="_streamTypes"></Select>
                    </BootstrapInputGroup>                    
                </div>
                <div class="col-12 col-sm-6">
                    <BootstrapInputGroup>
                        <BootstrapInputGroupLabel DisplayText="视频通道"></BootstrapInputGroupLabel>
                        <Select @bind-Value="_channelId" Items="_analogChannels"></Select>
                    </BootstrapInputGroup>
                </div>
                <div class="col-12">
                    <div class="hik-controls">
                        <Button OnClick="OnLogin" IsDisabled="_loginStatus">
                            <span>登录</span>
                        </Button>
                        <Button OnClick="OnLogout" IsDisabled="_logoutStatus">
                            <span>退出</span>
                        </Button>
                        <Button OnClick="OnStartRealPlay" IsDisabled="_startRealPlayStatus">
                            <span>开始预览</span>
                        </Button>
                        <Button OnClick="OnStopRealPlay" IsDisabled="_stopRealPlayStatus">
                            <span>停止预览</span>
                        </Button>
                        <Button OnClick="OnOpenSound" IsDisabled="_openSoundStatus">
                            <span>打开声音</span>
                        </Button>
                        <Button OnClick="OnCloseSound" IsDisabled="_closeSoundStatus">
                            <span>关闭声音</span>
                        </Button>
                        <Button OnClick="OnCapture" IsDisabled="_stopRealPlayStatus">
                            <span>抓图</span>
                        </Button>
                        <Button OnClick="OnCaptureAndDownload" IsDisabled="_stopRealPlayStatus">
                            <span>抓图下载</span>
                        </Button>
                        <Button OnClick="OnStartRecord" IsDisabled="_startRecordStatus">
                            <span>开始录像</span>
                        </Button>
                        <Button OnClick="OnStopRecord" IsDisabled="_stopRecordStatus">
                            <span>停止录像</span>
                        </Button>
                        <Dropdown Value="@_iWndType" IsDisabled="false" Items="_iWndTypes"
                                  MenuAlignment="Alignment.Right" OnSelectedItemChanged="OnWndTypeChanged">
                            <ButtonTemplate>
                                <span>分屏 (@context.Text)</span>
                            </ButtonTemplate>
                        </Dropdown>
                    </div>
                </div>
            }
        </div>
    </section>
</DemoBlock>
