@page "/html2pdf"
@inherits WebSiteModuleComponentBase
@attribute [JSModuleAutoLoader("Samples/Html2Pdfs.razor.js", AutoInvokeDispose = false, AutoInvokeInit = false)]

<h3>@Localizer["Html2PdfTitle"]</h3>

<h4>@Localizer["Html2PdfDescription"]</h4>

<Tips>
    <div>@((MarkupString)Localizer["Html2PdfNote"].Value)</div>
</Tips>

<Pre class="no-highlight">builder.Services.Configure&lt;HubOptions&gt;(option => option.MaximumReceiveMessageSize = null);</Pre>

<p class="code-label mt-3">实现原理</p>

<p>1. 通过 <code>getHtml</code> 脚本获取网页元素 <code>Html</code> 代码</p>

<p>2. 将 <code>Html</code> 代码，通过模板生成网页代码，<code>注意</code> 需要提供网页需要的样式表 <code>_content/BootstrapBlazor/css/bootstrap.blazor.bundle.min.css</code></p>

<p>3. 通过 <code>IHtml2Pdf</code> 服务实例方法 <code>PdfStreamFromHtmlAsync</code> 将网页 转化为 <code>Pdf</code></p>

<p class="code-label"><code>IHtml2Pdf</code> 服务</p>

<p>组件默认未实现 <code>IHtml2Pdf</code>，请通过引用包 <code>BootstrapBlazor.Html2Pdf</code> 实现</p>

<PackageTips Name="BootstrapBlazor.Html2Pdf" />

<DemoBlock Title="@Localizer["Html2PdfElementTitle"]" Introduction="@Localizer["Html2PdfElementIntro"]" Name="Normal">
    <section ignore>
        <p>@((MarkupString)Localizer["Html2PdfElementDesc"].Value)</p>
        <Button OnClickWithoutRender="OnExportAsync" Text="@Localizer["ExportButtonText"]"></Button>
    </section>
    <Table TItem="Foo" Items="@Items.Take(3)" Id="table-9527">
        <TableColumns>
            <TableColumn @bind-Field="@context.DateTime" Width="180" />
            <TableColumn @bind-Field="@context.Name" />
            <TableColumn @bind-Field="@context.Address" />
        </TableColumns>
    </Table>
</DemoBlock>
