@page "/icon-park"
@inject IStringLocalizer<IconParks> Localizer

<h3>@Localizer["IconParkTitle"]</h3>

<h4>@Localizer["IconParkDescription"]</h4>

<DemoBlock Title="@Localizer["NormalTitle"]" Introduction="@Localizer["NormalIntro"]" Name="Normal">
    <section ignore>
        <p>@((MarkupString)Localizer["NormalDesc"].Value)</p>
    </section>
    <div class="icon-park-list">
        <SvgIcon Name="a-cane"></SvgIcon>
        <SvgIcon Name="abdominal"></SvgIcon>
        <SvgIcon Name="abnormal"></SvgIcon>
        <SvgIcon Name="acceleration"></SvgIcon>
        <SvgIcon Name="accept-email"></SvgIcon>
        <SvgIcon Name="acoustic"></SvgIcon>
        <SvgIcon Name="activity-source"></SvgIcon>
        <SvgIcon Name="ad-product"></SvgIcon>
        <SvgIcon Name="ad"></SvgIcon>
        <SvgIcon Name="add-computer"></SvgIcon>
        <SvgIcon Name="add-four"></SvgIcon>
        <SvgIcon Name="add-item"></SvgIcon>
        <SvgIcon Name="add-mode"></SvgIcon>
        <SvgIcon Name="add-music"></SvgIcon>
        <SvgIcon Name="add-one"></SvgIcon>
        <SvgIcon Name="add-pic"></SvgIcon>
        <SvgIcon Name="add-picture"></SvgIcon>
        <SvgIcon Name="add-print"></SvgIcon>
        <SvgIcon Name="add-subset"></SvgIcon>
        <SvgIcon Name="add-subtract"></SvgIcon>
        <SvgIcon Name="add-text-two"></SvgIcon>
        <SvgIcon Name="add-text"></SvgIcon>
        <SvgIcon Name="add-three"></SvgIcon>
        <SvgIcon Name="add-two"></SvgIcon>
        <SvgIcon Name="add-user"></SvgIcon>
        <SvgIcon Name="add-web"></SvgIcon>
        <SvgIcon Name="add"></SvgIcon>
        <SvgIcon Name="address-book"></SvgIcon>
        <SvgIcon Name="adjacent-item"></SvgIcon>
        <SvgIcon Name="adjustment"></SvgIcon>
        <SvgIcon Name="adobe-illustrate"></SvgIcon>
        <SvgIcon Name="adobe-indesign"></SvgIcon>
        <SvgIcon Name="adobe-lightroom"></SvgIcon>
        <SvgIcon Name="adobe-photoshop"></SvgIcon>
        <SvgIcon Name="afferent-four"></SvgIcon>
        <SvgIcon Name="afferent-three"></SvgIcon>
        <SvgIcon Name="afferent-two"></SvgIcon>
        <SvgIcon Name="afferent"></SvgIcon>
        <SvgIcon Name="afro-pick"></SvgIcon>
        <SvgIcon Name="agreement"></SvgIcon>
    </div>
</DemoBlock>

