@page "/icon-park"
@inject IStringLocalizer<IconParks> Localizer

<h3>@Localizer["IconParkTitle"]</h3>

<h4>@Localizer["IconParkDescription"]</h4>

<DemoBlock Title="@Localizer["NormalTitle"]" Introduction="@Localizer["NormalIntro"]" Name="Normal">
    <section ignore>
        <p>@((MarkupString)Localizer["NormalDesc"].Value)</p>
    </section>
    <div class="icon-park-list">
        <SvgIcon Name="a-cane"></SvgIcon>
        <SvgIcon Name="abdominal"></SvgIcon>
        <SvgIcon Name="abnormal"></SvgIcon>
        <SvgIcon Name="acceleration"></SvgIcon>
    </div>
</DemoBlock>

