@page "/intersection-observer"
@inject IStringLocalizer<IntersectionObservers> Localizer

<h3>@Localizer["IntersectionObserverTitle"]</h3>

<h4>@Localizer["IntersectionObserverDescription"]</h4>

<DemoBlock Title="@Localizer["IntersectionObserverBaseUsage"]"
           Introduction="@Localizer["IntersectionObserverNormalIntro"]"
           Name="Normal">
    <section ignore>@((MarkupString)Localizer["IntersectionObserverNormalDescription"].Value)</section>
    <IntersectionObserver OnIntersectingAsync="OnIntersectingAsync">
        <div class="bb-list-main scroll">
            @foreach (var image in _images)
            {
                <IntersectionObserverItem>
                    <div  class="bb-list-item">
                        <img src="@image" />
                    </div>
                </IntersectionObserverItem>
            }
        </div>
    </IntersectionObserver>
</DemoBlock>

<DemoBlock Title="@Localizer["IntersectionObserverLoadBaseUsage"]"
           Introduction="@Localizer["IntersectionObserverLoadIntro"]"
           Name="Normal">
    <section ignore>@((MarkupString)Localizer["IntersectionObserverLoadDescription"].Value)</section>
    <IntersectionObserver class="bb-list-load scroll" OnIntersectingAsync="OnLoadMoreAsync" Threshold="1" AutoUnobserve="false">
        <div class="bb-list-demo">
            @foreach (var image in _items)
            {
                <div class="bb-list-item">
                    <img src="@image" />
                </div>
            }
        </div>
        <IntersectionObserverItem>
            <div class="bb-list-item-loading">
                <Spinner></Spinner>
            </div>
        </IntersectionObserverItem>
    </IntersectionObserver>
</DemoBlock>
