@page "/intersection-observer"
@inject IStringLocalizer<IntersectionObservers> Localizer

<h3>@Localizer["IntersectionObserverTitle"]</h3>

<h4>@Localizer["IntersectionObserverDescription"]</h4>

<DemoBlock Title="@Localizer["IntersectionObserverBaseUsage"]"
           Introduction="@Localizer["IntersectionObserverNormalIntro"]"
           Name="Normal">
    <section ignore>@((MarkupString)Localizer["IntersectionObserverNormalDescription"].Value)</section>
    <div class="bb-list-main scroll">
        @foreach(var index in Enumerable.Range(1, 100))
        {
            <div class="bb-list-item">
                <img src="../../images/default.jpeg" data-src="@GetImageUrl(index)" />
            </div>
        })
    </div>
</DemoBlock>
