@page "/media-device"
@inject IStringLocalizer<MediaDevice> Localizer

<h3>@Localizer["MediaDeviceTitle"]</h3>

<h4>@Localizer["MediaDeviceIntro"]</h4>

<p>@((MarkupString)Localizer["MediaDeviceDescription"].Value)</p>

<Pre>[Inject, NotNull]
private IBluetooth? BluetoothService { get; set; }</Pre>

<Tips>
    <ul class="ul-demo">
        <li>@((MarkupString)Localizer["MediaDeviceTipsLi1"].Value)</li>
        <li>@((MarkupString)Localizer["MediaDeviceTipsLi2"].Value)</li>
    </ul>
    <div>@((MarkupString)Localizer["MediaDeviceTipsTitle"].Value)</div>
</Tips>

<DemoBlock Title="@Localizer["BaseUsageTitle"]"
           Introduction="@Localizer["BaseUsageIntro"]"
           Name="Normal">
    <section ignore>
        @Localizer["UsageDesc"]
    </section>
    <div class="row form-inline g-3">
        <div class="col-12">
            <Button Text="@Localizer["MediaDeviceRequestText"]" Icon="fa-solid fa-photo-film" OnClick="OnRequestDevice"></Button>
            <Button Text="@Localizer["MediaDeviceOpenText"]" Icon="fa-solid fa-play" OnClick="OnOpenVideo"></Button>
            <Button Text="@Localizer["MediaDeviceCloseText"]" Icon="fa-solid fa-stop" OnClick="OnCloseVideo"></Button>
            <Button Text="@Localizer["MediaDeviceCaptureText"]" Icon="fa-solid fa-camera" OnClick="OnCapture"></Button>
        </div>
    </div>

    <Select Items="@_items" @bind-Value="_deviceId"></Select>

    <div>Video</div>

    <video class="bb-video" muted playsinline autoplay style="height: auto; width: auto;"></video>

    <div>Preview</div>

    @if (!string.IsNullOrEmpty(_previewUrl))
    {
        <img class="bb-image" src="@_previewUrl" />
    }
</DemoBlock>

