@page "/mind-map"
@inject IStringLocalizer<MindMaps> Localizer

<h3>@Localizer["MindMapTitle"]</h3>

<h4>@Localizer["MindMapDescription"]</h4>

<PackageTips Name="BootstrapBlazor.MindMap" />

<DemoBlock Title="@Localizer["MindMapNormalTitle"]" Introduction="@Localizer["MindMapDescription"]" Name="MindMapNormal">
    <section ignore>
        <div class="row g-3 form-inline">
            <div class="col-12 col-sm-6">
                <Select @bind-Value="_options.Layout" ShowLabel="true" DisplayText="@Localizer["MindMapLayout"]"></Select>
            </div>
            <div class="col-12 col-sm-6">
                <Select @bind-Value="_options.Theme" ShowLabel="true" DisplayText="@Localizer["MindMapTheme"]"></Select>
            </div>
        </div>
    </section>
    <MindMap Options="_options" Data="@Data" OnReceive="@OnReceive" @ref="MindMap"></MindMap>
    <div class="row g-3 mt-3">
        <div class="col-12">
            <Button Text="@Localizer["Sample1ButtonText"]" OnClick="Sample"></Button>
            <Button Text="@Localizer["Sample2ButtonText"]" OnClick="Sample2"></Button>
            <Button Text="@Localizer["ExportButtonText"]" OnClick="ExportImage"></Button>
            <Button Text="@Localizer["ExportJsonButtonText"]" OnClick="ExportJson"></Button>
            <Button Text="@Localizer["GetFullDataButtonText"]" OnClick="GetFullData"></Button>
            <Button Text="@Localizer["GetDataButtonText"]" OnClick="GetData"></Button>
            <Button Text="@Localizer["SetDataButtonText"]" OnClick="SetData"></Button>
            <Button Text="@Localizer["ResetButtonText"]" OnClick="Reset"></Button>
            <Button Text="@Localizer["FitButtonText"]" OnClick="Fit"></Button>
            <Button Text="@Localizer["Scale1ButtonText"]" OnClick="() => Scale(-0.1f)"></Button>
            <Button Text="@Localizer["Scale2ButtonText"]" OnClick="() => Scale(0.1f)"></Button>
        </div>
        <div class="col-12">
            <Textarea @bind-Value="@_result" rows="10"></Textarea>
        </div>
    </div>
</DemoBlock>

<AttributeTable Items="@GetAttributes()"></AttributeTable>

<AttributeTable Title="@Localizer["OptionsText"]" Items="@GetOptionsAttributes()"></AttributeTable>

<AttributeTable Title="@Localizer["NodeDataText"]" Items="@GetNodeDataAttributes()"></AttributeTable>
