@page "/network-monitor"
@inject IStringLocalizer<NetworkMonitors> Localizer

<h3>@Localizer["NetworkMonitorTitle"]</h3>

<h4>@((MarkupString)Localizer["NetworkMonitorDescription"].Value)</h4>

<DemoBlock Title="@Localizer["NormalTitle"]"
           Introduction="@Localizer["NormalIntro"]"
           Name="Normal">
    <section ignore>
        <ul class="ul-demo">
            <li>@Localizer["IndicatorLi1"]</li>
            <li>@Localizer["IndicatorLi2"]</li>
            <li>@Localizer["IndicatorLi3"]</li>
            <li>@Localizer["IndicatorLi4"]</li>
        </ul>
    </section>
    <NetworkMonitorIndicator></NetworkMonitorIndicator>
    <section ignore>
        <ConsoleLogger @ref="_logger"></ConsoleLogger>
    </section>
</DemoBlock>
