@page "/office-viewer"
@inject IStringLocalizer<OfficeViewers> Localizer

<h3>@Localizer["OfficeViewerTitle"]</h3>

<h4>@Localizer["OfficeViewerDescription"]</h4>

<PackageTips Name="BootstrapBlazor.OfficeViewer" />

<DemoBlock Title="@Localizer["OfficeViewerNormalTitle"]" Introduction="@Localizer["OfficeViewerNormalIntro"]" Name="Normal">
    <section ignore>
        <Select @bind-Value="@_doc" Items="_docs"></Select>
    </section>
    <OfficeViewer Url="@_doc" Height="620px" OnLoaded="OnLoaded"></OfficeViewer>
</DemoBlock>

<AttributeTable Type="typeof(OfficeViewer)" />
