@page "/opc-da"
@inject IStringLocalizer<OpcDa> Localizer

<h3>@Localizer["OpcDaTitle"]</h3>

<h4>@Localizer["OpcDaDescription"]</h4>

<PackageTips Name="BootstrapBlazor.OpcDa"/>

<p class="code-label">@Localizer["RegisterServiceText"]</p>

<Pre>// 增加 BootstrapBlazor.OpcDa 服务
if (OperatingSystem.IsWindows())
{
    services.AddOpcDaServer();
}</Pre>

<DemoBlock Title="@Localizer["OpcDaNormalTitle"]" Introduction="@Localizer["OpcDaNormalIntro"]" ShowCode="false" Name="Normal">
    <p class="code-label">@Localizer["InjectServiceText"]</p>
    <Pre>[Inject]
[NotNull]
private IOpcDaServer? OpcDaServer { get; set; }</Pre>

    <p class="code-label">@((MarkupString)Localizer["Step1Text"].Value)</p>
    <p>
        <BootstrapInputGroup>
            <BootstrapInputGroupLabel DisplayText="@Localizer["ServerLabel"]"></BootstrapInputGroupLabel>
            <Display @bind-Value="@_serverName"></Display>
            <Button Text="@Localizer["ConnectButtonText"]" OnClick="OnConnect" IsDisabled="OpcDaServer.IsConnected"></Button>
            <Button Text="@Localizer["DisconnectButtonText"]" OnClick="OnDisConnect" IsDisabled="!OpcDaServer.IsConnected"
                    Color="Color.Danger"></Button>
        </BootstrapInputGroup>
    </p>

    <p class="code-label">@((MarkupString)Localizer["Step2Text"].Value)</p>
    <div class="row g-3 mb-3">
        <div class="col-12 col-sm-6">
            <BootstrapInputGroup>
                <BootstrapInputGroupLabel DisplayText="@Localizer["SpeedLabel"]"></BootstrapInputGroupLabel>
                <BootstrapInputGroupLabel DisplayText="@Tag1"></BootstrapInputGroupLabel>
                <Display @bind-Value="@_tagValue1"></Display>
            </BootstrapInputGroup>
        </div>
        <div class="col-12 col-sm-6">
            <BootstrapInputGroup>
                <BootstrapInputGroupLabel DisplayText="@Localizer["FlowLabel"]"></BootstrapInputGroupLabel>
                <BootstrapInputGroupLabel DisplayText="@Tag2"></BootstrapInputGroupLabel>
                <Display @bind-Value="@_tagValue2"></Display>
            </BootstrapInputGroup>
        </div>
        <div class="col-12 col-sm-6">
            <Button OnClick="OnRead" Text="@Localizer["ReadButtonText"]" IsDisabled="!OpcDaServer.IsConnected"></Button>
        </div>
    </div>

    <p class="code-label">@Localizer["Step3Title"]</p>
    <p>@((MarkupString)Localizer["Step3Text"].Value)</p>
    <p class="row g-3">
        <div class="col-12 col-sm-6">
            <BootstrapInputGroup>
                <BootstrapInputGroupLabel DisplayText="@Localizer["SubscriptionNameLabel"]"></BootstrapInputGroupLabel>
                <BootstrapInputGroupLabel DisplayText="Subscription1"></BootstrapInputGroupLabel>
            </BootstrapInputGroup>
        </div>
        <div class="col-12 col-sm-6">
            <BootstrapInputGroup>
                <BootstrapInputGroupLabel DisplayText="@Localizer["UpdateRateLabel"]"></BootstrapInputGroupLabel>
                <BootstrapInputGroupLabel DisplayText="1000"></BootstrapInputGroupLabel>
            </BootstrapInputGroup>
        </div>
        <div class="col-12 col-sm-6">
            <BootstrapInputGroup>
                <BootstrapInputGroupLabel DisplayText="@Localizer["SpeedLabel"]"></BootstrapInputGroupLabel>
                <BootstrapInputGroupLabel DisplayText="@Tag1"></BootstrapInputGroupLabel>
                <Display @bind-Value="@_tagValue3"></Display>
            </BootstrapInputGroup>
        </div>
        <div class="col-12 col-sm-6">
            <BootstrapInputGroup>
                <BootstrapInputGroupLabel DisplayText="@Localizer["FlowLabel"]"></BootstrapInputGroupLabel>
                <BootstrapInputGroupLabel DisplayText="@Tag2"></BootstrapInputGroupLabel>
                <Display @bind-Value="@_tagValue4"></Display>
            </BootstrapInputGroup>
        </div>
        <div class="col-12 col-sm-6">
            <Button OnClick="OnCreateSubscription" Text="@Localizer["SubscribeButtonText"]" IsDisabled="@(!OpcDaServer.IsConnected || _subscribed)"></Button>
            <Button OnClick="OnCancelSubscription" Text="@Localizer["CancelButtonText"]" IsDisabled="!_subscribed"></Button>
        </div>
    </p>

    <p class="code-label">@Localizer["Step4Title"]</p>
    <p>@((MarkupString)Localizer["Step4Text"].Value)</p>
    <p>
        <Button OnClick="OnBrowse" Text="@Localizer["BrowseButtonText"]" IsDisabled="!OpcDaServer.IsConnected"></Button>
    </p>
    <p>
        <TreeView Items="_roots" AutoCheckChildren="true" AutoCheckParent="true" ShowIcon="true"
                  OnExpandNodeAsync="OnExpandNodeAsync"></TreeView>
    </p>
</DemoBlock>
