@page "/player"
@inject IStringLocalizer<Players> Localizer

<h3>@Localizer["PlayersTitle"]</h3>

<h4>@Localizer["PlayersDescription"]</h4>

<PackageTips Name="BootstrapBlazor.Player" />

<Tips class="mt-3">
    <p>@((MarkupString)Localizer["PlayersTips"].Value)</p>
</Tips>

<DemoBlock Title="@Localizer["PlayersNormalTitle"]"
           Introduction="@Localizer["PlayersNormalIntro"]"
           Name="Normal">
    <Player Options="_options"></Player>
</DemoBlock>

<DemoBlock Title="@Localizer["PlayersHlsTitle"]"
           Introduction="@Localizer["PlayersHlsIntro"]"
           Name="Hls">
    <div class="row g-3 mb-3">
        <div class="col-12 col-sm-auto">
            <Dropdown Items="Items" Value="@_url" OnSelectedItemChanged="ChangeUrl" />
        </div>
        <div class="col-12 col-sm-auto">
            <Display @bind-Value="@_url" />
        </div>
    </div>
    <Player Options="_hlsOptions" @ref="_hlsPlayer"></Player>
</DemoBlock>

<DemoBlock Title="@Localizer["PlayersYouTubeTitle"]"
           Introduction="@Localizer["PlayersYouTubeIntro"]"
           Name="youtube">
    <Player Options="_youtubeOptions"></Player>
</DemoBlock>

<DemoBlock Title="@Localizer["PlayersVimeoTitle"]"
           Introduction="@Localizer["PlayersVimeoIntro"]"
           Name="vimeo">
    <Player Options="_vimeoOptions"></Player>
</DemoBlock>

<DemoBlock Title="@Localizer["PlayersAudioTitle"]"
           Introduction="@Localizer["PlayersAudioIntro"]"
           Name="audio">
    <Player Mode="PlayerMode.Audio" Options="_audioOptions"></Player>
</DemoBlock>

<AttributeTable Type="typeof(Player)" />
