@page "/scroll"
@inject IStringLocalizer<Scrolls> Localizer

<h3>@Localizer["ScrollTitle"]</h3>

<h4>@Localizer["ScrollDescription"]</h4>

<p>@((MarkupString)Localizer["ScrollTips"].Value)</p>

<DemoBlock Title="@Localizer["ScrollNormalTitle"]" Introduction="@Localizer["ScrollNormalIntro"]" Name="Normal">
    <div class="scroll-demo border">
        <Scroll @ref="_scroll" Height="200px">
            <div class="m-1">@Localizer["ScrollNormalDescription"]</div>
            <div class="bg-primary" style="height: 100px;"></div>
            <div class="bg-secondary" style="height: 100px;"></div>
            <div class="bg-warning" style="height: 100px;"></div>
            <div class="bg-success" style="height: 100px;"></div>
            <div class="bg-info" style="height: 100px;"></div>
            <div class="m-1">@Localizer["ScrollNormalBottom"]</div>
        </Scroll>
        <Divider/>
        <div class="m-3">
            <Button OnClick="ScrollToBottom" Text="@Localizer["ScrollToBottom"]"></Button>
        </div>
    </div>
</DemoBlock>

<AttributeTable Items="@GetAttributes()" />
