@page "/search"
@inject IStringLocalizer<Searches> Localizer
@inject IStringLocalizer<Foo> LocalizerFoo
@inject IOptionsMonitor<WebsiteOptions> WebsiteOption

<h3>@Localizer["SearchesTitle"]</h3>

<h4>@Localizer["SearchesSubTitle"]</h4>

<DemoBlock Title="@Localizer["SearchesNormalTitle"]"
           Introduction="@Localizer["SearchesNormalIntro"]"
           Name="Normal">
    <section ignore>@((MarkupString)Localizer["SearchesNormalDescription"].Value)</section>
    <Search IsAutoFocus="true"
            PlaceHolder="@Localizer["SearchesPlaceHolder"]"
            OnSearch="@OnSearch"
            IsSelectAllTextOnFocus="true"></Search>
    <ConsoleLogger @ref="Logger"></ConsoleLogger>
</DemoBlock>

<DemoBlock Title="@Localizer["SearchesDisplayButtonTitle"]"
           Introduction="@Localizer["SearchesDisplayButtonIntro"]"
           Name="DisplayButton">
    <Search PlaceHolder="@Localizer["SearchesPlaceHolder"]"
            ShowClearButton="true"
            OnSearch="@OnDisplaySearch"
            OnClear="@OnClear"></Search>
    <ConsoleLogger @ref="DisplayLogger"></ConsoleLogger>
</DemoBlock>

<DemoBlock Title="@Localizer["SearchesItemTemplateTitle"]"
           Introduction="@Localizer["SearchesItemTemplateIntro"]"
           Name="ItemTemplate">
    <Search PlaceHolder="@Localizer["SearchesPlaceHolder"]"
            OnGetDisplayText="OnGetDisplayText"
            OnSearch="@OnSearchFoo">
        <ItemTemplate>
            <div class="search-result">
                <div class="search-result-avatar">
                    <img src="@WebsiteOption.CurrentValue.GetAvatarUrl(context.Id)" alt="avatar" />
                </div>
                <div class="search-result-main">
                    <div class="search-result-name">@context.Name</div>
                    <div class="search-result-address">@context.Address</div>
                </div>
                <div class="search-result-circle">
                    <Circle Value="@context.Count" Color="Color.Info" StrokeWidth="4" Width="60" />
                </div>
            </div>
        </ItemTemplate>
    </Search>
</DemoBlock>

<DemoBlock Title="@Localizer["SearchesKeyboardsTitle"]"
           Introduction="@Localizer["SearchesKeyboardsIntro"]"
           Name="keyboards">
    <Search PlaceHolder="@Localizer["SearchesPlaceHolder"]"
            IsTriggerSearchByInput="false"
            OnSearch="@OnKeyboardSearch"></Search>
    <ConsoleLogger @ref="KeyboardLogger"></ConsoleLogger>
</DemoBlock>

<DemoBlock Title="@Localizer["SearchesValidateFormTitle"]"
           Introduction="@Localizer["SearchesValidateFormIntro"]"
           Name="ValidateForm">
    <ValidateForm Model="@Model">
        <Search @bind-Value="Model.Name" OnSearch="@OnModelSearch"></Search>
    </ValidateForm>
</DemoBlock>

<DemoBlock Title="@Localizer["SearchesShowPrefixIconTitle"]"
           Introduction="@Localizer["SearchesShowPrefixIconIntro"]"
           Name="ShowPrefixIcon">
    <section ignore>@((MarkupString)Localizer["SearchesShowPrefixIconDescription"].Value)</section>
    <div class="row g-3">
        <div class="col-12 sm-6">
            <Search PlaceHolder="@Localizer["SearchesPlaceHolder"]"
                    OnSearch="@OnModelSearch"
                    ShowClearButton="false" ShowSearchButton="false"
                    ShowPrefixIcon="true" PrefixIcon="fa fa-flag"></Search>
        </div>
        <div class="col-12 col-sm-6">
            <Search PlaceHolder="@Localizer["SearchesPlaceHolder"]"
                    OnSearch="@OnModelSearch"
                    ShowClearButton="false" ShowSearchButton="false"
                    ShowPrefixIcon="true">
                <PrefixIconTemplate>
                    <div class="search-custom-prefix">/</div>
                </PrefixIconTemplate>
            </Search>
        </div>
    </div>

</DemoBlock>

<AttributeTable Items="@GetAttributes()" />
