@page "/select-city"
@inject IStringLocalizer<SelectCities> Localizer

<h3>@Localizer["CityTitle"]</h3>

<h4>@Localizer["CityDescription"]</h4>

<PackageTips Name="BootstrapBlazor.Region" />

<DemoBlock Title="@Localizer["CityNormalTitle"]"
           Introduction="@Localizer["CityNormalIntro"]"
           Name="Normal">
    <div class="row g-3 mb-3">
        <div class="col-12 col-sm-6">
            <BootstrapInputGroup>
                <BootstrapInputGroupLabel DisplayText="ShowSearch"></BootstrapInputGroupLabel>
                <Switch @bind-Value="_showSearch"></Switch>
            </BootstrapInputGroup>
        </div>
        <div class="col-12 col-sm-6">
            <BootstrapInputGroup>
                <BootstrapInputGroupLabel DisplayText="AutoClose"></BootstrapInputGroupLabel>
                <Switch @bind-Value="_autoClose"></Switch>
            </BootstrapInputGroup>
        </div>
        <div class="col-12 col-sm-6">
            <BootstrapInputGroup>
                <BootstrapInputGroupLabel DisplayText="IsMultiple"></BootstrapInputGroupLabel>
                <Switch @bind-Value="@_isMultiple"></Switch>
            </BootstrapInputGroup>
        </div>
        <div class="col-12 col-sm-6">
            <BootstrapInputGroup>
                <BootstrapInputGroupLabel DisplayText="IsDisabled"></BootstrapInputGroupLabel>
                <Switch @bind-Value="@_isDisabled"></Switch>
            </BootstrapInputGroup>
        </div>
    </div>
    <SelectCity @bind-Value="@_value" ShowSearch="_showSearch" AutoClose="_autoClose"
                IsMultiple="_isMultiple" IsDisabled="_isDisabled"></SelectCity>
</DemoBlock>
