@page "/smiles-drawer"
@inject IStringLocalizer<SmilesDrawers> Localizer

<h3>@Localizer["SmilesDrawerTitle"]</h3>

<h4>@Localizer["SmilesDrawerDescription"]</h4>

<PackageTips Name="BootstrapBlazor.SmilesDrawer" />

<DemoBlock Title="@Localizer["SmilesDrawerNormalTitle"]"
           Introduction="@Localizer["SmilesDrawerNormalIntro"]"
           Name="Normal">
    <SmilesDrawer Smiles="CC(=O)Oc1ccccc1C(=O)O"></SmilesDrawer>
</DemoBlock>

<DemoBlock Title="@Localizer["SmilesDrawerSizeTitle"]"
           Introduction="@Localizer["SmilesDrawerSizeIntro"]"
           Name="Size">
    <section ignore>
        <Button Text="Update Size" OnClick="OnClickUpdateSize"></Button>
    </section>
    <SmilesDrawer Smiles="CC(=O)Oc1ccccc1C(=O)O" Options="_options"></SmilesDrawer>
</DemoBlock>

<AttributeTable Type="typeof(SmilesDrawer)"></AttributeTable>
