@page "/smile-drawer"
@inject IStringLocalizer<RDKits> Localizer

<h3>@Localizer["RDKitTitle"]</h3>

<h4>@Localizer["RDKitDescription"]</h4>

<PackageTips Name="BootstrapBlazor.SmileDrawer" />

<DemoBlock Title="@Localizer["SmileDrawerNormalTitle"]"
           Introduction="@Localizer["SmileDrawerNormalIntro"]"
           Name="Normal">
    <SmilesDrawer SmilesValue="CC(=O)Oc1ccccc1C(=O)O"></SmilesDrawer>
</DemoBlock>

<DemoBlock Title="@Localizer["SmileDrawerSizeTitle"]"
           Introduction="@Localizer["SmileDrawerSizeIntro"]"
           Name="Size">
    <SmilesDrawer SmilesValue="CC(=O)Oc1ccccc1C(=O)O" Theme="dark" Width="120" Height="120"></SmilesDrawer>
</DemoBlock>
