@page "/univer-sheet"
@inherits WebSiteModuleComponentBase
@attribute [JSModuleAutoLoader("Samples/UniverSheets.razor.js")]

<h3>@Localizer["UniverSheetTitle"]</h3>

<h4>@Localizer["UniverSheetIntro"]</h4>

<PackageTips Name="BootstrapBlazor.UniverSheet" />


<DemoBlock Title="@Localizer["NormalTitle"]"
           Introduction="@Localizer["NormalIntro"]"
           Name="Normal">
    <section ignore>
        <p>@((MarkupString)Localizer["NormalDesc"].Value)</p>
        <Button OnClickWithoutRender="OnPush" Text="@Localizer["PushButtonText"]"></Button>
    </section>
    <div class="bb-sheet-demo">
        <UniverSheet Plugins="Plugins" @ref="_sheet"
                     OnReadyAsync="OnReadyAsync" OnPostDataAsync="OnPostDataAsync"></UniverSheet>
    </div>
</DemoBlock>
