@page "/web-serial"
@inject IStringLocalizer<WebSerials> Localizer

<h3>@Localizer["WebSerialTitle"]</h3>

<h4>@Localizer["WebSerialIntro"]</h4>

<p>@((MarkupString)Localizer["WebSerialDescription"].Value)</p>

<DemoBlock Title="@Localizer["WebSerialNormalTitle"]" Introduction="@Localizer["WebSerialNormalIntro"]" Name="WebSerialNormal">
    <GroupBox Title="串口设置">
        <div class="row form-inline g-3">
            <div class="col-12 col-sm-6">
                <Select Items="_baudRateList" @bind-Value="@_serialOptions.BaudRate" ShowLabel="true" DisplayText="@Localizer["BaudRate"]" />
            </div>
            <div class="col-12 col-sm-6">
                <Select Items="_dataBits" @bind-Value="@_serialOptions.DataBits" ShowLabel="true" DisplayText="@Localizer["DataBits"]" />
            </div>
            <div class="col-12 col-sm-6">
                <Select Items="_stopBits" @bind-Value="@_serialOptions.StopBits" ShowLabel="true" DisplayText="@Localizer["StopBits"]" />
            </div>
            <div class="col-12 col-sm-6">
                <Select @bind-Value="@_serialOptions.ParityType" ShowLabel="true" DisplayText="@Localizer["ParityType"]" />
            </div>
            <div class="col-12 col-sm-6">
                <Select Items="_bufferSizes" @bind-Value="@_serialOptions.BufferSize" ShowLabel="true" DisplayText="@Localizer["BufferSize"]" />
            </div>
            <div class="col-12 col-sm-6">
                <Select @bind-Value="@_serialOptions.FlowControlType" ShowLabel="true" DisplayText="@Localizer["FlowControlType"]" />
            </div>
            <div class="col-12">
                <Button OnClick="GetPort" Text="@Localizer["RequestPortText"]"></Button>
                <Button IsDisabled="CheckOpen" OnClick="OpenPort" Text="@Localizer["OpenPortText"]" class="ms-2"></Button>
                <Button IsDisabled="CheckClose" OnClick="ClosePort" Text="@Localizer["ClosePortText"]" class="ms-2"></Button>
            </div>
            <div class="col-12">
                <Console Items="@_messages" Height="126" IsAutoScroll="true" />
            </div>
            <div class="col-12">
                <Textarea IsDisabled="CheckClose" @bind-Value="@_sendData" ShowLabel="true" DisplayText="@Localizer["WriteDataText"]" rows="3"></Textarea>
            </div>
            <div class="col-12">
                <Checkbox @bind-Value="_appendCRLF" ShowLabel="true" DisplayText="末尾加回车换行"></Checkbox>
                <Checkbox @bind-Value="_isHEX" ShowLabel="true" DisplayText="HEX 发送"></Checkbox>
                <Checkbox @bind-Value="_isLoop" ShowLabel="true" DisplayText="循环发送"></Checkbox>
                <BootstrapInputGroup>
                    <BootstrapInputGroupLabel DisplayText="发送间隔(ms)"></BootstrapInputGroupLabel>
                    <BootstrapInput @bind-Value="_sendInterval"></BootstrapInput>
                </BootstrapInputGroup>
            </div>
            <div class="col-12">
                <Button IsDisabled="CheckClose" OnClick="Write" Text="@Localizer["WriteButtonText"]"></Button>
            </div>
        </div>
    </GroupBox>
</DemoBlock>


<AttributeTable Items="@GetAttributes()" />

<AttributeTable Title="@Localizer["WebSerialOptionsText"]" Items="@GetWebSerialOptionsAttributes()" />

