@page "/win-box"
@inject IStringLocalizer<WinBoxes> Localizer
@inject IStringLocalizer<Foo> LocalizerFoo

<h3>@Localizer["WinBoxTitle"]</h3>
<h4>@Localizer["WinBoxDescription"]</h4>

<PackageTips Name="BootstrapBlazor.WinBox" />

<p><code>WinBox</code> 组件封装的是 <a href="https://nextapps-de.github.io/winbox/?wt.mc_id=DT-MVP-5004174" target="_blank">WinBox.js</a></p>

<DemoBlock Title="@Localizer["WinBoxNormalTitle"]"
           Introduction="@Localizer["WinBoxNormalIntro"]"
           Name="Normal">
    <Button Text="Run" OnClickWithoutRender="OpenWinBox" ></Button>
    <ConsoleLogger @ref="_logger"></ConsoleLogger>
</DemoBlock>

<WinBox></WinBox>

<AttributeTable Items="@GetAttributes()" Title="WinBoxOption" />
