@namespace BootstrapBlazor.Components
@inherits BootstrapModuleComponentBase

<div @attributes="@AdditionalAttributes" class="@ClassString">
    <ul class="bb-flip-clock-item bb-flip-second">
        @foreach (var index in Enumerable.Range(0, 9))
        {
            <li>
                <div class="up">
                    <div class="shadow"></div>
                    <div class="inn">@index</div>
                </div>
                <div class="down">
                    <div class="shadow"></div>
                    <div class="inn">@index</div>
                </div>
            </li>
        }
    </ul>

    <ul class="bb-flip-clock-item bb-flip-second">
        @foreach (var index in Enumerable.Range(0, 9))
        {
            <li>
                <div class="up">
                    <div class="shadow"></div>
                    <div class="inn">@index</div>
                </div>
                <div class="down">
                    <div class="shadow"></div>
                    <div class="inn">@index</div>
                </div>
            </li>
        }
    </ul>

    <ul class="bb-flip-clock-item bb-flip-second">
        @foreach (var index in Enumerable.Range(0, 9))
        {
            <li>
                <div class="up">
                    <div class="shadow"></div>
                    <div class="inn">@index</div>
                </div>
                <div class="down">
                    <div class="shadow"></div>
                    <div class="inn">@index</div>
                </div>
            </li>
        }
    </ul>

    <ul class="bb-flip-clock-item bb-flip-second">
        @foreach (var index in Enumerable.Range(0, 9))
        {
            <li>
                <div class="up">
                    <div class="shadow"></div>
                    <div class="inn">@index</div>
                </div>
                <div class="down">
                    <div class="shadow"></div>
                    <div class="inn">@index</div>
                </div>
            </li>
        }
    </ul>

    <ul class="bb-flip-clock-item bb-flip-second">
        @foreach (var index in Enumerable.Range(0, 9))
        {
            <li>
                <div class="up">
                    <div class="shadow"></div>
                    <div class="inn">@index</div>
                </div>
                <div class="down">
                    <div class="shadow"></div>
                    <div class="inn">@index</div>
                </div>
            </li>
        }
    </ul>

    <ul class="bb-flip-clock-item bb-flip-second">
        @foreach (var index in Enumerable.Range(0, 9))
        {
            <li>
                <div class="up">
                    <div class="shadow"></div>
                    <div class="inn">@index</div>
                </div>
                <div class="down">
                    <div class="shadow"></div>
                    <div class="inn">@index</div>
                </div>
            </li>
        }
    </ul>
</div>
