@page "/cache-list"

<h3>@Localizer["CacheListTitle"]</h3>

<h4>@Localizer["CacheListIntro"]</h4>

<div class="table-cache-list">
    <Table Items="_cacheList" IsBordered="true" IsStriped="true" IsFixedHeader="true" ShowToolbar="true" ShowAddButton="false" ShowEditButton="false" ShowDeleteButton="false">
        <TableColumns>
            <TableTemplateColumn Text="@Localizer["Key"]" TextWrap="true">
                <Template Context="v">
                    @v.Row.ToString()
                </Template>
            </TableTemplateColumn>
            <TableTemplateColumn Text="@Localizer["Action"]" Width="80">
                <Template Context="v">
                    <Button Size="Size.ExtraSmall" Color="Color.Danger" OnClick="() => OnDelete(v.Row)" Icon="fa-solid fa-xmark" Text="@Localizer["Delete"]"></Button>
                </Template>
            </TableTemplateColumn>
        </TableColumns>
        <TableToolbarBeforeTemplate>
            <Button Text="@Localizer["DeleteAll"]" OnClick="DeleteAll"></Button>
        </TableToolbarBeforeTemplate>
    </Table>
</div>
