@page "/host-model"
@inject IOptions<WebsiteOptions> WebsiteOption
@inject IStringLocalizer<HostModel> Localizer

<h3>@Localizer["Title"]</h3>

<p>@Localizer["HostModelsIntro"]</p>

<ul class="ul-demo">
	<li><a href="https://learn.microsoft.com/en-us/aspnet/core/blazor/hosting-models?wt.mc_id=DT-MVP-5004174#blazor-server" target="_blank">Blazor Server</a> <b class="text-danger">@Localizer["Recommended"]</b></li>
	<li><a href="https://learn.microsoft.com/en-us/aspnet/core/blazor/hosting-models?wt.mc_id=DT-MVP-5004174#blazor-webassembly" target="_blank">Blazor WebAssembly</a></li>
	<li><a href="https://learn.microsoft.com/en-us/aspnet/core/blazor/hosting-models?wt.mc_id=DT-MVP-5004174#blazor-hybrid" target="_blank">Blazor Hybrid</a></li>
</ul>

<p><b>@((MarkupString)Localizer["RecommendServer"].Value)</b></p>

<p>@((MarkupString)Localizer["CreateProject"].Value)</p>

<img src="@WebsiteOption.Value.GetAssetUrl("images/blazor-web-app.png")" style="width: 100%; max-width: 780px;" />

<p>@((MarkupString)Localizer["RenderModeIntro"].Value)</p>

<ul class="ul-demo">
	<li>None</li>
	<li>Server <b class="text-danger">@Localizer["Recommended"]</b></li>
	<li>WebAssembly</li>
	<li>Auto</li>
</ul>

<p>@((MarkupString)Localizer["InteractivityLocationIntro"].Value)</p>

<ul class="ul-demo">
	<li>Per page/component</li>
	<li>Global <b class="text-danger">@Localizer["Recommended"]</b></li>
</ul>

<Video Name="hosting" />
