@page "/z-index"

@inject IStringLocalizer<Layout> Localizer

<h3>@Localizer["Heading"]</h3>

<p>@Localizer["Para1"] <code>Bootstrap</code> @Localizer["Para2"] <code>z-index</code> @Localizer["Para3"]：</p>

<Pre>$zindex-dropdown:                   1000;
$zindex-sticky:                     1020;
$zindex-fixed:                      1030;
$zindex-offcanvas-backdrop:         1040;
$zindex-offcanvas:                  1045;
$zindex-modal-backdrop:             1050;
$zindex-modal:                      1055;
$zindex-popover:                    1070;
$zindex-swal:                       1075;
$zindex-tooltip:                    1080;</Pre>

<p>@Localizer["Para4"] <code>Drawer</code> <code>Dialog</code> <code>Swal</code> <code>Message</code> <code>Toast</code> @Localizer["Para5"]：</p>

<Pre>Drawer:                    1050;
Dialog:                    1050;
Swal:                      1075;
Message:                   1090;
Toast:                     1090;</Pre>

<p>@Localizer["Para6"]</p>

<Button Text="@Localizer["Button"]" OnClickWithoutRender="ShowDialog"></Button>
