@page "/theme"
@inject IStringLocalizer<Theme> Localizer

<h3>@Localizer["H1"]</h3>

<h4>@Localizer["H2"]</h4>

<p>@Localizer["P1"]：</p>

<ul class="ul-demo">
    <li>@Localizer["P2"]</li>
    <li>@Localizer["P3"]</li>
    <li>@Localizer["P4"]</li>
    <li>@Localizer["P5"]</li>
</ul>

<h4>@Localizer["P6"]</h4>

<p>@Localizer["P7"] <code>Motronic</code> @Localizer["P8"] <code>head</code> @Localizer["P9"]：</p>

<Pre>&lt;link href="_content/BootstrapBlazor/css/bootstrap.blazor.bundle.min.css" rel="stylesheet"&gt;

// @Localizer["P10"]
&lt;link rel="stylesheet" href="_content/BootstrapBlazor/css/motronic.min.css"&gt;</Pre>
