@namespace BootstrapBlazor.Components
@typeparam TValue
@inherits BootstrapInputNumberBase<TValue>
@attribute [JSModuleNotInherited]

@if (IsShowLabel)
{
    <BootstrapLabel Value="@DisplayText" ShowLabelTooltip="ShowLabelTooltip" for="@Id" />
}
@if (InputGroup == null)
{
    @RenderRange
}
else
{
    <div class="form-control range-group">
        @RenderRange
    </div>
}

@code {
    RenderFragment RenderRange =>
    @<input type="range" id="@Id" @attributes="@AdditionalAttributes" class="@ClassString" disabled="@IsDisabled" @bind-value="CurrentValueAsString" @bind-value:event="@eventName">;
}
