@namespace BootstrapBlazor.Components
@inherits BootstrapModuleComponentBase
@attribute [BootstrapModuleAutoLoader(JSObjectReference = true)]

<div @attributes="@AdditionalAttributes" id="@Id" role="slider" class="@ClassName" aria-valuemin="@Min" aria-valuemax="@Max" aria-valuetext="@Value" aria-disabled="@Disabled" aria-orientation="horizontal" aria-label="slider between @Min and @Max">
    <div class="@SliderClassName">
        <div class="slider-bar" style="@BarStyle"></div>
        <div tabindex="0" class="slider-button-wrapper" style="@ButtonStyle">
            <div class="slider-button" tabindex="0">
            </div>
        </div>
    </div>
</div>
