@namespace BootstrapBlazor.Components
@inherits BootstrapComponentBase

<div @attributes="@AdditionalAttributes" role="slider" class="@ClassName" aria-valuemin="@Min" aria-valuemax="@Max" aria-valuetext="@Value" aria-disabled="@Disabled" aria-orientation="horizontal" aria-label="slider between @Min and @Max" @ref="SliderElement">
    <div class="@SliderClassName">
        <div class="slider-bar" style="@BarStyle"></div>
        <div tabindex="0" class="slider-button-wrapper" style="@ButtonStyle">
            <div class="slider-button" tabindex="0">
            </div>
        </div>
    </div>
</div>
