@namespace BootstrapBlazor.Components
@inherits BootstrapComponentBase

<NavLink @attributes="@AdditionalAttributes" class="@ClassString" href="@GetHrefString" @onclick="@OnClickLink" Match="@GetMatch()" style="@GetStyleClassString">
    <i class="@GetIconString"></i>
    <span class="text">@Item.Text</span>
    @if (Item.Component != null)
    {
        <div class="widget">
            @Item.Component.Render()
        </div>
    }
    <i class="@GetMenuArrowClassString" />
</NavLink>
