@namespace BootstrapBlazor.Components
@inherits BootstrapModuleComponentBase
@attribute [BootstrapModuleAutoLoader]

<nav @attributes="@AdditionalAttributes" id="@Id" class="@ClassString" data-bb-expand="@ExpandString">
    <CascadingValue Value="this" IsFixed="true">
        @if (IsVertical)
        {
            <SideMenu Items="@Items" Id="@SideMenuId" class="@SideMenuClassString" OnClick="@OnClickMenu" />
        }
        else
        {
            <TopMenu Items="@Items" OnClick="@OnClickMenu" />
        }
    </CascadingValue>
</nav>
