@namespace BootstrapBlazor.Components
@inherits BootstrapComponentBase

<NavLink @attributes="@AdditionalAttributes" class="@ClassString" href="@GetHrefString" @onclick="@OnClickLink" Match="@GetMatch()">
    @if (!string.IsNullOrEmpty(Item.Icon))
    {
        <i class="@Item.Icon"></i>
    }
    <span class="nav-link-text">@Item.Text</span>
    @if (Item.Component != null)
    {
        @Item.Component.Render()
    }
</NavLink>
