@namespace BootstrapBlazor.Components
@inherits BootstrapComponentBase

<nav @attributes="@AdditionalAttributes" class="@ClassString" @ref="MenuElemenet">
    <CascadingValue Value="this" IsFixed="true">
        @if (IsVertical)
        {
            <SideMenu Items="@Items" OnClick="@OnClickMenu" />
        }
        else
        {
            <TopMenu Items="@Items" OnClick="@OnClickMenu" />
        }
    </CascadingValue>
</nav>
