@namespace BootstrapBlazor.Components
@inherits MenuBase

<nav @attributes="@AdditionalAttributes" class="@ClassString">
    @if (IsVertical)
    {
        <SideMenu Items="@Items" IsAccordion="@IsAccordion" OnClick="@OnClick" />
    }
    else
    {
        <TopMenu Items="@Items" />
    }
</nav>
