@namespace BootstrapBlazor.Components
@inherits CollapseBase

<div @attributes="@AdditionalAttributes" class="@ClassString" @ref="CollapseElement">
    @foreach (var item in Items)
    {
        if (item.Items.Any())
        {
            <div class="card">
                <div class="card-header">
                    <div class="card-header-wrapper">
                        <MenuLink Item="@item" class="nav-link collapsed collapse" data-toggle="collapse" aria-expanded="false" OnClick="@OnClick" />
                        <i class="fa fa-angle-down"></i>
                    </div>
                </div>
                <div class="collapse-item collapse">
                    <div class="card-body has-leaf">
                        <SideMenu Items="@item.Items" IsAccordion ="@IsAccordion" OnClick="@OnClick"/>
                    </div>
                </div>
            </div>
        }
        else
        {
            <MenuLink Item="@item" class="nav-link" OnClick="@OnClick" />
        }
    }
</div>
