@namespace BootstrapBlazor.Components
@inherits IdComponentBase

<ul @attributes="@AdditionalAttributes" id="@Id" class="@GetMenuClassString">
    @foreach (var item in Items)
    {
        if (item.Items.Any())
        {
            <li>
                <MenuLink Item="@item" ArrowIcon="@ArrowIcon" data-bs-toggle="collapse" data-bs-target="@GetTargetIdString(item)" aria-expanded="@(item.IsCollapsed?"false":"true")" />
                @if (!item.IsDisabled)
                {
                    <SideMenu Item="@item" OnClick="@OnClickItem" Id="@GetTargetId(item)" DropdownIcon="@DropdownIcon" class="collapse" data-bs-parent="@ParentIdString" />
                }
            </li>
        }
        else
        {
            <li @onclick:stopPropagation @onclick="() => OnClickItem(item)">
                <MenuLink Item="@item" ArrowIcon="@ArrowIcon" />
            </li>
        }
    }
</ul>
