@namespace BootstrapBlazor.Components
@inherits IdComponentBase

<ul @attributes="@AdditionalAttributes" class="@GetMenuClassString" id="@Id">
    @foreach (var item in Items)
    {
        if (item.Items.Any())
        {
            <li>
                <MenuLink Item="@item" OnClick="@OnClick" />
                @if (!item.IsDisabled)
                {
                    <SideMenu Items="@item.Items" OnClick="@OnClick" class="d-none" />
                }
            </li>
        }
        else
        {
            <li>
                <MenuLink Item="@item" OnClick="@OnClick" />
            </li>
        }
    }
</ul>
