@namespace BootstrapBlazor.Components
@inherits BootstrapComponentBase

<a @attributes="@AdditionalAttributes" class="@ClassString">
    <i class="@GetIconString"></i>
    <span class="text">@Item?.Text</span>
    <i class="fa fa-angle-down nav-link-right"></i>
    <ul class="nav sub-menu">
        @foreach (var item in (Item?.Items ?? Enumerable.Empty<MenuItem>()))
        {
            <li class="@GetClassString(item)">
                @if (item.Items.Any() && !item.IsDisabled)
                {
                    <SubMenu Item="@item" OnClick="@OnClick" />
                }
                else
                {
                    <MenuLink Item="@item" OnClick="@OnClick" />
                }
            </li>
        }
    </ul>
</a>
