@namespace BootstrapBlazor.Components
@inherits UploadBase<string>

@if (IsShowLabel)
{
    <BootstrapLabel required="@Required" ShowLabelTooltip="ShowLabelTooltip" Value="@DisplayText"/>
}
<div @attributes="@AdditionalAttributes" class="@ClassString" id="@Id">
    <div class="@BodyClassString">
        @if (BodyTemplate != null)
        {
            @BodyTemplate
        }
        else
        {
            <div class="upload-drop-icon">
                @if (IconTemplate != null)
                {
                    @IconTemplate
                }
                else
                {
                    <i class="@UploadIcon"></i>
                }
            </div>
            <div class="upload-drop-text">
                @if (TextTemplate != null)
                {
                    @TextTemplate
                }
                else
                {
                    @(new MarkupString(UploadText))
                }
            </div>
        }
    </div>
    @if (ShowFooter)
    {
        <div class="upload-drop-footer">
            @if (FooterTemplate != null)
            {
                @FooterTemplate
            }
            else
            {
                @(new MarkupString(FooterText))
            }
        </div>
    }
    <InputFile AdditionalAttributes="@GetUploadAdditionalAttributes()" OnChange="OnFileChange"/>
</div>
