@namespace BootstrapBlazor.Components
@typeparam TValue
@inherits SingleUploadBase<TValue>

@if (IsShowLabel)
{
    <BootstrapLabel required="@Required" ShowLabelTooltip="ShowLabelTooltip" Value="@DisplayText" />
}
<div @attributes="@AdditionalAttributes" class="@DropUploadClassString" id="@Id">
    <div class="upload-drag-icon">
        <i class="fa-solid fa-cloud-arrow-up"></i>
    </div>
    <div class="upload-drag-text">
        Drop file here or <em>click to upload</em>
    </div>
    <InputFile AdditionalAttributes="@GetUploadAdditionalAttributes()" OnChange="OnFileChange" />
</div>
