@namespace BootstrapBlazor.Components
@inherits IdComponentBase

<div @attributes="@AdditionalAttributes" class="@ClassString" @ref="UploaderElement">
    @if (Style == UploadStyle.Normal)
    {
        <div class="input-group">
            <input type="text" class="form-control" id="@Id" readonly placeholder="@PlaceHolder" value="@(UploadFiles.FirstOrDefault()?.FileName)" />
            <div class="input-group-append">
                @if (ShowDeleteButton)
                {
                    <Button class="@RemoveButtonClassString" IsDisabled="@IsDeleteButtonDisabled" Icon="@DeleteButtonIcon" Text="@DeleteButtonText" OnClick="@(e => OnFileDelete(UploadFiles.FirstOrDefault()))" />
                }
                <Button class="@BrowserButtonClassString" IsDisabled="@IsDisabled" Icon="@BrowserButtonIcon" Text="@BrowserButtonText" OnClick="@OnFileBrowser" />
            </div>
        </div>
        <InputFile hidden accept="@AllowFileType" OnChange="OnFileChange" />
    }
    else if (Style == UploadStyle.ClickToUpload)
    {
        <Button class="@BrowserButtonClassString" IsDisabled="@IsDisabled" Icon="@BrowserButtonIcon" Text="@BrowserButtonText" />
        <div class="upload-body">
            @foreach (var item in UploadFiles)
            {
                <div class="@GetUploadItemClassString(item)">
                    <i class="@GetFileIcon(item)"></i>
                    <span>@item.FileName</span>
                    <i class="fa fa-check-circle-o text-success"></i>
                    <i class="fa fa-trash-o text-danger" @onclick:stopPropagation @onclick="@(e => OnFileDelete(item))"></i>
                </div>
            }
        </div>
        <InputFile hidden multiple="@MultipleString" accept="@AllowFileType" OnChange="OnFileChange" />
    }
    @*<div class="upload-item">
            <div class="@PreviewClassString" style="@PrevStyleString">
                <div class="upload-prev-body">
                    <i class="fa fa-plus"></i>
                    <i class="fa fa-spinner fa-spin fa-2x"></i>
                    <img src="@ImageUrl" />
                    <span class="upload-file-icon">
                    </span>
                    <span class="upload-item-label bg-success">
                        <i class="fa fa-check"></i>
                    </span>
                </div>
                <div class="upload-item-actions">
                    <span class="upload-item-delete">
                        <i class="fa fa-trash-o"></i>
                    </span>
                </div>
            </div>
        </div>*@
</div>
