@namespace BootstrapBlazor.Components
@inherits IdComponentBase

<div @attributes="@AdditionalAttributes" class="@ClassString" @ref="UploaderElement">
    @if (Style == UploadStyle.Normal)
    {
        <div class="input-group">
            <input type="text" class="form-control" id="@Id" readonly placeholder="@PlaceHolder" value="@(UploadFiles.FirstOrDefault()?.FileName)" />
            <div class="input-group-append">
                @if (ShowDeleteButton)
                {
                    <Button class="@RemoveButtonClassString" IsDisabled="@IsDeleteButtonDisabled" Icon="@DeleteButtonIcon" Text="@DeleteButtonText" OnClick="@(e => OnFileDelete(UploadFiles.FirstOrDefault()))" />
                }
                <Button class="@BrowserButtonClassString" IsDisabled="@IsDisabled" Icon="@BrowserButtonIcon" Text="@BrowserButtonText" OnClick="@OnFileBrowser" />
            </div>
        </div>
    }
    else if (Style == UploadStyle.ClickToUpload)
    {
        <Button class="@BrowserButtonClassString" IsDisabled="@IsDisabled" Icon="@BrowserButtonIcon" Text="@BrowserButtonText" />
        <div class="upload-body is-list">
            @foreach (var item in UploadFiles)
            {
                <div class="@GetUploadItemClassString(item)">
                    <i class="@GetFileIcon(item)"></i>
                    <span class="fn">@item.FileName</span>
                    <i class="fa fa-check-circle-o text-success"></i>
                    <i class="fa fa-trash-o text-danger" @onclick:stopPropagation @onclick="@(e => OnFileDelete(item))"></i>
                </div>
            }
        </div>
    }
    else if (Style == UploadStyle.UploadFolder)
    {
        <Button class="@BrowserButtonClassString" IsDisabled="@IsDisabled" Icon="@BrowserButtonIcon" Text="@BrowserButtonText" />
    }
    else if (Style == UploadStyle.Avatar)
    {
        <div class="upload-body is-avatar">
            @foreach (var item in UploadFiles)
            {
                <div class="@GetUploadItemClassString(item)" style="@PrevStyleString">
                    <Avatar Url="@item.PrevUrl" />
                    <div class="upload-item-actions">
                        <span class="upload-item-delete">
                            <i class="fa fa-trash-o"></i>
                        </span>
                    </div>
                </div>
            }
            <div class="@GetUploadItemClassString()" style="@PrevStyleString">
                <div class="upload-item-actions">
                    <span class="upload-item-plus">
                        <i class="fa fa-plus"></i>
                    </span>
                </div>
            </div>
        </div>
    }
    else if (Style == UploadStyle.Card)
    {
        <div class="upload-body is-card">
            @foreach (var item in UploadFiles)
            {
                <div class="@GetUploadItemClassString(item)">
                    <div class="upload-item-body">
                        <img src="images/uploader/left.png" />
                    </div>
                    <div class="upload-item-size">@item.Size</div>
                    <div class="upload-item-actions">
                        <button class="btn btn-sm btn-outline-secondary">
                            <i class="fa fa-search-plus"></i>
                        </button>
                        <button class="btn btn-sm btn-outline-danger">
                            <i class="fa fa-trash-o"></i>
                        </button>
                    </div>
                    <span class="upload-item-label bg-success"><i class="fa fa-check"></i></span>
                </div>
            }
            <div class="@GetUploadItemClassString()">
                <div class="upload-item-actions btn-browser">
                    <span class="upload-item-plus">
                        <i class="fa fa-plus"></i>
                    </span>
                </div>
            </div>
        </div>
    }
    <InputFile AdditionalAttributes="@GetUploadAdditionalAttributes()" OnChange="OnFileChange" />
</div>
