@namespace BootstrapBlazor.Components
@inherits MultipleFilterBase

@if (IsHeaderRow)
{
    <div class="@FilterRowClassString">
        <DateTimePicker class="is-filter" @bind-Value="_value1" OnValueChanged="_ => OnFilterValueChanged()"></DateTimePicker>
        <FilterButton Items="_items" @bind-Value="_action1" OnSelectedItemChanged="_ => OnFilterValueChanged()" OnClearFilter="OnClearFilter" />
    </div>
}
else
{
    <div class="card-header"><span>@Title</span></div>
    <div class="card-body">
        <Select Items="_items" @bind-Value="_action1"></Select>

        <DateTimePicker class="is-filter" @bind-Value="_value1"></DateTimePicker>

        @if (Count > 0)
        {
            <FilterLogicItem @bind-Logic="Logic"></FilterLogicItem>
            <Select Items="_items" @bind-Value="_action2"></Select>
            <DateTimePicker class="is-filter" @bind-Value="_value2"></DateTimePicker>
        }
    </div>
    <div class="card-footer">
        <div class="d-flex flex-fill">
            @if (ShowMoreButton)
            {
                <Button Color="Color.None" OnClick="OnClickPlus" Icon="@PlusIcon" IsDisabled="@(Count == 1)"></Button>
                <Button Color="Color.None" OnClick="OnClickMinus" Icon="@MinusIcon" IsDisabled="@(Count == 0)"></Button>
            }
        </div>
        <Button Color="Color.None" class="filter-dismiss" OnClick="OnClickReset" Text="@ClearButtonText"></Button>
        <Button Color="Color.None" class="filter-dismiss" OnClick="OnClickConfirm" Text="@FilterButtonText"></Button>
    </div>
}
