@namespace BootstrapBlazor.Components
@inherits MultipleFilterBase

@if (IsHeaderRow)
{
    <Select Items="@Items" @bind-Value="@_value" OnSelectedItemChanged="_ => OnFilterValueChanged()" IsPopover="true"
            ShowLabel="false" SkipValidate="true"></Select>
}
else
{
    <div class="card-header"><span>@Title</span></div>
    <div class="card-body">
        <Select Items="@Items" @bind-Value="@_value" ShowLabel="false" SkipValidate="true"></Select>
        @if (Count > 0)
        {
            <FilterLogicItem @bind-Logic="Logic"></FilterLogicItem>
            <Select Items="@Items" @bind-Value="@_value2" ShowLabel="false" SkipValidate="true"></Select>
        }
    </div>
    <div class="card-footer">
        <div class="d-flex flex-fill">
            @if (ShowMoreButton)
            {
                <Button Color="Color.None" OnClick="OnClickPlus" Icon="@PlusIcon" IsDisabled="@(Count == 1)"></Button>
                <Button Color="Color.None" OnClick="OnClickMinus" Icon="@MinusIcon" IsDisabled="@(Count == 0)"></Button>
            }
        </div>
        <Button Color="Color.None" class="filter-dismiss" OnClick="OnClickReset" Text="@ClearButtonText"></Button>
        <Button Color="Color.None" class="filter-dismiss" OnClick="OnClickConfirm" Text="@FilterButtonText"></Button>
    </div>
}
