@namespace BootstrapBlazor.Components
@inherits BootstrapModuleComponentBase
@attribute [BootstrapModuleAutoLoader("Filters/TableFilter.razor.js")]

@if (IsHeaderRow)
{
    @RenderFilter(Column)
}
else
{
    <span @attributes="@AdditionalAttributes" id="@Id" class="@ClassString" data-bb-dismiss=".filter-dismiss">
        <i class="@FilterClassString" data-bs-placement="bottom" data-bs-auto-close="outside" data-bs-toggle="bb.dropdown" data-bs-custom-class="shadow">
        </i>
        @RenderFilter(Column)
    </span>
}

@code {
    RenderFragment<ITableColumn> RenderFilter => Column =>
    @<CascadingValue Value="this" IsFixed="true">
        @if (Column.FilterTemplate != null)
        {
            @Column.FilterTemplate
        }
        else
        {
            @if (Column.PropertyType.IsEnum())
            {
                <EnumFilter></EnumFilter>
            }
            else if (Column.IsLookup())
            {
                <LookupFilter></LookupFilter>
            }
            else
            {
                var fieldType = Nullable.GetUnderlyingType(Column.PropertyType) ?? Column.PropertyType;
                switch (fieldType.Name)
                {
                    case nameof(Boolean):
                        <BoolFilter></BoolFilter>
                        break;
                    case nameof(DateTime):
                        <DateTimeFilter></DateTimeFilter>
                        break;
                    case nameof(Int16):
                        <NumberFilter TType="Int16?"></NumberFilter>
                        break;
                    case nameof(Int32):
                        <NumberFilter TType="Int32?"></NumberFilter>
                        break;
                    case nameof(Int64):
                        <NumberFilter TType="Int64?"></NumberFilter>
                        break;
                    case nameof(Single):
                        <NumberFilter TType="Single?"></NumberFilter>
                        break;
                    case nameof(Double):
                        <NumberFilter TType="Double?"></NumberFilter>
                        break;
                    case nameof(Decimal):
                        <NumberFilter TType="Decimal?"></NumberFilter>
                        break;
                    case nameof(String):
                        <StringFilter></StringFilter>
                        break;
                    default:
                        <div>@NotSupportedMessage</div>
                        break;
                };
            }
        }
    </CascadingValue>;
}
