@namespace BootstrapBlazor.Components
@inherits BootstrapModuleComponentBase

@if (IsHeaderRow)
{
    @RenderFilter(Column)
}
else
{
    <span @attributes="@AdditionalAttributes" id="@Id" class="@ClassString" data-bb-dismiss=".filter-dismiss">
        <i class="@FilterClassString" data-bs-placement="bottom" data-bs-auto-close="outside" data-bs-toggle="bb.dropdown" data-bs-custom-class="shadow">
        </i>
        <div class="card filter-item">
            <div class="card-header"><span>@Title</span></div>
            <div class="card-body">
                @RenderFilter(Column)
            </div>
            <div class="card-footer">
                <div class="d-flex flex-fill">
                    @if (ShowMoreButton)
                    {
                        <Button Color="Color.None" OnClick="OnClickPlus" Icon="@PlusIcon" IsDisabled="@(Count == 1)"></Button>
                        <Button Color="Color.None" OnClick="OnClickMinus" Icon="@MinusIcon" IsDisabled="@(Count == 0)"></Button>
                    }
                </div>
                <Button Color="Color.None" class="filter-dismiss" OnClick="OnClickReset" Text="@ClearButtonText"></Button>
                <Button Color="Color.None" class="filter-dismiss" OnClick="OnClickConfirm" Text="@FilterButtonText"></Button>
            </div>
        </div>
    </span>
}

@code {
    RenderFragment<ITableColumn> RenderFilter => Column =>
    @<CascadingValue Value="this" IsFixed="true">
        @if (Column.FilterTemplate != null)
        {
            @Column.FilterTemplate
        }
        else if (Column.PropertyType.IsEnum())
        {
            <EnumFilter Type="Column.PropertyType"></EnumFilter>
        }
        else if (Column.Lookup != null)
        {
            <LookupFilter Lookup="Column.Lookup" LookupStringComparison="Column.LookupStringComparison" Type="Column.PropertyType"></LookupFilter>
        }
        else
        {
            var fieldType = Nullable.GetUnderlyingType(Column.PropertyType) ?? Column.PropertyType;
            switch (fieldType.Name)
            {
                case nameof(Boolean):
                    <BoolFilter />
                    break;
                case nameof(DateTime):
                    <DateTimeFilter Count="Count" />
                    break;
                case nameof(Int16):
                    <NumberFilter TType="Int16" Count="@Count" Step="@Step" />
                    break;
                case nameof(Int32):
                    <NumberFilter TType="Int32" Count="@Count" Step="@Step" />
                    break;
                case nameof(Int64):
                    <NumberFilter TType="Int64" Count="@Count" Step="@Step" />
                    break;
                case nameof(Single):
                    <NumberFilter TType="Single" Count="@Count" Step="@Step" />
                    break;
                case nameof(Double):
                    <NumberFilter TType="Double" Count="@Count" Step="@Step" />
                    break;
                case nameof(Decimal):
                    <NumberFilter TType="Decimal" Count="@Count" Step="@Step" />
                    break;
                case nameof(String):
                    <StringFilter Count="Count" />
                    break;
                default:
                    <div>@NotSupportedMessage</div>
                    break;
            };
        }
    </CascadingValue>;
}
