@namespace BootstrapBlazor.Components
@typeparam TItem

@if (IsMultipleSelect)
{
    <tr>
        <td>
            <div class="table-cell">
                <Checkbox TValue="TItem" Value="@Item" State="@RowCheckState(Item)" OnStateChanged="@OnCheck"></Checkbox>
            </div>
        </td>
        @RenderRow(this)
    </tr>
}
else if (ClickToSelect)
{
    <tr class="@ClassString" @onclick="@(e => OnSelectedRow(Item))" @ondblclick="@(e => OnEditRow(Item))">
        @RenderRow(this)
    </tr>
}
else
{
    <tr class="@ClassString" @ondblclick="@(e => OnEditRow(Item))">
        @RenderRow(this)
    </tr>
}

@code {
    RenderFragment<TableRow<TItem>> RenderRow = row =>
    @<RenderTemplate>
        <TableBodyContent TItem="TItem" Item="@row.Item" />
        @if (row.ShowExtendButtons)
        {
            <td>
                <div class="table-cell">
                    <div class="btn-group">
                        @if (row.ShowDefaultButtons)
                        {
                            @if (row.ShowEditButton)
                            {
                                <TableCellButton TItem="TItem" Size="Size.ExtraSmall" Item="@row.Item" OnClickCallback="@row.OnClickEditButton" Icon="fa fa-fw fa-edit" Text="编辑" />
                            }
                            @if (row.ShowDeleteButton)
                            {
                                <TableCellConfirmButton TItem="TItem" Item="@row.Item"
                                                        Placement="Placement.Left" Size="Size.ExtraSmall"
                                                        Color="Color.Danger" Icon="fa fa-fw fa-remove" Text="删除"
                                                        OnClickCallback="@row.OnClickDeleteButton" OnConfirm="@row.OnDelete"
                                                        CloseButtonText="取消" Content="确认要删除选中的所有行吗？"
                                                        ConfirmButtonColor="Color.Danger" ConfirmButtonText="删除" />
                            }
                        }
                        @row.ChildContent
                    </div>
                </div>
            </td>
        }
    </RenderTemplate>;
}