@namespace BootstrapBlazor.Components
@inherits FilterBase

<div>
    <ul class="menu-list">
        <li class="mb-1">
            <Button IsOutline class="w-100">从最小到最大进行排序</Button>
        </li>
        <li class="mb-1">
            <Button IsOutline class="w-100">从最大到最小进行排序</Button>
        </li>
        <li class="mb-1">
            <div>
                <BootstrapInput class="w-100" TValue="string" @bind-Value="@Value" UseInputEvent="true" bind-value:event="oninput" OnValueChanged="OnSearchValueChanged" />
            </div>
        </li>
        <li class="mb-1 ps-3 pt-2 border menu-container">
            <div class="menu-items">
                <div class="item-hover">
                    <Checkbox class="w-100" @bind-Value="@checkAll" ShowAfterLabel DisplayText="全选" OnStateChanged="@OnStateChanged" />
                </div>
                @foreach (var item in FilterItems)
                {
                    <div class="item-hover">
                        <Checkbox class="w-100" @bind-Value="@item.Checked" ShowAfterLabel DisplayText="@item.Value" />
                    </div>
                }
            </div>
        </li>
    </ul>
</div>
