@namespace BootstrapBlazor.Components
@inherits BootstrapComponentBase

<div @attributes="@AdditionalAttributes" class="@ClassString" role="slider" aria-valuemin="1" aria-valuemax="5" tabindex="0" aria-valuenow="@Value">
    @for (int index = 1; index <= Max; index++)
    {
        var i = index;
        <DynamicElement TagName="span" class="@GetItemClassString(i)" OnClick="() => OnClickItem(i)" TriggerClick="!IsDisable">
            @if (ItemTemplate != null)
            {
                @ItemTemplate(i)
            }
            else
            {
                <i class="@GetIcon(i)"></i>
            }
        </DynamicElement>
    }
</div>
