@namespace BootstrapBlazor.Components
@inherits ToggleBase

<div class="@ClassName" data-toggle="toggle" style="@StyleName" @attributes="AdditionalAttributes" @onclick="@OnClick">
    <div class="toggle-group">
        <label class="toggle-on">@OnText</label>
        <label class="toggle-off">@OffText</label>
        <span class="btn btn-handle"></span>
    </div>
</div>
