@namespace BootstrapBlazor.Components
@inherits ToggleBase<bool>

@if (IsShowLabel)
{
    <BootstrapLabel required="@Required" @onclick="@OnClick" ShowLabelTooltip="ShowLabelTooltip" Value="@DisplayText" />
}
<div @attributes="AdditionalAttributes" class="@WrapperClassString">
    <div class="@ClassName" style="@StyleName" @onclick="@OnClick">
        <div class="toggle-group">
            <label class="@ToggleOnClassString">@OnText</label>
            <label class="toggle-off">@OffText</label>
            <span class="btn btn-handle"></span>
        </div>
    </div>
</div>
