@namespace BootstrapBlazor.Components
@inherits BootstrapModuleComponentBase
@attribute [BootstrapModuleAutoLoader(JSObjectReference = true)]

<div @attributes="@AdditionalAttributes" id="@Id" class="captcha card shadow-sm" style="@StyleString">
    <div class="card-header">
        <span class="flex-fill">@HeaderText</span>
        <span class="captcha-refresh" @onclick="@OnClickRefresh">
            <i class="@RefreshIcon"></i>
        </span>
    </div>
    <div class="card-body">
        <div class="captcha-body">
            <div class="captcha-load" style="@FailedStyle" data-load="@LoadText" data-failed="@FailedText">@LoadText</div>
            <canvas class="captcha-body-bg" width="@Width" height="@Height"></canvas>
            <canvas class="captcha-body-bar" width="@Width" height="@Height"></canvas>
        </div>
        <div class="captcha-footer">
            <div class="captcha-bar-mask"></div>
            <div class="captcha-bar">
                <i class="@BarIcon"></i>
            </div>
            <span class="captcha-bar-text" data-text="@BarText">@BarText</span>
        </div>
    </div>
</div>
