@namespace BootstrapBlazor.Components
@inherits TabBase

<div @attributes="@AdditionalAttributes" class="@ClassString" style="@StyleString" @ref="TabElement">
    <div class="tabs-header">
        <div class="tabs-nav-wrap">
            <span class="tabs-nav-prev" @onclick="@ClickPrevTab"><i class="fa fa-angle-left"></i></span>
            <div class="tabs-nav-scroll">
                <div role="tablist" class="tabs-nav">
                    @if (!IsCard && !IsBorderCard)
                    {
                        <div class="tabs-active-bar"></div>
                    }
                    <CascadingValue Value="this" IsFixed="true">
                        @ChildContent
                    </CascadingValue>
                    <RenderTemplate>
                        @if (FirstRender)
                        {
                            if (!Items.Any(t => t.IsActive))
                            {
                                Items.FirstOrDefault()?.SetActive(true);
                            }
                        }
                        @foreach (var item in Items)
                        {
                            <div role="tab" tabindex="-1" class="@GetClassString(item.IsActive)" @onclick="@(e =>OnClickTabItem(item))">
                                @if (!string.IsNullOrEmpty(item.Icon))
                                {
                                    <i class="@GetIconClassString(item.Icon)"></i>
                                }
                                <span class="tabs-item-text">@item.Text</span>
                                @if (ShowClose)
                                {
                                    <span class="tabs-item-close" @onclick:stopPropagation @onclick="@(e => Remove(item))">
                                        <i class="fa fa-fw fa-close"></i>
                                    </span>
                                }
                            </div>
                        }
                    </RenderTemplate>
                </div>
            </div>
            <span class="tabs-nav-next" @onclick="@ClickNextTab"><i class="fa fa-angle-right"></i></span>
        </div>
    </div>
    <div class="tabs-body">
        <RenderTemplate>
            @foreach (var item in Items)
            {
                <div class="@GetContentClassString(item)">
                    @item.ChildContent
                </div>
            }
        </RenderTemplate>
    </div>
</div>
