@namespace BootstrapBlazor.Components
@inherits BootstrapComponentBase

<div @attributes="@AdditionalAttributes" class="@ClassString" style="@StyleString" @ref="TabElement">
    <div class="tabs-header">
        <div class="@WrapClassString">
            @if (ShouldShowExtendButtons())
            {
                <div class="nav-link-bar left" @onclick="ClickPrevTab"><i class="fa fa-chevron-left"></i></div>
            }
            else
            {
                <div class="tabs-nav-prev" @onclick="@ClickPrevTab"><i class="fa fa-angle-left"></i></div>
            }
            <div class="tabs-nav-scroll">
                <div role="tablist" class="tabs-nav">
                    @if (!IsCard && !IsBorderCard)
                    {
                        <div class="tabs-active-bar"></div>
                    }
                    <CascadingValue Value="this" IsFixed="true">
                        @ChildContent
                    </CascadingValue>
                    <RenderTemplate>
                        @if (FirstRender)
                        {
                            if (!Items.Any(t => t.IsActive))
                            {
                                Items.FirstOrDefault()?.SetActive(true);
                            }
                        }
                        @foreach (var item in Items)
                        {
                            <a href="@item.Url" role="tab" tabindex="-1" class="@GetClassString(item.IsActive)" @onclick:preventDefault="@(!ClickTabToNavigation)" @onclick="@(e => OnClickTabItem(item))">
                                @if (!string.IsNullOrEmpty(item.Icon))
                                {
                                    <i class="@GetIconClassString(item.Icon)"></i>
                                }
                                <span class="tabs-item-text">@item.Text</span>
                                @if (ShowClose && item.Closable)
                                {
                                    <span class="tabs-item-close" @onclick:stopPropagation @onclick:preventDefault @onclick="@(e => Remove(item))">
                                        <i class="fa fa-fw fa-close"></i>
                                    </span>
                                }
                            </a>
                        }
                    </RenderTemplate>
                </div>
            </div>
            @if (ShouldShowExtendButtons())
            {
                <div class="nav-link-bar right" @onclick="ClickNextTab"><i class="fa fa-chevron-right"></i></div>
                <div class="dropdown nav-link-bar dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div class="nav-link-close"><i class="fa fa-chevron-down"></i></div>
                </div>
                <div class="dropdown-menu dropdown-menu-right">
                    <div class="dropdown-item" @onclick="CloseCurrentTab"><span>@CloseCurrentTabText</span></div>
                    <div class="dropdown-item" @onclick="CloseOtherTabs"><span>@CloseOtherTabsText</span></div>
                    <div class="dropdown-item" @onclick="CloseAllTabs"><span>@CloseAllTabsText</span></div>
                </div>
            }
            else
            {
                <div class="tabs-nav-next" @onclick="@ClickNextTab"><i class="fa fa-angle-right"></i></div>
            }
        </div>
    </div>
    <div class="tabs-body">
        <RenderTemplate>
            @foreach (var item in Items)
            {
                <div class="@GetContentClassString(item)">
                    @item.ChildContent
                </div>
            }
        </RenderTemplate>
    </div>
</div>
