@namespace BootstrapBlazor.Components
@typeparam TValue
@inherits ValidateBase<TValue>

@if (IsShowLabel)
{
    <BootstrapLabel required="@Required" for="@Id" ShowLabelTooltip="ShowLabelTooltip" Value="@DisplayText" />
}
<CascadingValue Value="this" IsFixed="true">
    <div @attributes="@AdditionalAttributes" id="@Id" class="@ClassString" role="checkbox" tabindex="0" hidefocus="true">
        @foreach (var item in Items)
        {
            <div class="@CheckboxItemClassString">
                <Checkbox TValue="bool" IsButton="IsButton" IsDisabled="GetDisabledState(item)" ShowAfterLabel="true" ShowLabel="false" DisplayText="@item.Text" Value="@item.Active" OnStateChanged="@((state, v) => OnStateChanged(item, v))"></Checkbox>
            </div>
        }
    </div>
</CascadingValue>
