@namespace BootstrapBlazor.Components
@typeparam TValue
@inherits ValidateBase<TValue>

@if (IsShowLabel)
{
    <label class="form-label" required="@Required" @onclick="@OnToggleClick">@DisplayText</label>
}
<div @attributes="AdditionalAttributes" id="@Id" role="checkbox" aria-checked="@StateString" class="@ClassString" @onclick="@OnToggleClick">
    <span class="checkbox-input">
        <span class="@GetInnerClassString()"></span>
    </span>
    @if (ShowAfterLabel && !string.IsNullOrEmpty(DisplayText))
    {
        <span class="checkbox-label">@DisplayText</span>
    }
</div>
