@namespace BootstrapBlazor.Components
@typeparam TItem
@inherits CheckboxBase<TItem>

@if (ShowLabel)
{
    <label class="control-label" for="@Id">@DisplayText</label>
}
<label @attributes="AdditionalAttributes" id="@Id" role="checkbox" aria-checked="@StateString" class="@ClassString" @onclick="@OnToggleClick">
    <span class="checkbox-input">
        <span class="checkbox-inner"></span>
    </span>
    @if (IsShowAfterLabel)
    {
        <span class="checkbox-label">@DisplayText</span>
    }
</label>
