@namespace BootstrapBlazor.Components
@typeparam TModel
@typeparam TValue
@inherits CheckboxListBase<TModel, TValue>

@if (IsShowLabel)
{
    <label class="control-label">@DisplayText</label>
}
<div @attributes="@AdditionalAttributes" id="@Id" class="@ClassString" role="checkbox" tabindex="0" hidefocus="true">
    @foreach (var item in Items)
    {
        <div class="@CheckboxItemClassString">
            <Checkbox TValue="bool" ShowAfterLabel="true" DisplayText="@GetDisplayText(item)" Value="@GetChecked(item)" OnStateChanged="@((state, v) => OnStateChanged(item, v))"></Checkbox>
        </div>
    }
</div>
<CascadingValue Value="this" IsFixed="true">
    @ChildContent
</CascadingValue>
