@namespace BootstrapBlazor.Components
@typeparam TValue
@inherits ValidateBase<TValue>

@if (IsShowLabel)
{
    <BootstrapLabel required="@Required" for="@Id" ShowLabelTooltip="ShowLabelTooltip" Value="@DisplayText" />
}
@if(InputGroup == null)
{
    @RenderCheckbox
}
else
{
    <div class="form-control">
        @RenderCheckbox
    </div>
}

@code {
    RenderFragment RenderCheckbox =>
    @<div @attributes="AdditionalAttributes" class="@ClassString">
        <input type="checkbox" id="@Id" class="@InputClassString" disabled="@Disabled" checked="@CheckedString"
               @onclick="OnToggleClick" @onclick:stopPropagation="StopPropagation" @onclick:preventDefault="false" />
        @if (IsShowAfterLabel)
        {
            @RenderLabel
        }
    </div>;

    RenderFragment RenderLabel =>
    @<label class="form-check-label" for="@Id">
        @if(ShowLabelTooltip is true)
        {
            <Tooltip Title="@DisplayText">
                @DisplayText
            </Tooltip>
        }
        else
        {
            @DisplayText
        }
    </label>;
}
