@namespace BootstrapBlazor.Components
@typeparam TValue
@inherits CheckboxBase<TValue>

@if (IsShowLabel)
{
    <label class="control-label checkbox-label" required="@Required" @onclick="@OnToggleClick">@DisplayText</label>
}
<label @attributes="AdditionalAttributes" id="@Id" role="checkbox" aria-checked="@StateString" class="@ClassString" @onclick="@OnToggleClick">
    <span class="checkbox-input">
        <span class="@InnerClassString"></span>
    </span>
    @if (ShowAfterLabel && !string.IsNullOrEmpty(DisplayText))
    {
        <span class="checkbox-label">@DisplayText</span>
    }
</label>
