@namespace BootstrapBlazor.Components
@typeparam TItem
@inherits CheckboxBase<TItem>

<label @attributes="AdditionalAttributes" id="@Id" role="checkbox" aria-checked="@StateString" class="@ClassName" @onclick="@OnToggleClick">
    <span class="checkbox-input">
        <span class="checkbox-inner"></span>
    </span>
    @if (!string.IsNullOrEmpty(DisplayText))
    {
        <span class="checkbox-label">@DisplayText</span>
    }
</label>
