@inject IStringLocalizer<CollapseColor> Localizer

<Collapse IsAccordion="true">
    <CollapseItems>
        <CollapseItem Text="@Localizer["Consistency"]" TitleColor="Color.Primary">
            <div>@Localizer["ConsistencyItem1"]</div>
            <div>@Localizer["ConsistencyItem2"]</div>
        </CollapseItem>
        <CollapseItem Text="@Localizer["Feedback"]" TitleColor="Color.Info">
            <div>@Localizer["FeedbackItem1"]</div>
            <div>@Localizer["FeedbackItem2"]</div>
        </CollapseItem>
        <CollapseItem Text="@Localizer["Efficiency"]" TitleColor="Color.Success">
            <div>@Localizer["EfficiencyItem1"]</div>
            <div>@Localizer["EfficiencyItem2"]</div>
            <div>@Localizer["EfficiencyItem3"]</div>
        </CollapseItem>
        <CollapseItem Text="@Localizer["Controllability"]" TitleColor="Color.Warning">
            <div>@Localizer["ControllabilityItem1"]</div>
            <div>@Localizer["ControllabilityItem2"]</div>
        </CollapseItem>
    </CollapseItems>
</Collapse>
