@inject IStringLocalizer<CollapseAccordion> Localizer

<Collapse IsAccordion="true">
    <CollapseItems>
        <CollapseItem Text="@Localizer["Consistency"]">
            <div>@Localizer["ConsistencyItem1"]</div>
            <div>@Localizer["ConsistencyItem2"]</div>
        </CollapseItem>
        <CollapseItem Text="@Localizer["Feedback"]">
            <div>@Localizer["FeedbackItem1"]</div>
            <div>@Localizer["FeedbackItem2"]</div>
        </CollapseItem>
        <CollapseItem Text="@Localizer["Efficiency"]">
            <div>@Localizer["EfficiencyItem1"]</div>
            <div>@Localizer["EfficiencyItem2"]</div>
            <div>@Localizer["EfficiencyItem3"]</div>
        </CollapseItem>
        <CollapseItem Text="@Localizer["Controllability"]">
            <div>@Localizer["ControllabilityItem1"]</div>
            <div>@Localizer["ControllabilityItem2"]</div>
        </CollapseItem>
    </CollapseItems>
</Collapse>
