@inject IStringLocalizer<CollapseIcon> Localizer

<Collapse IsAccordion="true">
    <CollapseItems>
        <CollapseItem Text="@Localizer["Consistency"]" Icon="fa-solid fa-people-roof">
            <div>@Localizer["ConsistencyItem1"]</div>
            <div>@Localizer["ConsistencyItem2"]</div>
        </CollapseItem>
        <CollapseItem Text="@Localizer["Feedback"]" Icon="fa-solid fa-users">
            <div>@Localizer["FeedbackItem1"]</div>
            <div>@Localizer["FeedbackItem2"]</div>
        </CollapseItem>
        <CollapseItem Text="@Localizer["Controllability"]" Icon="fa-solid fa-users-gear">
            <div>@Localizer["ControllabilityItem1"]</div>
            <div>@Localizer["ControllabilityItem2"]</div>
        </CollapseItem>
    </CollapseItems>
</Collapse>
