@namespace BootstrapBlazor.Components
@inherits BootstrapModule2ComponentBase

<a @attributes="@AdditionalAttributes" id="@Id" class="@ClassString" data-bb-animation="@AnimationString" data-bb-target="@GetTargetString" data-bb-container="@Container" data-bb-offset="@Offset" href="#">
    @ChildContent
</a>
