@namespace BootstrapBlazor.Components
@inherits BootstrapModule2ComponentBase

<div @attributes="AdditionalAttributes" id="@Id" class="@ClassString" data-bb-title="@TooltipText">
    <span class="archor-text">@Text</span>
    <i class="@IconString"></i>
</div>
