@inject IStringLocalizer<CalendarApp> Localizer

<Calendar ViewMode="CalendarViewMode.Week">
    <tr>
        <td class="none">@Localizer["None"]</td>
        <td rowspan="4"><div class="less ch">@Localizer["Chinese"]</div></td>
        <td>@Localizer["Math"]</td>
        <td>@Localizer["Chinese"]</td>
        <td>@Localizer["Math"]</td>
        <td>@Localizer["English"]</td>
        <td class="none">@Localizer["None"]</td>
    </tr>
    <tr>
        <td class="none">@Localizer["None"]</td>
        <td>@Localizer["Math"]</td>
        <td rowspan="3"><div class="less en">@Localizer["English"]</div></td>
        <td>@Localizer["Math"]</td>
        <td>@Localizer["English"]</td>
        <td class="none">@Localizer["None"]</td>
    </tr>
    <tr>
        <td class="none">@Localizer["None"]</td>
        <td>@Localizer["Math"]</td>
        <td>@Localizer["Math"]</td>
        <td>@Localizer["English"]</td>
        <td class="none">@Localizer["None"]</td>
    </tr>
    <tr>
        <td class="none">@Localizer["None"]</td>
        <td>@Localizer["Math"]</td>
        <td>@Localizer["Math"]</td>
        <td>@Localizer["English"]</td>
        <td class="none">@Localizer["None"]</td>
    </tr>
    <tr>
        <td style="background-color: #f8f9fa;" colspan="7">午休</td>
    </tr>
    <tr>
        <td class="none">@Localizer["None"]</td>
        <td>@Localizer["Math"]</td>
        <td>@Localizer["Chinese"]</td>
        <td>@Localizer["English"]</td>
        <td>@Localizer["Math"]</td>
        <td>@Localizer["English"]</td>
        <td class="none">@Localizer["None"]</td>
    </tr>
    <tr>
        <td class="none">@Localizer["None"]</td>
        <td>@Localizer["Study"]</td>
        <td>@Localizer["Study"]</td>
        <td>@Localizer["Study"]</td>
        <td>@Localizer["Study"]</td>
        <td>@Localizer["Study"]</td>
        <td class="none">@Localizer["None"]</td>
    </tr>
    <tr>
        <td class="none">@Localizer["None"]</td>
        <td>@Localizer["Study"]</td>
        <td>@Localizer["Study"]</td>
        <td>@Localizer["Study"]</td>
        <td>@Localizer["Study"]</td>
        <td>@Localizer["Study"]</td>
        <td class="none">@Localizer["None"]</td>
    </tr>
</Calendar>
