@namespace BootstrapBlazor.Components
@inherits ProgressBase

<div id="@Id" class="progress" style="@ProgressStyle" @attributes="AdditionalAttributes">
    <div class="@ClassName" role="progressbar" style="@StyleName" aria-valuenow="@ValueString" aria-valuemin="0"  aria-valuemax="100">@ValueLabelString</div>
</div>
