@namespace BootstrapBlazor.Components
@inherits BootstrapComponentBase

<span @attributes="@AdditionalAttributes" class="@ClassName">
    @if(IsText) 
    {
        @Text
    }
    else if(IsIcon) 
    {
        <i class="@Icon"></i>
    }
    else 
    {
        <img src="@Url" class="@ImgClassString" @onerror="@OnError" @onload="@OnLoad" />
    }
</span>
