@inject IStringLocalizer<ButtonRound> Localizer

<div class="row g-3">
    <div class="col-6 col-sm-4 col-md-3 col-lg-auto">
        <Button ButtonStyle="ButtonStyle.Round" Color="Color.Primary">@Localizer["PrimaryButton"]</Button>
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-auto">
        <Button ButtonStyle="ButtonStyle.Round" Color="Color.Secondary">@Localizer["SecondaryButton"]</Button>
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-auto">
        <Button ButtonStyle="ButtonStyle.Round" Color="Color.Success">@Localizer["SuccessButton"]</Button>
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-auto">
        <Button ButtonStyle="ButtonStyle.Round" Color="Color.Danger">@Localizer["DangerButton"]</Button>
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-auto">
        <Button ButtonStyle="ButtonStyle.Round" Color="Color.Warning">@Localizer["WarningButton"]</Button>
    </div>
    <div class="col-6 col-sm-4 col-md-3 col-lg-auto">
        <Button ButtonStyle="ButtonStyle.Circle" Icon="fa-fw fa-solid fa-cubes">
        </Button>
    </div>
</div>
