@namespace BootstrapBlazor.Components
@inherits BootstrapComponentBase

<div @attributes="AdditionalAttributes" class="@ClassString" style="@StyleString">
    <span class="@TextClassString" style="@TextStyleString">@Text</span>
</div>
