@inherits TablesBaseQuery
@page "/tables/header"

<h3>Table 表格</h3>

<h4>用于展示多条结构类似的数据，可对数据进行排序、筛选、对比或其他自定义操作。</h4>

<p>
    本组件固定表头做法采用的是 <code>双表头</code> 做法，常见问题时出现列不对齐的问题，根据自己实际情况请自行添加部分样式
    <br />
    固定表头用法请尽可能的设置每列宽度，以避免列宽不对齐的问题
</p>

<Block Title="宽度自适应" Introduction="设置 <code>Height=200</code> 固定表头" CodeFile="table.11.html">
    <p>数据比较多加载后即出现纵向滚动条示例</p>
    <p>请设置个列宽度，允许一列宽度不设置，进行自动填充</p>
    <Table TItem="BindItem" Items="@Items.Take(10)" Height="200" IsBordered="true">
        <TableColumns>
            <TableColumn @bind-Field="@context.DateTime" Width="150" />
            <TableColumn @bind-Field="@context.Name" Width="100" />
            <TableColumn @bind-Field="@context.Address" />
        </TableColumns>
    </Table>
</Block>

<Block Title="宽度固定" Introduction="设置 <code>Height=200</code> 固定表头，当每页显示数据为 <code>10</code> 行时高度超出设置值 <code>200</code> 后，Table 组件出现纵向滚动条" CodeFile="table.12.html">
    <p>
        所有列均设置宽度，当屏幕过小时会自动出现横向滚动条，请自行添加样式
        <pre style="background-color: #e9ecef; padding: 6px; border-radius: 4px;"><code style="color: #e83e8c">.fixed-header-demo .table-fixed-header {
    margin-right: 17px;
    border-right: 1px solid #dee2e6;
}
</code></pre>
    </p>
    <Table TItem="BindItem" IsBordered="true" IsMultipleSelect="true" class="fixed-header-demo"
           PageItemsSource="new int[] { 10, 20 }" IsPagination="true" OnQueryAsync="@OnQueryAsync" Height="200">
        <TableColumns>
            <TableColumn @bind-Field="@context.DateTime" Width="150" />
            <TableColumn @bind-Field="@context.Name" Width="100" />
            <TableColumn @bind-Field="@context.Address" Width="400" />
        </TableColumns>
    </Table>
</Block>
