@inherits BootstrapModuleComponentBase
@attribute [JSModuleAutoLoader("./_content/BootstrapBlazor.DockView/Components/DockViewV2.razor.js", JSObjectReference = true, AutoInvokeInit = false)]

<div @attributes="@AdditionalAttributes" id="@Id" class="@ClassString">
    <CascadingValue Value="_root" IsFixed="true">
        <CascadingValue Value="_components" IsFixed="true">
            @ChildContent
        </CascadingValue>
    </CascadingValue>
    @if (_rendered)
    {
        <template id="@_templateId">
            @foreach (var p in _components)
            {
                <div @key="p" id="@p.Id">
                    @if (p.ShowTitleBar && !string.IsNullOrEmpty(p.TitleBarIcon))
                    {
                        <div class="dv-default-tab-action bb-dock-view-item-title-icon" data-bb-component-id="@p.Id" @onclick="@p.OnTitleBarCallback">
                            <svg viewBox="0 0 1024 1024" width="11" height="11"><path d="M64 161.9h896v49.8H64zM64 488.8h896v49.8H64zM64 812.3h896v49.8H64z"></path></svg>
                        </div>
                    }
                    @if (p.TitleTemplate != null)
                    {
                        <div class="bb-dock-view-item-title" data-bb-component-id="@p.Id">
                            @p.TitleTemplate
                        </div>
                    }
                    @p.ChildContent
                </div>
            }
            <div data-bb-control="close">
                <svg viewBox="0 0 28 28" width="11" height="11" class="dockview-svg"><path d="M2.1 27.3L0 25.2L11.55 13.65L0 2.1L2.1 0L13.65 11.55L25.2 0L27.3 2.1L15.75 13.65L27.3 25.2L25.2 27.3L13.65 15.75L2.1 27.3Z"></path></svg>
            </div>
            <div data-bb-control="lock">
                <svg width="16" height="16" viewBox="0 0 48 48" fill="none"><rect x="6" y="22" width="36" height="22" rx="2" fill="none" stroke="#333" stroke-width="3" stroke-linejoin="round" /><path d="M14 22V14C14 8.47715 18.4772 4 24 4C29.5228 4 34 8.47715 34 14V22" stroke="#333" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" /><path d="M24 30V36" stroke="#333" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" /></svg>
            </div>
            <div data-bb-control="unlock">
                <svg width="16" height="16" viewBox="0 0 48 48" fill="none"><rect x="7" y="22.0476" width="34" height="22" rx="2" fill="none" stroke="#333" stroke-width="3" stroke-linejoin="round" /><path d="M14 22V14.0047C13.9948 8.87022 17.9227 4.56718 23.0859 4.05117C28.249 3.53516 32.9673 6.97408 34 12.0059" stroke="#333" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" /><path d="M24 30V36" stroke="#333" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" /></svg>
            </div>
            <div data-bb-control="full">
                <svg width="16" height="16" viewBox="0 0 48 48" fill="none"><path d="M30 6H42V18" stroke="#333" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" /><path d="M18 6H6V18" stroke="#333" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" /><path d="M30 42H42V30" stroke="#333" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" /><path d="M18 42H6V30" stroke="#333" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" /><path d="M42 6L29 19" stroke="#333" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" /><path d="M19 29L6 42" stroke="#333" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" /></svg>
            </div>
            <div data-bb-control="restore">
                <svg width="16" height="16" viewBox="0 0 48 48" fill="none"><path d="M41 19H29V7" stroke="#333" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" /><path d="M18 6H6V18" stroke="#333" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" /><path d="M30 42H42V30" stroke="#333" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" /><path d="M7 29H19V41" stroke="#333" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" /><path d="M42 6L29 19" stroke="#333" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" /><path d="M19 29L6 42" stroke="#333" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" /></svg>
            </div>
            <div class="float">
                <svg width="16" height="16" viewBox="0 0 48 48" fill="none"><path d="M19 6H9C7.34315 6 6 7.34315 6 9V39C6 40.6569 7.34315 42 9 42H39C40.6569 42 42 40.6569 42 39V29" stroke="#333" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" /><path d="M42 19L38 7L26 11" stroke="#333" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" /><path d="M38 7C33 22 30 25 20 29" stroke="#333" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" /></svg>
            </div>
            <div class="dock">
                <svg width="16" height="16" viewBox="0 0 48 48" fill="none"><path d="M44 4H4V44H44V4Z" fill="none" stroke="#333" stroke-width="3" stroke-linejoin="round" /><path d="M16 4V16H4" stroke="#333" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" /><path d="M36 24V36H24" stroke="#333" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" /><path d="M36 36L24 24" stroke="#333" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" /><path d="M4 6V26" stroke="#333" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" /><path d="M7 4H27" stroke="#333" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" /></svg>
            </div>
        </template>
    }
</div>
