@namespace BootstrapBlazor.Components
@inherits BootstrapComponentBase

<div @attributes="@AdditionalAttributes" @ref="ToastBoxElement" class="@ClassName" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="@AutoHide" data-bs-delay="@DelayString">
    <div class="toast-header">
        <div class="toast-bar me-2">
            <i class="@IconString"></i>
        </div>
        <strong class="me-auto">@Options.Title</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">@MarkupContent</div>
    <div class="@ProgressClass"></div>
</div>
