@namespace BootstrapBlazor.Components
@inherits BootstrapComponentBase
@inject ToastService ToastService

<div @attributes="@AdditionalAttributes" class="@ClassString" style="@StyleString">
    <CascadingValue Value="this" IsFixed="true">
        @foreach (var option in Toasts)
        {
            <ToastBox @key="@option" class="@ToastBoxClassString" Options="@option" />
        }
    </CascadingValue>
</div>
