@namespace BootstrapBlazor.Components
@inherits BootstrapComponentBase

<div @attributes="@AdditionalAttributes" class="@ClassString">
    <CascadingValue Value="this" IsFixed="true">
        @foreach (var option in Toasts)
        {
            <Toast @key="@option" class="@GetToastBoxClassString(option.ClassString)" style="@GetToastBoxStyleString(option.StyleString)" Options="@option" />
        }
    </CascadingValue>
</div>
