@namespace BootstrapBlazor.Components
@inherits BootstrapComponentBase
@inject ToastService ToastService

<div @attributes="@AdditionalAttributes" class="@ClassString" style="@StyleString">
    <CascadingValue Value="this" IsFixed="true">
        @foreach (var toast in Toasts)
        {
            <ToastBox @key="@toast" class="@ToastBoxClassString" Category="@toast.Category" Title="@toast.Title" IsAutoHide="@toast.IsAutoHide" Delay="@toast.Delay" Content="@toast.Content" />
        }
    </CascadingValue>
</div>
