@namespace BootstrapBlazor.Components
@inherits MessageBase

<div class="@ClassString" style="@StyleName" @ref="PopupElement">
    <CascadingValue Value="this" IsFixed="true">
        @foreach (var item in (Placement == Placement.Top ? Messages : Messages.Reverse()))
        {
            <MessageItem @key="item" Icon="@item.Icon" Color="@item.Color" Content="@item.Content" Delay="@item.Delay" ShowBar="@item.ShowBar" ShowDismiss="@item.ShowDismiss" IsAutoHide="@item.IsAutoHide" />
        }
    </CascadingValue>
</div>
