@namespace BootstrapBlazor.Components
@inherits AlertBase

<div @ref="MessageItemElement" @attributes="@AdditionalAttributes" role="alert" class="@ClassName" data-autohide="@IsAutoHide" data-delay="@Delay">
    @if (!string.IsNullOrEmpty(Icon))
    {
        <i class="@Icon"></i>
    }
    <span>@Content</span>
    @if (ShowDismiss)
    {
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" @onclick="@OnClick"></button>
    }
</div>
