@namespace BootstrapBlazor.Components
@inherits BootstrapComponentBase

<div class="@ClassString" style="@StyleName">
    <CascadingValue Value="this" IsFixed="true">
        @foreach (var item in GetMessages())
        {
            <MessageItem @key="item" Icon="@item.Icon" Color="@item.Color" Content="@item.Content" Delay="@item.Delay" ShowBar="@item.ShowBar" ShowDismiss="@item.ShowDismiss" IsAutoHide="@item.IsAutoHide" />
        }
    </CascadingValue>
</div>
