@namespace BootstrapBlazor.Components
@inherits BootstrapModuleComponentBase
@attribute [JSModuleAutoLoader(JSObjectReference = true)]

<div id="@Id" class="@ClassString" style="@StyleName">
    <CascadingValue Value="PushMessageIdAsync" IsFixed="true">
        @foreach (var item in Messages)
        {
            <MessageItem @key="item" Icon="@item.Icon" Color="@item.Color" Content="@item.Content" Delay="@item.Delay" ShowBar="@item.ShowBar" ShowDismiss="@item.ShowDismiss" IsAutoHide="@item.IsAutoHide" OnDismiss="() => OnDismiss(item)" />
        }
    </CascadingValue>
</div>
