@namespace BootstrapBlazor.Components
@inherits AlertBase

<div id="@Id" @attributes="@AdditionalAttributes" role="alert" class="@ClassName" data-bb-autohide="@AutoHideString" data-bb-delay="@Delay">
    @if (!string.IsNullOrEmpty(Icon))
    {
        <i class="@Icon"></i>
    }
    <span>@Content</span>
    @if (ShowDismiss)
    {
        <button type="button" class="btn-close" aria-label="Close" @onclick="@OnClick"></button>
    }
</div>
