@inherits WebSiteModuleComponentBase
@attribute [JSModuleAutoLoader("Layout/NavMenu.razor.js")]

<nav class="navbar navbar-dark d-flex d-md-none px-3" id="@Id">
    <a class="navbar-brand" href="">Bootstrap Blazor</a>
    <button class="navbar-toggler" aria-label="toggle">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>

<nav class="sidebar-content collapse d-md-block">
    <div class="sidebar-switch">
        <Switch @bind-Value="@IsAccordion" ShowLabel="true" DisplayText="@AccordionText" OnValueChanged="@OnValueChanged" />
        <div style="width:1rem;"></div>
        <Switch @bind-Value="@IsExpandAll" IsDisabled="@IsAccordion" ShowLabel="true" DisplayText="@ExpandAllText" />
    </div>
    <div class="scroll">
        <Menu Items="@Menus" IsVertical="true" IsAccordion="@IsAccordion" IsExpandAll="@IsExpandAll" OnClick="@OnClickMenu" />
    </div>
</nav>
