<div class="row g-3">
    <div class="col-12">
        <BootstrapInputGroup>
            <BootstrapInputGroupLabel DisplayText="currentValue" />
            <BootstrapInput @bind-Value="@currentValue" />
        </BootstrapInputGroup>
    </div>
    <div class="col-12">
        <BootstrapInputGroup>
            <BootstrapInputGroupLabel DisplayText="minValue" />
            <BootstrapInput @bind-Value="@minValue" />
        </BootstrapInputGroup>
    </div>
    <div class="col-12">
        <BootstrapInputGroup>
            <BootstrapInputGroupLabel DisplayText="maxValue" />
            <BootstrapInput @bind-Value="@maxValue" />
        </BootstrapInputGroup>
    </div>
    <div class="col-12">
        <Checkbox TValue="bool" @bind-Value="@isDisabled" DisplayText="isDisabled" ShowLabel="true" />
    </div>
    <div class="col-12">
        <Checkbox TValue="bool" @bind-Value="@showValueInput" DisplayText="showValueLabel" ShowLabel="true" />
    </div>
</div>

<RangeSlider @bind-Value="@currentValue"
             Max="@maxValue"
             Min="@minValue"
             IsDisabled="@isDisabled"
             ShowValueInput="@showValueInput"
             OnValueChanged="OnRangeSliderValueChanged" />

<ConsoleLogger @ref="Logger" class="mt-3" />

@code {
    private double maxValue { get; set; } = 500;
    private double minValue { get; set; } = -500;
    private double currentValue { get; set; } = 0;
    private bool isDisabled { get; set; }
    private bool showValueInput { get; set; } = true;

    [NotNull] private ConsoleLogger? Logger { get; set; }

    private Task OnRangeSliderValueChanged(double value)
    {
        Logger.Log($"RangeSlider: Bind Value: {value}");
        return Task.CompletedTask;
    }
}
