@inject IStringLocalizer<Tabs> Localizer

<button type="button" class="btn btn-outline-primary" @onclick="@AddTab">
    <i class="fa-solid fa-circle-plus"></i>
    <span>@Localizer["AddButtonText"]</span>
</button>
<button type="button" class="btn btn-outline-danger" disabled="@((TabSet?.Items.Count() > 4) ? null : "disabled")" @onclick="@RemoveTab">
    <i class="fa-solid fa-circle-minus"></i>
    <span>@Localizer["RmoveButtonText"]</span>
</button>

<Tab ShowExtendButtons="ShowButtons" ShowClose="true" @ref="TabSet" class="mt-3">
    <TabItem Text="@Localizer["TabItem1Text"]" Closable="false">
        <div>@Localizer["TabItem1Content"]</div>
    </TabItem>
    <TabItem Text="@Localizer["TabItem2Text"]">
        <div>@Localizer["TabItem2Content"]</div>
    </TabItem>
    <TabItem Text="@Localizer["TabItem3Text"]">
        <div>@Localizer["TabItem3Content"]</div>
    </TabItem>
    <TabItem Text="@Localizer["TabItem4Text"]">
        <div>@Localizer["TabItem4Content"]</div>
    </TabItem>
    <TabItem Text="@Localizer["TabItem7Text"]">
        <div>@Localizer["TabItem7Content"]</div>
    </TabItem>
</Tab>

@code {
    [NotNull]
    private Tab? TabSet { get; set; }

    private bool ShowButtons { get; set; } = true;

    private void OnClick()
    {
        ShowButtons = !ShowButtons;
    }

    private async Task RemoveTab()
    {
        if (TabSet.Items.Count() > 4)
        {
            var item = TabSet.Items.Last();
            await TabSet.RemoveTab(item);
        }
    }

    private Task AddTab()
    {
        var text = $"Tab {TabSet.Items.Count() + 1}";
        TabSet.AddTab(new Dictionary<string, object?>
        {
            [nameof(TabItem.Text)] = text,
            [nameof(TabItem.IsActive)] = true,
            [nameof(TabItem.ChildContent)] = new RenderFragment(builder =>
            {
                var index = 0;
                builder.OpenElement(index++, "div");
                builder.AddContent(index++, Localizer["BackAddTabText", text]);
                builder.CloseElement();
            })
        });
        return Task.CompletedTask;
    }
}
