@page "/fa-icon"
@inject IStringLocalizer<FAIcons> Localizer

<h3>@Localizer["Title"]</h3>

<h4>@((MarkupString)Localizer["BaseUsageText"].Value)</h4>

<PackageTips Name="BootstrapBlazor.FontAwesome" />

<Tips class="mt-3">
    <div>@Localizer["P1"] <a href="https://www.nuget.org/packages/BootstrapBlazor.FontAwesome/" target="_blank">BootstrapBlazor.FontAwesome</a> @Localizer["P2"]</div>
</Tips>

<Pre>&lt;link href="_content/BootstrapBlazor.FontAwesome/css/font-awesome.min.css" rel="stylesheet"&gt;</Pre>

<div class="mb-2">
    <i class="fa-brands fa-github"></i>
</div>

<Pre>&lt;i class="fa-brands fa-github"&gt;&lt;/i&gt;</Pre>

<div>@((MarkupString)Localizer["Icons"].Value)</div>
