@namespace BootstrapBlazor.Components
@typeparam TItem
@inherits BootstrapComponentBase
@using Microsoft.AspNetCore.Components.Web.Virtualization

<div @attributes="@AdditionalAttributes" class="@ClassString">
    @if (HeaderTemplate != null)
    {
        <div class="listview-header">
            @HeaderTemplate
        </div>
    }
    <div class="@BodyClassString">
        @if (BodyTemplate != null)
        {
            if (GroupName == null)
            {
                if (IsVirtualize)
                {
                    <Virtualize ItemSize="RowHeight" OverscanCount="OverscanCount" Items="Rows.ToList()" ChildContent="RenderBody" />
                }
                else
                {
                    foreach (var item in Rows)
                    {
                        @RenderBody(item)
                    }
                }

            }
            else if (Collapsible)
            {
                <Collapse IsAccordion="IsAccordion" OnCollapseChanged="OnCollapseChanged!">
                    <CollapseItems>
                        @RenderCollapsibleItems(GroupName)
                    </CollapseItems>
                </Collapse>
            }
            else
            {
                if (IsVirtualize)
                {
                    <Virtualize ItemSize="RowHeight" OverscanCount="OverscanCount" Items="GetGroupItems(GroupName).ToList()" ChildContent="RenderGroup" />
                }
                else
                {

                    foreach (var key in GetGroupItems(GroupName))
                    {
                        @RenderGroup(key);
                    }
                }
            }
        }
    </div>
    @if (FooterTemplate != null || Pageable)
    {
        <div class="listview-footer">
            @if (FooterTemplate != null)
            {
                @FooterTemplate
            }
            else if (Pageable)
            {
                <Pagination PageCount="@PageCount" PageIndex="@PageIndex" OnPageLinkClick="@OnPageLinkClick"></Pagination>
            }
        </div>
    }
</div>

@code {
    RenderFragment RenderItem(ListViewCollapsedGroup<TItem> collapseditem) =>
        @<CollapseItem Text="@GetGroupName(collapseditem.Key?.GroupName)" IsCollapsed="IsCollapsed(collapseditem.Index, collapseditem.Key?.GroupName)">
            @if (collapseditem.Key?.Items != null)
            {
                if (IsVirtualize)
                {
                    <Virtualize ItemSize="RowHeight" OverscanCount="OverscanCount" Items="collapseditem.Key.Items.ToList()" ChildContent="RenderBody" />
                }
                else
                {
                    foreach (var item in collapseditem.Key.Items)
                    {
                        @RenderBody(item)
                    }
                }
            }
        </CollapseItem>;

RenderFragment RenderBody(TItem item) =>@<div class="listview-item" @onclick="@(e => OnClick(item))">
    @if (BodyTemplate != null)
    {
        @BodyTemplate(item)
    }
</div>;

RenderFragment RenderGroup(ListViewItem<TItem> key) =>@<div @key="@key.GroupName" class="accordion-item">
    <div class="accordion-header">@key.GroupName</div>
    <div class="accordion-body">
        @if (key.Items != null)
        {
            foreach (var item in key.Items)
            {
                @RenderBody(item)
            }
        }
    </div>
</div>;
}
