@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime
@inject IOptions<WebsiteOptions> WebsiteOption

<header class="navbar navbar-expand navbar-dark flex-column flex-md-row">
    <div class="header-img navbar-brand">
        <img src="_content/BootstrapBlazor.Shared/images/logo.png" />
        <span>Bootstrap Blazor</span>
    </div>
    <div class="navbar-nav-scroll">
        <ul class="navbar-nav bd-navbar-nav flex-row">
            <li class="nav-item">
                <a class="nav-link " href="index">@HomeText</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="introduction">@IntroductionText</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="components">@ComponentsText</a>
            </li>
            <li class="nav-item d-none d-md-flex">
                <a class="nav-link" href="@WebsiteOption.Value.ServerUrl">server</a>
            </li>
            <li class="nav-item d-none d-md-flex">
                <a class="nav-link" href="@WebsiteOption.Value.WasmUrl">wasm</a>
            </li>
            <li class="nav-item d-none d-xl-flex">
                <a class="nav-link" href="http://ccflow.org">@FlowText</a>
            </li>
        </ul>
    </div>
    <CultureChooser class="ml-md-auto" />
    <ul class="navbar-nav ml-3 d-none d-lg-flex">
        <li class="nav-item">
            <a class="nav-link p-2" href="https://github.com/ArgoZhang/BootstrapBlazor"><img src="_content/BootstrapBlazor.Shared/images/git.svg" /></a>
        </li>
        <li class="nav-item">
            <a class="nav-link p-2" href="https://gitee.com/LongbowEnterprise/BootstrapBlazor"><img src="_content/BootstrapBlazor.Shared/images/gitee.svg" /></a>
        </li>
    </ul>
    <a class="btn btn-bd-download d-none d-lg-inline-block mb-3 mb-md-0 ml-md-3" target="_blank" href="https://gitee.com/LongbowEnterprise/BootstrapBlazor/repository/archive/main.zip">@DownloadText</a>
</header>

@Body

<div class="ms-learn">
    <ul class="learn-list">
        <li class="learn-item">
            <a target="_blank" href="https://docs.microsoft.com/zh-cn/learn/modules/build-blazor-webassembly-visual-studio-code/?WT.mc_id=DT-MVP-5004174">生成 Blazor Web 应用</a>
            <a class="btn-close">Close</a>
        </li>
        <li class="learn-item">
            <a target="_blank" href="https://docs.microsoft.com/zh-cn/learn/modules/build-blazor-webassembly-visual-studio-code/2-understand-blazor-webassembly?WT.mc_id=DT-MVP-5004174">什么是 Blazor</a>
        </li>
        <li class="learn-item">
            <a target="_blank" href="https://docs.microsoft.com/zh-cn/learn/modules/build-blazor-webassembly-visual-studio-code/3-exercise-configure-enviromnent?WT.mc_id=DT-MVP-5004174">练习 - 配置开发环境</a>
        </li>
        <li class="learn-item">
            <a target="_blank" href="https://docs.microsoft.com/zh-cn/learn/modules/build-blazor-webassembly-visual-studio-code/4-blazor-components?WT.mc_id=DT-MVP-5004174">Blazor 组件</a>
        </li>
        <li class="learn-item">
            <a target="_blank" href="https://docs.microsoft.com/zh-cn/learn/modules/build-blazor-webassembly-visual-studio-code/5-exercise-add-component?WT.mc_id=DT-MVP-5004174">练习 - 添加组件</a>
        </li>
        <li class="learn-item">
            <a target="_blank" href="https://docs.microsoft.com/zh-cn/learn/modules/build-blazor-webassembly-visual-studio-code/6-csharp-razor-binding?WT.mc_id=DT-MVP-5004174">数据绑定和事件</a>
        </li>
        <li class="learn-item">
            <a target="_blank" href="https://docs.microsoft.com/zh-cn/learn/modules/build-blazor-webassembly-visual-studio-code/7-exercise-razor-binding?WT.mc_id=DT-MVP-5004174">练习 - 数据绑定和事件</a>
        </li>
        <li class="learn-item">
            <a target="_blank" href="https://docs.microsoft.com/zh-cn/learn/modules/build-blazor-webassembly-visual-studio-code/8-summary?WT.mc_id=DT-MVP-5004174">总结</a>
        </li>
    </ul>
    <button type="button" class="btn-learn">微软 MVP 推荐课程</button>
</div>

<ThemeChooser />

@if (Installable)
{
    <div class="install-prompt">
        <div class="row">
            <div class="install-prompt-body col-10 col-offset-2 col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">
                <span class="ml-2">@InstallAppText</span>
                <button class="installButton btn btn-primary" @onclick="@InstallClicked">@InstallText</button>
                <button class="cancelButton btn btn-danger" @onclick="@(() => Installable = false)">@CancelText</button>
            </div>
        </div>
    </div>
}
