@inherits LayoutComponentBase

<Header></Header>

<div>
    @Body

    <LinkButton TooltipPlacement="Placement.Left" ButtonStyle="ButtonStyle.Circle" Color="Color.None" TooltipText="@ChatTooltip" class="btn-fade btn-chat" Url="./ai-chat" Icon="fa-solid fa-comments"></LinkButton>

    <ThemeChooser></ThemeChooser>

    <LinkButton TooltipPlacement="Placement.Left" ButtonStyle="ButtonStyle.Circle" Color="Color.None" TooltipText="@Title" class="btn-fade btn-update" Url="@WebsiteOption.CurrentValue.WikiUrl" Target="_blank" ImageUrl="_content/BootstrapBlazor.Shared/images/log.svg"></LinkButton>
</div>

@if (Installable)
{
    <div class="install-prompt">
        <div class="row">
            <div class="install-prompt-body col-10 col-offset-2 col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">
                <span class="ms-2">@InstallAppText</span>
                <button class="installButton btn btn-primary" @onclick="@InstallClicked">@InstallText</button>
                <button class="cancelButton btn btn-danger" @onclick="@(() => Installable = false)">@CancelText</button>
            </div>
        </div>
    </div>
}
