@inherits LayoutComponentBase
@layout MainLayout

<div class="bb-title"><img class="bb-icon" src="_content/BootstrapBlazor.Shared/images/logo.png" /><span>@Title</span></div>

<div class="text-center shields">
    <ImageViewer Alt="gitee" IsAsync="true" Url="https://gitee.com/LongbowEnterprise/BootstrapBlazor/badge/star.svg?theme=gvp" />
    <span class="d-none d-sm-inline">
        <ImageViewer Alt="version" IsAsync="true" Url="https://img.shields.io/nuget/vpre/BootstrapBlazor.svg?logo=nuget&logoColor=green" />
        <ImageViewer Alt="license" IsAsync="true" Url="https://img.shields.io/github/license/argozhang/bootstrapblazor.svg?logo=git&logoColor=red" />
        <ImageViewer Alt="download" IsAsync="true" Url="https://img.shields.io/nuget/dt/BootstrapBlazor.svg?logo=nuget&logoColor=green" />
        <ImageViewer Alt="repo" IsAsync="true" Url="https://img.shields.io/github/repo-size/ArgoZhang/BootstrapBlazor.svg?logo=github&logoColor=green&label=repo" />
        <ImageViewer Alt="commit" IsAsync="true" Url="https://img.shields.io/github/last-commit/ArgoZhang/BootstrapBlazor/main.svg?logo=github&logoColor=green&label=commit" />
        <ImageViewer Alt="build" IsAsync="true" Url="https://img.shields.io/github/workflow/status/ArgoZhang/BootstrapBlazor/Build%20Project/main?label=main&logo=github&logoColor=green" />
    </span>
    <ImageViewer Alt="coverage" IsAsync="true" Url="https://codecov.io/gh/dotnetcore/BootstrapBlazor/branch/main/graph/badge.svg?token=5SXIWHXZC3" />
</div>

<Tab IsBorderCard="true" @ref="TabSet">
    <TabItem Text="@Example" Icon="fa fa-desktop">
        <CascadingValue Value="@RazorFileName" Name="RazorFileName" IsFixed="true">
            @Body
        </CascadingValue>
    </TabItem>
    <TabItem Text="Razor" Icon="fa fa-html5">
        <Pre @key="@RazorFileName" CodeFile="@RazorFileName"></Pre>
    </TabItem>
    <TabItem Text="C#" Icon="fa fa-file-code-o">
        <Pre @key="@CsharpFileName" CodeFile="@CsharpFileName"></Pre>
    </TabItem>
    <TabItem Text="@Video" Icon="fa fa-file-video-o">
        <Video @key="@VideoFileName" Name="@VideoFileName"></Video>
        <p><b>交流群</b></p>
        <QQGroup />
    </TabItem>
</Tab>
