@inherits LayoutComponentBase
@layout MainLayout
@inject NavigationManager Navigator

<div class="bb-title"><img class="bb-icon" src="_content/BootstrapBlazor.Shared/images/logo.png" /><span>@Title</span></div>

<p class="text-center">
    <img alt="star" src="https://gitee.com/LongbowEnterprise/BootstrapBlazor/badge/star.svg?theme=gvp" style="margin-bottom: -1px;" />
    <img alt="nuget" src="https://img.shields.io/nuget/vpre/BootstrapBlazor.svg?logo=nuget&logoColor=green">
    <span class="d-none d-sm-inline">
        <img alt="master" src="https://img.shields.io/github/workflow/status/ArgoZhang/BootstrapBlazor/Package%20to%20Nuget/master?label=master&logo=github&logoColor=green">
        <img alt="download" src="https://img.shields.io/nuget/dt/BootstrapBlazor.svg?logo=nuget&logoColor=green">
        <img alt="license" src="https://img.shields.io/github/license/argozhang/bootstrapblazor.svg?logo=git&logoColor=red">
        <img alt="repo" src="https://img.shields.io/github/repo-size/ArgoZhang/BootstrapBlazor.svg?logo=github&logoColor=green&label=repo">
        <img alt="commit" src="https://img.shields.io/github/last-commit/ArgoZhang/BootstrapBlazor/master.svg?logo=github&logoColor=green&label=commit">
    </span>
</p>

<Tab IsBorderCard="true" @ref="TabSet">
    <TabItem Text="@Example" Icon="fa fa-desktop">
        @Body
    </TabItem>
    <TabItem Text="Razor" Icon="fa fa-html5">
        <Pre @key="@RazorFileName" CodeFile="@RazorFileName"></Pre>
    </TabItem>
    <TabItem Text="C#" Icon="fa fa-file-code-o">
        <Pre @key="@CsharpFileName" CodeFile="@CsharpFileName"></Pre>
    </TabItem>
    <TabItem Text="@Video" Icon="fa fa-file-video-o">
        <Video @key="@VideoFileName" Name="@VideoFileName"></Video>
    </TabItem>
</Tab>
