@inherits LayoutComponentBase
@layout BaseLayout
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
@inject IOptions<WebsiteOptions> WebsiteOption
@inject IStringLocalizer<HomeLayout> Localizer

@Body

<footer>
    <div class="footer-body">
        <div>
            <h4>@Localizer["FooterH1"]</h4>
            <ul>
                <li>
                    <a class="footer-link" href="@WebsiteOption.Value.BootstrapAdminLink" target="_blank">Bootstrap Admin</a>
                </li>
                <li>
                    <a class="footer-link" href="https://gitee.com/LongbowEnterprise/SliderCaptcha" target="_blank">@Localizer["FooterLi1"]</a>
                </li>
                <li>
                    <a class="footer-link" href="https://gitee.com/LongbowEnterprise/longbow-select" target="_blank">Longbow-select</a>
                </li>
                <li>
                    <a class="footer-link" href="https://gitee.com/LongbowEnterprise/longbow-validate" target="_blank">Longbow-validate</a>
                </li>
            </ul>
        </div>
        <div>
            <h4>@Localizer["FriendLink"]</h4>
            <ul>
                <li>
                    <a class="footer-link" href="https://blog.lindexi.com" target="_blank">@Localizer["FriendLi1"]</a>
                </li>
                <li>
                    <a class="footer-link" href="https://gitee.com/dotnetchina/Furion" target="_blank">Furion</a>
                </li>
                <li>
                    <a class="footer-link" href="http://ccflow.org/?from=blazor" target="_blank">@Localizer["FriendLi2"]</a>
                </li>
                <li>
                    <a class="footer-link" href="https://gitee.com/loogn/bulmarazor" target="_blank">Bulma</a>
                </li>
                <li>
                    <a class="footer-link" href="http://www.pearadmin.com" target="_blank">Pear Admin</a>
                </li>
                <li>
                    <a class="footer-link" href="https://ant-design-blazor.github.io/" target="_blank">Ant design of blazor</a>
                </li>
                <li>
                    <a class="footer-link" href="https://dotnet9.com/" target="_blank">Dotnet9</a>
                </li>
                <li>
                    <a class="footer-link" href="http://www.mrhuo.com/" target="_blank">M&J</a>
                </li>
            </ul>
        </div>
        <div>
            <h4>@Localizer["Community"]</h4>
            <ul>
                <li>
                    <div class="footer-link">@Localizer["CommunityLi2"]</div>
                </li>
                <li>
                    <div class="footer-link">@Localizer["CommunityLi1"]</div>
                </li>
                <li>
                    <div class="footer-link">@Localizer["CommunityLi3"]</div>
                </li>
            </ul>
        </div>
        <div>
            <h4>@Localizer["SpecialAcknowledgements"]</h4>
            <ul>
                <li>
                    <div class="footer-link">上海智通建设发展股份有限公司</div>
                </li>
                <li>
                    <div class="footer-link"><a href="http://ccflow.org/?from=blazor">@Localizer["FriendLi2"]</a></div>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer-info d-none d-sm-flex">
        <div>Powered by .NET @Version on @OS</div>
        <div class="ms-1">BB @BBVersion</div>
        <div class="ms-2">Run @Runtime</div>
        <div class="d-flex flex-fill align-items-center justify-content-center">
            <a class="ms-3 d-none d-md-block" href="@WebsiteOption.Value.BootstrapBlazorLink" target="_blank">@Localizer["Footer"]</a>
            <div class="mx-3 d-none d-md-block">
                <img alt="12377@2x" class="footer-logo me-1" src="_content/BootstrapBlazor.Shared/images/12377@2x.png">
                <a href="https://12377.cn" target="_blank">违法和不良信息举报中心</a>
            </div>
            <div class="me-3">
                <a href="https://beian.miit.gov.cn/" target="_blank">鲁ICP备19015061号</a>
            </div>
        </div>
        <div class="d-flex">
            <img alt="global" class="footer-lang" src="_content/BootstrapBlazor.Shared/images/global.svg" />
            <a @onclick:preventDefault @onclick="@(e => SetLang("zh-CN"))">简 体</a>
            <span class="mx-1">/</span>
            <a @onclick:preventDefault @onclick="@(e => SetLang("en-US"))">English</a>
        </div>
    </div>
</footer>

@code {
    private string Version => Environment.Version.ToString();

    [NotNull]
    private string? OS { get; set; }

    [NotNull]
    private string? BBVersion { get; set; }

    [Inject]
    [NotNull]
    private ICacheManager? Cache { get; set; }

    private string? Runtime { get; set; }

    private string SelectedCulture { get; set; } = CultureInfo.CurrentUICulture.Name;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        if (OperatingSystem.IsBrowser())
        {
            BBVersion = typeof(BootstrapComponentBase).Assembly.GetName().Version?.ToString() ?? "";
        }
        else
        {
            BBVersion = System.Diagnostics.FileVersionInfo.GetVersionInfo(typeof(BootstrapComponentBase).Assembly.Location).ProductVersion ?? "";
        }

        if (System.Runtime.InteropServices.RuntimeInformation.IsOSPlatform(System.Runtime.InteropServices.OSPlatform.Windows))
        {
            OS = "Windows";
        }
        else if (System.Runtime.InteropServices.RuntimeInformation.IsOSPlatform(System.Runtime.InteropServices.OSPlatform.OSX))
        {
            OS = "OSX";
        }
        else if (System.Runtime.InteropServices.RuntimeInformation.IsOSPlatform(System.Runtime.InteropServices.OSPlatform.Linux))
        {
            OS = "Linux";
        }
        else
        {
            OS = "Unknown";
        }

        var ts = DateTimeOffset.Now - Cache.GetStartTime();
        Runtime = ts.ToString("dd\\.hh\\:mm\\:ss");
    }

    private async Task SetLang(string cultureName)
    {
        if (OperatingSystem.IsBrowser())
        {
            if (cultureName != CultureInfo.CurrentCulture.Name)
            {
                await JSRuntime.InvokeVoidAsync(identifier: "$.blazorCulture.set", cultureName);
                var culture = new CultureInfo(cultureName);
                CultureInfo.CurrentCulture = culture;
                CultureInfo.CurrentUICulture = culture;

                NavigationManager.NavigateTo(NavigationManager.Uri, forceLoad: true);
            }
        }
        else
        {
            // 使用 api 方式 适用于 Server-Side 模式
            if (SelectedCulture != cultureName)
            {
                var culture = cultureName;
                var uri = new Uri(NavigationManager.Uri).GetComponents(UriComponents.PathAndQuery, UriFormat.Unescaped);
                var query = $"?culture={Uri.EscapeDataString(culture)}&redirectUri={Uri.EscapeDataString(uri)}";

                // use a path that matches your culture redirect controller from the previous steps
                NavigationManager.NavigateTo("/Culture/SetCulture" + query, forceLoad: true);
            }
        }
    }
}
