@inject NavigationManager Navigator

<div class="navbar navbar-dark d-flex d-md-none px-3">
    <a class="navbar-brand" href="">Bootstrap Blazor</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass">
    <div class="menu-accordion">
        <Switch @bind-Value="@IsAccordion" ShowLabel="true" DisplayText="@AccordionText" />
        <div style="width:1rem;"></div>
        <Switch @bind-Value="@IsExpandAll" IsDisabled="@IsAccordion" ShowLabel="true" DisplayText="@ExpandAllText" />
    </div>
    <Menu Items="@Menus" IsVertical="true" IsAccordion="@IsAccordion" IsExpandAll="@IsExpandAll" OnClick="@OnClickMenu" />
</div>
