@namespace BootstrapBlazor.Components
@inherits Checkbox<SelectedItem>

<label @attributes="AdditionalAttributes" id="@Id" role="checkbox" aria-checked="@StateString" class="@ClassString" @onclick="@OnClickHandler">
    <span class="radio-input">
        <span class="@GetInnerClassString("radio-inner")"></span>
    </span>
    @if (ShowAfterLabel && !string.IsNullOrEmpty(DisplayText))
    {
        <span class="checkbox-label">@DisplayText</span>
    }
</label>
