@namespace BootstrapBlazor.Components
@typeparam TItem
@inherits CheckboxList<TItem>

<div class="@RadioClassString">
    @foreach (var item in Items)
    {
        <Radio Value="@item" DisplayText="@item.Text" IsDisabled="@IsDisabled" OnStateChanged="@OnChanged" />
    }
</div>
