@namespace BootstrapBlazor.Components
@inherits RadioBase<SelectedItem>

<label @attributes="AdditionalAttributes" id="@Id" role="radio" aria-checked="@StateString" class="@ClassString" @onclick="@OnToggleClick">
    <span class="radio-input">
        <span class="radio-inner"></span>
    </span>
    <span class="checkbox-label">@DisplayText</span>
</label>
