@using BootstrapBlazor.Shared.Samples
@inject IStringLocalizer<Transfers> Localizer

<ValidateForm Model="@Model">
    <div class="row g-3">
        <div class="col-12">
            <Transfer Items="@Items5" @bind-Value="@Model.Hobby" />
        </div>
        <div class="col-12">
            <Button ButtonType="ButtonType.Submit">@Localizer["ClientValidationButtonText"]</Button>
        </div>
    </div>
</ValidateForm>
<div class="mt-3">Hobby: @string.Join(",", Model.Hobby)</div>

@code {
    private Foo Model { get; set; } = new();

    [NotNull]
    private IEnumerable<SelectedItem>? Items5 { get; set; }

    /// <summary>
    /// OnInitializedAsync 方法
    /// </summary>
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        // 模拟异步加载数据源
        await Task.Delay(100);

        Items5 = GeneratorItems();
    }
    private IEnumerable<SelectedItem> GeneratorItems() => Enumerable.Range(1, 15).Select(i => new SelectedItem()
    {
        Text = $"{Localizer["Data"]} {i:d2}",
        Value = i.ToString()
    });
}
