@namespace BootstrapBlazor.Components
@inherits BootstrapComponentBase

@foreach (var item in Items)
{
    if (item.HasChildren)
    {
        <li class="nav-item">
            <div class="has-leaf nav-link" data-val="@item.Value" @onclick="@(e => OnClick(item))" @onclick:stopPropagation="true">
                <span>@item.Text</span>
                <i class="fa fa-angle-down nav-link-right"></i>
                <ul class="nav sub-menu">
                    <SubCascader Items="@item.Items" class="dropdown-item" OnClick="@OnClick" />
                </ul>
            </div>
        </li>
    }
    else
    {
        <li class="nav-item">
            <div class="nav-link" data-val="@item.Value" @onclick="@(e => OnClick(item))" @onclick:stopPropagation="true"><span>@item.Text</span></div>
        </li>
    }
}