@namespace BootstrapBlazor.Components
@inherits BootstrapModuleComponentBase
@attribute [JSModuleAutoLoader(JSObjectReference = true)]

<div @attributes="@AdditionalAttributes" id="@Id" class="camera" data-device-id="@DeviceId">
    <div class="row g-3">
        <div class="col-12">
            <video class="camera-header" style="width: @VideoWidthString height: @VideoHeightString"></video>
            <canvas style="display:none"></canvas>
        </div>
        @if (ShowPreview)
        {
            <div class="col-12">
                <div class="camera-header">
                    <img />
                </div>
            </div>
        }
        <div class="col-12">
            <Select Items="@Devices" @bind-Value="@DeviceId" DisplayText="@DeviceLabel" ShowLabel="true" PlaceHolder="@InitDevicesString" />
        </div>
        <div class="col-12">
            <RadioList Items="@Cameras" @bind-Value="@ActiveCamera" />
        </div>
        <div class="col-12">
            <div class="btn-group">
                <Button Text="@PlayText" Color="Color.Success" Icon="@PlayIcon" IsDisabled="@IsDisabled" data-method="play" data-camera="@ActiveCamera?.Value" />
                <Button Text="@StopText" Color="Color.Danger" Icon="@StopIcon" IsDisabled="@IsDisabled" data-method="stop" />
                <Button Text="@PhotoText" Icon="@PhotoIcon" IsDisabled="@CaptureDisabled" data-method="capture" />
            </div>
            <a class="d-none download"></a>
        </div>
    </div>
</div>
