@namespace BootstrapBlazor.Components
@inherits BootstrapModuleComponentBase
@attribute [BootstrapModuleAutoLoader(JSObjectReference = true)]

<div @attributes="@AdditionalAttributes" id="@Id" class="camera" data-device-id="@DeviceId" data-auto-start="@_autoStartString" data-width="@_videoWidthString" data-height="@_videoHeightString">
    <video class="camera-header" muted>
        Video stream not available.
    </video>
    <canvas></canvas>
</div>
