@namespace BootstrapBlazor.Components
@inherits BootstrapModuleComponentBase
@attribute [BootstrapModuleAutoLoader(JSObjectReference = true)]

<div @attributes="@AdditionalAttributes" id="@Id" class="camera" data-device-id="@DeviceId" data-auto-start="@AutoStartString" data-video-width="@VideoWidthString" data-video-height="@VideoHeightString" data-capture-jpeg="@CaptureJpegString" data-capture-quality="@QualityString">
    <video class="camera-header" muted playsinline autoplay style="height: auto; width: auto;"></video>
    <canvas></canvas>
</div>
