@page "/table/dynamic"
@inject IStringLocalizer<NavMenu> NavMenuLocalizer
@inject IStringLocalizer<TablesDynamic> Localizer
@inject IStringLocalizer<Foo> FooLocalizer

<h3>@Localizer["TablesDynamicTitle"] - @NavMenuLocalizer["TableDynamic"]</h3>

<h4>@Localizer["TablesDynamicDescription"]</h4>

<p class="code-label">@Localizer["TablesDynamicNoteTitle"]</p>
<p>@((MarkupString)Localizer["TablesDynamicNoteP1"].Value)</p>
<p>@((MarkupString)Localizer["TablesDynamicNoteP2"].Value)</p>
<p>@((MarkupString)Localizer["TablesDynamicNoteP3"].Value)</p>
<Pre>private void CreatePageDataContext()
{
    _dataTableDynamicContext4 = new DataTableDynamicContext(_pageDataTable, (context, col) =>
    {
        var propertyName = col.GetFieldName();
    })
    {
        UseCache = false
    };
}

private void UpdatePageDataContext()
{
    var table = _dataTableDynamicContext4!.DataTable;
    table.Rows.Clear();

    foreach (var f in _pageData.Skip((_pageIndex - 1) * _pageItems).Take(_pageItems).ToList())
    {
        table.Rows.Add(f.Id, f.DateTime, f.Name, f.Count);
    }

    table.AcceptChanges();
}</Pre>

<DemoBlock Title="@Localizer["TablesDynamicDataTableTitle"]"
           Introduction="@Localizer["TablesDynamicDataTableIntro"]"
           Name="DataTable">
    <Table TItem="DynamicObject" DynamicContext="_dataTableDynamicContext1" IsFixedHeader="true" Height="300"></Table>
</DemoBlock>

<DemoBlock Title="@Localizer["TablesDynamicEditTitle"]"
           Introduction="@Localizer["TablesDynamicEditIntro"]"
           Name="Edit">
    <section ignore>@((MarkupString)Localizer["TablesDynamicEditDescription"].Value)</section>
    <Table TItem="DynamicObject" DynamicContext="_dataTableDynamicContext2" ModelEqualityComparer="ModelEqualityComparer"
           IsMultipleSelect="true" IsBordered="true" IsStriped="true" @bind-SelectedRows="_selectedItems" IsKeepSelectedRowAfterAdd="true"
           ShowToolbar="true" ShowExtendButtons="true"></Table>
    <div class="mt-3">
        @foreach (var item in _selectedItems)
        {
            <div>@item.GetValue(nameof(Foo.Name))</div>
        }
    </div>
</DemoBlock>

<DemoBlock Title="@Localizer["TablesDynamicDynamicColTitle"]"
           Introduction="@Localizer["TablesDynamicDynamicColIntro"]"
           Name="DynamicCol">
    <Table TItem="DynamicObject" DynamicContext="_dataTableDynamicContext3" ModelEqualityComparer="ModelEqualityComparer"
           IsMultipleSelect="true" IsBordered="true" IsStriped="true"
           ShowToolbar="true" ShowExtendButtons="true">
        <TableToolbarTemplate>
            <TableToolbarButton Color="Color.Info" Icon="fa-fw fa-solid fa-circle-plus" Text="@_buttonAddColumnText"
                                OnClick="@OnAddColumn">
            </TableToolbarButton>
            <TableToolbarButton Color="Color.Secondary" Icon="fa-fw fa-solid fa-circle-minus" Text="@_buttonRemoveColumnText"
                                OnClick="@OnRemoveColumn">
            </TableToolbarButton>
        </TableToolbarTemplate>
    </Table>
</DemoBlock>

<DemoBlock Title="@Localizer["TablesDynamicPageTitle"]"
           Introduction="@Localizer["TablesDynamicPageIntro"]"
           Name="Pagination">
    <Table TItem="DynamicObject" DynamicContext="_dataTableDynamicContext4"></Table>
    <Pagination PageCount="@_pageCount" PageIndex="@_pageIndex" OnPageLinkClick="@OnPageLinkClick" class="mt-3"></Pagination>
</DemoBlock>
