@page "/table/lookup"
@inject IStringLocalizer<Foo> LocalizerFoo
@inject IStringLocalizer<TablesLookup> Localizer

<h3>@Localizer["TablesLookupTitle"]</h3>

<h4>@((MarkupString)Localizer["TablesLookupDescription"].Value)</h4>

<DemoBlock Title="@Localizer["TableLookupNormalTitle"]"
           Introduction="@Localizer["TableLookupNormalIntro"]"
           Name="Lookup">
    <p>@((MarkupString)Localizer["TableLookupNormalTips2"].Value)</p>
    <p>@((MarkupString)Localizer["TableLookupNormalTips3"].Value)</p>
    @if (Items != null)
    {
        <Table TItem="Foo" Items="@Items.Take(3)">
            <TableColumns>
                <TableColumn @bind-Field="@context.DateTime" Width="180" />
                <TableColumn @bind-Field="@context.Name" />
                <TableColumn @bind-Field="@context.Complete" LookupServiceKey="Foo.Complete" />
            </TableColumns>
        </Table>
    }
</DemoBlock>
