<div>
    <Row ItemsPerRow="ItemsPerRow.Two">
        <Dropzone TItem="string" Items="@StrList1" Accepts="@((s, s1) => s == "10")" OnItemDropRejected="@OnItemDropRejected" OnItemDrop="@OnItemDrop" OnReplacedItemDrop="@OnReplacedItemDrop">
            <Card IsShadow="true">
                <BodyTemplate>
                    @context
                </BodyTemplate>
            </Card>
        </Dropzone>
        <Dropzone TItem="string" Items="@StrList2" MaxItems="6" OnItemDropRejectedByMaxItemLimit="@OnItemDropRejectedByMaxItemLimit" OnItemDrop="@OnItemDrop" OnReplacedItemDrop="@OnReplacedItemDrop">
            <Card IsShadow="true">
                <BodyTemplate>
                    @context
                </BodyTemplate>
            </Card>
        </Dropzone>
    </Row>
    <Logger @ref="Logger" class="mt-3" />
</div>

@code {
    [NotNull]
    private Logger? Logger{ get; set; }

    [NotNull]
    private List<string>? StrList1 { get; set; }

    [NotNull]
    private List<string>? StrList2 { get; set; }

    /// <summary>
    /// OnInitialized
    /// </summary>
    protected override void OnInitialized()
    {
        base.OnInitialized();
        StrList1 = new List<string>()
        {
            "1",
            "2",
            "3",
            "4",
            "5"
        };
        StrList2 = new List<string>()
        {
            "6",
            "7",
            "8",
            "9",
            "10"
        };
    }

    /// <summary>
    /// OnItemDropRejectedByMaxItemLimit
    /// </summary>
    /// <param name="item"></param>
    private void OnItemDropRejectedByMaxItemLimit(string item)
    {
        Logger.Log($"{item}由于超过最大数量限制被禁止");
    }

    /// <summary>
    /// OnItemDropRejected
    /// </summary>
    /// <param name="item"></param>
    private void OnItemDropRejected(string item)
    {
        Logger.Log($"{item}被拒绝");
    }

    /// <summary>
    /// OnReplacedItemDrop
    /// </summary>
    /// <param name="item"></param>
    private void OnReplacedItemDrop(string item)
    {
        Logger.Log($"新元素放在{item}下");
    }

    /// <summary>
    /// OnItemDrop
    /// </summary>
    /// <param name="item"></param>
    private void OnItemDrop(string item)
    {
        Logger.Log($"{item}被放下");
    }
}
