@namespace BootstrapBlazor.Components
@inherits BootstrapComponentBase

<div class="@ClassString" data-bs-target="@SourceId">
    @if (!string.IsNullOrEmpty(Title))
    {
        <h3 class="popover-header">@Title</h3>
    }
    <div class="popover-body">
        <p class="popover-confirm-body">
            <i class="@IconClass"></i>
            <span>@Content</span>
        </p>
        <div class="popover-confirm-buttons">
            <button data-bb-dismiss class="@CloseButtonClass" @onclick="@OnCloseClick">
                <span>@CloseButtonText</span>
            </button>
            <button data-bb-dismiss class="@ConfirmButtonClass" @onclick="@OnConfirmClick">
                <span>@ConfirmButtonText</span>
            </button>
        </div>
    </div>
</div>
