@namespace BootstrapBlazor.Components
@inherits BootstrapComponentBase

<div class="@ClassName" aria-hidden="false" tabindex="0" data-bs-target="@SourceId">
    <h3 class="popover-header">@Title</h3>
    <div class="popover-body">
        <p class="popover-confirm-body">
            <i class="@IconClass"></i>
            <span>@Content</span>
        </p>
        <div class="popover-confirm-buttons">
            <button data-dismiss="confirm" class="@CloseButtonClass" @onclick="@OnCloseClick">
                <span>@CloseButtonText</span>
            </button>
            <button class="@ConfirmButtonClass" @onclick="@OnConfirmClick">
                <span>@ConfirmButtonText</span>
            </button>
        </div>
    </div>
</div>
