@namespace BootstrapBlazor.Components
@inherits Tooltip
@attribute [BootstrapModuleAutoLoader]

<span @attributes="@AdditionalAttributes" class="@ClassString" tabindex="0" id="@Id"
      data-bs-toggle="popover" data-bs-original-title="@Title"
      data-bs-selector="@Selector" data-bs-placement="@PlacementString"
      data-bs-custom-class="@CustomClassString"
      data-bs-trigger="@Trigger" data-bs-delay="@Delay"
      data-bs-offset="@Offset" data-bs-fallbackPlacements="@FallbackPlacementsString"
      data-bs-html="@HtmlString" data-bs-sanitize="@SanitizeString">
    <CascadingValue Value="this" IsFixed="true">
        @ChildContent
        @if (Template != null)
        {
            <template>
                @Template
            </template>
        }
    </CascadingValue>
</span>
