@page "/bluetoothbatterylevels"
@namespace BootstrapBlazor.Shared.Samples
@inject IStringLocalizer<Bluetooths> Localizer

<h4>@Localizer["Title3"]</h4>

<DemoBlock Title="@Localizer["BaseUsageText"]" Introduction="@Localizer["BaseUsageIntro2"]" Name="Nomal">
    <button class="btn btn-outline-primary" @onclick="GetBatteryLevel ">@Localizer["GetBatteryLevelButtonText"]</button>
    <BatteryLevel @ref="batteryLevel" OnUpdateValue="OnUpdateValue" OnUpdateStatus="OnUpdateStatus" OnUpdateError="OnError" />
    <br />
    <progress max="100" value="@value"> @value % </progress>
    <pre>@message</pre>
    <pre style="color:green">@statusmessage</pre>
    <pre style="color:red">@errmessage</pre>

</DemoBlock>
