@namespace BootstrapBlazor.Components
@inherits ButtonBase

<a @attributes="@AdditionalAttributes" target="_blank" href="@PreviewUrl" class="@ClassName" disabled="@Disabled" role="button" aria-disabled="@Disabled" tabindex="@Tab">
    @if (!string.IsNullOrEmpty(ButtonIcon))
    {
        <i class="@ButtonIcon"></i>
    }
    @if (!string.IsNullOrEmpty(Text))
    {
        <span>@Text</span>
    }
    <CascadingValue Value="this" IsFixed="true">
        @ChildContent
    </CascadingValue>
</a>
