@namespace BootstrapBlazor.Components
@inherits ButtonBase
@attribute [BootstrapModuleAutoLoader("Print/PrintButton.razor.js")]

<a @attributes="@AdditionalAttributes" id="@Id" href="@PreviewUrl" class="@ClassName" disabled="@Disabled" role="button" aria-disabled="@DisabledString" tabindex="@Tab">
    @if (!string.IsNullOrEmpty(Icon))
    {
        <i class="@Icon"></i>
    }
    @if (!string.IsNullOrEmpty(Text))
    {
        <span>@Text</span>
    }
    <CascadingValue Value="this" IsFixed="true">
        @ChildContent
    </CascadingValue>
</a>
