@namespace BootstrapBlazor.Components
@inherits DateTimePickerBase

@if (IsShowLabel)
{
    <label class="control-label">@DisplayText</label>
}
<div @attributes="@AdditionalAttributes" class="datetime-picker" @ref="Picker" data-placement="@PlacementString">
    <div class="datetime-picker-bar">
        <input readonly="readonly" class="@ClassName" @bind="@CurrentValueAsString" placeholder="@PlaceholderString" />
        <span class="datetime-picker-input-icon">
            <i class="fa fa-calendar"></i>
        </span>
    </div>
    <DatePickerBody @bind-Value="@ComponentValue" AllowNull="@AllowNull"
                    OnConfirm="@OnConfirm" OnClear="@OnClear"
                    ViewModel="@ViewModel" ShowFooter="@ShowFooter">
    </DatePickerBody>
</div>
