@namespace BootstrapBlazor.Components
@inherits BootstrapComponentBase

<span @attributes="@AdditionalAttributes" class="@ClassString" @onclick="e => OnClick(Value)">
    @if(ShowLunar)
    {
        <span>@Text</span>
        <span class="bb-picker-body-lunar-text">@GetLunarText(Value)</span>
    }
    else if(Template == null)
    {
        @Text
    }
    else
    {
        @Template(Value)
    }
</span>
