@namespace BootstrapBlazor.Components
@typeparam TValue
@inherits DateTimePickerBase<TValue>

@if (IsShowLabel)
{
    <label class="control-label">@DisplayText</label>
}
<div @attributes="@AdditionalAttributes" class="datetime-picker" @ref="Picker" data-placement="@PlacementString">
    <div class="datetime-picker-bar">
        <input readonly="readonly" class="@ClassName" @bind="@CurrentValueAsString" placeholder="@PlaceholderString" disabled="@DisabledString" />
        <span class="@DateTimePickerIconClassString">
            <i class="fa fa-calendar"></i>
        </span>
    </div>
    <DatePickerBody @bind-Value="@ComponentValue" AllowNull="@AllowNull"
                    OnConfirm="@OnConfirm" OnClear="@OnClear"
                    ViewModel="@ViewModel">
    </DatePickerBody>
</div>
