@namespace BootstrapBlazor.Components
@inherits BootstrapModuleComponentBase
@attribute [BootstrapModuleAutoLoader("DateTimePicker/TimePickerPanel.razor.js", JSObjectReference = true, AutoInvokeDispose = false)]

<div @attributes="AdditionalAttributes" class="@ClassString" id="@Id" data-bb-mode="@Mode">
    <div class="bb-time-header">
        <span class="@HourHeaderClass" @onclick="() => SetMode(TimeMode.Hour)">@(Value.Hours)</span>
        <span>:</span>
        <span class="@MinusHeaderClass" @onclick="() => SetMode(TimeMode.Minute)">@(Value.Minutes)</span>
        <span>:</span>
        <span class="@SecondHeaderClass" @onclick="() => SetMode(TimeMode.Second)">@(Value.Seconds)</span>
        <span class="part am-pm" @onclick="@(() => SwitchToAM(!IsAM))">@am_pm</span>
    </div>
    <div class="bb-time-body">
        <div class="@SecondClass">
            @for (var index = 0; index < 60; index = index + 5)
            {
                <div><span>@index</span></div>
            }
            @RenderClockPoint
        </div>
        <div class="@MinusClass">
            @for (var index = 0; index < 60; index = index + 5)
            {
                <div><span>@index</span></div>
            }
            @RenderClockPoint
        </div>
        <div class="@HourClass">
            <div><span>12</span></div>
            @for (var index = 1; index < 12; index++)
            {
                <div><span>@index</span></div>
            }
            @RenderClockPoint
        </div>
    </div>
    <div class="bb-time-footer">
        <div class="@am_class" @onclick="@(() => SwitchToAM(true))">@Localizer["AMText"]</div>
        <div class="@pm_class" @onclick="@(() => SwitchToAM(false))">@Localizer["PMText"]</div>
    </div>
</div>

@code {
    RenderFragment RenderClockPoint =>
    @<span class="bb-clock-point">
        <span class="bb-clock-point-bar"></span>
        <span class="bb-clock-point-star"></span>
    </span>;
}
