@namespace BootstrapBlazor.Components
@inherits BootstrapModuleComponentBase
@attribute [BootstrapModuleAutoLoader("DateTimePicker/TimePickerPanel.razor.js", JSObjectReference = true, AutoInvokeDispose = false)]

<div @attributes="AdditionalAttributes" class="@ClassString" id="@Id">
    <div class="bb-time-header">
        <span class="@HourClass" @onclick="@(() => Hms = TimeMode.Hour)">@(Value.Hours)</span>
        <span>:</span>
        <span class="@MinClass" @onclick="@(() => Hms = TimeMode.Min)">@(Value.Minutes)</span>
        <span>:</span>
        <span class="@SecClass" @onclick="@(() => Hms = TimeMode.Sec)">@(Value.Seconds)</span>
        <span class="part am-pm" @onclick="@(() => SwitchToAM(!IsAM))">@am_pm</span>
    </div>
    <div class="bb-time-body" data-bb-hms="@Hms">
        <div class="@SecFaceClass">
            @for (var index = 0; index < 60; index = index + 5)
            {
                <span>@index</span>
            }
            @RenderClockPoint
        </div>
        <div class="@MinFaceClass">
            @for (var index = 0; index < 60; index = index + 5)
            {
                <span>@index</span>
            }
            @RenderClockPoint
        </div>
        <div class="@HourFaceClass">
            <div><span>12</span></div>
            @for (var index = 1; index < 12; index++)
            {
                <div><span>@index</span></div>
            }
            @RenderClockPoint
        </div>
    </div>
    <div class="bb-time-footer">
        <div class="@am_class" @onclick="@(() => SwitchToAM(true))">@Localizer["AMText"]</div>
        <div class="@pm_class" @onclick="@(() => SwitchToAM(false))">@Localizer["PMText"]</div>
    </div>
</div>

@code {
    RenderFragment RenderClockPoint =>
    @<span class="bb-clock-point">
        <span class="bb-clock-point-bar"></span>
        <span class="bb-clock-point-star"></span>
    </span>;
}
