@namespace BootstrapBlazor.Components
@inherits TimePickerBodyBase

<div class="time-panel" @ref="TimePickerElement">
    <div class="time-panel-content has-seconds">
        <div class="time-spinner has-seconds">
            <TimePickerCell @bind-Value="@CurrentTime" OnValueChanged="@OnValueChanged" ViewModel="TimePickerCellViewModel.Hour" />
            <TimePickerCell @bind-Value="@CurrentTime" OnValueChanged="@OnValueChanged" ViewModel="TimePickerCellViewModel.Minute" />
            <TimePickerCell @bind-Value="@CurrentTime" OnValueChanged="@OnValueChanged" ViewModel="TimePickerCellViewModel.Second" />
        </div>
        <div class="time-panel-footer">
            <button type="button" class="time-panel-btn cancel" @onclick="@OnClose">取消</button>
            <button type="button" class="time-panel-btn confirm" @onclick="@OnConfirmClick">确定</button>
        </div>
    </div>
</div>