@namespace BootstrapBlazor.Components
@inherits BootstrapComponentBase

<div @attributes="@AdditionalAttributes" class="@ClassName" @ref="TimePickerElement">
    <div class="time-panel-content has-seconds">
        <div class="time-spinner has-seconds">
            <TimePickerCell @bind-Value="@CurrentTime" ItemHeightCallback="@ItemHeightCallback" ViewModel="TimePickerCellViewModel.Hour" />
            <TimePickerCell @bind-Value="@CurrentTime" ItemHeightCallback="@ItemHeightCallback" ViewModel="TimePickerCellViewModel.Minute" />
            <TimePickerCell @bind-Value="@CurrentTime" ItemHeightCallback="@ItemHeightCallback" ViewModel="TimePickerCellViewModel.Second" />
        </div>
        <div class="time-panel-footer">
            <button type="button" class="time-panel-btn cancel" @onclick="@OnClickClose">@CancelButtonText</button>
            <button type="button" class="time-panel-btn confirm" @onclick="@OnClickConfirm">@ConfirmButtonText</button>
        </div>
    </div>
</div>