@namespace BootstrapBlazor.Components
@inherits BootstrapComponentBase

<div @attributes="@AdditionalAttributes" class="time-spinner-wrapper is-arrow" @ref="@TimeCellElement">
    <i class="time-spinner-arrow fa fa-angle-up" @onclick="OnClickUp"></i>
    <i class="time-spinner-arrow fa fa-angle-down" @onclick="OnClickDown"></i>
    <div class="time-spinner-list-wrapper">
        <ul class="time-spinner-list" style="@StyleName">
            <li class="time-spinner-item">&nbsp;</li>
            @foreach (var index in Range)
            {
                <li class="@GetClassName(index)">@index</li>
            }
        </ul>
    </div>
</div>
