@using BootstrapBlazor.Shared.Samples;
@inject IStringLocalizer<Tags> Localizer

<div class="row g-3">
    <div class="col-4 col-sm-auto">
        <Tag Color="Color.Primary">@Localizer["Tag1"]</Tag>
    </div>
    <div class="col-4 col-sm-auto">
        <Tag Color="Color.Secondary">@Localizer["Tag2"]</Tag>
    </div>
    <div class="col-4 col-sm-auto">
        <Tag Color="Color.Success">@Localizer["Tag3"]</Tag>
    </div>
    <div class="col-4 col-sm-auto">
        <Tag Color="Color.Danger">@Localizer["Tag4"]</Tag>
    </div>
    <div class="col-4 col-sm-auto">
        <Tag Color="Color.Warning">@Localizer["Tag5"]</Tag>
    </div>
    <div class="col-4 col-sm-auto">
        <Tag Color="Color.Info">@Localizer["Tag6"]</Tag>
    </div>
    <div class="col-4 col-sm-auto">
        <Tag Color="Color.Dark">@Localizer["Tag7"]</Tag>
    </div>
</div>
