@using BootstrapBlazor.Shared.Samples;
@inject IStringLocalizer<Tags> Localizer

<div class="row g-3">
    <div class="col-4 col-sm-auto">
        <Tag Icon="fa-fw fa-solid fa-circle-check" Color="Color.Success">@Localizer["Tag1"]</Tag>
    </div>
    <div class="col-4 col-sm-auto">
        <Tag Icon="fa-fw fa-solid fa-triangle-exclamation" Color="Color.Warning">@Localizer["Tag2"]</Tag>
    </div>
    <div class="col-4 col-sm-auto">
        <Tag Icon="fa-fw fa-solid fa-circle-question" Color="Color.Info">@Localizer["Tag3"]</Tag>
    </div>
    <div class="col-4 col-sm-auto">
        <Tag Icon="fa-fw fa-solid fa-circle-xmark" Color="Color.Danger">@Localizer["Tag4"]</Tag>
    </div>
    <div class="col-4 col-sm-auto">
        <Tag Icon="fa-fw fa-solid fa-angle-left" Color="Color.Primary">@Localizer["Tag5"]</Tag>
    </div>
    <div class="col-4 col-sm-auto">
        <Tag Icon="fa-fw fa-solid fa-user" Color="Color.Dark">@Localizer["Tag6"]</Tag>
    </div>
</div>
