@namespace BootstrapBlazor.Components
@inherits ValidateBase<string>
@attribute [BootstrapModuleAutoLoader("ColorPicker/ColorPickerV2.razor.js")]

<div class="input-group color-picker" id="@_selfId">

    <Button class="color-picker-button" OnClick="OpenSettingViewChanged" Color="Color.None">
        <div class="color-picker-preview" style="background-color: @_resultColor"></div>
    </Button>

    <div class="color-picker-view shadow " style="display: @OpenSettingView">

        <div class="color-palette" id="@_colorPaletteId">
            <div class="color-palette-round-block" id="@_colorPaletteRoundBlockId"></div>
        </div>

        <div class="color-slider">
            <div class="color-slider-background" id="@_colorSliderId">
                <div class="color-slider-round-block" id="@_colorSliderRoundBlockId"></div>
            </div>
        </div>

        <div class="alpha-slider" style="display: @OpenAlpha">
            <div class="alpha-slider-background" id="@_alphaSliderId">
                <div class="alpha-slider-round-block" id="@_alphaSliderRoundBlockId"></div>
            </div>
        </div>
    </div>
    @*自己项目用，所以有透明度需求，同时又对直接输入颜色字符串让滑块组件联动没需求，所以这边选了readonly*@
    <input type="text" readonly class="@ClassName" value="@_resultColor" />
</div>
