@page "/ajaxs"
@inject IStringLocalizer<Ajaxs> Localizer

<h3>@Localizer["AjaxTitle"]</h3>

<h4>@Localizer["H4"]</h4>

<DemoBlock Introduction="@Localizer["NormalIntro"]" Title="@Localizer["NormalTitle"]" Name="Normal" Demo="Ajax.AjaxNormal">
    <p>
        <b>@Localizer["NormalB"]</b>
        <div>@((MarkupString)Localizer["NormalDiv"].Value)</div>
    </p>
    <Pre>var option = new AjaxOption
{
    Url = "/api/Login",
    Data = new User() { UserName = "admin", Password = "1234567" }
};
var result = await AjaxService.InvokeAsync(option);</Pre>
</DemoBlock>

<DemoBlock Introduction="@Localizer["GotoIntro"]" Title="@Localizer["GotoTitle"]" Name="Goto">
    <Pre>await AjaxService.Goto("/introduction");</Pre>
    <Button OnClick="Goto">@Localizer["GotoButtonText1"]</Button>
    <Button OnClick="GotoSelf">@Localizer["GotoButtonText2"]</Button>
</DemoBlock>

<MethodTable Items="@GetMethods()" />
