@page "/ajaxs"
@inject IStringLocalizer<Ajaxs> Localizer

<h3>@Localizer["AjaxTitle"]</h3>

<h4>@Localizer["H4"]</h4>

<DemoBlock Introduction="@Localizer["NormalIntro"]" Title="@Localizer["NormalTitle"]" Name="Normal">
    <p>
        <b>@Localizer["NormalB"]</b>
        <div>@((MarkupString)Localizer["NormalDiv"].Value)</div>
    </p>
    <div class="mb-3">@ResultMessage</div>
    <Button OnClick="Success">@Localizer["NormalButtonText1"]</Button>
    <Button OnClick="Fail">@Localizer["NormalButtonText2"]</Button>
</DemoBlock>

<DemoBlock Introduction="@Localizer["GotoIntro"]" Title="@Localizer["GotoTitle"]" Name="Goto">
    <Button OnClick="Goto">@Localizer["GotoButtonText1"]</Button>
    <Button OnClick="GotoSelf">@Localizer["GotoButtonText2"]</Button>
</DemoBlock>

<Ajax></Ajax>
