@page "/anchorlinks"

<h3>@Localizer["AnchorLinkTitle"]</h3>

<h4>@Localizer["AnchorLinkDescribe1"] <b>Hash</b> @Localizer["AnchorLinkDescribe2"]</h4>

<DemoBlock Title="@Localizer["AnchorLinkDemoTitle"]" Introduction="@Localizer["AnchorLinkDemoIntroduction"]" Name="Normal">
    <AnchorLink Text="@Localizer["AnchorLinkText"]" Id="AnchorLink1" TooltipText="Copied" />
</DemoBlock>

<Tips class="mt-3">
    <div><code>AnchorLink</code> @Localizer["AnchorLinkTips1"] <code>Id</code> @Localizer["AnchorLinkTips2"]</div>
    <div>@Localizer["AnchorLinkTips3"] <code>Icon</code> @Localizer["AnchorLinkTips4"] <i class="fa-solid fa-link"></i></div>
    <div>@((MarkupString)Localizer["AnchorLinkTips5"].Value)</div>
</Tips>

<AttributeTable Items="@GetAttributes()" />
