@page "/autocompletes"
@inject IStringLocalizer<AutoCompletes> Localizer

<h3>@Localizer["Title"]</h3>

<h4>@Localizer["Description"]</h4>

<DemoBlock Title="@Localizer["Block1Title"]" Introduction="@Localizer["Block1Intro"]"
           Name="Normal" Demo="typeof(Demos.AutoComplete.AutoCompleteNormal)"/>

<DemoBlock Title="@Localizer["Block2Title"]" Introduction="@Localizer["Block2Intro"]"
           Name="LikeMatch" Demo="typeof(Demos.AutoComplete.AutoCompleteLikeMatch)"/>

<DemoBlock Title="@Localizer["Block3Title"]" Introduction="@Localizer["Block3Intro"]"
           Name="NoDataTip" Demo="typeof(Demos.AutoComplete.AutoCompleteNoDataTip)"/>

<DemoBlock Title="@Localizer["Block4Title"]" Introduction="@Localizer["Block4Intro"]"
           Name="ValueChanged" Demo="typeof(Demos.AutoComplete.AutoCompleteValueChanged)"/>

<DemoBlock Title="@Localizer["Block5Title"]" Introduction="@Localizer["Block5Intro"]"
           Name="ShowLabel" Demo="typeof(Demos.AutoComplete.AutoCompleteShowLabel)"/>

<DemoBlock Title="@Localizer["DebounceTitle"]" Introduction="@Localizer["DebounceIntro"]"
           Name="Debounce" Demo="typeof(Demos.AutoComplete.AutoCompleteOnSelectedItemChanged)"/>

<DemoBlock Title="@Localizer["OnSelectedItemChangedTitle"]" Introduction="@Localizer["OnSelectedItemChangedIntro"]"
           Name="OnSelectedItemChanged" Demo="typeof(Demos.AutoComplete.AutoCompleteDebounce)"/>

<DemoBlock Title="@Localizer["ItemTemplateTitle"]" Introduction="@Localizer["ItemTemplateIntro"]"
           Name="ItemTemplate" Demo="typeof(Demos.AutoComplete.AutoCompleteItemTemplate)"/>

<DemoBlock Title="@Localizer["BlockGroupTitle"]" Introduction="@Localizer["BlockGroupIntro"]"
           Name="Group" Demo="typeof(Demos.AutoComplete.AutoCompleteGroup)"/>

<AttributeTable Items="@GetAttributes()"/>
