@page "/autoredirects"
@inject IStringLocalizer<AutoRedirects> Localizer

<h3>@Localizer["H1"]</h3>
<h4>@Localizer["H2"]</h4>

<DemoBlock Title="@Localizer["P1"]" Introduction="@Localizer["P2"]" Name="Normal">
    <AutoRedirect Interval="3000" RedirectUrl="/" OnBeforeRedirectAsync="@OnBeforeRedirectAsync" />
    <BlockLogger @ref="Trace" />
</DemoBlock>

<AttributeTable Items="@GetAttributes()" />
