@page "/avatars"
@inject IStringLocalizer<Avatars> Localizer

<h3>@Localizer["Title"]</h3>

<h4>@Localizer["SubTitle"]</h4>

<DemoBlock Title="@Localizer["BasicUsageTitle"]" Introduction="@Localizer["BasicUsageIntro"]" Name="Normal" Demo="Avatar.AvatarNormal" />

<DemoBlock Title="@Localizer["IconTitle"]" Introduction="@Localizer["IconIntro"]" Name="Icon" Demo="Avatar.AvatarIcon" />

<DemoBlock Title="@Localizer["BorderTitle"]" Introduction="@Localizer["BorderIntro"]" Name="Border" Demo="Avatar.AvatarBorder" />

<DemoBlock Title="@Localizer["CircletTitle"]" Introduction="@Localizer["CircleIntro"]" Name="Circle" Demo="Avatar.AvatarCircle" />

<AttributeTable Items="@GetAttributes()" />
