@page "/badges"
@inject IStringLocalizer<Badges> Localizer

<h3>@Localizer["Title"]</h3>

<h4>@Localizer["SubTitle"]</h4>

<DemoBlock Title="@Localizer["BasicusageTitle"]" Introduction="@Localizer["BasicusageIntro"]" Name="Normal" Demo="Badge.BadgeNormal" />

<DemoBlock Title="@Localizer["PillTitle"]" Introduction='@Localizer["PillIntro"]' Name="Pill" Demo="Badge.BadgePill" />

<DemoBlock Title="@Localizer["ButtonTitle"]" Introduction="@Localizer["ButtonIntro"]" Name="Button" Demo="Badge.BadgeButton" />

<AttributeTable Items="@GetAttributes()" />
