@page "/blue-tooth"
@inject IStringLocalizer<Bluetooths> Localizer

<h3>@Localizer["Title"]</h3>

<PackageTips Name="BootstrapBlazor.Bluetooth" />

<h5><a href="/bluetooths">@Localizer["Url1"]</a></h5>
<h5><a href="/bluetoothheartrates">@Localizer["Url2"]</a></h5>
<h5><a href="/bluetoothbatterylevels">@Localizer["Url3"]</a></h5>

<Tips>
    <p>@((MarkupString)Localizer["Tips"].Value)</p>
</Tips>

<DemoBlock Title="@Localizer["BaseUsageTitle"]"
           Introduction="@Localizer["BaseUsageIntro"]"
           Name="Normal"
           Demo="typeof(Demos.Bluetooths.BluetoothNomal)">
</DemoBlock>

<h4>@Localizer["BluetoothTitle"]</h4>

<DemoBlock Title="@Localizer["BluetoothBatteryLevelTitle"]"
           Introduction="@Localizer["BluetoothBatteryLevelIntro"]"
           Name="BatteryLevel"
           Demo="typeof(Demos.Bluetooths.BluetoothBatteryLevel)">
</DemoBlock>

<h4>@Localizer["BluetoothTitle2"]</h4>

<DemoBlock Title="@Localizer["BaseUsageTitle"]"
           Introduction="@Localizer["BluetoothBatteryLevelIntro"]"
           Name="HeartRate"
           Demo="typeof(Demos.Bluetooths.BluetoothHeartRate)">
</DemoBlock>

<AttributeTable Title="Printer 组件" Items="@GetAttributes()" />

<AttributeTable Title="BatteryLevel 组件" Items="@GetAttributesBatteryLevel()" />

<AttributeTable Title="Heartrate 组件" Items="@GetAttributesHeartrate()" />

<AttributeTable Title="BluetoothDevice 类" Items="@GetBluetoothDeviceAttributes()" />

<AttributeTable Title="PrinterOption 类" Items="@GetPrinterOptionAttributes()" />
