@page "/buttons"
@inject IStringLocalizer<Buttons> Localizer

<h3>@Localizer["Title"]</h3>

<h4>@Localizer["Description"]</h4>

<DemoBlock Title="@Localizer["Block1Title"]" Introduction="@Localizer["Block1Intro"]" Name="Normal" Demo="typeof(Demos.Button.ButtonNormal)" />

<DemoBlock Title="@Localizer["Block2Title"]" Introduction="@Localizer["Block2Intro"]" Name="Round" Demo="typeof(Demos.Button.ButtonRound)" />

<DemoBlock Title="@Localizer["Block3Title"]" Introduction='@Localizer["Block3Intro"]' Name="Outline" Demo="typeof(Demos.Button.ButtonOutline)" />

<DemoBlock Title="@Localizer["Block4Title"]" Introduction='@Localizer["Block4Intro"]' Name="Size" Demo="typeof(Demos.Button.ButtonSize)" />

<DemoBlock Title="@Localizer["Block5Title"]" Introduction="@Localizer["Block5Intro"]" Name="IsDisabled" Demo="typeof(Demos.Button.ButtonIsDisabled)" />

<DemoBlock Title="@Localizer["Block6Title"]" Introduction="@Localizer["Block6Intro"]" Name="Color" Demo="typeof(Demos.Button.ButtonColor)" />

<DemoBlock Title="@Localizer["Block7Title"]" Introduction="@Localizer["Block7Intro"]" Name="Icon" Demo="typeof(Demos.Button.ButtonIcon)" />

<DemoBlock Title="@Localizer["Block8Title"]" Introduction="@Localizer["Block8Intro"]" Name="Extension" Demo="typeof(Demos.Button.ButtonExtension)" />

<DemoBlock Title="@Localizer["Block9Title"]" Introduction="@Localizer["Block9Intro"]" Name="Async" Demo="typeof(Demos.Button.ButtonAsync)">
    <p>@((MarkupString)Localizer["ButtonAsyncDescription"].Value)</p>
</DemoBlock>

<DemoBlock Title="@Localizer["TooltipTitle"]" Introduction="@Localizer["TooltipIntro"]" Name="Tooltip" Demo="typeof(Demos.Button.ButtonTooltip)" />

<AttributeTable Items="@GetAttributes()" />

<EventTable Items="@GetEvents()" />

<MethodTable Items="@GetMethods()" />
