@page "/calendars"
@inject IStringLocalizer<Calendars> Localizer

<h3>@Localizer["Title"]</h3>

<h4>@Localizer["SubTitle"]</h4>

<DemoBlock Title="@Localizer["BasicUsageTitle"]" Introduction="@Localizer["BasicUsageIntro"]" Name="Normal" Demo="typeof(Demos.Calendar.CalendarNormal)" />

<DemoBlock Title="@Localizer["BindTitle"]" Introduction="@Localizer["BindIntro"]" Name="Bind" Demo="typeof(Demos.Calendar.CalendarBind)" />

<DemoBlock Title="@Localizer["CellTemplateTitle"]" Introduction="@Localizer["CellTemplateIntro"]" Name="CellTemplate" Demo="typeof(Demos.Calendar.CalendarCellTemplate)" />

<DemoBlock Title="@Localizer["ViewModeTitle"]" Introduction="@Localizer["ViewModeIntro"]" Name="ViewModel" Demo="typeof(Demos.Calendar.CalendarViewModel)" />

<DemoBlock Title="@Localizer["AppTitle"]" Introduction="@Localizer["AppIntro"]" Name="App" Demo="typeof(Demos.Calendar.CalendarApp)">
    <p>@((MarkupString)Localizer["AppText"].Value)</p>
</DemoBlock>

<DemoBlock Title="@Localizer["CellTemplateDemoTitle"]" Introduction="@Localizer["CellTemplateDemoIntro"]" Name="CellTemplateDemo" Demo="typeof(Demos.Calendar.CalendarCellTemplateDemo)" />

<AttributeTable Items="@GetAttributes()" />

<EventTable Items="@GetEvents()" />
