@page "/camera"
@inject IStringLocalizer<Cameras> Localizer

<h3>@Localizer["Title"]</h3>

<h4>@Localizer["SubTitle"]</h4>

<p><b>@Localizer["Attention"]</b></p>

<ul class="ul-demo">
    <li>@((MarkupString)Localizer["Li1"].Value)</li>
</ul>

<DemoBlock Title="@Localizer["BasicUsageTitle"]" Introduction="@Localizer["BasicUsageIntro"]" Name="Normal">
    <section ignore>
        <p>@Localizer["BasicUsageStep"]</p>
        <ul class="ul-demo mb-3">
            <li>@Localizer["BasicUsageLi1"]</li>
            <li>@Localizer["BasicUsageLi2"]</li>
            <li>@Localizer["BasicUsageLi3"]</li>
        </ul>
    </section>
    <Camera @ref="Camera" OnInit="@OnInit" OnStart="@OnStart" OnClose="@OnClose" OnError="@OnError" OnCapture="@OnCapture" DeviceId="@DeviceId" />
    <section ignore>
        <Select Items="@Devices" @bind-Value="@DeviceId" DisplayText="@DeviceLabel" ShowLabel="true" PlaceHolder="@PlaceHolderString"></Select>
        @if (ImageUrl != null)
        {
            <img src="@ImageUrl" class="mt-3" />
        }
        <div class="btn-group mt-3">
            <Button Text="@PlayText" Color="Color.Success" Icon="fa-solid fa-play" IsDisabled="PlayDisabled" OnClick="OnOpen"></Button>
            <Button Text="@StopText" Color="Color.Danger" Icon="fa-solid fa-stop" IsDisabled="StopDisabled" OnClick="OnClose1"></Button>
            <Button Text="@CaptureText" Color="Color.Info" Icon="fa-solid fa-camera" IsDisabled="CaptureDisabled"></Button>
        </div>
        <ConsoleLogger @ref="Logger" class="mt-3" />
    </section>
</DemoBlock>

<AttributeTable Items="@GetAttributes()" />
