@page "/captchas"
@inject IStringLocalizer<Captchas> Localizer

<h3>@Localizer["Title"]</h3>

<h4>@Localizer["SubTitle"]</h4>

<DemoBlock Title="@Localizer["BasicUsageTitle"]" Introduction="@Localizer["BasicUsageIntro"]" Name="Normal" Demo="Captcha.CaptchaNormal" />

<DemoBlock Title="@Localizer["ImageTitle"]" Introduction="" Name="Image" Demo="Captcha.CaptchaImage" />

<DemoBlock Title="@Localizer["ImageCallbackTitle"]" Introduction="@Localizer["ImageCallbackIntro"]" Name="ImageCallback" Demo="Captcha.CaptchaImageCallback" />

<AttributeTable Items="@GetAttributes()" />

<EventTable Items="@GetEvents()" />

<MethodTable Items="@GetMethods()" />
