@page "/cards"
@inject IStringLocalizer<Cards> Localizer

<h3>@Localizer["Title"]</h3>

<h4>@Localizer["SubTitle"]</h4>

<DemoBlock Title="@Localizer["BasicUsageTitle"]" Introduction="@Localizer["BasicUsageIntro"]" Name="Normal" Demo="Card.CardNormal" />

<DemoBlock Title="@Localizer["FooterTitle"]" Introduction="@Localizer["FooterIntro"]" Name="Footer" Demo="Card.CardFooter" />

<DemoBlock Title="@Localizer["IsCenterTitle"]" Introduction="@Localizer["IsCenterIntro"]" Name="IsCenter" Demo="Card.CardIsCenter" />

<DemoBlock Title="@Localizer["ColorTitle"]" Introduction="@Localizer["ColorIntro"]" Name="Color" Demo="Card.CardColor" />

<DemoBlock Title="@Localizer["CollapsibleTitle"]" Introduction="@Localizer["CollapsibleIntro"]" Name="Collapsible" Demo="Card.CardCollapsible">
    <p>@((MarkupString)Localizer["CollapsibleIntroDesc"].Value)</p>
</DemoBlock>

<DemoBlock Title="@Localizer["CollapsibleHeaderTemplateTitle"]" Introduction="@Localizer["CollapsibleHeaderTemplateIntro"]" Name="HeaderTemplate" Demo="Card.CardHeaderTemplate" />

<DemoBlock Title="@Localizer["ShadowTitle"]" Introduction="@Localizer["ShadowIntro"]" Name="Shadow" Demo="Card.CardShadow" />

<DemoBlock Title="@Localizer["Compare"]" Name="Compare" Demo="Card.CardCompare" />

<AttributeTable Items="GetAttributes()" />
