@page "/carousels"
@inject IStringLocalizer<Carousels> Localizer

<h3>@Localizer["Title"]</h3>

<h4>@Localizer["SubTitle"]</h4>

<DemoBlock Title="@Localizer["BasicUsageTitle"]" Introduction="@Localizer["BasicUsageIntro"]" Name="Normal" Demo="typeof(Demos.Carousel.CarouselNormal)" />

<DemoBlock Title="@Localizer["ShowControlsTitle"]" Introduction="@Localizer["ShowControlsIntro"]" Name="ShowControls" Demo="typeof(Demos.Carousel.CarouselShowControls)" />

<DemoBlock Title="@Localizer["ShowIndicatorsTitle"]" Introduction="@Localizer["ShowIndicatorsIntro"]" Name="ShowIndicators" Demo="typeof(Demos.Carousel.CarouselShowIndicators)" />

<DemoBlock Title="@Localizer["FadeTitle"]" Introduction="@Localizer["FadeIntro"]" Name="Fade" Demo="typeof(Demos.Carousel.CarouselFade)" />

<DemoBlock Title="@Localizer["CaptionTitle"]" Introduction="@Localizer["CaptionIntro"]" Name="Caption" Demo="typeof(Demos.Carousel.CarouselCaption)" />

<DemoBlock Title="@Localizer["IntervalTitle"]" Introduction="@Localizer["IntervalIntro"]" Name="Interval" Demo="typeof(Demos.Carousel.CarouselInterval)" />

<DemoBlock Title="@Localizer["CaptionTemplateTitle"]" Introduction="@Localizer["CaptionTemplateIntro"]" Name="CaptionTemplate" Demo="typeof(Demos.Carousel.CarouselCaptionTemplate)" />

<DemoBlock Title="@Localizer["CaptionClassTitle"]" Introduction="@Localizer["CaptionClassIntro"]" Name="CaptionClass" Demo="typeof(Demos.Carousel.CarouselCaptionClass)">
    <p>@((MarkupString)Localizer["CaptionClassP1"].Value)</p>
</DemoBlock>

<DemoBlock Title="@Localizer["OnClickTitle"]" Introduction="@Localizer["OnClickIntro"]" Name="OnClick" Demo="typeof(Demos.Carousel.CarouselOnClick)" />

<DemoBlock Title="@Localizer["TouchSwipingTitle"]" Introduction="@Localizer["TouchSwipingIntro"]" Name="DisableTouchSwiping" Demo="typeof(Demos.Carousel.CarouselDisableTouchSwiping)" />

<DemoBlock Title="@Localizer["ChildContentTitle"]" Introduction="@Localizer["ChildContentIntro"]" Name="ChildContent" Demo="typeof(Demos.Carousel.CarouselChildContent)" />

<AttributeTable Items="@GetAttributes()" />
