@page "/checkboxlists"

<h3>@Localizer["Title"]</h3>

<h4>@Localizer["CheckboxListsTip"]</h4>

<DemoBlock Title="@Localizer["NormalTitle"]" Introduction="@Localizer["NormalIntro"]" Name="Normal" Demo="typeof(Demos.CheckboxList.CheckboxListNormal)">
    <ul class="ul-demo mb-3">
        <li>@((MarkupString)Localizer["NormalTips1"].Value)</li>
        <li>@((MarkupString)Localizer["NormalTips2"].Value)</li>
        <li>@((MarkupString)Localizer["NormalTips3"].Value)</li>
    </ul>
</DemoBlock>

<DemoBlock Title="@Localizer["ValidateFormTitle"]" Introduction="@Localizer["ValidateFormIntro"]" Name="ValidateForm" Demo="typeof(Demos.CheckboxList.CheckboxListValidateForm)">
    <p>@((MarkupString)Localizer["ValidateFormTips1"].Value)</p>
    <p>@((MarkupString)Localizer["ValidateFormTips2"].Value)</p>
    <p>@((MarkupString)Localizer["ValidateFormTips3"].Value)</p>
</DemoBlock>

<DemoBlock Title="@Localizer["ShowLabelTitle"]" Introduction="@Localizer["ShowLabelIntro"]" Name="ShowLabel" Demo="typeof(Demos.CheckboxList.CheckboxListShowLabel)">
    <p>@((MarkupString)Localizer["ShowLabelTip"].Value)</p>
</DemoBlock>

<DemoBlock Title="@Localizer["EnumTitle"]" Introduction="@Localizer["EnumIntro"]" Name="Enum" Demo="typeof(Demos.CheckboxList.CheckboxListEnum)">
    <p>@((MarkupString)Localizer["EnumTip"].Value)</p>
</DemoBlock>

<DemoBlock Title="@Localizer["NoBorderTitle"]" Introduction="@Localizer["NoBorderIntro"]" Name="NoBorder" Demo="typeof(Demos.CheckboxList.CheckboxListNoBorder)">
    <p>@Localizer["NoBorderTip"]</p>
</DemoBlock>

<DemoBlock Title="@Localizer["VerticalTitle"]" Introduction="@Localizer["VerticalIntro"]" Name="Vertical" Demo="typeof(Demos.CheckboxList.CheckboxListVertical)" />

<DemoBlock Title="@Localizer["DisabledTitle"]" Introduction="@Localizer["DisabledIntro"]" Name="Disabled" Demo="typeof(Demos.CheckboxList.CheckboxListDisabled)" />

<DemoBlock Title="@Localizer["IsButtonTitle"]" Introduction="@Localizer["IsButtonIntro"]" Name="IsButton" Demo="typeof(Demos.CheckboxList.CheckboxListIsButton)" />

<AttributeTable Items="@GetAttributes()" />

<EventTable Items="@GetEvents()" />
