@page "/cherry-markdowns"

<h3>@Localizer["Header"]</h3>
<h4>@Localizer["Tip"]</h4>

<DemoBlock Title="@Localizer["NormalTitle"]" Introduction="@Localizer["NormalIntro"]" Name="Normal" Demo="CherryMarkdown.CherryMarkdownNormal" />

<DemoBlock Title="@Localizer["FileUploadTitle"]" Introduction="@Localizer["FileUploadIntro"]" Name="FileUpload" Demo="CherryMarkdown.CherryMarkdownFileUpload" />

<DemoBlock Title="@Localizer["CustomTitle"]" Introduction="@Localizer["CustomIntro"]" Name="Custom" Demo="CherryMarkdown.CherryMarkdownCustom" />

<DemoBlock Title="@Localizer["ViewTitle"]" Introduction="@Localizer["ViewIntro"]" Name="View" Demo="CherryMarkdown.CherryMarkdownView" />

<DemoBlock Title="@Localizer["ApiTitle"]" Introduction="@Localizer["ApiIntro"]" Name="Api" Demo="CherryMarkdown.CherryMarkdownApi" />

<AttributeTable Items="GetAttributes()" />
