@page "/cherry-markdowns"

<h3>@Localizer["Header"]</h3>
<h4>@Localizer["Tip"]</h4>
<p>@((MarkupString)Localizer["MarkdownsNote"].Value)</p>

<Pre class="no-highlight">builder.Services.Configure&lt;HubOptions&gt;(option => option.MaximumReceiveMessageSize = null);</Pre>

<DemoBlock Title="@Localizer["NormalTitle"]" Introduction="@Localizer["NormalIntro"]" Name="Normal" Demo="typeof(Demos.CherryMarkdown.CherryMarkdownNormal)" />

<DemoBlock Title="@Localizer["FileUploadTitle"]" Introduction="@Localizer["FileUploadIntro"]" Name="FileUpload" Demo="typeof(Demos.CherryMarkdown.CherryMarkdownFileUpload)" />

<DemoBlock Title="@Localizer["CustomTitle"]" Introduction="@Localizer["CustomIntro"]" Name="Custom" Demo="typeof(Demos.CherryMarkdown.CherryMarkdownCustom)" />

<DemoBlock Title="@Localizer["ViewTitle"]" Introduction="@Localizer["ViewIntro"]" Name="View" Demo="typeof(Demos.CherryMarkdown.CherryMarkdownView)" />

<DemoBlock Title="@Localizer["ApiTitle"]" Introduction="@Localizer["ApiIntro"]" Name="Api" Demo="typeof(Demos.CherryMarkdown.CherryMarkdownApi)" />

<AttributeTable Items="GetAttributes()" />
