@page "/codeeditors"

<PackageTips Name="BootstrapBlazor.CodeEditor"></PackageTips>

<Tips class="mt-3 mt-3">
    <ChildContent>
        <code><script src="./_content/BootstrapBlazor.CodeEditor/monaco-editor/min/vs/loader.min.js"></script></code>
    </ChildContent>
</Tips>

<DemoBlock Title="基础用法">
    <div class="row g-3">
        <div class="col-12">
            <div class="d-flex justify-content-between">
                <Select TValue="string" OnSelectedItemChanged="@OnSelectedItemChanged">
                    <Options>
                        <SelectOption Text="JavaScript" Value="JavaScript"></SelectOption>
                        <SelectOption Text="CSharp" Value="CSharp"></SelectOption>
                        <SelectOption Text="Razor" Value="Razor"></SelectOption>
                        <SelectOption Text="Json" Value="Json"></SelectOption>
                    </Options>
                </Select>
                <Select TValue="string" OnSelectedItemChanged="@OnThemeSelectedItemChanged">
                    <Options>
                        <SelectOption Text="Visual Studio" Value="vs"></SelectOption>
                        <SelectOption Text="Visual Studio Dark" Value="vs-dark"></SelectOption>
                        <SelectOption Text="High Contrast Dark" Value="hc-black"></SelectOption>
                    </Options>
                </Select>
            </div>
        </div>
        <div class="col-12">
            <CodeEditor @bind-Value="@Code" Language="@Language" Theme="@Theme" OnValueChanged="OnValueChanged" />
        </div>
        <div class="col-12">
            <b>Language:</b> @Language; <b>Code:</b> @Code; <b>Theme:</b> @Theme
        </div>
        <div class="col-12">
            <ConsoleLogger @ref="Logger"></ConsoleLogger>
        </div>
    </div>
</DemoBlock>

@code {

    private ConsoleLogger Logger { get; set; }

    private string Code { get; set; }

    private string Language { get; set; }

    private string Theme { get; set; }

    private Task OnSelectedItemChanged(SelectedItem item)
    {
        if (item.Value == "JavaScript")
        {
            Language = "javacript";
            Code = @"
                     function main() {
                          console.log('Hello World!')
                     }
                    ";
        }

        if (item.Value == "CSharp")
        {
            Language = "csharp";
            Code = @"
             using System;

             void Main()
             {
                 Console.WriteLine(""Hello World"");
             }
                    ";
        }

        if (item.Value == "Json")
        {
            Language = "json";
            Code = @"
            {
                name: ""Hello World"",
                age: 25
            }
                    ";
        }

        if (item.Value == "Razor")
        {
            Language = "razor";
            Code = @"
            <Select TValue=""string"" OnSelectedItemChanged=""@OnSelectedItemChanged"">
                <Options>
                    <SelectOption Text=""JavaScript"" Value=""JavaScript""></ SelectOption>
                    <SelectOption Text=""CSharp"" Value=""CSharp"" ></ SelectOption >
                    <SelectOption Text=""Razor"" Value=""Razor"" ></ SelectOption >
                    <SelectOption Text=""Json"" Value=""Json"" ></ SelectOption >
                </Options>
            </Select>
                    ";
        }
        StateHasChanged();
        return Task.CompletedTask;
    }

    private Task OnValueChanged(string? value)
    {
        if (!string.IsNullOrEmpty(value))
        {
            Logger.Log(value);
        }
        return Task.CompletedTask;
    }

    private Task OnThemeSelectedItemChanged(SelectedItem item)
    {
        if (item.Value == "vs-dark")
        {
            Theme = item.Value;
        }

        if (item.Value == "vs")
        {
            Theme = item.Value;
        }

        if (item.Value == "hc-black")
        {
            Theme = item.Value;
        }
        StateHasChanged();
        return Task.CompletedTask;
    }
}
