@page "/collapses"
@inject IStringLocalizer<Collapses> Localizer

<h3>@Localizer["Title"]</h3>

<h4>@Localizer["SubTitle"]</h4>

<DemoBlock Title="@Localizer["BasicUsageTitle"]" Introduction="@Localizer["BasicUsageIntro"]" Name="Normal" Demo="typeof(Demos.Collapse.CollapseNormal)" />

<DemoBlock Title="@Localizer["AccordionTitle"]" Introduction="@Localizer["AccordionIntro"]" Name="Accordion" Demo="typeof(Demos.Collapse.CollapseAccordion)" />

<DemoBlock Title="@Localizer["ColorTitle"]" Introduction="@Localizer["ColorIntro"]" Name="Color" Demo="typeof(Demos.Collapse.CollapseColor)" />

<DemoBlock Title="@Localizer["ItemsTitle"]" Introduction="@Localizer["ItemsIntro"]" Name="Items" Demo="typeof(Demos.Collapse.CollapseItems)" />

<DemoBlock Title="@Localizer["IconTitle"]" Introduction="@Localizer["IconIntro"]" Name="Icon" Demo="typeof(Demos.Collapse.CollapseIcon)" />

<AttributeTable Items="@GetAttributes()" />
