@page "/count-ups"
@inject IStringLocalizer<CountUps> Localizer

<h3>@Localizer["Title"]</h3>

<h4>@Localizer["Description"]</h4>

<DemoBlock Title="@Localizer["CountUpsNormalTitle"]" Introduction="@Localizer["CountUpsNormalIntro"]" Name="Normal" >
    <div class="mb-3">
        <CountUp TValue="int" Value="@Value" class="fw-bold fs-1"></CountUp>
    </div>
    <Button Icon="fa-solid fa-gear" Text="Update" OnClick="OnUpdate"></Button>
</DemoBlock>

<AttributeTable Items="@GetAttributes()" />
