@page "/count-button"
@inject IStringLocalizer<CountButtons> Localizer

<h3>@Localizer["Title"]</h3>

<h4>@Localizer["Description"]</h4>

<DemoBlock Title="@Localizer["BaseUsageText"]" Introduction="@Localizer["BaseUsageIntro"]" Name="Normal">
    <CountButton Icon="fa-solid fa-flag"></CountButton>
</DemoBlock>

<DemoBlock Title="@Localizer["TextTitle"]" Introduction="@Localizer["TextIntro"]" Name="Text">
    <CountButton Icon="fa-solid fa-home" Count="5" Text="@Localizer["Text"]" CountTextCallback="CountTextCallback" OnClick="OnClick"></CountButton>
</DemoBlock>

<AttributeTable Items="@GetAttributes()" />
