@page "/datetimeranges"
@inject IStringLocalizer<DateTimeRanges> Localizer

<h3>@Localizer["Title"]</h3>

<h4>@Localizer["Description"]</h4>

<DemoBlock Title="@Localizer["NormalTitle"]" Introduction="@Localizer["NormalIntro"]" Name="Normal" Demo="DateTimeRange.DateTimeRangeNormal" />

<DemoBlock Title="@Localizer["BindValueTitle"]" Introduction="@Localizer["BindValueIntro"]" Name="BindValue" Demo="DateTimeRange.DateTimeRangeBindValue" />

<DemoBlock Title="@Localizer["MaxMinValueTitle"]" Introduction="@Localizer["MaxMinValueIntro"]" Name="MaxMinValue" Demo="DateTimeRange.DateTimeRangeMaxMinValue" />

<DemoBlock Title="@Localizer["DisabledTitle"]" Introduction="@Localizer["DisabledIntro"]" Name="Disabled" Demo="DateTimeRange.DateTimeRangeDisabled" />

<DemoBlock Title="@Localizer["SidebarTitle"]" Introduction="@Localizer["SidebarIntro"]" Name="Sidebar" Demo="DateTimeRange.DateTimeRangeSidebar">
    <p>@((MarkupString)Localizer["SidebarTip"].Value)</p>
</DemoBlock>

<DemoBlock Title="@Localizer["TodayTitle"]" Introduction="@Localizer["TodayIntro"]" Name="Today" Demo="DateTimeRange.DateTimeRangeToday">
    <p>@((MarkupString)Localizer["TodayTip"].Value)</p>
</DemoBlock>

<DemoBlock Title="@Localizer["ValidateFormTitle"]" Introduction="@Localizer["ValidateFormIntro"]" Name="ValidateForm" Demo="DateTimeRange.DateTimeRangeValidateForm" />

<DemoBlock Title="@Localizer["AutoCloseTitle"]" Introduction="@Localizer["AutoCloseIntro"]" Name="AutoClose" Demo="DateTimeRange.DateTimeRangeAutoClose" />

<AttributeTable Items="@GetAttributes()" />

<EventTable Items="@GetEvents()" />
