@page "/dial-button"
@inject IStringLocalizer<DialButtons> Localizer

<h3>@Localizer["DialButtonTitle"]</h3>

<h4>@Localizer["DialButtonIntro"]</h4>

<DemoBlock Title="@Localizer["BaseUsageText"]" Introduction="@Localizer["BaseUsageIntro"]" Name="Normal">
    <div class="dial-buttons row g-2">
        <div class="col-4 justify-content-start align-items-start">
            <DialButton Icon="fa-solid fa-flag" Placement="Placement.Bottom">
                <DialButtonItem Icon="fa-solid fa-cut" Value="cut" />
                <DialButtonItem Icon="fa-solid fa-copy" Value="copy" />
                <DialButtonItem Icon="fa-solid fa-paste" Value="paste" />
            </DialButton>
        </div>
        <div class="col-4 justify-content-center align-items-start">
            <DialButton Icon="fa-solid fa-flag" Placement="Placement.Bottom">
                <DialButtonItem Icon="fa-solid fa-cut" Value="cut" />
                <DialButtonItem Icon="fa-solid fa-copy" Value="copy" />
                <DialButtonItem Icon="fa-solid fa-paste" Value="paste" />
            </DialButton>
        </div>
        <div class="col-4 justify-content-end align-items-start">
            <DialButton Icon="fa-solid fa-flag" Placement="Placement.Bottom">
                <DialButtonItem Icon="fa-solid fa-cut" Value="cut" />
                <DialButtonItem Icon="fa-solid fa-copy" Value="copy" />
                <DialButtonItem Icon="fa-solid fa-paste" Value="paste" />
            </DialButton>
        </div>
        <div class="col-4 justify-content-start align-items-center">
            <DialButton Icon="fa-solid fa-flag" Placement="Placement.Right">
                <DialButtonItem Icon="fa-solid fa-cut" Value="cut" />
                <DialButtonItem Icon="fa-solid fa-copy" Value="copy" />
                <DialButtonItem Icon="fa-solid fa-paste" Value="paste" />
            </DialButton>
        </div>
        <div class="col-4 justify-content-center align-items-center">
            <DialButton Icon="fa-solid fa-flag" Placement="Placement.Top">
                <DialButtonItem Icon="fa-solid fa-cut" Value="cut" />
                <DialButtonItem Icon="fa-solid fa-copy" Value="copy" />
                <DialButtonItem Icon="fa-solid fa-paste" Value="paste" />
            </DialButton>
        </div>
        <div class="col-4 justify-content-end align-items-center">
            <DialButton Icon="fa-solid fa-flag" Placement="Placement.Left">
                <DialButtonItem Icon="fa-solid fa-cut" Value="cut" />
                <DialButtonItem Icon="fa-solid fa-copy" Value="copy" />
                <DialButtonItem Icon="fa-solid fa-paste" Value="paste" />
            </DialButton>
        </div>
        <div class="col-4 justify-content-start align-items-end">
            <DialButton Icon="fa-solid fa-flag" Placement="Placement.Top">
                <DialButtonItem Icon="fa-solid fa-cut" Value="cut" />
                <DialButtonItem Icon="fa-solid fa-copy" Value="copy" />
                <DialButtonItem Icon="fa-solid fa-paste" Value="paste" />
            </DialButton>
        </div>
        <div class="col-4 justify-content-center align-items-end">
            <DialButton Icon="fa-solid fa-flag" Placement="Placement.Top">
                <DialButtonItem Icon="fa-solid fa-cut" Value="cut" />
                <DialButtonItem Icon="fa-solid fa-copy" Value="copy" />
                <DialButtonItem Icon="fa-solid fa-paste" Value="paste" />
            </DialButton>
        </div>
        <div class="col-4 justify-content-end align-items-end">
            <DialButton Icon="fa-solid fa-flag" Placement="Placement.Top">
                <DialButtonItem Icon="fa-solid fa-cut" Value="cut" />
                <DialButtonItem Icon="fa-solid fa-copy" Value="copy" />
                <DialButtonItem Icon="fa-solid fa-paste" Value="paste" />
            </DialButton>
        </div>
    </div>
</DemoBlock>

@* <DemoBlock Title="@Localizer["ShowHeaderText"]" Introduction="@Localizer["ShowHeaderIntro"]" Name="ShowHeader">
    <SlideButton Icon="fa-solid fa-flag" HeaderText="@Localizer["SlideButtonHeaderText"]" ShowHeader="true"></SlideButton>
</DemoBlock>

<DemoBlock Title="@Localizer["AutoCloseText"]" Introduction="@Localizer["AutoCloseIntro"]" Name="IsAutoClose">
    <SlideButton Icon="fa-solid fa-flag" HeaderText="@Localizer["SlideButtonHeaderText"]" ShowHeader="true" IsAutoClose="false">
    </SlideButton>
</DemoBlock>

<DemoBlock Title="@Localizer["SlideButtonItemsText"]" Introduction="@Localizer["SlideButtonItemsIntro"]" Name="SlideButtonItemsTemplate">
    <SlideButton Icon="fa-solid fa-flag">
        <SlideButtonItems>
            <SlideButtonItem Value="1" Text="Text 1"></SlideButtonItem>
            <SlideButtonItem Value="2" Text="Text 2"></SlideButtonItem>
            <SlideButtonItem Value="3" Text="Text 3"></SlideButtonItem>
        </SlideButtonItems>
    </SlideButton>
</DemoBlock>

<DemoBlock Title="@Localizer["BodyTemplateText"]" Introduction="@Localizer["BodyTemplateIntro"]" Name="BodyTemplate">
    <div class="slide-button-custom">
        <SlideButton Icon="fa-solid fa-flag" HeaderText="@Localizer["SlideButtonHeaderText"]" ShowHeader="true">
            <BodyTemplate>
                <div class="slide-button-custom-group">
                    <div class="slide-item-custom">
                        <i class="fa-solid fa-copy"></i>
                    </div>
                    <div class="slide-item-custom">
                        <i class="fa-solid fa-cut"></i>
                    </div>
                    <div class="slide-item-custom">
                        <i class="fa-solid fa-paste"></i>
                    </div>
                </div>
            </BodyTemplate>
        </SlideButton>
    </div>
</DemoBlock> *@

@* <AttributeTable Items="@GetAttributes()" />
 *@
