@page "/dial-button"
@inject IStringLocalizer<DialButtons> Localizer

<h3>@Localizer["DialButtonTitle"]</h3>

<h4>@Localizer["DialButtonIntro"]</h4>

<DemoBlock Title="@Localizer["BaseUsageText"]" Introduction="@Localizer["BaseUsageIntro"]" Name="Normal">
    <div class="mb-3">
        <BootstrapInputGroup>
            <BootstrapInputGroupLabel DisplayText="Mode" />
            <div class="dial-mode">
                <Radio Value="Mode" GroupName="Mode" DisplayText="Linear" ShowAfterLabel="true" ShowLabel="false" State="@CheckState("Linear")" OnClick="_ => OnClick(DialMode.Linear)"></Radio>
                <Radio Value="Mode" GroupName="Mode" DisplayText="Radial" ShowAfterLabel="true" ShowLabel="false" State="@CheckState("Radial")" OnClick="_ => OnClick(DialMode.Radial)"></Radio>
            </div>
        </BootstrapInputGroup>
    </div>
    <div class="dial-buttons p-3">
        <div class="row">
            <div class="col-4 justify-content-start align-items-start">
                <DialButton Icon="fa-solid fa-flag" Placement="Placement.TopStart" DialMode="Mode">
                    <DialButtonItem Icon="fa-solid fa-cut" Value="cut" />
                    <DialButtonItem Icon="fa-solid fa-copy" Value="copy" />
                    <DialButtonItem Icon="fa-solid fa-paste" Value="paste" />
                    <DialButtonItem Icon="fa-solid fa-edit" Value="edit" />
                    <DialButtonItem Icon="fa-solid fa-save" Value="save" />
                </DialButton>
            </div>
            <div class="col-4 justify-content-center align-items-start">
                <DialButton Icon="fa-solid fa-flag" Placement="Placement.TopCenter" DialMode="Mode">
                    <DialButtonItem Icon="fa-solid fa-cut" Value="cut" />
                    <DialButtonItem Icon="fa-solid fa-copy" Value="copy" />
                    <DialButtonItem Icon="fa-solid fa-paste" Value="paste" />
                    <DialButtonItem Icon="fa-solid fa-edit" Value="edit" />
                    <DialButtonItem Icon="fa-solid fa-save" Value="save" />
                </DialButton>
            </div>
            <div class="col-4 justify-content-end align-items-start">
                <DialButton Icon="fa-solid fa-flag" Placement="Placement.TopEnd" DialMode="Mode">
                    <DialButtonItem Icon="fa-solid fa-cut" Value="cut" />
                    <DialButtonItem Icon="fa-solid fa-copy" Value="copy" />
                    <DialButtonItem Icon="fa-solid fa-paste" Value="paste" />
                    <DialButtonItem Icon="fa-solid fa-edit" Value="edit" />
                    <DialButtonItem Icon="fa-solid fa-save" Value="save" />
                </DialButton>
            </div>
            <div class="col-4 justify-content-start align-items-center">
                <DialButton Icon="fa-solid fa-flag" Placement="Placement.MiddleStart" DialMode="Mode">
                    <DialButtonItem Icon="fa-solid fa-cut" Value="cut" />
                    <DialButtonItem Icon="fa-solid fa-copy" Value="copy" />
                    <DialButtonItem Icon="fa-solid fa-paste" Value="paste" />
                    <DialButtonItem Icon="fa-solid fa-edit" Value="edit" />
                    <DialButtonItem Icon="fa-solid fa-save" Value="save" />
                </DialButton>
            </div>
            <div class="col-4 justify-content-center align-items-center">
                <DialButton Icon="fa-solid fa-flag" Placement="Placement.MiddleCenter" DialMode="Mode">
                    <DialButtonItem Icon="fa-solid fa-cut" Value="cut" />
                    <DialButtonItem Icon="fa-solid fa-copy" Value="copy" />
                    <DialButtonItem Icon="fa-solid fa-paste" Value="paste" />
                    <DialButtonItem Icon="fa-solid fa-edit" Value="edit" />
                    <DialButtonItem Icon="fa-solid fa-save" Value="save" />
                </DialButton>
            </div>
            <div class="col-4 justify-content-end align-items-center">
                <DialButton Icon="fa-solid fa-flag" Placement="Placement.MiddleEnd" DialMode="Mode">
                    <DialButtonItem Icon="fa-solid fa-cut" Value="cut" />
                    <DialButtonItem Icon="fa-solid fa-copy" Value="copy" />
                    <DialButtonItem Icon="fa-solid fa-paste" Value="paste" />
                    <DialButtonItem Icon="fa-solid fa-edit" Value="edit" />
                    <DialButtonItem Icon="fa-solid fa-save" Value="save" />
                </DialButton>
            </div>
            <div class="col-4 justify-content-start align-items-end">
                <DialButton Icon="fa-solid fa-flag" Placement="Placement.BottomStart" DialMode="Mode">
                    <DialButtonItem Icon="fa-solid fa-cut" Value="cut" />
                    <DialButtonItem Icon="fa-solid fa-copy" Value="copy" />
                    <DialButtonItem Icon="fa-solid fa-paste" Value="paste" />
                    <DialButtonItem Icon="fa-solid fa-edit" Value="edit" />
                    <DialButtonItem Icon="fa-solid fa-save" Value="save" />
                </DialButton>
            </div>
            <div class="col-4 justify-content-center align-items-end">
                <DialButton Icon="fa-solid fa-flag" Placement="Placement.BottomCenter" DialMode="Mode">
                    <DialButtonItem Icon="fa-solid fa-cut" Value="cut" />
                    <DialButtonItem Icon="fa-solid fa-copy" Value="copy" />
                    <DialButtonItem Icon="fa-solid fa-paste" Value="paste" />
                    <DialButtonItem Icon="fa-solid fa-edit" Value="edit" />
                    <DialButtonItem Icon="fa-solid fa-save" Value="save" />
                </DialButton>
            </div>
            <div class="col-4 justify-content-end align-items-end">
                <DialButton Icon="fa-solid fa-flag" Placement="Placement.BottomEnd" DialMode="Mode">
                    <DialButtonItem Icon="fa-solid fa-cut" Value="cut" />
                    <DialButtonItem Icon="fa-solid fa-copy" Value="copy" />
                    <DialButtonItem Icon="fa-solid fa-paste" Value="paste" />
                    <DialButtonItem Icon="fa-solid fa-edit" Value="edit" />
                    <DialButtonItem Icon="fa-solid fa-save" Value="save" />
                </DialButton>
            </div>
        </div>
    </div>
</DemoBlock>

@* <DemoBlock Title="@Localizer["ShowHeaderText"]" Introduction="@Localizer["ShowHeaderIntro"]" Name="ShowHeader">
    <SlideButton Icon="fa-solid fa-flag" HeaderText="@Localizer["SlideButtonHeaderText"]" ShowHeader="true"></SlideButton>
</DemoBlock>

<DemoBlock Title="@Localizer["AutoCloseText"]" Introduction="@Localizer["AutoCloseIntro"]" Name="IsAutoClose">
    <SlideButton Icon="fa-solid fa-flag" HeaderText="@Localizer["SlideButtonHeaderText"]" ShowHeader="true" IsAutoClose="false">
    </SlideButton>
</DemoBlock>

<DemoBlock Title="@Localizer["SlideButtonItemsText"]" Introduction="@Localizer["SlideButtonItemsIntro"]" Name="SlideButtonItemsTemplate">
    <SlideButton Icon="fa-solid fa-flag">
        <SlideButtonItems>
            <SlideButtonItem Value="1" Text="Text 1"></SlideButtonItem>
            <SlideButtonItem Value="2" Text="Text 2"></SlideButtonItem>
            <SlideButtonItem Value="3" Text="Text 3"></SlideButtonItem>
        </SlideButtonItems>
    </SlideButton>
</DemoBlock>

<DemoBlock Title="@Localizer["BodyTemplateText"]" Introduction="@Localizer["BodyTemplateIntro"]" Name="BodyTemplate">
    <div class="slide-button-custom">
        <SlideButton Icon="fa-solid fa-flag" HeaderText="@Localizer["SlideButtonHeaderText"]" ShowHeader="true">
            <BodyTemplate>
                <div class="slide-button-custom-group">
                    <div class="slide-item-custom">
                        <i class="fa-solid fa-copy"></i>
                    </div>
                    <div class="slide-item-custom">
                        <i class="fa-solid fa-cut"></i>
                    </div>
                    <div class="slide-item-custom">
                        <i class="fa-solid fa-paste"></i>
                    </div>
                </div>
            </BodyTemplate>
        </SlideButton>
    </div>
</DemoBlock> *@

@* <AttributeTable Items="@GetAttributes()" />
 *@
