@page "/displays"
@inject IStringLocalizer<Displays> Localizer

<h3>@Localizer["Title"]</h3>

<h4>@Localizer["SubTitle"]</h4>

<DemoBlock Title="@Localizer["BasicUsageTitle"]" Introduction="@Localizer["BasicUsageIntro"]" Name="Normal" Demo="typeof(Demos.Display.DisplayNormal)" />

<DemoBlock Title="@Localizer["BindWayTitle"]" Introduction="@Localizer["BindWayIntro"]" Name="Labels" Demo="typeof(Demos.Display.DisplayLabels)">
    <p>@((MarkupString)Localizer["BindWayP1"].Value)</p>
</DemoBlock>

<DemoBlock Title="@Localizer["DataTypeTitle"]" Introduction="@Localizer["DataTypeIntro"]" Name="DataType" Demo="typeof(Demos.Display.DisplayDataType)" />

<DemoBlock Title="@Localizer["EditorFormTitle"]" Introduction="@Localizer["EditorFormIntro"]" Name="EditorForm" Demo="typeof(Demos.Display.DisplayEditorForm)" />

<DemoBlock Title="@Localizer["FormatStringTitle"]" Introduction="@Localizer["FormatStringIntro"]" Name="FormatString" Demo="typeof(Demos.Display.DisplayFormatString)" />

<DemoBlock Title="@Localizer["LookupTitle"]" Introduction="@Localizer["LookupIntro"]" Name="Lookup" Demo="typeof(Demos.Display.DisplayLookup)">
    <p>
        <div>@((MarkupString)Localizer["LookupP1"].Value)</div>
        <div><b>InitValue</b>: 1,2,3</div>
        <div><b>IntValueSource</b>: Text1,Text2,Text3</div>
    </p>
</DemoBlock>

<AttributeTable Items="@GetAttributes()" />
