@page "/editors"
@inject SwalService SwalService
@inject PackageVersionService VersionManager
@inject IStringLocalizer<Editors> Localizer

<h3>@Localizer["EditorsTitle"]</h3>

<h4>@((MarkupString)Localizer["EditorsDescription"].Value)</h4>

<p>@((MarkupString)Localizer["EditorsTips"].Value)</p>

<Pre class="no-highlight">&lt;script src="_content/BootstrapBlazor.SummerNote/js/jquery-3.5.1.min.js"&gt;&lt;/script&gt;</Pre>

<Pre class="no-highlight">builder.Services.Configure&lt;HubOptions&gt;(option => option.MaximumReceiveMessageSize = null);</Pre>

<PackageTips Name="BootstrapBlazor.SummerNote" />

<DemoBlock Title="@Localizer["EditorNormalTitle"]" Introduction="@Localizer["EditorNormalIntro"]" Name="Normal" Demo="typeof(Demos.Editor.EditorNormal)">
    <p>@((MarkupString)Localizer["EditorNormalDescrption"].Value)</p>
    <div class="form-control mb-3">@((MarkupString)Localizer["EditorNormalDiv"].Value)</div>
</DemoBlock>

<DemoBlock Title="@Localizer["EditorSubmitTitle"]" Introduction="@Localizer["EditorSubmitIntro"]" Name="Submit" Demo="typeof(Demos.Editor.EditorSubmit)">
    <p>@((MarkupString)Localizer["EditorSubmitDescrption"].Value)</p>
</DemoBlock>

<DemoBlock Title="@Localizer["EditorPlaceholderTitle"]" Introduction="@Localizer["EditorPlaceholderIntro"]" Name="Placeholder" Demo="typeof(Demos.Editor.EditorPlaceholder)">
    <p>@((MarkupString)Localizer["EditorPlaceholderDescription"].Value)</p>
</DemoBlock>

<DemoBlock Title="@Localizer["EditorIsEditorTitle"]" Introduction="@Localizer["EditorIsEditorIntro"]" Name="IsEditor" Demo="typeof(Demos.Editor.EditorIsEditor)" />

<DemoBlock Title="@Localizer["EditorHeightTitle"]" Introduction="@Localizer["EditorHeightIntro"]" Name="Height" Demo="typeof(Demos.Editor.EditorHeight)" />

<DemoBlock Title="@Localizer["EditorOnValueChangedTitle"]" Introduction="@Localizer["EditorOnValueChangedIntro"]" Name="OnValueChanged" Demo="typeof(Demos.Editor.EditorOnValueChanged)">
    <p>@((MarkupString)Localizer["EditorOnValueChangedDescription"].Value)</p>
</DemoBlock>

<DemoBlock Title="@Localizer["EditorCustomerToolbarButtonsTitle"]" Introduction="@Localizer["EditorCustomerToolbarButtonsIntro"]" Name="CustomerToolbarButtons" Demo="typeof(Demos.Editor.EditorCustomerToolbarButtons)">
    <p>@((MarkupString)Localizer["EditorCustomerToolbarButtonsDescrition"].Value)</p>
</DemoBlock>

<DemoBlock Title="@Localizer["EditorToolbarItemsTitle"]" Introduction="@Localizer["EditorToolbarItemsIntro"]" Name="ToolbarItems" Demo="typeof(Demos.Editor.EditorToolbarItems)">
    <p>@((MarkupString)Localizer["EditorToolbarItemsDescrition"].Value)</p>
</DemoBlock>

<DemoBlock Title="@Localizer["DoMethodAsync"]" Introduction="@Localizer["DoMethodAsyncIntro"]" Name="DoMethodAsync" Demo="typeof(Demos.Editor.EditorDoMethodAsync)">
    <p>@((MarkupString)Localizer["DoMethodAsyncDescrition"].Value)</p>
</DemoBlock>

<AttributeTable Items="@GetAttributes()" />
