@page "/editor-form"
@inject IStringLocalizer<EditorForms> Localizer

<h3>@Localizer["Title"]</h3>

<h4>@Localizer["Description"]</h4>

<p>@((MarkupString)Localizer["SubDescription"].Value)</p>

<ul class="ul-demo">
    <li>@((MarkupString)Localizer["EditorFormTips1"].Value)</li>
    <li>@((MarkupString)Localizer["EditorFormTips2"].Value)</li>
    <li>@((MarkupString)Localizer["EditorFormTips3"].Value)</li>
    <li>@((MarkupString)Localizer["EditorFormTips4"].Value)</li>
</ul>

<DemoBlock Title="@Localizer["NormalTitle"]" Introduction="@Localizer["NormalIntro"]" Name="Normal" Demo="typeof(Demos.EditForm.EditFormNormal)">
    <p>@((MarkupString)Localizer["NormalDescription"].Value)</p>
</DemoBlock>

<DemoBlock Title="@Localizer["ValidateFormTitle"]" Introduction="@Localizer["ValidateFormIntro"]" Name="ValidateForm" Demo="typeof(Demos.EditForm.EditFormValidateForm)">
    <p>@((MarkupString)Localizer["ValidateFormTips1"].Value)</p>
    <p>@((MarkupString)Localizer["ValidateFormTips2"].Value)</p>
</DemoBlock>

<DemoBlock Title="@Localizer["AutoGenerateTitle"]" Introduction="@Localizer["AutoGenerateIntro"]" Name="AutoGenerate" Demo="typeof(Demos.EditForm.EditFormAutoGenerate)" />

<DemoBlock Title="@Localizer["SkipValidateTitle"]" Introduction="@Localizer["SkipValidateIntro"]" Name="SkipValidate" Demo="typeof(Demos.EditForm.EditFormSkipValidate)" />

<DemoBlock Title="@Localizer["ItemsPerRowTitle"]" Introduction="@Localizer["ItemsPerRowIntro"]" Name="ItemsPerRow" Demo="typeof(Demos.EditForm.EditFormItemsPerRow)">
    <p>@((MarkupString)Localizer["ItemsPerRowDescription"].Value)</p>
</DemoBlock>

<DemoBlock Title="@Localizer["AlignmentTitle"]" Introduction="@Localizer["AlignmentIntro"]" Name="Alignment" Demo="typeof(Demos.EditForm.EditFormAlignment)">
    <ul class="ul-demo mb-3">
        <li>@((MarkupString)Localizer["AlignmentTips1"].Value)</li>
        <li>@((MarkupString)Localizer["AlignmentTips2"].Value)</li>
    </ul>
</DemoBlock>

<AttributeTable Items="@GetAttributes()" />

<AttributeTable Title="@Localizer["AttrAttributeTitle"]" Items="@GetEditorItemAttributes()" />
