@page "/editdialogs"

<h3>@Localizer["H1"]</h3>
<h4>@Localizer["H2"]</h4>

<p>@((MarkupString)Localizer["P1"].Value)</p>

<Tips>
    <p>@Localizer["P2"] <code>DialogService</code> @Localizer["P3"] <code>ShowEditDialog</code> @Localizer["P4"]<code>EditDialogOption</code> @Localizer["P5"] <code>DialogOption</code>，@Localizer["P6"] <a href="dialogs" target="_blank">[@Localizer["P7"]]</a></p>
</Tips>

<DemoBlock Title="@Localizer["P8"]" Introduction="@Localizer["P9"]" Name="Normal">
    <Button Text="@Localizer["P10"]" OnClickWithoutRender="@ShowDialog" />
    <Button Text="@Localizer["P11"]" OnClickWithoutRender="@ShowAlignDialog" />
    <BlockLogger @ref="Trace" class="mt-3" />
</DemoBlock>

<DemoBlock Title="@Localizer["P12"]" Introduction="@Localizer["P13"]" Name="NoRender">
    <Button Text="@Localizer["P14"]" OnClickWithoutRender="@ShowEditDialog" />
</DemoBlock>

<AttributeTable Items="@GetAttributes()" Title="@Localizer["P15"]" />
