@page "/empties"
@inject NavigationManager NavigationManager
@inject IStringLocalizer<Empties> Localizer

<h3>@Localizer["Title"]</h3>
<h4>@Localizer["SubTitle"]</h4>

<DemoBlock Title="@Localizer["NormalTitle"]" Introduction="@Localizer["NormalIntro"]" Name="Normal" Demo="typeof(Demos.Empty.EmptyNormal)" />

<DemoBlock Title="@Localizer["ImageTitle"]" Introduction="@Localizer["ImageIntro"]" Name="Image" Demo="typeof(Demos.Empty.EmptyImage)" />

<DemoBlock Title="@Localizer["TemplateTitle"]" Introduction="@Localizer["TemplateIntro"]" Name="Template" Demo="typeof(Demos.Empty.EmptyTemplate)" />

<AttributeTable Items="@GetAttributes()" />

