@page "/empties"
@inject NavigationManager NavigationManager

<h3>@Title</h3>
<h4>@SubTitle</h4>

<DemoBlock Title="@Localizer["BasicUsageTitle"]" Introduction="@Localizer["BasicUsageIntro"]" Name="Normal">
    <Empty />
</DemoBlock>

<DemoBlock Title="@Localizer["ImageTitle"]" Introduction="@Localizer["ImageIntro"]" Name="Image">
    <Empty Image="https://gw.alipayobjects.com/zos/antfincdn/ZHrcdLPrvN/empty.svg" Width="133" Text="@Localizer["ImageText"]" />
</DemoBlock>

<DemoBlock Title="@Localizer["TemplateTitle"]" Introduction="@Localizer["TemplateIntro"]" Name="Template">
    <Empty Image="_content/BootstrapBlazor.Shared/images/empty.svg">
        <Template>
            <Button OnClick="@(()=>NavigationManager.NavigateTo("components"))">@Localizer["TemplateIButtonText"]</Button>
        </Template>
    </Empty>
</DemoBlock>

<AttributeTable Items="@GetAttributes()" />

