@page "/fileicons"

<h3>@Localizer["Title"]</h3>
<h4>@Localizer["Intro"]</h4>

<DemoBlock Title="@Localizer["BaseUsageTitle"]" Introduction="@Localizer["BaseUsageIntro"]" Name="Normal" Demo="typeof(Demos.FileIcon.FileIconNormal)" />

<DemoBlock Title="@Localizer["ColorTitle"]" Introduction="@Localizer["ColorIntro"]" Name="IconColor" Demo="typeof(Demos.FileIcon.FileIconColor)" />

<DemoBlock Title="@Localizer["BackgroundTemplateTitle"]" Introduction="@Localizer["BackgroundTemplateIntro"]" Name="BackgroundTemplate" Demo="typeof(Demos.FileIcon.FileIconBackgroundTemplate)" />

<DemoBlock Title="@Localizer["CustomCssTitle"]" Introduction="@Localizer["CustomCssIntro"]" Name="CustomClass" Demo="typeof(Demos.FileIcon.FileIconCustomClass)" />

<AttributeTable Items="@GetAttributes()" />
