@page "/fileicons"

<h3>@Localizer["Title"]</h3>
<h4>@Localizer["Intro"]</h4>

<DemoBlock Title="@Localizer["BaseUsageTitle"]" Introduction="@Localizer["BaseUsageIntro"]" Name="Normal" Demo="FileIcon.FileIconNormal" />

<DemoBlock Title="@Localizer["ColorTitle"]" Introduction="@Localizer["ColorIntro"]" Name="IconColor" Demo="FileIcon.FileIconColor" />

<DemoBlock Title="@Localizer["BackgroundTemplateTitle"]" Introduction="@Localizer["BackgroundTemplateIntro"]" Name="BackgroundTemplate" Demo="FileIcon.FileIconBackgroundTemplate" />

<DemoBlock Title="@Localizer["CustomCssTitle"]" Introduction="@Localizer["CustomCssIntro"]" Name="CustomClass" Demo="FileIcon.FileIconCustomClass" />

<AttributeTable Items="@GetAttributes()" />
