@page "/footers"
@inject IStringLocalizer<Footers> Localizer

<h3>@Localizer["FootersTitle"]</h3>

<h4>@Localizer["FootersDescription"]</h4>

<p>@((MarkupString)Localizer["FootersTips"].Value)</p>

<DemoBlock Title="@Localizer["FooterNormalTitle"]"
           Introduction="@Localizer["FooterNormalIntro"]"
           Name="Normal"
           Demo="typeof(Demos.Footers.FooterNormal)">
</DemoBlock>

<DemoBlock Title="@Localizer["FooterShowGotoTitle"]"
           Introduction="@Localizer["FooterShowGotoIntro"]"
           Name="ShowGoto"
           Demo="typeof(Demos.Footers.FooterShowGoto)">
</DemoBlock>

<DemoBlock Title="@Localizer["FooterChildContentTitle"]"
           Introduction="@Localizer["FooterChildContentIntro"]"
           Name="ChildContent"
           Demo="typeof(Demos.Footers.FooterChildContent)">
</DemoBlock>

<CSS>
    <Pre>.footer {
    --bb-footer-bg: var(--bs-secondary);
    --bb-footer-color: inherit;
    --bb-footer-padding: .5rem 1rem;
}</Pre>
</CSS>

<AttributeTable Items="@GetAttributes()" />
