@page "/geolocations"
@inject IStringLocalizer<Geolocations> Localizer

<h3>@Localizer["GeolocationsTitle"]</h3>

<DemoBlock Title="@Localizer["GeolocationNormalText"]"
           Introduction="@Localizer["GeolocationNormalIntro"]"
           Name="Normal"
           Demo="typeof(Demos.Geolocations.GeolocationNormal)">
    <p>@Localizer["GeolocationNormalIntro2"]</p>
    <Tips>
        <p>@Localizer["GeolocationNormalIntro3"]</p>
    </Tips>
</DemoBlock>
