@page "/group-box"
@inject IStringLocalizer<GroupBoxes> Localizer

<h3>@Localizer["Title"]</h3>

<h4>@Localizer["SubTitle"]</h4>

<DemoBlock Title="@Localizer["BasicUsageTitle"]" Introduction="@Localizer["BasicUsageIntro"]" Name="Normal" >
    <GroupBox Title="@Localizer["GroupTitle"]">
        <p>@((MarkupString)Localizer["GroupP1"].Value)</p>
        <p>@((MarkupString)Localizer["GroupP2"].Value)</p>
    </GroupBox>
</DemoBlock>

<AttributeTable Items="@GetAttributes()" />
