@page "/groupboxs"
@inject IStringLocalizer<GroupBoxs> Localizer

<h3>@Localizer["Title"]</h3>

<h4>@Localizer["SubTitle"]</h4>

<DemoBlock Title="@Localizer["BasicUsageTitle"]" Introduction="@Localizer["BasicUsageIntro"]" Name="Normal" Demo="typeof(Demos.GroupBox.GroupBoxNormal)" />

<AttributeTable Items="@GetAttributes()" />
