@page "/handwritten"
@inject IStringLocalizer<Handwrittens> Localizer

<h3>@Localizer["Title"]</h3>

<h4>@Localizer["SubTitle"]</h4>

<DemoBlock Title="@Localizer["BaseUsageText"]" Introduction="@Localizer["IntroText1"]" Name="Normal">
    <Handwritten HandwrittenBase64="e => DrawBase64 = e" />
    <textarea type="text" class="form-control mt-3" readonly rows="5" @bind="DrawBase64" />
</DemoBlock>

<AttributeTable Items="@GetAttributes()" />
