@page "/handwrittenpage"
@inject IStringLocalizer<HandwrittenPage> Localizer

<h3>@Localizer["Title"]</h3>

<h4>@Localizer["SubTitle"]</h4>

<DemoBlock Title="@Localizer["BaseUsageText"]" Introduction="@Localizer["IntroText1"]" Name="Normal" Demo="typeof(Demos.Handwritten.HandwrittenNormal)" />

<AttributeTable Items="@GetAttributes()" />
