@page "/html2pdf"
@inject IStringLocalizer<Html2Pdfs> Localizer

<h3>@Localizer["Html2PdfTitle"]</h3>

<h4>@Localizer["Html2PdfDescription"]</h4>

<DemoBlock Title="@Localizer["Html2PdfNormalTitle"]" Introduction="@Localizer["Html2PdfNormalIntro"]" Name="Normal" Demo="typeof(Demos.Html2Pdf.Html2PdfNormal)" />

<DemoBlock Title="@Localizer["Html2PdfByIdTitle"]" Introduction="@Localizer["Html2PdfByIdIntro"]" Name="ById" Demo="typeof(Demos.Html2Pdf.Html2PdfById)" />

<DemoBlock Title="@Localizer["Html2PdfByElementTitle"]" Introduction="@Localizer["Html2PdfByElementIntro"]" Name="ByElement" Demo="typeof(Demos.Html2Pdf.Html2PdfByElement)" />
