@page "/image-viewer"
@inject IStringLocalizer<ImageViewers> Localizer

<h3>@Localizer["ImageViewerTitle"]</h3>

<h4>@Localizer["ImageViewerDescription"]</h4>

<DemoBlock Title="@Localizer["ImageViewerNormalTitle"]"
           Introduction="@Localizer["ImageViewerNormalIntro"]"
           Name="Normal"
           Demo="typeof(Demos.ImageViewer.ImageViewerNormal)" />

<DemoBlock Title="@Localizer["ImageViewerPlaceHolderTitle"]"
           Introduction="@Localizer["ImageViewerPlaceHolderIntro"]"
           Name="PlaceHolder"
           Demo="typeof(Demos.ImageViewer.ImageViewerPlaceHolder)" />

<DemoBlock Title="@Localizer["ImageViewerPlaceHolderTemplateTitle"]"
           Introduction="@Localizer["ImageViewerPlaceHolderTemplateIntro"]"
           Name="PlaceHolderTemplate"
           Demo="typeof(Demos.ImageViewer.ImageViewerPlaceHolderTemplate)" />

<DemoBlock Title="@Localizer["ImageViewerErrorTemplateTitle"]"
           Introduction="@Localizer["ImageViewerErrorTemplateIntro"]"
           Name="ErrorTemplate"
           Demo="typeof(Demos.ImageViewer.ImageViewerErrorTemplate)" />

<DemoBlock Title="@Localizer["ImageViewerPreviewListTitle"]"
           Introduction="@Localizer["ImageViewerPreviewListIntro"]"
           Name="PreviewList"
           Demo="typeof(Demos.ImageViewer.ImageViewerPreviewList)" />

<AttributeTable Items="@GetAttributes()" />
