@page "/input"
@inject IStringLocalizer<Inputs> Localizer

<h3>@Localizer["InputsTitle"]</h3>

<h4>@Localizer["InputsDescription"]</h4>

<DemoBlock Title="@Localizer["InputsNormalTitle"]"
           Introduction="@Localizer["InputsNormalIntro"]"
           Name="Normal"
           Demo="typeof(Demos.Inputs.InputsNormal)">
    <p>@((MarkupString)Localizer["InputsNormalDescription"].Value)</p>
</DemoBlock>

<DemoBlock Title="@Localizer["InputsColorTitle"]"
           Introduction="@Localizer["InputsColorIntro"]"
           Name="Color"
           Demo="typeof(Demos.Inputs.InputsColor)">
</DemoBlock>

<DemoBlock Title="@Localizer["InputsKeyboardTitle"]"
           Introduction="@Localizer["InputsKeyboardIntro"]"
           Name="Keyboard"
           Demo="typeof(Demos.Inputs.InputsKeyboard)">
</DemoBlock>

<DemoBlock Title="@Localizer["InputsPlaceholderTitle"]"
           Introduction="@Localizer["InputsPlaceholderIntro"]"
           Name="Placeholder"
           Demo="typeof(Demos.Inputs.InputsPlaceholder)">
</DemoBlock>

<DemoBlock Title="@Localizer["InputsLabelsTitle"]"
           Introduction="@Localizer["InputsLabelsIntro"]"
           Name="Labels"
           Demo="typeof(Demos.Inputs.InputsLabels)">
    <p>@((MarkupString)Localizer["InputsLabelsDescription"].Value)</p>
</DemoBlock>

<DemoBlock Title="@Localizer["InputsValidateFormTitle"]"
           Introduction="@Localizer["InputsValidateFormIntro"]"
           Name="ValidateForm"
           Demo="typeof(Demos.Inputs.InputsValidateForm)">
    <Tips>@((MarkupString)Localizer["InputsValidateFormTips1"].Value)</Tips>
</DemoBlock>

<DemoBlock Title="@Localizer["InputsPasswordTitle"]"
           Introduction="@Localizer["InputsPasswordIntro"]"
           Name="Password"
           Demo="typeof(Demos.Inputs.InputsPassword)">
    <p>@((MarkupString)Localizer["InputsPasswordDescription"].Value)</p>
</DemoBlock>

<DemoBlock Title="@Localizer["InputsGenericTitle"]"
           Introduction="@Localizer["InputsGenericIntro"]"
           Name="Generic"
           Demo="typeof(Demos.Inputs.InputsGeneric)">
</DemoBlock>

<DemoBlock Title="@Localizer["InputsDisabledTitle"]"
           Introduction="@Localizer["InputsDisabledIntro"]"
           Name="Disabled"
           Demo="typeof(Demos.Inputs.InputsDisabled)">
</DemoBlock>

<DemoBlock Title="@Localizer["InputsFormatStringTitle"]"
           Introduction="@Localizer["InputsFormatStringIntro"]"
           Name="FormatString"
           Demo="typeof(Demos.Inputs.InputsFormatString)">
</DemoBlock>

<DemoBlock Title="@Localizer["InputsPassword2Title"]"
           Introduction="@Localizer["InputsPassword2Intro"]"
           Name="Password2"
           Demo="typeof(Demos.Inputs.InputsPassword2)">
</DemoBlock>

<DemoBlock Title="@Localizer["InputsTrimTitle"]"
           Introduction="@Localizer["InputsTrimIntro"]"
           Name="Trim"
           Demo="typeof(Demos.Inputs.InputsTrim)">
    <p>@((MarkupString)Localizer["TrimDescription"].Value)</p>
</DemoBlock>

<AttributeTable Items="@GetAttributes()" />
