@page "/jshelpers"
@inject IBootstrapBlazorJSHelper JSHelper

<DemoBlock Title="AddLink/RemoveLink" Introduction="动态添加/移除Link连接" ShowCode="false" Name="AddLink">
    <Pre>//默认rel="stylesheet"
await AddLink("_content/BootstrapBlazor/css/bootstrap.blazor.bundle.min.css");
await RemoveLink("_content/BootstrapBlazor/css/bootstrap.blazor.bundle.min.css");
//指定rel="icon"
await AddLink("favicon.ico","icon");
await RemoveLink("favicon.ico");</Pre>
</DemoBlock>

<DemoBlock Title="AddScript/RemoveScript" Introduction="动态添加/移除Script脚本" ShowCode="false" Name="AddScript">
    <Pre>await AddScript("_content/BootstrapBlazor/js/bootstrap.blazor.bundle.min.js");
await RemoveScript("_content/BootstrapBlazor/js/bootstrap.blazor.bundle.min.js");</Pre>
</DemoBlock>

<DemoBlock Title="RunJSWithEval" Introduction="通过Eval动态执行JavaScript脚本" ShowCode="false" Name="RunJSWithEval">
    <Pre class="mb-2">await RunJSWithFunction("your js code");</Pre>
    <Textarea class="mb-2" @bind-Value="@evalJSContent" rows="6" />
    <Button class="mb-2" Text="Run" OnClick="@RunJSWithEvalDemo"></Button>
    <Textarea @bind-Value="@evalJSResult" rows="1" />
</DemoBlock>

<DemoBlock Title="RunJSWithFunction" Introduction="通过Function动态执行JavaScript脚本" ShowCode="false" Name="RunJSWithFunction">
    <Pre class="mb-2">await RunJSWithFunction("your js code");</Pre>
    <Textarea class="mb-2" @bind-Value="@funcJSContent" rows="6" />
    <Button class="mb-2" Text="Run" OnClick="@RunJSWithFuncDemo"></Button>
    <Textarea @bind-Value="@funcJSResult" rows="1" />
</DemoBlock>

<DemoBlock Title="RunJSFile" Introduction="执行JavaScript脚本文件" ShowCode="false" Name="RunJSFile">
    <Button class="mb-2" Text="RunJSFile" OnClick="@RunJSFileDemo"></Button>
</DemoBlock>

<DemoBlock Title="Alert" Introduction="JS Alert 弹窗" ShowCode="false" Name="JSAlert">
    <Pre class="mb-2">await Alert("Hello BootstrapBlazor");</Pre>
    <Textarea class="mb-2" @bind-Value="@jsAlertContent" rows="1" />
    <Button Text="Run" OnClick="@RunJSAlert"></Button>
</DemoBlock>

<DemoBlock Title="Prompt" Introduction="JS Prompt 输入框" ShowCode="false" Name="JSAlert">
    <Pre class="mb-2">await Prompt("Hello BootstrapBlazor");</Pre>
    <Textarea class="mb-2" @bind-Value="@jsPromptContent" rows="1" />
    <Button class="mb-2" Text="Run" OnClick="@RunJSPrompt"></Button>
    <Textarea @bind-Value="@jsPromptResult" rows="1" />
</DemoBlock>

<DemoBlock Title="Console" Introduction="JS Console 控制台输出" ShowCode="false" Name="JSConsole">
    <Pre class="mb-2">await JSHelper.Console(ConsoleType.Log, "Hello BootstrapBlazor");</Pre>
    <Button class="mb-2" Text="Clear" OnClick="@(()=> JSHelper.ConsoleClear())" />
    <Button class="mb-2" Text="Log" OnClick="@(()=> JSHelper.Console(ConsoleType.Log, jsAlertContent))" />
    <Button class="mb-2" Text="Warn" OnClick="@(()=> JSHelper.Console(ConsoleType.Warn, jsAlertContent))" />
    <Button class="mb-2" Text="Error" OnClick="@(()=> JSHelper.Console(ConsoleType.Error, jsAlertContent))" />
    <Button class="mb-2" Text="Info" OnClick="@(()=> JSHelper.Console(ConsoleType.Info, jsAlertContent))" />
    <Button class="mb-2" Text="Assert" OnClick="@(()=> JSHelper.Console(ConsoleType.Assert, false, jsAlertContent))" />
    <Button class="mb-2" Text="Dir" OnClick="@(()=> JSHelper.Console(ConsoleType.Dir, GetMethods()))" />
    <Button class="mb-2" Text="Time" OnClick="@(()=> JSHelper.Console(ConsoleType.Time))" />
    <Button class="mb-2" Text="TimeEnd" OnClick="@(()=> JSHelper.Console(ConsoleType.TimeEnd))" />
    <Button class="mb-2" Text="Count" OnClick="@(()=> JSHelper.Console(ConsoleType.Count,jsAlertContent))" />
    <Button class="mb-2" Text="Group" OnClick="@(()=> JSHelper.Console(ConsoleType.Group,jsAlertContent))" />
    <Button class="mb-2" Text="GroupEnd" OnClick="@(()=> JSHelper.Console(ConsoleType.GroupEnd))" />
    <Button class="mb-2" Text="Table" OnClick="@(()=> JSHelper.Console(ConsoleType.Table, GetMethods()))" />
    <Button class="mb-2" Text="Trace" OnClick="@(()=> JSHelper.Console(ConsoleType.Trace))" />
</DemoBlock>

<MethodTable Items="GetMethods()" />
