@page "/jsruntimeextensions"
@inject IStringLocalizer<JSRuntimeExtensions> Localizer

<DemoBlock Title="@Localizer["ChangeMetaTitle"]" Introduction="@Localizer["ChangeMetaIntro"]" ShowCode="false" Name="ChangeMeta">
    <Pre>[Inject]
private IJSRuntime JSRuntime { get; set; } = default!;
// add link
var result = await JSRuntime.ChangeMetaAsync(true,HeadMetaType.Link,"stylesheet","styles.css");
// remove link
var result = await JSRuntime.ChangeMetaAsync(false,HeadMetaType.Link,"stylesheet","styles.css");
</Pre>
</DemoBlock>

<DemoBlock Title="@Localizer["IsMobileDeviceTitle"]" Introduction="@Localizer["IsMobileDeviceIntro"]" Name="IsMobileDevice">
    <Pre class="mb-2">await JSRuntime.GetIsMobileDevice();</Pre>
    <BootstrapInputGroup>
        <BootstrapInputGroupLabel class="label-width" DisplayText="IsMobileDevice" />
        <Button Text="Get" OnClick="@GetIsMobileDevice"/>
        <BootstrapInput TValue="bool" @bind-Value="@IsMobileDevice" />
    </BootstrapInputGroup>
</DemoBlock>

<DemoBlock Title="@Localizer["EvalTitle"]" Introduction="@Localizer["EvalIntro"]" Name="Eval">
    <Pre class="mb-2">await JSRuntime.Eval("js code");</Pre>
    <Textarea class="mb-2" @bind-Value="@evalContent" rows="3" />
    <Button class="mb-2" Text="Run" OnClick="@RunEval"></Button>
    <Textarea @bind-Value="@evalResult" rows="1" />
</DemoBlock>

<DemoBlock Title="@Localizer["FunctionTitle"]" Introduction="@Localizer["FunctionIntro"]" Name="Eval">
    <Pre class="mb-2">await JSRuntime.Function("js code");</Pre>
    <Textarea class="mb-2" @bind-Value="@functionContent" rows="3" />
    <Button class="mb-2" Text="Run" OnClick="@RunFunction"></Button>
    <Textarea @bind-Value="@functionResult" rows="1" />
</DemoBlock>

<DemoBlock Title="@Localizer["JSConsoleTitle"]" Introduction="@Localizer["JSConsoleIntro"]" Name="JSConsole">
    <Pre class="mb-2">await JSRuntime.Console(ConsoleType.Log, "Hello BootstrapBlazor");</Pre>
    <Button class="mb-2" Text="Clear" OnClick="@(()=> JSRuntime.ConsoleClear())" />
    <Button class="mb-2" Text="Log" OnClick="@(()=> JSRuntime.ConsoleLog(_consoleText))" />
    <Button class="mb-2" Text="Warn" OnClick="@(()=> JSRuntime.ConsoleWarn( _consoleText))" />
    <Button class="mb-2" Text="Error" OnClick="@(()=> JSRuntime.ConsoleError(_consoleText))" />
    <Button class="mb-2" Text="Info" OnClick="@(()=> JSRuntime.ConsoleInfo( _consoleText))" />
    <Button class="mb-2" Text="Assert" OnClick="@(()=> JSRuntime.ConsoleAssert( false, _consoleText))" />
    <Button class="mb-2" Text="Dir" OnClick="@(()=> JSRuntime.ConsoleDir(GetMethods()))" />
    <Button class="mb-2" Text="Time" OnClick="@(()=> JSRuntime.ConsoleTime())" />
    <Button class="mb-2" Text="TimeEnd" OnClick="@(()=> JSRuntime.ConsoleTimeEnd())" />
    <Button class="mb-2" Text="Count" OnClick="@(()=> JSRuntime.ConsoleCount(_consoleText))" />
    <Button class="mb-2" Text="Group" OnClick="@(()=> JSRuntime.ConsoleGroup(_consoleText))" />
    <Button class="mb-2" Text="GroupEnd" OnClick="@(()=> JSRuntime.ConsoleGroupEnd())" />
    <Button class="mb-2" Text="Table" OnClick="@(()=> JSRuntime.ConsoleTable( GetMethods()))" />
    <Button class="mb-2" Text="Trace" OnClick="@(()=> JSRuntime.ConsoleTrace())" />
</DemoBlock>

<DemoBlock Title="@Localizer["GetElementCSSTitle"]" Introduction="@Localizer["GetElementCSSIntro"]" Name="GetElementProperties">
    <section>
        <Button class="mb-2" Text="Get" OnClick="@GetElementCSS"></Button>
        <BootstrapInputGroup>
            <BootstrapInputGroupLabel class="label-width" DisplayText="Element Id" />
            <BootstrapInput TValue="string" @bind-Value="@propertiesId" />
        </BootstrapInputGroup>
        <BootstrapInputGroup>
            <BootstrapInputGroupLabel class="label-width" DisplayText="Element Property" />
            <BootstrapInput style="background:yellow" TValue="string" @bind-Value="@propertiesTag1" />
            <BootstrapInputGroupLabel class="label-width" DisplayText="Value" />
            <BootstrapInput TValue="string" @bind-Value="@propertiesResult1" />
        </BootstrapInputGroup>
    </section>
</DemoBlock>

<MethodTable Items="GetMethods()" />
