@page "/layout"
@inject IStringLocalizer<Layouts> Localizer

<h3>@Localizer["LayoutsTitle"]</h3>

<h4>@Localizer["LayoutsDescription1"]</h4>

<p>
    <code>Container</code>：@((MarkupString)Localizer["LayoutsDescription1_Container"].Value)<br />
    <code>Header</code>：@Localizer["LayoutsDescription1_Header"]<br />
    <code>Side</code>：@Localizer["LayoutsDescription1_Side"]<br />
    <code>Main</code>：@Localizer["LayoutsDescription1_Main"]<br />
    <code>Footer</code>：@Localizer["LayoutsDescription1_Footer"]
</p>

<h4>@Localizer["LayoutsDescription2"]</h4>
<p>
    <code>Layout</code>：@((MarkupString)Localizer["LayoutsDescription2_Layout"].Value)<br />
    <code>Header</code>：@Localizer["LayoutsDescription2_Header"]<br />
    <code>Sider</code>：@Localizer["LayoutsDescription2_Sider"]<br />
    <code>Main</code>：@Localizer["LayoutsDescription2_Main"]<br />
    <code>Footer</code>：@Localizer["LayoutsDescription2_Footer"]
</p>

<Tips>
    <p>
        @((MarkupString)Localizer["LayoutsTips1"].Value)
    </p>

    <b>@Localizer["LayoutsTips2"]</b>

    <p>@((MarkupString)Localizer["LayoutsTips3"].Value)</p>
</Tips>

<h4>@Localizer["LayoutsDemosTitle"]</h4>

<div>
    <DemoBlock Title="@Localizer["LayoutsUpAndDownTitle"]"
               Introduction="@Localizer["LayoutsUpAndDownIntro"]"
               Name="UpAndDown"
               Demo="typeof(Demos.Layouts.LayoutsUpAndDown)">
    </DemoBlock>

    <DemoBlock Title="@Localizer["LayoutsMiddleLeftRightTitle"]"
               Introduction="@Localizer["LayoutsMiddleLeftRightIntro"]"
               Name="MiddleLeftRight"
               Demo="typeof(Demos.Layouts.LayoutsMiddleLeftRight)">
    </DemoBlock>

    <DemoBlock Title="@Localizer["LayoutsLeftRightTitle"]"
               Introduction="@Localizer["LayoutsLeftRightIntro"]"
               Name="LeftRight"
               Demo="typeof(Demos.Layouts.LayoutsLeftRight)">
    </DemoBlock>

    <DemoBlock Title="@Localizer["LayoutsCustomPercentTitle"]"
               Introduction="@Localizer["LayoutsCustomPercentIntro"]"
               Name="CuntomPercent"
               Demo="typeof(Demos.Layouts.LayoutsCustomPercent)">
    </DemoBlock>

    <DemoBlock Title="@Localizer["LayoutsAppTitle"]"
               Introduction="@Localizer["LayoutsAppIntro"]"
               Name="App"
               Demo="typeof(Demos.Layouts.LayoutsApp)">
    </DemoBlock>

    <DemoBlock Title="@Localizer["LayoutsPageTitle"]"
               Introduction="@Localizer["LayoutsPageIntro"]"
               Name="Page">
        <Tips>@((MarkupString)Localizer["LayoutsPageTips1"].Value)</Tips>

        <ul class="page-layout-demo-list">
            <li>
                <a href="layout-page" target="_blank">@Localizer["LayoutsPageHrefTitle"]</a>
            </li>
        </ul>
    </DemoBlock>
</div>

<AttributeTable Items="@GetAttributes()" />
