@page "/lights"
@inject IStringLocalizer<Lights> Localizer

<h3>@Localizer["LightsTitle"]</h3>
<h4>@Localizer["LightsDescription"]</h4>

<DemoBlock Title="@Localizer["LightsNormalTitle"]"
           Introduction="@Localizer["LightsNormalIntro"]"
           Name="Normal"
           Demo="typeof(Demos.Lights.LightsNormal)">
</DemoBlock>

<DemoBlock Title="@Localizer["LightsFlashingTitle"]"
           Introduction="@Localizer["LightsFlashingIntro"]"
           Name="Flashing"
           Demo="typeof(Demos.Lights.LightsFlashing)">
</DemoBlock>

<DemoBlock Title="@Localizer["LightsColorTitle"]"
           Introduction="@Localizer["LightsColorIntro"]"
           Name="Color"
           Demo="typeof(Demos.Lights.LightsColor)">
</DemoBlock>

<DemoBlock Title="@Localizer["LightsTooltipTextTitle"]"
           Introduction="@Localizer["LightsTooltipTextIntro"]"
           Name="TooltipText"
           Demo="typeof(Demos.Lights.LightsTooltipText)">
</DemoBlock>

<AttributeTable Items="GetAttributes()"></AttributeTable>
