@page "/list-view"
@inject IOptionsMonitor<WebsiteOptions> WebsiteOption
@inject IStringLocalizer<ListViews> Localizer

<h3>@Localizer["ListViewsTitle"]</h3>

<h4>@Localizer["ListViewsSubTitle"]</h4>

<div class="lv-demo">
    <DemoBlock Title="@Localizer["BasicUsageTitle"]"
               Introduction="@Localizer["BasicUsageIntro"]"
               Name="Normal"
               Demo="typeof(Demos.ListViews.ListViewsNormal)">
        <p>@((MarkupString)Localizer["BasicUsageP1"].Value)</p>
    </DemoBlock>

    <DemoBlock Title="@Localizer["PaginationTitle"]"
               Introduction="@Localizer["PaginationIntro"]"
               Name="Pagination"
               Demo="typeof(Demos.ListViews.ListViewsPagination)">
    </DemoBlock>

    <DemoBlock Title="@Localizer["GroupTitle"]"
               Introduction="@Localizer["GroupIntro"]"
               Name="Group"
               Demo="typeof(Demos.ListViews.ListViewsGroup)">
    </DemoBlock>

    <DemoBlock Title="@Localizer["CollapseTitle"]"
               Introduction="@Localizer["CollapseIntro"]"
               Name="Collapse"
               Demo="typeof(Demos.ListViews.ListViewsCollapse)">
    </DemoBlock>

    <DemoBlock Title="@Localizer["IsAccordionTitle"]"
               Introduction="@Localizer["IsAccordionIntro"]"
               Name="IsAccordion"
               Demo="typeof(Demos.ListViews.ListViewsIsAccordion)">
    </DemoBlock>
</div>

<AttributeTable Items="GetAttributes()"></AttributeTable>

<MethodTable Items="GetMethods()"></MethodTable>
