@page "/loader"
@inject IStringLocalizer<Loaders> Localizer

<h3>@Localizer["LoadersTitle"]</h3>
<h4>@Localizer["LoadersDescription"]</h4>

<p>
    <b>@Localizer["LoadersTipsTitle"]</b>
    <br />
    @Localizer["LoadersTips"]
</p>

<DemoBlock Title="@Localizer["LoadersNormalTitle"]"
           Introduction="@Localizer["LoadersNormalIntro"]"
           Name="Normal">
    <div class="loader-demo">
        <Loader />
    </div>
</DemoBlock>

<DemoBlock Title="@Localizer["LoadersTextTitle"]"
           Introduction="@Localizer["LoadersTextIntro"]"
           Name="Text">
    <div class="loader-demo">
        <Loader Text="@Localizer["LoadersText"]" />
    </div>
</DemoBlock>

<DemoBlock Title="@Localizer["LoadersColorTitle"]"
           Introduction="@Localizer["LoadersColorIntro"]"
           Name="Color">
    <div class="loader-demo">
        <Loader Color="Color.Info" Text="@Localizer["LoadersText"]" />
    </div>
</DemoBlock>

<DemoBlock Title="@Localizer["LoadersColumnsTitle"]"
           Introduction="@Localizer["LoadersColumnsIntro"]"
           Name="Columns">
    <div class="loader-demo">
        <div class="mb-2">
            <BootstrapInputGroup>
                <BootstrapInputGroupLabel DisplayText="@Localizer["LoadersColumnsText"]" />
                <Slider @bind-Value="@_columns" Min="10" Max="50" />
                <BootstrapInputNumber @bind-Value="@_columns" Min="10" Max="50" />
            </BootstrapInputGroup>
        </div>
        <Loader Columns="@_columns" Text="@Localizer["LoadersText"]" />
    </div>
</DemoBlock>

<AttributeTable Items="@GetAttributes()" />
