@page "/loader"
@inject IStringLocalizer<Loaders> Localizer

<h3>@Localizer["LoadersTitle"]</h3>
<h4>@Localizer["LoadersDescription"]</h4>

<p>
    <b>@Localizer["LoadersTipsTitle"]</b>
    <br />
    @Localizer["LoadersTips"]
</p>

<div class="mb-2">
    <BootstrapInputGroup>
        <BootstrapInputGroupLabel DisplayText="Colunms" />
        <Slider @bind-Value="@Colunms" Min="10" Max="100" />
    </BootstrapInputGroup>
</div>

<DemoBlock Title="@Localizer["LoadersNormalTitle"]"
           Introduction="@Localizer["LoadersNormalIntro"]"
           Name="Normal">
    <div class="loader-demo">
        <Loader Columns="@Colunms" />
    </div>
</DemoBlock>

<DemoBlock Title="@Localizer["LoadersTextTitle"]"
           Introduction="@Localizer["LoadersTextIntro"]"
           Name="Text">
    <div class="loader-demo">
        <Loader Columns="@Colunms" Text="加载中 。。。" />
    </div>
</DemoBlock>

<DemoBlock Title="@Localizer["LoadersColorTitle"]"
           Introduction="@Localizer["LoadersColorIntro"]"
           Name="Color">
    <div class="loader-demo">
        <Loader Columns="@Colunms" Color="Color.Info" Text="加载中 。。。" />
    </div>
</DemoBlock>

<AttributeTable Items="@GetAttributes()" />
