@page "/logout"
@inject IStringLocalizer<Logouts> Localizer

<h3>@Localizer["LogoutsTitle"]</h3>

<h4>@Localizer["LogoutsDescription"]</h4>

<DemoBlock Title="@Localizer["LogoutsNormalTitle"]"
           Introduction="@Localizer["LogoutsNormalIntro"]"
           Name="Normal"
           Demo="typeof(Demos.Logouts.LogoutNormal)">
</DemoBlock>

<DemoBlock Title="@Localizer["LogoutsShowUserNameTitle"]"
           Introduction="@Localizer["LogoutsShowUserNameIntro"]"
           Name="ShowUserName"
           Demo="typeof(Demos.Logouts.LogoutShowUserName)">
</DemoBlock>

<DemoBlock Title="@Localizer["LogoutsChildContentTitle"]"
           Introduction="@Localizer["LogoutsChildContentIntro"]"
           Name="ChildContent"
           Demo="typeof(Demos.Logouts.LogoutChildContent)">
</DemoBlock>

<DemoBlock Title="@Localizer["LogoutsHeaderTemplateTitle"]"
           Introduction="@Localizer["LogoutsHeaderTemplateIntro"]"
           Name="HeaderTemplate"
           Demo="typeof(Demos.Logouts.LogoutHeaderTemplate)">
</DemoBlock>

<DemoBlock Title="@Localizer["LogoutsLinkTemplateTitle"]"
           Introduction="@Localizer["LogoutsLinkTemplateIntro"]"
           Name="LinkTemplate"
           Demo="typeof(Demos.Logouts.LogoutLinkTemplate)">
</DemoBlock>

<AttributeTable Items="GetAttributes()"></AttributeTable>
