@page "/mouseFollowers"

<div>
    <style>
        .bb-cursor {
            color: orangered;
            height: auto;
            width: auto;
        }

        .bb-cursor-media {
            position: absolute;
            width: auto;
            height: auto;
            margin: -50px -220px 0 0;
        }
    </style>

    <h3>@Localizer["MouseFollowersTitle"]</h3>

    <h4>@Localizer["MouseFollowersDescription"]</h4>

    <PackageTips Name="@NugetPackageName"></PackageTips>

    <DemoBlock Title="@Localizer["MouseFollowerNormalTitle"]"
               Introduction="@Localizer["MouseFollowerNormalIntro"]"
               Name="MouseFollowerNormal">
        <MouseFollower>
            <div class="mouseFollower-demo" />
        </MouseFollower>
    </DemoBlock>

    <DemoBlock Title="@Localizer["MouseFollowerTextTitle"]"
               Introduction="@Localizer["MouseFollowerTextIntro"]"
               Name="MouseFollowerText">
        <MouseFollower Content="Hi"
                       Options="@FollowerOptions"
                       FollowerMode="MouseFollowerMode.Text">
            <div class="mouseFollower-demo" />
        </MouseFollower>
    </DemoBlock>

    <DemoBlock Title="@Localizer["MouseFollowerIconTitle"]"
               Introduction="@Localizer["MouseFollowerIconIntro"]"
               Name="MouseFollowerIcon">
        <MouseFollower FollowerMode="MouseFollowerMode.Image"
                       Content="././images/performance.svg">
            <div class="mouseFollower-demo" />
        </MouseFollower>
    </DemoBlock>

    <DemoBlock Title="@Localizer["MouseFollowerImageTitle"]"
               Introduction="@Localizer["MouseFollowerImageIntro"]"
               Name="MouseFollowerImage">
        <MouseFollower Options="@FollowerImageOptions"
                       FollowerMode="MouseFollowerMode.Image"
                       Content="././images/mousefollower/cat.gif">
            <div class="mouseFollower-demo" />
        </MouseFollower>
    </DemoBlock>

    <DemoBlock Title="@Localizer["MouseFollowerVideoTitle"]"
               Introduction="@Localizer["MouseFollowerVideoIntro"]"
               Name="MouseFollowerVideo">
        <MouseFollower FollowerMode="MouseFollowerMode.Video"
                       Content="//vjs.zencdn.net/v/oceans.mp4">
            <div class="mouseFollower-demo" />
        </MouseFollower>
    </DemoBlock>

    <AttributeTable Items="@GetAttributes()" />
</div>
