@page "/multiselects"
@inject IStringLocalizer<MultiSelects> Localizer

<h3>@Localizer["MultiSelectsTitle"]</h3>

<h4>@Localizer["MultiSelectsDescription"]</h4>

<DemoBlock Title="@Localizer["MultiSelectColorTitle"]" Introduction="@Localizer["MultiSelectColorIntro"]" Name="Color" Demo="typeof(Demos.MultiSelect.MultiSelectColor)" />

<DemoBlock Title="@Localizer["MultiSelectBindingStringTitle"]" Introduction="@Localizer["MultiSelectBindingStringIntro"]" Name="BindingString" Demo="typeof(Demos.MultiSelect.MultiSelectBindingString)">
    @((MarkupString)Localizer["MultiSelectBindingStringDescription"].Value)
</DemoBlock>

<DemoBlock Title="@Localizer["MultiSelectBindingCollectionTitle"]" Introduction="@Localizer["MultiSelectBindingCollectionIntro"]" Name="BindingCollection" Demo="typeof(Demos.MultiSelect.MultiSelectBindingCollection)">
    @((MarkupString)Localizer["MultiSelectBindingCollectionDescription"].Value)
</DemoBlock>

<DemoBlock Title="@Localizer["MultiSelectBindingNumberTitle"]" Introduction="@Localizer["MultiSelectBindingNumberIntro"]" Name="BindingNumber" Demo="typeof(Demos.MultiSelect.MultiSelectBindingNumber)">
    @((MarkupString)Localizer["MultiSelectBindingNumberDescription"].Value)
</DemoBlock>

<DemoBlock Title="@Localizer["MultiSelectBindingEnumCollectionTitle"]" Introduction="@Localizer["MultiSelectBindingEnumCollectionIntro"]" Name="BindingEnumCollection" Demo="typeof(Demos.MultiSelect.MultiSelectBindingEnumCollection)">
    @((MarkupString)Localizer["MultiSelectBindingEnumCollectionDescription"].Value)
</DemoBlock>

<DemoBlock Title="@Localizer["MultiSelectSearchTitle"]" Introduction="@Localizer["MultiSelectSearchIntro"]" Name="Search" Demo="typeof(Demos.MultiSelect.MultiSelectSearch)">
    @((MarkupString)Localizer["MultiSelectSearchDescription"].Value)
</DemoBlock>

<DemoBlock Title="@Localizer["MultiSelectGroupTitle"]" Introduction="@Localizer["BlockGroupIntro"]" Name="Group" Demo="typeof(Demos.MultiSelect.MultiSelectGroup)" />

<DemoBlock Title="@Localizer["MultiSelectDisableTitle"]" Introduction="@Localizer["MultiSelectDisableIntro"]" Name="Disable" Demo="typeof(Demos.MultiSelect.MultiSelectDisable)">
    @Localizer["MultiSelectDisableDescription"]
</DemoBlock>

<DemoBlock Title="@Localizer["MultiSelectOptionChangeTitle"]" Introduction="@Localizer["MultiSelectOptionChangeIntro"]" Name="OptionChange" Demo="typeof(Demos.MultiSelect.MultiSelectOptionChange)" />

<DemoBlock Title="@Localizer["MultiSelectClientValidationTitle"]" Introduction="@Localizer["MultiSelectClientValidationIntro"]" Name="ClientValidation" Demo="typeof(Demos.MultiSelect.MultiSelectClientValidation)">
    @((MarkupString)Localizer["MultiSelectClientValidationDescription"].Value)
</DemoBlock>

<DemoBlock Title="@Localizer["MultiSelectDisplayLabelTitle"]" Introduction="@Localizer["MultiSelectDisplayLabelIntro"]" Name="DisplayLabel" Demo="typeof(Demos.MultiSelect.MultiSelectDisplayLabel)">
    @((MarkupString)Localizer["MultiSelectDisplayLabelDescription"].Value)
</DemoBlock>

<DemoBlock Title="@Localizer["MultiSelectVeryLongTextTitle"]" Introduction="@Localizer["MultiSelectVeryLongTextIntro"]" Name="VeryLongText" Demo="typeof(Demos.MultiSelect.MultiSelectVeryLongText)" />

<DemoBlock Title="@Localizer["MultiSelectButtonTitle"]" Introduction="@Localizer["MultiSelectButtonIntro"]" Name="Button" Demo="typeof(Demos.MultiSelect.MultiSelectButton)" />

<DemoBlock Title="@Localizer["MultiSelectMaxMinTitle"]" Introduction="@Localizer["MultiSelectMaxMinIntro"]" Name="MaxMin" Demo="typeof(Demos.MultiSelect.MultiSelectMaxMin)" />

<DemoBlock Title="@Localizer["MultiSelectExpandButtonTitle"]" Introduction="@Localizer["MultiSelectExpandButtonIntro"]" Name="ExpandButton" Demo="typeof(Demos.MultiSelect.MultiSelectExpandButton)" />

<DemoBlock Title="@Localizer["MultiSelectCascadingTitle"]" Introduction="@Localizer["MultiSelectCascadingIntro"]" Name="Cascading" Demo="typeof(Demos.MultiSelect.MultiSelectCascading)">
    @((MarkupString)Localizer["MultiSelectCascadingDescription"].Value)
</DemoBlock>

<DemoBlock Title="@Localizer["MultiSelectItemTemplateTitle"]" Introduction="@Localizer["MultiSelectItemTemplateIntro"]" Name="ItemTemplate" Demo="typeof(Demos.MultiSelect.MultiSelectItemTemplate)" />

<DemoBlock Title="@Localizer["MultiSelectPopoverTitle"]" Introduction="@Localizer["MultiSelectPopoverIntro"]" Name="Popover" Demo="typeof(Demos.MultiSelect.MultiSelectPopover)" />

<AttributeTable Items="@GetAttributes()" />

<EventTable Items="@GetEvents()" />
