@page "/navs"
@inject IOptionsMonitor<WebsiteOptions> WebsiteOption
@inject IStringLocalizer<Navs> Localizer

<h3>@Localizer["NavsTitle"]</h3>

<h4>@Localizer["NavsDescription"]</h4>

<DemoBlock Title="@Localizer["NavsNormalTitle"]"
           Introduction="@Localizer["NavsNormalIntro"]"
           Name="Normal"
           Demo="typeof(Demos.Navs.NavsNormal)">
</DemoBlock>

<DemoBlock Title="@Localizer["NavsAlignTitle"]"
           Introduction="@Localizer["NavsAlignIntro"]"
           Name="Align"
           Demo="typeof(Demos.Navs.NavsAlign)">
</DemoBlock>

<DemoBlock Title="@Localizer["NavsVerticalTitle"]"
           Introduction="@Localizer["NavsVerticalIntro"]"
           Name="Vertical"
           Demo="typeof(Demos.Navs.NavsVertical)">
</DemoBlock>

<DemoBlock Title="@Localizer["NavsPillsTitle"]"
           Introduction="@Localizer["NavsPillsIntro"]"
           Name="Pills"
           Demo="typeof(Demos.Navs.NavsPills)">
</DemoBlock>

<DemoBlock Title="@Localizer["NavsFillAndAlignTitle"]"
           Introduction="@Localizer["NavsFillAndAlignIntro"]"
           Name="FillAndAlign"
           Demo="typeof(Demos.Navs.NavsFillAndAlign)">
</DemoBlock>

<DemoBlock Title="@Localizer["NavsWideTitle"]"
           Introduction="@Localizer["NavsWideIntro"]"
           Name="Wide"
           Demo="typeof(Demos.Navs.NavsWide)">
</DemoBlock>

<AttributeTable Items="@GetAttributes()" />
