@page "/ocrs"
@namespace BootstrapBlazor.Shared.Samples
@inject IStringLocalizer<OCRs> Localizer

<h3>@Localizer["Title"]</h3>

<p><b>@Localizer["P1"] ：</b></p>

<p>@((MarkupString)Localizer["P2"].Value)</p>

<p><b>@Localizer["P3"]</b></p>

<p>@((MarkupString)Localizer["P4"].Value)</p>

<div class="code-label">.NET CLI</div>
<Pre class="no-highlight">dotnet add package BootstrapBlazor.OCR</Pre>

<div class="code-label">PackageReference</div>
<Pre class="no-highlight">&lt;PackageReference Include="BootstrapBlazor.OCR" /&gt;</Pre>

<div class="code-label">Package Manager</div>
<Pre class="no-highlight">Install-Package BootstrapBlazor.OCR</Pre>

<DemoBlock Title="@Localizer["BaseUsageText"]" Introduction="@Localizer["BaseUsageIntro"]" Name="Normal">
    <Pre>&lt;ShowUI="true" ShowUI_Capture="true" OnResult="OnResult" /&gt;</Pre>
    <div class="row">
        <div class="col-12 col-sm-6">
            <OCR ShowUI="true" ShowUI_Capture="true" OnResult="OnResult" />
        </div> 
    </div>
</DemoBlock>

<DemoBlock Title="@Localizer["BaseUsageText2"]" Introduction="@Localizer["ButtonCssStyleIntro"]" Name="ButtonCssStyle">
    <label for="cam" class="input-label">
        @ocrStatus
    </label>
    <i style="color:green;margin-left:8px;">  @log</i>
    <InputFile id="cam" OnChange="OnChange" style="width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0); white-space: nowrap; border-width: 0;" accept='image/*' capture />
</DemoBlock> 

<Tips>
    <p>@((MarkupString)Localizer["Tips"].Value)</p>
</Tips>

<AttributeTable Items="@GetAttributes()" />
