@page "/onscreenkeyboards"
@namespace BootstrapBlazor.Shared.Samples
@inject IStringLocalizer<OnScreenKeyboards> Localizer

<h3>@Localizer["OnScreenKeyboardsTitle"]</h3>

<PackageTips Name="BootstrapBlazor.OnScreenKeyboard" />

<p><b>@Localizer["OnScreenKeyboardsBasicTitle"]</b></p>
<div class="code-label">Razor</div>
<Pre class="no-highlight">1. &lt;OnScreenKeyboard /&gt;</Pre>
<Pre class="no-highlight">2. &lt;input class="virtualkeyboard" data-kioskboard-type="all" data-kioskboard-specialcharacters="true" /&gt;</Pre>

<DemoBlock Title="@Localizer["OnScreenKeyboardsNormalText"]"
           Introduction="@Localizer["OnScreenKeyboardsNormalIntro"]"
           Name="Normal"
           Demo="typeof(Demos.OnScreenKeyboards.OnScreenKeyboardsNormal)">
</DemoBlock>

<DemoBlock Title="@Localizer["OnScreenKeyboardsTypekeyboardTitle"]"
           Introduction=""
           Name="Typekeyboard"
           Demo="typeof(Demos.OnScreenKeyboards.OnScreenKeyboardsTypekeyboard)">
</DemoBlock>

<DemoBlock Title="@Localizer["OnScreenKeyboardsTypeNumpadTitle"]"
           Introduction=""
           Name="TypeNumpadTitle"
           Demo="typeof(Demos.OnScreenKeyboards.OnScreenKeyboardsTypeNumpadTitle)">
</DemoBlock>

<DemoBlock Title="@Localizer["OnScreenKeyboardsThemeDarkTitle"]"
           Introduction=""
           Name="ThemeDarkTitle"
           Demo="typeof(Demos.OnScreenKeyboards.OnScreenKeyboardsThemeDarkTitle)">
</DemoBlock>

<DemoBlock Title="@Localizer["OnScreenKeyboardsSpecialcharactersTitle"]"
           Introduction=""
           Name="SpecialcharactersTitle"
           Demo="typeof(Demos.OnScreenKeyboards.OnScreenKeyboardsSpecialcharactersTitle)">
</DemoBlock>

<DemoBlock Title="@Localizer["OnScreenKeyboardsSpecialcharactersCustomerTitle"]"
           Introduction="[- + =]"
           Name="SpecialcharactersCustomerTitle"
           Demo="typeof(Demos.OnScreenKeyboards.OnScreenKeyboardsSpecialcharactersCustomerTitle)">
</DemoBlock>

<DemoBlock Title="@Localizer["OnScreenKeyboardsAppTitle"]"
           Introduction=""
           Name="App"
           Demo="typeof(Demos.OnScreenKeyboards.OnScreenKeyboardsApp)">
    <p>@Localizer["OnScreenKeyboardsAppDescription"]</p>
</DemoBlock>

<Tips class="mt-3">
    <p><b>@Localizer["OnScreenKeyboardsTips"] ：</b></p>
    <p>@((MarkupString)Localizer["OnScreenKeyboardsCss"].Value)</p>
</Tips>

<AttributeTable Items="@GetAttributes()" />

<AttributeTable Items="@GetKeyboardOptionAttributes()" Title="KeyboardOption" />

<AttributeTable Items="@GetKeyboardEnumAttributes()" Title="KeyboardEnum" />
