@page "/PdfReaders"
@namespace BootstrapBlazor.Shared.Samples
@inject IStringLocalizer<PdfReaders> Localizer

<h3>@Localizer["Title"]</h3>

<PackageTips Name="BootstrapBlazor.PdfReader" />

<DemoBlock Title="@Localizer["PdfReaderNomalText"]" Introduction="@Localizer["PdfReaderNomalIntro"]" Name="Nomal" Demo="typeof(Demos.PdfReader.PdfReaderNomal)" />

<DemoBlock Title="@Localizer["PdfReaderStreamModeText"]" Introduction="@Localizer["PdfReaderStreamModeIntro"]" Name="StreamMode" Demo="typeof(Demos.PdfReader.PdfReaderStreamMode)" />

<DemoBlock Title="@Localizer["PdfReaderCompatibilityModeText"]" Introduction="@Localizer["PdfReaderCompatibilityModeIntro"]" Name="CompatibilityMode" Demo="typeof(Demos.PdfReader.PdfReaderCompatibilityMode)" />

<DemoBlock Title="@Localizer["PdfReaderAdvancedText"]" Introduction="@Localizer["PdfReaderAdvancedIntro"]" Name="Advanced" Demo="typeof(Demos.PdfReader.PdfReaderAdvanced)" />

<AttributeTable Items="@GetAttributes()" />

<a href="https://gitee.com/LongbowEnterprise/BootstrapBlazor/issues/I66LXV">@Localizer["PdfReaderIssue"]</a>
