@page "/popconfirms"
@inject IStringLocalizer<PopoverConfirms> Localizer

<h3>@Localizer["PopoverConfirmsTitle"]</h3>
<h4>@Localizer["PopoverConfirmsDescription"]</h4>

<DemoBlock Title="@Localizer["PopoverConfirmsNormalTitle"]"
           Introduction="@Localizer["PopoverConfirmsNormalIntro"]"
           Name="Normal"
           Demo="typeof(Demos.PopoverConfirms.PopoverConfirmsNormal)">
</DemoBlock>

<DemoBlock Title="@Localizer["PopoverConfirmsContentTitle"]"
           Introduction="@Localizer["PopoverConfirmsContentIntro"]"
           Name="Content"
           Demo="typeof(Demos.PopoverConfirms.PopoverConfirmsContent)">
</DemoBlock>

<DemoBlock Title="@Localizer["PopoverConfirmsIsAsyncTitle"]"
           Introduction="@Localizer["PopoverConfirmsIsAsyncIntro"]"
           Name="IsAsync"
           Demo="typeof(Demos.PopoverConfirms.PopoverConfirmsIsAsync)">
</DemoBlock>

<DemoBlock Title="@Localizer["PopoverConfirmsFormTitle"]"
           Introduction="@Localizer["PopoverConfirmsFormIntro"]"
           Name="Form"
           Demo="typeof(Demos.PopoverConfirms.PopoverConfirmsForm)">
</DemoBlock>

<DemoBlock Title="@Localizer["PopoverConfirmsIsLinkTitle"]"
           Introduction="@Localizer["PopoverConfirmsIsLinkIntro"]"
           Name="IsLink"
           Demo="typeof(Demos.PopoverConfirms.PopoverConfirmsIsLink)">
</DemoBlock>

<DemoBlock Title="@Localizer["PopoverConfirmsCustomClassTitle"]"
           Introduction="@Localizer["PopoverConfirmsCustomClassIntro"]"
           Name="CustomClass"
           Demo="typeof(Demos.PopoverConfirms.PopoverConfirmsCustomClass)">
    <Pre>.custom-popover {
    --bs-popover-border-color: var(--bs-primary);
    --bs-popover-body-padding-x: 1rem;
    --bs-popover-body-padding-y: 1rem;
}
</Pre>
</DemoBlock>

<DemoBlock Title="@Localizer["PopoverConfirmsBodyTemplateTitle"]"
           Introduction="@Localizer["PopoverConfirmsBodyTemplateIntro"]"
           Name="BodyTemplate"
           Demo="typeof(Demos.PopoverConfirms.PopoverConfirmsBodyTemplate)">
</DemoBlock>

<AttributeTable Items="@GetAttributes()" />

<EventTable Items="@GetEvents()" />
