@page "/progresss"
@inject IStringLocalizer<Progresss> Localizer

<h3>@Localizer["ProgresssTitle"]</h3>
<h4>@Localizer["ProgresssDescription"]</h4>

<DemoBlock Title="@Localizer["ProgresssNormalTitle"]"
           Introduction="@Localizer["ProgresssNormalIntro"]"
           Name="Normal"
           Demo="typeof(Demos.Progresss.ProgressNormal)">
</DemoBlock>

<DemoBlock Title="@Localizer["ProgresssDispalyValueTitle"]"
           Introduction="@Localizer["ProgresssDispalyValueIntro"]"
           Name="DispalyValue"
           Demo="typeof(Demos.Progresss.ProgressDispalyValue)">
</DemoBlock>

<DemoBlock Title="@Localizer["ProgresssHeightTitle"]"
           Introduction="@Localizer["ProgresssHeightIntro"]"
           Name="Height"
           Demo="typeof(Demos.Progresss.ProgressHeight)">
</DemoBlock>

<DemoBlock Title="@Localizer["ProgresssColorTitle"]"
           Introduction="@Localizer["ProgresssColorIntro"]"
           Name="Color"
           Demo="typeof(Demos.Progresss.ProgressColor)">
</DemoBlock>

<DemoBlock Title="@Localizer["ProgresssStripeTitle"]"
           Introduction="@Localizer["ProgresssStripeIntro"]"
           Name="Stripe"
           Demo="typeof(Demos.Progresss.ProgressStripe)">
</DemoBlock>

<DemoBlock Title="@Localizer["ProgresssDynamicTitle"]"
           Introduction="@Localizer["ProgresssDynamicIntro"]"
           Name="Dynamic"
           Demo="typeof(Demos.Progresss.ProgressDynamic)">
</DemoBlock>

<DemoBlock Title="@Localizer["ProgresssBindingTitle"]"
           Introduction="@Localizer["ProgresssBindingIntro"]"
           Name="Binding"
           Demo="typeof(Demos.Progresss.ProgressBinding)">
</DemoBlock>

<DemoBlock Title="@Localizer["ProgresssDecimalsTitle"]"
           Introduction="@Localizer["ProgresssDecimalsIntro"]"
           Name="Binding"
           Demo="typeof(Demos.Progresss.ProgressDecimals)">
</DemoBlock>

<AttributeTable Items="@GetAttributes()" />
