@page "/qrcodes"
@inject IStringLocalizer<QRCodes> Localizer

<h3>@Localizer["QRCodesTitle"]</h3>

<h4>@Localizer["QRCodesSubTitle"]</h4>

<PackageTips Name="BootstrapBlazor.BarCode" />

<DemoBlock Title="@Localizer["QRCodesNormalTitle"]" Introduction="@Localizer["QRCodesNormalIntro"]" Name="Normal">
    <QRCode OnGenerated="@(()=>{Trace.Log(SuccessText);return Task.CompletedTask;})" ShowButtons="true"></QRCode>
    <BlockLogger @ref="Trace" class="mt-3" />
</DemoBlock>

<DemoBlock Title="@Localizer["QRCodesContentTitle"]" Introduction="@Localizer["QRCodesContentIntro"]" Name="Content">
    <QRCode Content="https://www.blazor.zone"></QRCode>
</DemoBlock>

<DemoBlock Title="@Localizer["QRCodesWidthTitle"]" Introduction="@Localizer["QRCodesWidthIntro"]" Name="Width">
    <QRCode Content="https://www.blazor.zone" Width="80"></QRCode>
</DemoBlock>

<DemoBlock Title="@Localizer["QRCodesColorTitle"]" Introduction="@Localizer["QRCodesColorIntro"]" Name="DarkColor">
    <QRCode Content="https://www.blazor.zone" DarkColor="#50cd89"></QRCode>
</DemoBlock>

<AttributeTable Items="@GetAttributes()" />
