@page "/qrcodes"
@inject IStringLocalizer<QRCodes> Localizer

<h3>@Localizer["QRCodesTitle"]</h3>

<h4>@Localizer["QRCodesSubTitle"]</h4>

<PackageTips Name="BootstrapBlazor.BarCode" />

<DemoBlock Title="@Localizer["QRCodesNormalTitle"]"
           Introduction="@Localizer["QRCodesNormalIntro"]"
           Name="Normal"
           Demo="typeof(Demos.QRCodes.QRCodeNormal)">
</DemoBlock>

<DemoBlock Title="@Localizer["QRCodesContentTitle"]"
           Introduction="@Localizer["QRCodesContentIntro"]"
           Name="Content"
           Demo="typeof(Demos.QRCodes.QRCodeContent)">
</DemoBlock>

<DemoBlock Title="@Localizer["QRCodesWidthTitle"]"
           Introduction="@Localizer["QRCodesWidthIntro"]"
           Name="Width"
           Demo="typeof(Demos.QRCodes.QRCodeWidth)">
</DemoBlock>

<DemoBlock Title="@Localizer["QRCodesColorTitle"]"
           Introduction="@Localizer["QRCodesColorIntro"]"
           Name="DarkColor"
           Demo="typeof(Demos.QRCodes.QRCodeDarkColor)">
</DemoBlock>

<AttributeTable Items="@GetAttributes()" />
