@page "/radios"
@inject IStringLocalizer<Radios> Localizer

<h3>@Localizer["RadiosTitle"]</h3>

<h4>@Localizer["RadiosDescription"]</h4>

<DemoBlock Title="@Localizer["RadiosNormalTitle"]" Introduction="@Localizer["RadiosNormalIntro"]" Name="Normal" Demo="typeof(Demos.Radios.RadiosNormal)">
    <RadioList TValue="string" Items="@DemoValues" OnSelectedChanged="@OnSelectedChanged"></RadioList>
    <BlockLogger @ref="Trace" class="mt-3" />
</DemoBlock>

<DemoBlock Title="@Localizer["RadiosDisableTitle"]" Introduction='@Localizer["RadiosDisableIntro"]' Name="Disable" Demo="typeof(Demos.Radios.RadiosDisable)">
    <RadioList TValue="string" Items="@DemoValues" IsDisabled="true" ShowBorder="false"></RadioList>
</DemoBlock>

<DemoBlock Title="@Localizer["RadiosLabelTitle"]" Introduction="@Localizer["RadiosLabelIntro"]" Name="Label" Demo="typeof(Demos.Radios.RadiosLabel)">
    <RadioList TValue="string" Items="@DemoValues" ShowLabel="true" DisplayText="@Localizer["RadiosLabelText"]"></RadioList>
</DemoBlock>

<DemoBlock Title="@Localizer["RadiosBindingTitle"]" Introduction="@Localizer["RadiosBindingIntro"]" Name="Binding" Demo="typeof(Demos.Radios.RadiosBinding)">
    <div class="row g-3">
        <div class="col-12">
            <RadioList Items="@Items" @bind-Value="@BindRadioItem" OnSelectedChanged="@OnItemChanged"></RadioList>
        </div>
        <div class="col-12">
            Text: @BindRadioItem.Text Value: @BindRadioItem.Value
        </div>
    </div>
    <BlockLogger class="mt-3" @ref="BinderLog" />
</DemoBlock>

<DemoBlock Title="@Localizer["RadiosVerticalTitle"]" Introduction="@Localizer["RadiosVerticalIntro"]" Name="Vertical" Demo="typeof(Demos.Radios.RadiosVertical)">
    <RadioList TValue="string" Items="@DemoValues" IsVertical="true"></RadioList>
</DemoBlock>

<DemoBlock Title="@Localizer["RadiosEnumTitle"]" Introduction="@Localizer["RadiosEnumIntro"]" Name="Enum" Demo="typeof(Demos.Radios.RadiosEnum)">
    <RadioList @bind-Value="@SelectedEnumItem"></RadioList>
    <p class="mt-2">@SelectedEnumItem</p>
    <p>@((MarkupString)Localizer["RadiosEnumDescription"].Value)</p>
    <RadioList @bind-Value="@SelectedEnumItem2" IsAutoAddNullItem="true" NullItemText="@Localizer["RadiosEnumText"]"></RadioList>
</DemoBlock>

<DemoBlock Title="@Localizer["RadiosItemTemplateTitle"]" Introduction="@Localizer["RadiosItemTemplateIntro"]" Name="ItemTemplate" Demo="typeof(Demos.Radios.RadiosItemTemplate)">
    <RadioList TValue="string" Items="@IconDemoValues" IsVertical="true">
        <ItemTemplate>
            @if (context is IconSelectedItem item)
            {
                <div>
                    <i class="@item.Icon"></i>
                    <span>@item.Text</span>
                </div>
            }
        </ItemTemplate>
    </RadioList>
</DemoBlock>

<DemoBlock Title="@Localizer["RadiosColorTitle"]" Introduction="@Localizer["RadiosColorIntro"]" Name="Color" Demo="typeof(Demos.Radios.RadiosColor)">
    <div class="row g-3">
        <div class="col-12">
            <RadioList TValue="string" Items="@DemoValues" Color="@Color.Primary"></RadioList>
        </div>
        <div class="col-12">
            <RadioList TValue="string" Items="@DemoValues" Color="@Color.Success"></RadioList>
        </div>
        <div class="col-12">
            <RadioList TValue="string" Items="@DemoValues" Color="@Color.Danger"></RadioList>
        </div>
        <div class="col-12">
            <RadioList TValue="string" Items="@DemoValues" Color="@Color.Info"></RadioList>
        </div>
        <div class="col-12">
            <RadioList TValue="string" Items="@DemoValues" Color="@Color.Warning"></RadioList>
        </div>
        <div class="col-12">
            <RadioList TValue="string" Items="@DemoValues" Color="@Color.Secondary"></RadioList>
        </div>
    </div>
</DemoBlock>

<DemoBlock Title="@Localizer["RadiosIsButtonTitle"]" Introduction="@Localizer["RadiosIsButtonIntro"]" Name="IsButton" Demo="typeof(Demos.Radios.RadiosIsButton)">
    <div class="row g-3">
        <div class="col-12 col-sm-6">
            <RadioList IsButton="true" @bind-Value="@SelectedEnumItem"></RadioList>
        </div>
        <div class="col-12 col-sm-6">
            <RadioList IsButton="true" @bind-Value="@SelectedEnumItem" IsDisabled="true" Color="Color.Danger"></RadioList>
        </div>
        <div class="col-12 col-sm-6">
            <RadioList IsButton="true" @bind-Value="@SelectedEnumItem" Color="Color.Success" ShowLabel="true" DisplayText="Test"></RadioList>
        </div>
        <div class="col-12 col-sm-6">
            <RadioList IsButton="true" @bind-Value="@SelectedEnumItem" Color="Color.Info" ShowLabel="true" DisplayText="Test"></RadioList>
        </div>
    </div>

    <ValidateForm Model="Model" class="mt-3">
        <div class="row g-3 form-inline">
            <div class="col-12 col-sm-6">
                <BootstrapInput @bind-Value="@Model.Name" />
            </div>
            <div class="col-12 col-sm-6">
                <RadioList @bind-Value="@Model.Complete" IsButton="true" Items="FooItems" />
            </div>
        </div>
    </ValidateForm>
</DemoBlock>

<AttributeTable Items="@GetAttributes()" />

<EventTable Items="@GetEvents()" />
