@page "/ranges"

@inject IStringLocalizer<Ranges> Localizer

<h3>@Localizer["RangeTitle"]</h3>

<h4>@Localizer["RangeDescription"]</h4>

<DemoBlock Title="@Localizer["RangeNormalTitle"]"
           Introduction="@Localizer["RangeNormalIntro"]"
           Name="RangeNormal"
           Demo="typeof(Demos.Ranges.RangeNormal)" />

<AttributeTable Items="@GetAttributes()" />

<EventTable Items="@GetEvents()" />

@code {
    /// <summary>
    /// 获得属性方法
    /// </summary>
    /// <returns></returns>
    private IEnumerable<AttributeItem> GetAttributes() => new AttributeItem[]
    {
        // TODO: 移动到数据库中
        new AttributeItem() {
            Name = "IsDisabled",
            Description = Localizer["RangeIsDisabled"],
            Type = "boolean",
            ValueList = " — ",
            DefaultValue = "false"
        },
        new AttributeItem() {
            Name = "Value",
            Description = Localizer["RangeValue"],
            Type = "int",
            ValueList = " — ",
            DefaultValue = " — "
        },
    };

    /// <summary>
    /// 获得事件方法
    /// </summary>
    /// <returns></returns>
    private IEnumerable<EventItem> GetEvents() => new EventItem[]
    {
        new EventItem()
        {
            Name = "ValueChanged",
            Description = Localizer["RangeValueChanged"],
            Type ="EventCallback<int>"
        }
    };
}
