@page "/repeaters"
@inject IStringLocalizer<Repeaters> Localizer

<h3>@Localizer["RepeaterTitle"]</h3>

<h4>@Localizer["RepeaterDescription"]</h4>

<DemoBlock Title="@Localizer["RepeaterNormalTitle"]"
           Introduction="@Localizer["RepeaterNormalIntro"]"
           Name="Normal"
           Demo="typeof(Demos.Repeaters.RepeaterNormal)">
</DemoBlock>

<DemoBlock Title="@Localizer["RepeaterLoadingTitle"]"
           Introduction="@Localizer["RepeaterLoadingIntro"]"
           Name="Loading"
           Demo="typeof(Demos.Repeaters.RepeaterLoading)">
</DemoBlock>
