@page "/responsives"
@inject IStringLocalizer<Responsives> Localizer

<h3>@Localizer["H1"]</h3>
<h4>@Localizer["H2"]</h4>

<DemoBlock Title="@Localizer["P1"]" Introduction="@Localizer["P2"]" Name="Normal">
    <div>@Localizer["P3"] <code>Breakpoint</code>：@Size</div>
</DemoBlock>

<Responsive OnBreakPointChanged="OnChanged" />

<AttributeTable Items="@GetAttributes()" />
