@page "/responsives"
@inject IStringLocalizer<Responsives> Localizer

<h3>@Localizer["ResponsivesTitle"]</h3>
<h4>@Localizer["ResponsivesDescription"]</h4>

<DemoBlock Title="@Localizer["ResponsivesNormalTitle"]"
           Introduction="@Localizer["ResponsivesNormalIntro"]"
           Name="Normal"
           Demo="typeof(Demos.Responsives.ResponsivesNormal)">
</DemoBlock>

<AttributeTable Items="@GetAttributes()" />
