@page "/ribbontabs"
@inject IStringLocalizer<RibbonTabs> Localizer

<h3>@Localizer["H1"]</h3>

<h4>@Localizer["P1"]</h4>

<DemoBlock Title="@Localizer["P2"]" Introduction="@Localizer["P3"]" Name="Normal">
    <RibbonTab Items="@Items" />
</DemoBlock>

<DemoBlock Title="@Localizer["P4"]" Introduction="@Localizer["P5"]" Name="Float">
    <div class="ribbon-demo">
        <RibbonTab Items="@Items" ShowFloatButton="true" />
        <div class="ribbon-demo-body">
            @Localizer["P6"]
        </div>
    </div>
</DemoBlock>

<DemoBlock Title="@Localizer["P7"]" Introduction="@Localizer["P8"]" Name="RightButtonsTemplate">
    <RibbonTab Items="@Items" ShowFloatButton="true">
        <RightButtonsTemplate>
            <div class="ribbon-button">
                <i class="fa-regular fa-circle-question"></i>
                <span>@Localizer["P9"]</span>
            </div>
        </RightButtonsTemplate>
    </RibbonTab>
</DemoBlock>

<DemoBlock Title="@Localizer["HeaderClickTitle"]" Introduction="@Localizer["HeaderClickIntro"]" Name="HeaderClick">
    <RibbonTab Items="@Items" OnHeaderClickAsync="@OnHeaderClickAsync">
        <div class="@FileClassString">@Localizer["ItemsText1"]</div>
        <div class="@EditClassString">@Localizer["ItemsText2"]</div>
    </RibbonTab>
</DemoBlock>

<AttributeTable Items="@GetAttributes()" />
