@page "/rows"
@inject IStringLocalizer<Rows> Localizer

<h3>@Localizer["RowsTitle"]</h3>

<h4>@Localizer["RowsDescription"]</h4>

<DemoBlock Title="@Localizer["RowCommonTitle"]"
           Introduction="@Localizer["RowCommonIntro"]"
           Name="Common"
           Demo="typeof(Demos.Rows.RowCommon)">
    <p><b>@((MarkupString)Localizer["RowCommonDescription"].Value)</b></p>
</DemoBlock>

<DemoBlock Title="@Localizer["RowFormInlineTitle"]"
           Introduction="@Localizer["RowFormInlineIntro"]"
           Name="FormInline"
           Demo="typeof(Demos.Rows.RowFormInline)">
    <p>@((MarkupString)Localizer["RowFormInlineDescription"].Value)</p>
</DemoBlock>

<DemoBlock Title="@Localizer["RowFormTitle"]"
           Introduction="@Localizer["RowFormIntro"]"
           Name="Form"
           Demo="typeof(Demos.Rows.RowForm)">
    <p>@((MarkupString)Localizer["RowFormInlineDescription"].Value)</p>
</DemoBlock>

<DemoBlock Title="@Localizer["RowNestedTitle"]"
           Introduction="@Localizer["RowNestedIntro"]"
           Name="Nested"
           Demo="typeof(Demos.Rows.RowNested)">
    <p>@((MarkupString)Localizer["RowFormInlineDescription"].Value)</p>
</DemoBlock>

<DemoBlock Title="@Localizer["RowspanTitle"]"
           Introduction="@Localizer["RowspanIntro"]"
           Name="Rowspan"
           Demo="typeof(Demos.Rows.Rowspan)">
    <p>@((MarkupString)Localizer["RowFormInlineDescription"].Value)</p>
</DemoBlock>

<AttributeTable Items="@GetAttributes()" />
