@page "/scrolls"

<h3>@Localizer["Title"]</h3>

<h4>@Localizer["H1"]</h4>

<p>@((MarkupString)Localizer["P1"].Value)</p>

<DemoBlock Title="@Localizer["Block1Title"]" Introduction="@Localizer["Block1Intro"]"  Name="Normal">
    <Scroll class="scroll-demo" Height="200px">
        <div style="height: 400px;">@Localizer["D1"]</div>
        <div>@Localizer["D2"]</div>
    </Scroll>
</DemoBlock>

<AttributeTable Items="@GetAttributes()" />
