@page "/searchs"
@inject IStringLocalizer<Searchs> Localizer

<h3>@Localizer["SearchsTitle"]</h3>

<h4>@Localizer["SearchsSubTitle"]</h4>

<DemoBlock Title="@Localizer["SearchsNormalTitle"]"
           Introduction="@Localizer["SearchsNormalIntro"]"
           Name="Normal"
           Demo="typeof(Demos.Searchs.SearchsNormal)">
    <p>@((MarkupString)Localizer["SearchsNormalDescription"].Value)</p>
</DemoBlock>

<DemoBlock Title="@Localizer["SearchsClearValueTitle"]"
           Introduction="@Localizer["SearchsClearValueIntro"]"
           Name="ClearValue"
           Demo="typeof(Demos.Searchs.SearchsClearValue)">
</DemoBlock>

<DemoBlock Title="@Localizer["SearchsDispalyButtonTitle"]"
           Introduction="@Localizer["SearchsDispalyButtonIntro"]"
           Name="DispalyButton"
           Demo="typeof(Demos.Searchs.SearchsDispalyButton)">
</DemoBlock>

<DemoBlock Title="@Localizer["SearchskeyboardsTitle"]"
           Introduction="@Localizer["SearchskeyboardsIntro"]"
           Name="keyboards"
           Demo="typeof(Demos.Searchs.Searchskeyboards)">
</DemoBlock>

<DemoBlock Title="@Localizer["SearchsValidateFormTitle"]"
           Introduction="@Localizer["SearchsValidateFormIntro"]"
           Name="ValidateForm"
           Demo="typeof(Demos.Searchs.SearchsValidateForm)">
</DemoBlock>

<AttributeTable Items="@GetAttributes()" />
