@page "/searchdialogs"
@inject IStringLocalizer<SearchDialogs> Localizer

<h3>@Localizer["SearchDialogsTitle"]</h3>
<h4>@Localizer["SearchDialogsSubTitle"]</h4>

<p>@((MarkupString)Localizer["SearchDialogsDescription"].Value)</p>

<Tips>
    <p>@((MarkupString)Localizer["SearchDialogstTips"].Value)</p>
</Tips>

<DemoBlock Title="@Localizer["SearchDialogsNormalTitle"]"
           Introduction="@Localizer["SearchDialogsNormalIntro"]"
           Name="Normal"
           Demo="typeof(Demos.SearchDialogs.SearchDialogsNormal)">
</DemoBlock>

<DemoBlock Title="@Localizer["SearchDialogsFieldTitle"]"
           Introduction="@Localizer["SearchDialogsFieldIntro"]"
           Name="Field"
           Demo="typeof(Demos.SearchDialogs.SearchDialogsField)">
</DemoBlock>

<DemoBlock Title="@Localizer["SearchDialogsLayoutTitle"]"
           Introduction="@Localizer["SearchDialogsLayoutIntro"]"
           Name="Layout"
           Demo="typeof(Demos.SearchDialogs.SearchDialogsLayout)">
</DemoBlock>

<AttributeTable Items="@GetAttributes()" Title="@Localizer["SearchDialogOptionAttr"]" />
