@page "/searchs"
@inject IStringLocalizer<Searchs> Localizer

<h3>@Localizer["Title"]</h3>

<h4>@Localizer["SubTitle"]</h4>

<DemoBlock Title="@Localizer["BasicUsageTitle"]" Introduction="@Localizer["BasicUsageIntro"]" Name="Normal">
    <p>@((MarkupString)Localizer["BasicUsageP"].Value)</p>
    <Search IgnoreCase="true" IsLikeMatch="true" IsAutoFocus="true" PlaceHolder="@Localizer["PlaceHolder"]" Items="@Items" OnSearch="@OnSearch1" IsSelectAllTextOnFocus="true"></Search>
    <BlockLogger @ref="Trace" class="mt-3" />
</DemoBlock>

<DemoBlock Title="@Localizer["ClearValueTitle"]" Introduction="@Localizer["ClearValueIntro"]" Name="ClearValue">
    <Search IgnoreCase="true" IsLikeMatch="true" IsAutoClearAfterSearch="true" PlaceHolder="@Localizer["PlaceHolder"]" Items="@Items" OnSearch="@OnSearch2"></Search>
    <BlockLogger @ref="Trace2" class="mt-3" />
</DemoBlock>

<DemoBlock Title="@Localizer["DispalyButtonTitle"]" Introduction="@Localizer["DispalyButtonIntro"]" Name="DispalyButton">
    <Search IgnoreCase="true" IsLikeMatch="true" PlaceHolder="@Localizer["PlaceHolder"]" ShowClearButton="true" Items="@Items" OnSearch="@OnSearch3" OnClear="@OnClear"></Search>
    <BlockLogger @ref="Trace3" class="mt-3" />
</DemoBlock>

<DemoBlock Title="@Localizer["keyboardsTitle"]" Introduction="@Localizer["keyboardsIntro"]" Name="keyboards">
    <Search IgnoreCase="true" IsLikeMatch="true" PlaceHolder="@Localizer["PlaceHolder"]" IsOnInputTrigger="true" Items="@Items" OnSearch="@OnSearch4"></Search>
    <BlockLogger @ref="Trace4" class="mt-3" />
</DemoBlock>

<AttributeTable Items="@GetAttributes()" />
