@page "/select-trees"
@inject IStringLocalizer<SelectTrees> Localizer

<h3>@Localizer["SelectTreesTitle"]</h3>
<h4>@Localizer["SelectTreesDescription"]</h4>

<DemoBlock Title="@Localizer["SelectTreesNormalTitle"]"
           Introduction="@Localizer["SelectTreesNormalIntro"]"
           Name="Normal"
           Demo="typeof(Demos.SelectTrees.SelectTreesNormal)">
</DemoBlock>

<DemoBlock Title="@Localizer["SelectTreesDisableTitle"]"
           Introduction="@Localizer["SelectTreesDisableIntro"]"
           Name="Disable"
           Demo="typeof(Demos.SelectTrees.SelectTreesDisable)">
</DemoBlock>

<DemoBlock Title="@Localizer["SelectTreesBindingTitle"]"
           Introduction="@Localizer["SelectTreesBindingIntro"]"
           Name="Binding"
           Demo="typeof(Demos.SelectTrees.SelectTreesBinding)">
</DemoBlock>

<DemoBlock Title="@Localizer["SelectTreesClientValidationTitle"]"
           Introduction="@Localizer["SelectTreesClientValidationIntro"]"
           Name="ClientValidation"
           Demo="typeof(Demos.SelectTrees.SelectTreesClientValidation)">
</DemoBlock>

<DemoBlock Title="@Localizer["SelectTreesIsPopoverTitle"]"
           Introduction="@Localizer["SelectTreesIsPopoverIntro"]"
           Name="IsPopover"
           Demo="typeof(Demos.SelectTrees.SelectTreesIsPopover)">
</DemoBlock>
