@page "/selects"
@inject DialogService Dialog
@inject IStringLocalizer<Selects> Localizer
@inject IStringLocalizer<Foo> LocalizerFoo

<h3>@Localizer["SelectsTitle"]</h3>

<h4>@Localizer["SelectsDescription"]</h4>

<DemoBlock Title="@Localizer["SelectsNormalTitle"]"
           Introduction="@Localizer["SelectsNormalIntro"]"
           Name="Normal"
           Demo="typeof(Demos.Selects.SelectsNormal)">
    <p>@((MarkupString)Localizer["SelectsNormalDescription"].Value)</p>
</DemoBlock>

<DemoBlock Title="@Localizer["SelectsNormalTitle"]"
           Introduction="@Localizer["SelectsNormalIntro"]"
           Name="IsVirtualize">
    <p>@((MarkupString)Localizer["SelectsNormalDescription"].Value)</p>
    <Select IsVirtualize="true" OnQueryData="OnQueryData" @bind-Value="VirtualItem"></Select>
    <Select IsVirtualize="true" Items="VirtualItems" @bind-Value="VirtualItem"></Select>
    <div>@VirtualItem?.Text</div>
</DemoBlock>

<DemoBlock Title="@Localizer["SelectsDisableTitle"]"
           Introduction="@Localizer["SelectsDisableIntro"]"
           Name="Disable"
           Demo="typeof(Demos.Selects.SelectsDisable)" />

<DemoBlock Title="@Localizer["SelectsBindingTitle"]"
           Introduction="@Localizer["SelectsBindingIntro"]"
           Name="Binding"
           Demo="typeof(Demos.Selects.SelectsBinding)" />

<DemoBlock Title="@Localizer["SelectsClearableTitle"]"
           Introduction="@Localizer["SelectsClearableIntro"]"
           Name="Binding"
           Demo="typeof(Demos.Selects.SelectsClearable)" />

<DemoBlock Title="@Localizer["SelectsBindingSelectedItemTitle"]"
           Introduction="@Localizer["SelectsBindingSelectedItemIntro"]"
           Name="BingdingSelectedItem"
           Demo="typeof(Demos.Selects.SelectsBindingSelectedItem)" />

<DemoBlock Title="@Localizer["SelectsCascadingTitle"]"
           Introduction="@Localizer["SelectsCascadingIntro"]"
           Name="Cascading"
           Demo="typeof(Demos.Selects.SelectsCascading)" />

<DemoBlock Title="@Localizer["SelectsClientValidationTitle"]"
           Introduction="@Localizer["SelectsClientValidationIntro"]"
           Name="ClientValidation"
           Demo="typeof(Demos.Selects.SelectsClientValidation)" />

<DemoBlock Title="@Localizer["SelectsGroupTitle"]"
           Introduction="@Localizer["SelectsGroupIntro"]"
           Name="Group"
           Demo="typeof(Demos.Selects.SelectsGroup)" />

<DemoBlock Title="@Localizer["SelectsGuidTitle"]"
           Introduction="@Localizer["SelectsGuidIntro"]"
           Name="Guid"
           Demo="typeof(Demos.Selects.SelectsGuid)" />

<DemoBlock Title="@Localizer["SelectsDispalyLabelTitle"]"
           Introduction="@Localizer["SelectsDispalyLabelIntro"]"
           Name="DispalyLabel"
           Demo="typeof(Demos.Selects.SelectsDispalyLabel)">
    <p>@((MarkupString)Localizer["SelectsDispalyLabelDescription"].Value)</p>
</DemoBlock>

<DemoBlock Title="@Localizer["SelectsStaticTitle"]"
           Introduction="@Localizer["SelectsStaticIntro"]"
           Name="Static"
           Demo="typeof(Demos.Selects.SelectsStatic)" />

<DemoBlock Title="@Localizer["SelectsEnumTitle"]"
           Introduction="@Localizer["SelectsEnumIntro"]"
           Name="Enum"
           Demo="typeof(Demos.Selects.SelectsEnum)">
    <p>@((MarkupString)Localizer["SelectsEnumDescription1"].Value)</p>
    <p>@((MarkupString)Localizer["SelectsEnumDescription2"].Value)</p>
</DemoBlock>

<DemoBlock Title="@Localizer["SelectsNullableTitle"]"
           Introduction="@Localizer["SelectsNullableIntro"]"
           Name="Nullable"
           Demo="typeof(Demos.Selects.SelectsNullable)">
    <p>@((MarkupString)Localizer["SelectsNullableDescription"].Value)</p>
</DemoBlock>

<DemoBlock Title="@Localizer["SelectsNullableBooleanTitle"]"
           Introduction="@Localizer["SelectsNullableBooleanIntro"]"
           Name="NullableBoolean"
           Demo="typeof(Demos.Selects.SelectsNullableBoolean)">
    <p>@((MarkupString)Localizer["SelectsNullableBooleanDescription1"].Value)</p>
    <p>@((MarkupString)Localizer["SelectsNullableBooleanDescription2"].Value)</p>
</DemoBlock>

<DemoBlock Title="@Localizer["SelectsCunstomTemplateTitle"]"
           Introduction="@Localizer["SelectsCunstomTemplateIntro"]"
           Name="CunstomTemplate"
           Demo="typeof(Demos.Selects.SelectsCunstomTemplate)" />

<DemoBlock Title="@Localizer["SelectsShowSearchTitle"]"
           Introduction="@Localizer["SelectsShowSearchIntro"]"
           Name="ShowSearch"
           Demo="typeof(Demos.Selects.SelectsShowSearch)" />

<DemoBlock Title="@Localizer["SelectsConfirmSelectTitle"]"
           Introduction="@Localizer["SelectsConfirmSelectIntro"]"
           Name="ConfirmSelect"
           Demo="typeof(Demos.Selects.SelectsConfirmSelect)" />

<DemoBlock Title="@Localizer["SelectsDisplayTemplateTitle"]"
           Introduction="@Localizer["SelectsDisplayTemplateIntro"]"
           Name="DisplayTemplate"
           Demo="typeof(Demos.Selects.SelectsDisplayTemplate)" />

<DemoBlock Title="@Localizer["SelectsTimezoneTitle"]"
           Introduction="@Localizer["SelectsTimezoneIntro"]"
           Name="Timezone"
           Demo="typeof(Demos.Selects.SelectsTimezone)" />

<DemoBlock Title="@Localizer["SelectsPopoverTitle"]"
           Introduction="@Localizer["SelectsPopoverIntro"]"
           Name="Popover"
           Demo="typeof(Demos.Selects.SelectsPopover)" />

<AttributeTable Items="@GetAttributes()" />

<EventTable Items="@GetEvents()" />
