@page "/sliders"
@inject IStringLocalizer<Sliders> Localizer

<h3>@Localizer["SlidersTitle"]</h3>

<h4>@Localizer["SlidersDescription"]</h4>

<DemoBlock Title="@Localizer["SlidersNormalTitle"]"
           Introduction="@Localizer["SlidersNormalIntro"]"
           Name="Normal"
           Demo="typeof(Demos.Sliders.SliderNormal)">
</DemoBlock>

<DemoBlock Title="@Localizer["SlidersBindingTitle"]"
           Introduction="@Localizer["SlidersBindingIntro"]"
           Name="SlidersBinding"
           Demo="typeof(Demos.Sliders.SliderBinding)">
</DemoBlock>

<AttributeTable Items="@GetAttributes()" />

<EventTable Items="@GetEvents()" />
