@page "/stack"
@inject IStringLocalizer<Stacks> Localizer

<h3>@Localizer["Title"]</h3>

<DemoBlock Title="@Localizer["BasicTitle"]" Introduction="@Localizer["BasicIntroe"]">
    <section ignore class="row g-3">
        <div class="col-12 col-md-6 col-lg-4 xl-3">
            <BootstrapInputGroup>
                <BootstrapInputGroupLabel DisplayText="@Localizer["IsRow"]" />
                <Switch @bind-Value="@IsRow" />
            </BootstrapInputGroup>
        </div>
    </section>

    <Stack IsRow="@IsRow">
        <StackItem>
            <div>Item 1</div>
        </StackItem>
        <StackItem>
            <div>Item 2</div>
        </StackItem>
        <StackItem>
            <div>Item 3</div>
        </StackItem>
    </Stack>
</DemoBlock>

<AttributeTable Items="GetAttributeItems()" />
