@page "/stack"
@inject IStringLocalizer<Stacks> Localizer

<h3>@Localizer["Title"]</h3>

<DemoBlock Title="@Localizer["BasicTitle"]" Introduction="@Localizer["BasicIntroe"]">
    <Stack Orientation="Orientation.Vertical"
           HorizontalAlignment="@HorizontalAlignment.Left"
           VerticalAlignment="VerticalAlignment.Bottom"
           VerticalGap="20">
        <div>Vertical item 1</div>
        <div>Vertical item 2</div>
    </Stack>
</DemoBlock>

<DemoBlock Title="@Localizer["NestedTitle"]" Introduction="@Localizer["NestedIntro"]">
    <Stack Orientation="Orientation.Vertical"
           HorizontalAlignment="@HorizontalAlignment.Right"
           VerticalAlignment="VerticalAlignment.Bottom"
           VerticalGap="20">
        <div>Vertical item 1</div>
        <div>Vertical item 2</div>
        <Stack Orientation="Orientation.Horizontal"
               HorizontalAlignment="HorizontalAlignment.Left"
               VerticalAlignment="VerticalAlignment.Top"
               HorizontalGap="4">
            <div style="width: 150px">Horizontal item 1</div>
            <div>Horizontal item 2</div>
        </Stack>
    </Stack>
</DemoBlock>

<AttributeTable Items="GetAttributeItems()" />
