@page "/stepss"
@inject IStringLocalizer<Stepss> Localizer

<h3>@Localizer["StepssTitle"]</h3>

<h4>@Localizer["StepssDescription"]</h4>

<p>@Localizer["StepssTipsTitle"]</p>

<p>@((MarkupString)Localizer["StepssTips"].Value)</p>

<DemoBlock Title="@Localizer["StepssNormalTitle"]"
           Introduction="@Localizer["StepssNormalIntro"]"
           Name="Normal"
           Demo="typeof(Demos.Stepss.StepssNormal)">
</DemoBlock>

<DemoBlock Title="@Localizer["StepssStepTitle"]"
           Introduction="@Localizer["StepssStepIntro"]"
           Name="Step"
           Demo="typeof(Demos.Stepss.StepssStep)">
</DemoBlock>

<DemoBlock Title="@Localizer["StepssDescTitle"]"
           Introduction="@Localizer["StepssDescIntro"]"
           Name="Desc"
           Demo="typeof(Demos.Stepss.StepssDesc)">
</DemoBlock>

<DemoBlock Title="@Localizer["StepssMiddleTitle"]"
           Introduction="@Localizer["StepssMiddleIntro"]"
           Name="Middle"
           Demo="typeof(Demos.Stepss.StepssMiddle)">
</DemoBlock>

<DemoBlock Title="@Localizer["StepssTitleCenterTitle"]"
           Introduction="@Localizer["StepssTitleCenterIntro"]"
           Name="TitleCenter"
           Demo="typeof(Demos.Stepss.StepssTitleCenter)">
</DemoBlock>

<AttributeTable Items="@GetAttributes()" />

<AttributeTable Title="@Localizer["AttributeTitle"]" Items="@GetStepItemAttributes()" />

<EventTable Items="@GetEvents()" />
