@page "/Steps"
@inject IStringLocalizer<Stepses> Localizer

<h3>@Localizer["StepsesTitle"]</h3>

<h4>@Localizer["StepsesDescription"]</h4>

<p>@Localizer["StepsesTipsTitle"]</p>

<p>@((MarkupString)Localizer["StepsesTips"].Value)</p>

<DemoBlock Title="@Localizer["StepsesNormalTitle"]"
           Introduction="@Localizer["StepsesNormalIntro"]"
           Name="Normal">
    <Steps Items="@Items" OnStatusChanged="@OnStatusChanged" />
    <div class="mt-1">
        <Button OnClick="@NextStep" IsOutline="true">@Localizer["StepsesNormalButton1Text"]</Button>
        <Button OnClick="@ResetStep" IsOutline="true">@Localizer["StepsesNormalButton2Text"]</Button>
    </div>
    <ConsoleLogger @ref="Logger" class="mt-3" />
</DemoBlock>

<DemoBlock Title="@Localizer["StepsesStepTitle"]"
           Introduction="@Localizer["StepsesStepIntro"]"
           Name="Step">
    <Steps>
        <Step Title="@Localizer["Step1Title"]" Space="25%" Status="StepStatus.Success"></Step>
        <Step Title="@Localizer["Step2Title"]" Space="25%" Status="StepStatus.Process" StepIndex="1"></Step>
        <Step Title="@Localizer["Step3Title"]" Space="25%" Status="StepStatus.Error" StepIndex="2"></Step>
        <Step Title="@Localizer["Step4Title"]" Space="25%" Status="StepStatus.Finish" StepIndex="3"></Step>
        <Step Title="@Localizer["Step5Title"]" Space="25%" StepIndex="4" IsLast="true"></Step>
    </Steps>
</DemoBlock>

<DemoBlock Title="@Localizer["StepsesDescTitle"]"
           Introduction="@Localizer["StepsesDescIntro"]"
           Name="Desc">
    <Steps>
        <Step Title="@Localizer["Step1Title"]" Space="33.33%" Status="StepStatus.Finish" Description="@Localizer["StepDesc1"]"></Step>
        <Step Title="@Localizer["Step2Title"]" Space="33.33%" Status="StepStatus.Process" StepIndex="2" Description="@Localizer["StepDesc1"]"></Step>
        <Step Title="@Localizer["Step3Title"]" Space="33.33%" StepIndex="3" Description="@Localizer["StepDesc1"]"></Step>
        <Step Title="@Localizer["Step4Title"]" Space="33.33%" StepIndex="4" IsLast="true" Description="@Localizer["StepDesc2"]"></Step>
    </Steps>
</DemoBlock>

<DemoBlock Title="@Localizer["StepsesMiddleTitle"]"
           Introduction="@Localizer["StepsesMiddleIntro"]"
           Name="Middle">
    <Steps IsCenter="true">
        <Step Title="@Localizer["Step1Title"]" Space="33.33%" Status="StepStatus.Finish" StepIndex="0" Description="@Localizer["StepDesc1"]"></Step>
        <Step Title="@Localizer["Step2Title"]" Space="33.33%" Status="StepStatus.Success" StepIndex="1" Description="@Localizer["StepDesc1"]"></Step>
        <Step Title="@Localizer["Step3Title"]" Space="33.33%" Status="StepStatus.Process" StepIndex="2" Description="@Localizer["StepDesc1"]"></Step>
        <Step Title="@Localizer["Step4Title"]" Space="33.33%" StepIndex="3" IsLast="true" Description="@Localizer["StepDesc2"]"></Step>
    </Steps>
</DemoBlock>

<DemoBlock Title="@Localizer["StepsesTitleCenterTitle"]"
           Introduction="@Localizer["StepsesTitleCenterIntro"]"
           Name="TitleCenter">
    <Steps IsCenter="true">
        <Step Title="@Localizer["Step1Title"]" Space="33.33%" IsIcon="true" Icon="fa-solid fa-user" Status="StepStatus.Success" Description="@Localizer["StepDesc1"]"></Step>
        <Step Title="@Localizer["Step2Title"]" Space="33.33%" IsIcon="true" Icon="fa-solid fa-user-plus" Status="StepStatus.Process" StepIndex="1" Description="@Localizer["StepDesc1"]"></Step>
        <Step Title="@Localizer["Step3Title"]" Space="33.33%" IsIcon="true" Icon="fa-solid fa-users" StepIndex="2" Description="@Localizer["StepDesc1"]"></Step>
        <Step Title="@Localizer["Step4Title"]" Space="33.33%" IsIcon="true" Icon="fa-solid fa-user-secret" StepIndex="3" IsLast="true" Description="@Localizer["StepDesc2"]"></Step>
    </Steps>
</DemoBlock>

<AttributeTable Items="@GetAttributes()" />

<AttributeTable Title="@Localizer["AttributeTitle"]" Items="@GetStepItemAttributes()" />

<EventTable Items="@GetEvents()" />
