@page "/switchbuttons"
@inject IStringLocalizer<SwitchButtons> Localizer

<h3>@Localizer["SwitchButtonsTitle"]</h3>
<h4>@Localizer["SwitchButtonsDescription"]</h4>

<DemoBlock Title="@Localizer["SwitchButtonsNormalTitle"]"
           Introduction="@Localizer["SwitchButtonsNormalIntro"]"
           Name="Normal"
           Demo="typeof(Demos.SwitchButtons.SwitchButtonsNormal)">
</DemoBlock>

<DemoBlock Title="@Localizer["SwitchButtonsToggleStateTitle"]"
           Introduction="@Localizer["SwitchButtonsToggleStateIntro"]"
           Name="ToggleState"
           Demo="typeof(Demos.SwitchButtons.SwitchButtonsToggleState)">
    <p>@Localizer["SwitchButtonsToggleStateDescription"]</p>
</DemoBlock>

<DemoBlock Title="@Localizer["SwitchButtonsOnClickTitle"]"
           Introduction="@Localizer["SwitchButtonsOnClickIntro"]"
           Name="OnClick"
           Demo="typeof(Demos.SwitchButtons.SwitchButtonsOnClick)">
    <p>@Localizer["SwitchButtonsOnClickDescription"]</p>
</DemoBlock>

<AttributeTable Items="@GetAttributes()" />
