@page "/switchbuttons"
@inject IStringLocalizer<SwitchButtons> Localizer

<h3>@Localizer["H1"]</h3>
<h4>@Localizer["H2"]</h4>

<DemoBlock Title="@Localizer["P1"]" Introduction="@Localizer["P2"]" Name="Normal">
    <SwitchButton />
</DemoBlock>

<DemoBlock Title="@Localizer["P3"]" Introduction="@Localizer["P4"]" Name="ToggleState">
    <p>@Localizer["P5"]</p>
    <SwitchButton ToggleState="ToggleState" />
</DemoBlock>

<DemoBlock Title="@Localizer["P6"]" Introduction="@Localizer["P7"]" Name="OnClick">
    <p>@Localizer["P8"]</p>
    <SwitchButton OnClick="OnClick" />
    <BlockLogger @ref="Trace" class="mt-3" />
</DemoBlock>

<AttributeTable Items="@GetAttributes()" />
