@page "/switchs"
@inject IStringLocalizer<Switchs> Localizer

<h3>@Localizer["SwitchsTitle"]</h3>

<h4>@Localizer["SwitchsDescription"]</h4>

<DemoBlock Title="@Localizer["SwitchsNormalTitle"]"
           Introduction="@Localizer["SwitchsNormalIntro"]"
           Name="Normal"
           Demo="typeof(Demos.Switchs.SwitchsNormal)">
    <p>@Localizer["SwitchsNormalDescription"]</p>
</DemoBlock>

<DemoBlock Title="@Localizer["SwitchsDisableTitle"]"
           Introduction="@Localizer["SwitchsDisableIntro"]"
           Name="Disable"
           Demo="typeof(Demos.Switchs.SwitchsDisable)">
</DemoBlock>

<DemoBlock Title="@Localizer["SwitchsColorTitle"]"
           Introduction="@Localizer["SwitchsColorIntro"]"
           Name="Color"
           Demo="typeof(Demos.Switchs.SwitchsColor)">
</DemoBlock>

<DemoBlock Title="@Localizer["SwitchsBindingTitle"]"
           Introduction="@Localizer["SwitchsBindingIntro"]"
           Name="Binding"
           Demo="typeof(Demos.Switchs.SwitchsBinding)">
    <p>@((MarkupString)Localizer["SwitchsBindingDescription1"].Value)</p>
    <p>@((MarkupString)Localizer["SwitchsBindingDescription2"].Value)</p>
</DemoBlock>

<DemoBlock Title="@Localizer["SwitchsInnerTextTitle"]"
           Introduction="@Localizer["SwitchsInnerTextIntro"]"
           Name="InnerText"
           Demo="typeof(Demos.Switchs.SwitchsInnerText)">
    <p>@((MarkupString)Localizer["SwitchsInnerTextDescription"].Value)</p>
</DemoBlock>

<DemoBlock Title="@Localizer["SwitchsNuallableTitle"]"
           Introduction="@Localizer["SwitchsNuallableIntro"]"
           Name="Nuallable"
           Demo="typeof(Demos.Switchs.SwitchsNuallable)">
</DemoBlock>

<AttributeTable Items="@GetAttributes()" />

<EventTable Items="@GetEvents()" />
