@page "/textarea"
@inject IStringLocalizer<TextAreas> Localizer
@implements IDisposable

<h3>@Localizer["TextAreaTitle"]</h3>

<h4>@Localizer["TextAreaSubTitle"]</h4>

<DemoBlock Title="@Localizer["TextAreaNormalTitle"]"
           Introduction="@Localizer["TextAreaNormalIntro"]"
           Name="Normal">
    <label class="form-label mb-3">@Localizer["TextAreaLabel"]</label>
    <Textarea placeholder="@Localizer["TextAreaPlaceHolder"]" rows="4" />
</DemoBlock>

<DemoBlock Title="@Localizer["TextAreaDisableTitle"]"
           Introduction="@Localizer["TextAreaDisableIntro"]"
           Name="IsDisabled">
    <label class="form-label mb-3">@Localizer["TextAreaLabel"]</label>
    <Textarea placeholder="@Localizer["TextAreaPlaceHolder"]" rows="4" IsDisabled="true" />
</DemoBlock>

<DemoBlock Title="@Localizer["TextAreaReadOnlyTitle"]"
           Introduction="@Localizer["TextAreaReadOnlyIntro"]"
           Name="ReadOnly">
    <label class="form-label mb-3">@Localizer["TextAreaLabel"]</label>
<Textarea placeholder="@Localizer["TextAreaPlaceHolder"]" rows="4" readonly />
</DemoBlock>

<DemoBlock Title="@Localizer["TextAreaHeightTitle"]"
           Introduction="@Localizer["TextAreaHeightIntro"]"
           Name="Rows">
    <label class="form-label mb-3">@Localizer["TextAreaLabel"]</label>

<Textarea placeholder="@Localizer["TextAreaPlaceHolder"]" rows="4" />
</DemoBlock>

<DemoBlock Title="@Localizer["TextAreaBindWayTitle"]"
           Introduction="@Localizer["TextAreaBindWayIntro"]"
           Name="BindValue">
    <div class="row g-3">
        <div class="col-12">
            <label class="form-label">@Localizer["TextAreaLabel"]</label>
            <Textarea placeholder="@Localizer["TextAreaPlaceHolder"]" rows="4" @bind-Value="@Text"></Textarea>
        </div>
        <div class="col-12">
            <label class="form-label">@Localizer["TextAreaBindWayBindValue"]</label>
            <div class="form-control textarea-demo">@Text</div>
        </div>
    </div>
</DemoBlock>

<DemoBlock Title="@Localizer["TextAreaScrollTitle"]"
           Introduction="@Localizer["TextAreaScrollIntro"]"
           Name="IsAutoScroll">
    <Textarea class="mb-3" placeholder="@Localizer["TextAreaPlaceHolder"]" rows="10" @ref="TextareaElement" @bind-Value="@ChatText" IsAutoScroll="IsAutoScroll" />

    <BootstrapInputGroup>
        <Button Text="@Localizer[ChatLocalizerName]" OnClick="MockChat" Icon="fa-fw fas fa-comments" />
        <Button Text="@Localizer["TextAreaScrollToTop"]" OnClick="ScrollToTop" />
        <Button Text="@Localizer["TextAreaScrollToBottom"]" OnClick="ScrollToBottom" />
        <Button Text="@Localizer["TextAreaScrollTo"]" OnClick="ScrollTo20" />
        <Button Text="@($"{Localizer["TextAreaAutoScroll"]}{(IsAutoScroll ? " On":" Off")}" )" OnClick="SwitchAutoScroll" />
    </BootstrapInputGroup>
</DemoBlock>

<AttributeTable Items="@GetAttributes()" />
