@page "/textareas"
@inject IStringLocalizer<Textareas> Localizer

<h3>@Localizer["TextareasTitle"]</h3>

<h4>@Localizer["TextareasSubTitle"]</h4>

<DemoBlock Title="@Localizer["TextareasNormalTitle"]"
           Introduction="@Localizer["TextareasNormalIntro"]"
           Name="Normal"
           Demo="typeof(Demos.Textareas.TextareasNormal)">
    <label class="form-label">@Localizer["TextareasLabel"]</label>
</DemoBlock>

<DemoBlock Title="@Localizer["TextareasDisableTitle"]"
           Introduction="@Localizer["TextareasDisableIntro"]"
           Name="Disable"
           Demo="typeof(Demos.Textareas.TextareasDisable)">
    <label class="form-label">@Localizer["TextareasLabel"]</label>
</DemoBlock>

<DemoBlock Title="@Localizer["TextareasReadonlyTitle"]"
           Introduction="@Localizer["TextareasReadonlyIntro"]"
           Name="Readonly"
           Demo="typeof(Demos.Textareas.TextareasReadonly)">
    <label class="form-label">@Localizer["TextareasLabel"]</label>
</DemoBlock>

<DemoBlock Title="@Localizer["TextareasHeightTitle"]"
           Introduction="@Localizer["TextareasHeightIntro"]"
           Name="Height"
           Demo="typeof(Demos.Textareas.TextareasHeight)">
    <label class="form-label">@Localizer["TextareasLabel"]</label>
</DemoBlock>

<DemoBlock Title="@Localizer["TextareasBindWayTitle"]"
           Introduction="@Localizer["TextareasBindWayIntro"]"
           Name="BindToWay"
           Demo="typeof(Demos.Textareas.TextareasBindToWay)">
</DemoBlock>

<DemoBlock Title="@Localizer["TextareasScrollTitle"]"
           Introduction="@Localizer["TextareasScrollIntro"]"
           Name="Scroll"
           Demo="typeof(Demos.Textareas.TextareasScroll)">
</DemoBlock>

<AttributeTable Items="@GetAttributes()" />
