@page "/timelines"
@inject IStringLocalizer<Timelines> Localizer

<h3>@Localizer["TimelinesTitle"]</h3>

<h4>@Localizer["TimelinesSubTitle"]</h4>

<DemoBlock Title="@Localizer["TimelinesNormalTitle"]"
           Introduction="@Localizer["TimelinesNormalIntro"]"
           Name="Normal">
    <div class="d-flex mb-3 align-items-center">
        <div class="text-nowrap me-1">@Localizer["TimelinesNormalDescription"]</div>
        <RadioList class="flex-fill" TValue="SelectedItem" OnSelectedChanged="@OnStateChanged" Items="@Items1"></RadioList>
    </div>
    <Timeline Items="TimelineItems" IsReverse="@IsReverse"></Timeline>
</DemoBlock>

<DemoBlock Title="@Localizer["TimelinesCutomNodeStyleTitle"]"
           Introduction="@Localizer["TimelinesCutomNodeStyleIntro"]"
           Name="CutomNodeStyle">
    <Timeline Items="CustomerTimelineItems" />
</DemoBlock>

<DemoBlock Title="@Localizer["TimelinesLeftTitle"]"
           Introduction="@Localizer["TimelinesLeftIntro"]"
           Name="Left">
    <p class="mb-3">@((MarkupString)Localizer["TimelinesLeftDescription"].Value)</p>
    <Timeline Items="AlternateTimelineItems" IsLeft="true" />
</DemoBlock>

<DemoBlock Title="@Localizer["TimelinesAlternateTitle"]"
           Introduction="@Localizer["TimelinesAlternateIntro"]"
           Name="Alternate">
    <p class="mb-3">@((MarkupString)Localizer["TimelinesAlternateDescription"].Value)</p>
    <Timeline Items="AlternateTimelineItems" IsAlternate="true" />
</DemoBlock>

<DemoBlock Title="@Localizer["TimelinesDispalyCustomComponentTitle"]"
           Introduction="@Localizer["TimelinesDispalyCustomComponentIntro"]"
           Name="DispalyCustomComponent">
    <p class="mb-3">@((MarkupString)Localizer["TimelinesDispalyCustomComponentDescription"].Value)</p>
    <Timeline Items="GetCustomerComponentTimelineItems()" />
</DemoBlock>

<AttributeTable Items="GetAttributes()" />

<AttributeTable Items="GetTimelineItemAttributes()" Title="@Localizer["AttributeTitle"]" />
