@page "/timers"
@inject IStringLocalizer<Timers> Localizer

<h3>@Localizer["TimersTitle"]</h3>
<h4>@Localizer["TimersDescription"]</h4>

<DemoBlock Title="@Localizer["TimersNormalTitle"]"
           Introduction="@Localizer["TimersNormalIntro"]"
           Name="Normal"
           Demo="typeof(Demos.Timers.TimersNormal)">
</DemoBlock>

<DemoBlock Title="@Localizer["TimersColorTitle"]"
           Introduction="@Localizer["TimersColorIntro"]"
           Name="Color"
           Demo="typeof(Demos.Timers.TimersColor)">
</DemoBlock>

<AttributeTable Items="@GetAttributes()" />
