@page "/topologies"
@inject IStringLocalizer<Topologies> Localizer

<h3>@Localizer["TopologiesTitle"]</h3>
<h4>@((MarkupString)Localizer["TopologiesDescription"].Value)</h4>

<DemoBlock Title="@Localizer["TopologiesNomalTitle"]"
           Introduction="@Localizer["TopologiesNomalIntro"]"
           Name="Nomal"
           Demo="typeof(Demos.Topologies.TopologiesNomal)">
</DemoBlock>

<AttributeTable Items="@GetAttributes()" />
