@page "/topologies"
@inject IStringLocalizer<Topologies> Localizer

<h3>@Localizer["H1"]</h3>
<h4>@Localizer["H2"]</h4>

<DemoBlock Title="@Localizer["P1"]" Introduction="@Localizer["P2"]" Name="Nomal">
    <div class="topology">
        <Topology @ref="TopologyElement" Content="@Content" OnBeforePushData="OnBeforePushData"></Topology>
    </div>
</DemoBlock>

<AttributeTable Items="@GetAttributes()" />
