@page "/topologies"
@inject IStringLocalizer<Topologies> Localizer

<h3>@Localizer["TopologiesTitle"]</h3>
<h4>@((MarkupString)Localizer["TopologiesDescription"].Value)</h4>

<DemoBlock Title="@Localizer["TopologiesNormalTitle"]"
           Introduction="@Localizer["TopologiesNormalIntro"]"
           Name="Normal"
           Demo="typeof(Demos.Topologies.TopologiesNormal)">
</DemoBlock>

<AttributeTable Items="@GetAttributes()" />
