@page "/transitions"
@inject IStringLocalizer<Transitions> Localizer

<h3>@Localizer["TransitionsTitle"]</h3>
<h4>@Localizer["TransitionsDescription"]</h4>

<DemoBlock Title="@Localizer["TransitionsNormalTitle"]"
           Introduction="@Localizer["TransitionsNormalIntro"]"
           Name="Normal"
           Demo="typeof(Demos.Transitions.TransitionsNormal)">
</DemoBlock>

<DemoBlock Title="@Localizer["TransitionsEndCallbackTitle"]"
           Introduction="@Localizer["TransitionsEndCallbackIntro"]"
           Name="EndCallback"
           Demo="typeof(Demos.Transitions.TransitionsEndCallback)">
</DemoBlock>

<DemoBlock Title="@Localizer["TransitionsDurationTitle"]"
           Introduction="@Localizer["TransitionsDurationIntro"]"
           Name="Duration"
           Demo="typeof(Demos.Transitions.TransitionsDuration)">
</DemoBlock>

<AttributeTable Items="@GetAttributes()" />
