@page "/transfers"
@inject IStringLocalizer<Transfers> Localizer

<h3>@Localizer["TransfersTitle"]</h3>

<DemoBlock Title="@Localizer["TransferNormalTitle"]"
           Introduction="@Localizer["TransferNormalIntro"]"
           Name="Normal"
           Demo="typeof(Demos.Transfers.TransferNormal)">
</DemoBlock>

<DemoBlock Title="@Localizer["TransferCustomerTitle"]"
           Introduction="@Localizer["TransferCustomerIntro"]"
           Name="Customer"
           Demo="typeof(Demos.Transfers.TransferCustomer)">
</DemoBlock>

<DemoBlock Title="@Localizer["TransferSearchTitle"]"
           Introduction="@Localizer["TransferSearchIntro"]"
           Name="Search"
           Demo="typeof(Demos.Transfers.TransferSearch)">
</DemoBlock>

<DemoBlock Title="@Localizer["TransferBindTitle"]"
           Introduction="@Localizer["TransferBindIntro"]"
           Name="Bind"
           Demo="typeof(Demos.Transfers.TransferBind)">
    <p>@((MarkupString)Localizer["TransferBindDescription"].Value)</p>
</DemoBlock>

<DemoBlock Title="@Localizer["TransferValidateTitle"]"
           Introduction="@Localizer["TransferValidateIntro"]"
           Name="Validate"
           Demo="typeof(Demos.Transfers.TransferValidate)">
    <p>@((MarkupString)Localizer["ClientValidationP1"].Value)</p>
</DemoBlock>

<DemoBlock Title="@Localizer["TransferMinMaxTitle"]"
           Introduction="@Localizer["TransferMinMaxIntro"]"
           Name="MinMax"
           Demo="typeof(Demos.Transfers.TransferMinMax)">
</DemoBlock>

<DemoBlock Title="@Localizer["TransferDisableTitle"]"
           Introduction="@Localizer["TransferDisableIntro"]"
           Name="Disable"
           Demo="typeof(Demos.Transfers.TransferDisable)">
</DemoBlock>

<DemoBlock Title="@Localizer["TransferItemClassTitle"]"
           Introduction="@Localizer["TransferItemClassIntro"]"
           Name="ItemClass"
           Demo="typeof(Demos.Transfers.TransferItemClass)">
</DemoBlock>

<AttributeTable Items="@GetAttributes()" />

<EventTable Items="@GetEvents()" />
