@page "/trees"
@inject IStringLocalizer<Trees> Localizer

<h3>@Localizer["TreesTitle"]</h3>
<h4>@Localizer["TreesDescription"]</h4>

<Tips class="mt-3">
    @((MarkupString)Localizer["TreeIntro"].Value)
</Tips>

<DemoBlock Title="@Localizer["TreesNormalTitle"]"
           Introduction="@Localizer["TreesNormalIntro"]"
           Name="Normal"
           Demo="typeof(Demos.Trees.TreesNormal)">
    <p>
        @((MarkupString)Localizer["TreesNormalDescription"].Value)
    </p>
</DemoBlock>

<DemoBlock Title="@Localizer["TreesCheckboxTitle"]"
           Introduction="@Localizer["TreesCheckboxIntro"]"
           Name="Checkbox"
           Demo="typeof(Demos.Trees.TreesCheckbox)">
    <p>
        @((MarkupString)Localizer["TreesCheckboxDescription"].Value)
    </p>
</DemoBlock>

<DemoBlock Title="@Localizer["TreesShowRadioTitle"]"
           Introduction="@Localizer["TreesShowRadioIntro"]"
           Name="ShowRadio"
           Demo="typeof(Demos.Trees.TreesShowRadio)">
    <p>
        @((MarkupString)Localizer["TreesShowRadioDescription"].Value)
    </p>
</DemoBlock>

<DemoBlock Title="@Localizer["TreesDisableTitle"]"
           Introduction="@Localizer["TreesDisableIntro"]"
           Name="Disable"
           Demo="typeof(Demos.Trees.TreesDisable)">
    <p>
        @((MarkupString)Localizer["TreesDisableDescription"].Value)
    </p>
</DemoBlock>

<DemoBlock Title="@Localizer["TreesAccordionModelTitle"]"
           Introduction="@Localizer["TreesAccordionModelIntro"]"
           Name="AccordionModel"
           Demo="typeof(Demos.Trees.TreesAccordionModel)">
    <p>@((MarkupString)Localizer["TreesAccordionModelDescription"].Value)</p>
</DemoBlock>

<DemoBlock Title="@Localizer["TreesDefauleExpandTitle"]"
           Introduction="@Localizer["TreesDefauleExpandIntro"]"
           Name="DefauleExpand"
           Demo="typeof(Demos.Trees.TreesDefauleExpand)">
    <p>
        @((MarkupString)Localizer["TreesDefauleExpandDescription"].Value)
    </p>
</DemoBlock>

<DemoBlock Title="@Localizer["TreesDisplayIconTitle"]"
           Introduction="@Localizer["TreesDisplayIconIntro"]"
           Name="DisplayIcon"
           Demo="typeof(Demos.Trees.TreesDisplayIcon)">
    <p>
        @((MarkupString)Localizer["TreesDisplayIconDescription"].Value)
    </p>
</DemoBlock>

<DemoBlock Title="@Localizer["TreesClickExpandTitle"]"
           Introduction="@Localizer["TreesClickExpandIntro"]"
           Name="ClickExpand"
           Demo="typeof(Demos.Trees.TreesClickExpand)">
    <p>
        @((MarkupString)Localizer["TreesClickExpandDescription"].Value)
    </p>
</DemoBlock>

<DemoBlock Title="@Localizer["TreesValidationFormTitle"]"
           Introduction="@Localizer["TreesValidationFormIntro"]"
           Name="ValidationForm"
           Demo="typeof(Demos.Trees.TreesValidationForm)">
    <p>
        @((MarkupString)Localizer["TreesValidationFormDescription"].Value)
    </p>
</DemoBlock>

<DemoBlock Title="@Localizer["TreesLazyLoadingTitle"]"
           Introduction="@Localizer["TreesLazyLoadingIntro"]"
           Name="LazyLoading"
           Demo="typeof(Demos.Trees.TreesLazyLoading)">
    <p>
        @((MarkupString)Localizer["TreesLazyLoadingDescription"].Value)
    </p>
</DemoBlock>

<DemoBlock Title="@Localizer["TreesCustomNodeTitle"]"
           Introduction="@Localizer["TreesCustomNodeIntro"]"
           Name="CustomNode"
           Demo="typeof(Demos.Trees.TreesCustomNode)">
</DemoBlock>

<DemoBlock Title="@Localizer["TreesNodeColorTitle"]"
           Introduction="@Localizer["TreesNodeColorIntro"]"
           Name="NodeColor"
           Demo="typeof(Demos.Trees.TreesNodeColor)">
</DemoBlock>

<DemoBlock Title="@Localizer["TreesCheckedItemsTitle"]"
           Introduction="@Localizer["TreesCheckedItemsIntro"]"
           Name="CheckedItems"
           Demo="typeof(Demos.Trees.TreesCheckedItems)">
</DemoBlock>

<DemoBlock Title="@Localizer["TreesShowSkeletonTitle"]"
           Introduction="@Localizer["TreesShowSkeletonIntro"]"
           Name="ShowSkeleton"
           Demo="typeof(Demos.Trees.TreesShowSkeleton)">
</DemoBlock>

<AttributeTable Items="@GetAttributes()" />

<AttributeTable Items="@GetTreeItemAttributes()" Title="@Localizer["TreeItem"]" />
