@page "/VideoPlayers"
@namespace BootstrapBlazor.Shared.Samples
@inject IStringLocalizer<VideoPlayers> Localizer

<h3>@Localizer["VideoPlayersTitle"]</h3>

<PackageTips Name="BootstrapBlazor.VideoPlayer" />

<Tips>
    <p>@((MarkupString)Localizer["VideoPlayersTips"].Value)</p>
</Tips>
<DemoBlock Title="@Localizer["VideoPlayersNomalTitle"]"
           Introduction="@Localizer["VideoPlayersNomalIntro"]"
           Name="Nomal"
           Demo="typeof(Demos.VideoPlayers.VideoPlayersNomal)">
</DemoBlock>

<DemoBlock Title="@Localizer["VideoPlayersChangeURLTitle"]"
           Introduction="@Localizer["VideoPlayersChangeURLIntro"]"
           Name="ChangeURL"
           Demo="typeof(Demos.VideoPlayers.VideoPlayersChangeURL)">
</DemoBlock>

<AttributeTable Items="@GetAttributes()" />
<br />
<h5>MineType 类型</h5>
<ol>
    <li>opus: 'video/ogg'</li>
    <li>ogv: 'video/ogg'</li>
    <li>mp4: 'video/mp4'</li>
    <li>mov: 'video/mp4'</li>
    <li>m4v: 'video/mp4'</li>
    <li>mkv: 'video/x-matroska'</li>
    <li>m4a: 'audio/mp4'</li>
    <li>mp3: 'audio/mpeg'</li>
    <li>aac: 'audio/aac'</li>
    <li>caf: 'audio/x-caf'</li>
    <li>flac: 'audio/flac'</li>
    <li>oga: 'audio/ogg'</li>
    <li>wav: 'audio/wav'</li>
    <li>m3u8: 'application/x-mpegURL'</li>
    <li>mpd: 'application/dash+xml'</li>
    <li>jpg: 'image/jpeg'</li>
    <li>jpeg: 'image/jpeg'</li>
    <li>gif: 'image/gif'</li>
    <li>png: 'image/png'</li>
    <li>svg: 'image/svg+xml'</li>
    <li>webp: 'image/webp'</li>
</ol>
