@page "/web-serial"
@inject IStringLocalizer<WebSerials> Localizer

<h3>@Localizer["WebSerialTitle"]</h3>

<h4>@Localizer["WebSerialIntro"]</h4>

<p>@((MarkupString)Localizer["WebSerialDescription"].Value)</p>

<PackageTips Name="BootstrapBlazor.WebAPI" />

<DemoBlock Title="@Localizer["WebSerialNormalTitle"]" Introduction="@Localizer["WebSerialNormalIntro"]" Name="WebSerialNormal">
    <GroupBox Title="串口设置">
        <div class="row g-3">
            <div class="col-12 col-sm-6 col-md-4">
                <Select Color="Color.Primary" Items="BaudRateList" @bind-Value="@SelectedBaudRate" ShowLabel="true" />
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <BootstrapInputNumber Color="Color.Primary" @bind-Value="@options.DataBits" ShowLabel="true" />
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <BootstrapInputNumber Color="Color.Primary" @bind-Value="@options.StopBits" ShowLabel="true" />
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <Select Color="Color.Primary" @bind-Value="@options.FlowControlType" ShowLabel="true" />
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <Select Color="Color.Primary" @bind-Value="@options.ParityType" ShowLabel="true" />
            </div>
        </div>
    </GroupBox>
    <GroupBox Title="其他功能" class="mt-3">
        <div class="row g-3">
            <div class="col-12 col-sm-6 col-md-4">
                <BootstrapInputNumber Color="Color.Primary" @bind-Value="@options.BufferSize" ShowLabel="true" />
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <Select Color="Color.Primary" @bind-Value="@options.AutoFrameBreakType" ShowLabel="true" />
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <BootstrapInput Color="Color.Primary" @bind-Value="@options.FrameBreakChar" ShowLabel="true" />
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <Switch ShowLabel="true" @bind-Value="@options.AutoConnect" />
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <Switch ShowLabel="true" @bind-Value="@options.OutputInHex" />
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <Switch ShowLabel="true" @bind-Value="@options.InputWithHex" />
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <Switch ShowLabel="true" @bind-Value="@options.Break" IsDisabled />
             </div>
             <div class="col-12 col-sm-6 col-md-4">
                 <Switch ShowLabel="true" @bind-Value="@options.RTS" IsDisabled />
             </div>
             <div class="col-12 col-sm-6 col-md-4">
                 <Switch ShowLabel="true" @bind-Value="@options.DTR" IsDisabled />
             </div>
         </div>
     </GroupBox>

     <div class="mt-3">
         @if (Flag)
        {
            <WebSerial @ref="WebSerial" OnConnect="@OnConnect" OnReceive="@OnReceive" OnLog="@OnLog" OnError="@OnError" Options="@options" Debug ShowUI="false" />

            <div @ref="WebSerial.Element">
                <BootstrapInputGroup>
                    <Button data-action="butConnect">@options.ConnectBtnTitle</Button>
                    <input class="form-control" type="text" data-action="fname" style="visibility:hidden;width:300px;" />
                    <Button data-action='butwrite' style="visibility:hidden;">@options.WriteBtnTitle</Button>
                    @if (!IsConnected)
                    {
                        <Button Text="关闭" OnClick="OnApply" Icon="fa-fw fa-solid fa-close" />
                    }
                </BootstrapInputGroup>
            </div>
            <pre data-action="log"></pre>
        }
        else
        {
            <Button Text="应用" OnClick="OnApply" Icon="fa-fw fa-solid fa-play" />
        }
    </div>

    <section ignore>
        <p>注意:本例子改变设置要点关闭再重新应用</p>
        <pre style="overflow-y:scroll;max-height:500px;">@_message</pre>
        <pre style="color:green">@_statusMessage</pre>
        <pre style="color:red">@_errorMessage</pre>
        <hr />
        <a href="https://github.com/densen2014/Densen.Extensions/blob/master/Demo/Receive_DSP.ino">附件: Arduino源码示例</a>
    </section>
</DemoBlock>


<AttributeTable Items="@GetAttributes()" />

<AttributeTable Title="@Localizer["WebSerialOptionsText"]" Items="@GetWebSerialOptionsAttributes()" />

