@namespace BootstrapBlazor.Components
@inherits BootstrapModuleComponentBase
@attribute [JSModuleAutoLoader("./_content/BootstrapBlazor/Components/Dialog/IconDialog.razor.js", Relative = false)]

<div class="row g-3" id="@Id" data-bb-title="@CopiedTooltipText">
    <div class="col-12">
        <RadioList Items="@Items" @bind-Value="@IconStyle" OnValueChanged="OnValueChanged"></RadioList>
    </div>
    <div class="col-12">
        <label class="form-label">@LabelText</label>
        <div class="input-group">
            <div class="input-group-text">
                <i class="@IconName"></i>
            </div>
            <div class="form-control is-display">@IconName</div>
            <button type="button" class="btn btn-primary" role="button">
                <i class="fa-regular fa-copy"></i>
                <span>@ButtonText</span>
            </button>
        </div>
    </div>
    <div class="col-12">
        <label class="form-label">@LabelFullText</label>
        <div class="input-group">
            <div class="input-group-text">
                <i class="@IconName"></i>
            </div>
            <div class="form-control is-display">@IconFullName</div>
            <button type="button" class="btn btn-primary" role="button">
                <i class="fa-regular fa-copy"></i>
                <span>@ButtonText</span>
            </button>
        </div>
    </div>
</div>
