@namespace BootstrapBlazor.Components
@typeparam TModel
@inherits DialogBase<TModel>

@if (BodyTemplate != null)
{
    @BodyTemplate.Invoke(Model)
    <div class="row mt-3">
        <div class="col-12">
            @RenderFooter
        </div>
    </div>
}
else
{
    <CascadingValue Value="true" IsFixed="true" Name="IsSearch">
        <EditorForm TModel="TModel" Model="Model" Items="Items" RowType="RowType" ItemsPerRow="ItemsPerRow" LabelAlign="LabelAlign">
            <Buttons>
                @RenderFooter
            </Buttons>
        </EditorForm>
    </CascadingValue>
}

@code {
    RenderFragment RenderFooter =>
    @<div class="table-modal-footer">
        <Button Color="Color.Secondary" Icon="fa fa-trash-o" Text="@ResetButtonText" OnClickWithoutRender="@OnResetSearchClick" />
        <Button Color="Color.Primary" Icon="fa fa-search" Text="@QueryButtonText" OnClickWithoutRender="@OnSearchClick" />
    </div>;
}
