@namespace BootstrapBlazor.Components
@inherits DropdownBase

<div id="@Id" class="@DirectionClassName" @attributes="@AdditionalAttributes">
    <button type="button" class="@ButtonClassName" data-toggle="@DropdownToggle" aria-haspopup="true" aria-expanded="false">@Value?.Text</button>
    @if (ShowSplit)
    {
        <button type="button" class="@ClassName" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
    }
    <div class="@MenuAlignmentClass" aria-labelledby="dropdownMenuButton">
        @foreach (var item in Items ?? new SelectedItem[0])
        {
            <a class="@ActiveItem(item)" href="#" @onclick:preventDefault @onclick:stopPropagation @onclick="e => OnClick(item)">@item.Text</a>
        }
    </div>
</div>
