@page "/praclogin"
@inject NavigationManager Navigation
@inject MessageService MessageService
@using System.ComponentModel;

<div class="container">
    <div class="row">
        <div class="col-12">
            <Card class="shadow-lg border-0 my-5">
                <BodyTemplate>
                    <div class="login-item">
                        <div class="text-center">
                            <h4 class="text-dark">欢迎使用 BootstrapBlazor 组件库</h4>
                            <h4 class="text-dark">用户登录!</h4>
                        </div>
                        <ValidateForm Model="@Model" @ref="ValidatorForm">
                            <BootstrapInput @bind-Value="Model.UserName" ShowLabel="false" PlaceHolder="请输入账号" />
                            <BootstrapPassword @bind-Value="Model.Password" ShowLabel="false" PlaceHolder="请输入密码" />
                            <Checkbox @bind-Value="@Model.RememberMe" ShowLabel="false" ShowAfterLabel="true" DisplayText="记住登录状态" />
                            <Button Text="登录" OnClickWithoutRender="OnValidator" Color="Color.Primary"></Button>
                            <hr />
                            <Button Text="忘记密码" Color="Color.Danger" OnClick="@ForgotPassword"></Button>
                            <Button Text="用户注册" Color="Color.Info" OnClick="@UserRegistration"></Button>
                        </ValidateForm>
                    </div>
                </BodyTemplate>
            </Card>
        </div>
        <div class="col-12">
            <Card class="shadow-lg border-0 my-5">
                <BodyTemplate>
                    <div class="login-item login-item-floating">
                        <div class="text-center">
                            <h4 class="text-dark">欢迎使用 BootstrapBlazor 组件库</h4>
                            <h4 class="text-dark">用户登录!</h4>
                        </div>
                        <ValidateForm Model="@Model">
                            <FloatingLabel DisplayText="邮箱" TValue="string" IsGroupBox="true" PlaceHolder="user@blazor.zone" />
                            <FloatingLabel DisplayText="密码" TValue="string" type="password" IsGroupBox="true" PlaceHolder="password" />
                            <Checkbox TValue="bool" ShowLabel="false" ShowAfterLabel="true" DisplayText="记住登录状态" />
                            <Button Text="登录" Color="Color.Primary"></Button>
                            <hr />
                            <Button Text="忘记密码" Color="Color.Danger"></Button>
                            <Button Text="用户注册" Color="Color.Info"></Button>
                        </ValidateForm>
                    </div>
                </BodyTemplate>
            </Card>
        </div>
        <div class="col-12">
            <Card class="shadow-lg border-0 my-5">
                <BodyTemplate>
                    <div class="login-item login-item-avatar">
                        <div class="text-center">
                            <Avatar Url="_content/BootstrapBlazor.Shared/images/Argo-C.png" IsCircle="true" Size="Size.ExtraExtraLarge" />
                            <h4 class="text-dark">欢迎使用 BootstrapBlazor 组件库</h4>
                        </div>
                        <ValidateForm Model="@Model">
                            <BootstrapInput TValue="string" ShowLabel="false" PlaceHolder="请输入账号" />
                            <BootstrapPassword ShowLabel="false" PlaceHolder="请输入密码" />
                            <Checkbox TValue="bool" ShowLabel="false" ShowAfterLabel="true" DisplayText="记住登录状态" />
                            <Button Text="登录" Color="Color.Primary"></Button>
                            <hr />
                            <div class="d-flex">
                                <Button Text="忘记密码" Color="Color.Danger"></Button>
                                <Button Text="用户注册" Color="Color.Info"></Button>
                            </div>
                        </ValidateForm>
                    </div>
                </BodyTemplate>
            </Card>
        </div>
        <div class="col-12">
            <Card class="shadow-lg border-0 my-5">
                <BodyTemplate>
                    <div class="login-item login-item-gitee">
                        <div class="login-header">
                            <span>登录</span>
                            <div class="login-register">没有账号？<a href="#">点此注册</a></div>
                        </div>
                        <ValidateForm Model="@Model">
                            <BootstrapInput TValue="string" ShowLabel="false" PlaceHolder="请输入账号" />
                            <BootstrapPassword ShowLabel="false" PlaceHolder="请输入密码" />
                            <div class="login-sms">
                                <Checkbox TValue="bool" ShowLabel="false" ShowAfterLabel="true" DisplayText="记住我" />
                                <a href="#">短信验证登录</a>
                            </div>
                            <Button Text="登录" Color="Color.Primary"></Button>
                            <div class="text-center my-4">
                                <a href="#">已有账号，忘记密码</a>
                            </div>
                            <Divider Text="其他登录方式" />
                            <div class="login-oauth">
                                <div class="login-oauth-item">
                                    <i class="fa-brands fa-github"></i>
                                </div>
                                <div class="login-oauth-item">
                                    <i class="fa-brands fa-twitter"></i>
                                </div>
                                <div class="login-oauth-item">
                                    <i class="fa-brands fa-apple"></i>
                                </div>
                                <div class="login-oauth-item">
                                    <i class="fa-brands fa-facebook"></i>
                                </div>
                            </div>
                        </ValidateForm>
                    </div>
                </BodyTemplate>
            </Card>
        </div>
    </div>
</div>

@code {
    [NotNull]
    private LoginModel? Model { get; set; } = new();

    [NotNull]
    private ValidateForm? ValidatorForm { get; set; }

    private async Task OnValidator()
    {
        var result = ValidatorForm.Validate();
        if (result)
        {
            await MessageService.Show(new MessageOption() { Content = "登录成功" });
        }
    }

    private async Task ForgotPassword()
    {
        await MessageService.Show(new MessageOption() { Content = "忘了就忘了吧..." });
    }

    private Task UserRegistration()
    {
        Navigation.NavigateTo("pracregister");
        return Task.CompletedTask;
    }

    class LoginModel
    {
        [DataType(DataType.Text)]
        [Display(Name = "账号")]
        [Required(ErrorMessage = "{0}不能为空")]
        public string? UserName { get; set; }

        [DataType(DataType.Password)]
        [Display(Name = "密码")]
        [Required(ErrorMessage = "{0}不能为空")]
        public string? Password { get; set; }

        public bool RememberMe { get; set; }
    }
}
