@page "/praclogin"
@inject NavigationManager Navigation
@inject MessageService MessageService
@using System.ComponentModel;

<div class="container">
    <div class="row">
        <div class="col-12">
            <Card class="shadow-lg border-0 my-5">
                <BodyTemplate>
                    <div class="login-item">
                        <div class="text-center">
                            <h4 class="text-dark">欢迎使用 BootstrapBlazor 组件库</h4>
                            <h4 class="text-dark">用户登陆!</h4>
                        </div>
                        <ValidateForm Model="@Model" @ref="ValidatorForm">
                            <BootstrapInput @bind-Value="Model.UserName" ShowLabel="false" PlaceHolder="请输入账号" />
                            <BootstrapPassword @bind-Value="Model.Password" ShowLabel="false" PlaceHolder="请输入密码" />
                            <Checkbox @bind-Value="@Model.RememberMe" ShowLabel="false" ShowAfterLabel="true" DisplayText="记住登陆状态" />
                            <Button Text="登陆" OnClickWithoutRender="OnValidator" Color="Color.Primary"></Button>
                            <hr />
                            <Button Text="忘记密码" Color="Color.Danger" OnClick="@ForgotPassword"></Button>
                            <Button Text="用户注册" Color="Color.Info" OnClick="@UserRegistration"></Button>
                        </ValidateForm>
                    </div>
                </BodyTemplate>
            </Card>
        </div>
        <div class="col-12">
            <Card class="shadow-lg border-0 my-5">
                <BodyTemplate>
                    <div class="login-item">
                        <div class="text-center">
                            <h4 class="text-dark">欢迎使用 BootstrapBlazor 组件库</h4>
                            <h4 class="text-dark">用户登陆!</h4>
                        </div>
                        <ValidateForm Model="@Model">
                            <BootstrapInput @bind-Value="Model.UserName" ShowLabel="false" PlaceHolder="请输入账号" />
                            <BootstrapPassword @bind-Value="Model.Password" ShowLabel="false" PlaceHolder="请输入密码" />
                            <Checkbox @bind-Value="@Model.RememberMe" ShowLabel="false" ShowAfterLabel="true" DisplayText="记住登陆状态" />
                            <Button Text="登陆" OnClickWithoutRender="OnValidator" Color="Color.Primary"></Button>
                            <hr />
                            <Button Text="忘记密码" Color="Color.Danger" OnClick="@ForgotPassword"></Button>
                            <Button Text="用户注册" Color="Color.Info" OnClick="@UserRegistration"></Button>
                        </ValidateForm>
                    </div>
                </BodyTemplate>
            </Card>
        </div>
    </div>
</div>

@code {
    [NotNull]
    private LoginModel? Model { get; set; } = new();

    [NotNull]
    private ValidateForm? ValidatorForm { get; set; }

    private async Task OnValidator()
    {
        var result = ValidatorForm.Validate();
        if (result)
        {
            await MessageService.Show(new MessageOption() { Content = "登陆成功" });
        }
    }

    private async Task ForgotPassword()
    {
        await MessageService.Show(new MessageOption() { Content = "忘了就忘了吧..." });
    }

    private Task UserRegistration()
    {
        Navigation.NavigateTo("pracregister");
        return Task.CompletedTask;
    }

    class LoginModel
    {
        [DataType(DataType.Text)]
        [Display(Name = "账号")]
        [Required(ErrorMessage = "{0}不能为空")]
        public string? UserName { get; set; }

        [DataType(DataType.Password)]
        [Display(Name = "密码")]
        [Required(ErrorMessage = "{0}不能为空")]
        public string? Password { get; set; }

        public bool RememberMe { get; set; }
    }
}
