<div class="row g-3">
    <div class="col-auto">
        <BootstrapInputGroup>
            <BootstrapInputGroupLabel DisplayText="CurrentValue" />
            <BootstrapInput @bind-Value="@currentValue" />
        </BootstrapInputGroup>
    </div>
    <div class="col-auto">
        <BootstrapInputGroup>
            <BootstrapInputGroupLabel DisplayText="MinValue" />
            <BootstrapInput @bind-Value="@minValue" />
        </BootstrapInputGroup>
    </div>
    <div class="col-auto">
        <BootstrapInputGroup>
            <BootstrapInputGroupLabel DisplayText="MaxValue" />
            <BootstrapInput @bind-Value="@maxValue" />
        </BootstrapInputGroup>
    </div>
    <div class="col-auto">
        <BootstrapInputGroup>
            <BootstrapInputGroupLabel DisplayText="DisplayText" />
            <BootstrapInput @bind-Value="@displayText" />
        </BootstrapInputGroup>
    </div>
    <div class="col-auto">
        <BootstrapInputGroup>
            <BootstrapInputGroupLabel DisplayText="Step" />
            <BootstrapInput @bind-Value="@step" />
        </BootstrapInputGroup>
    </div>
    <div class="col-auto">
        <BootstrapInputGroup>
            <BootstrapInputGroupLabel DisplayText="IsDisabled" />
            <Checkbox @bind-Value="@isDisabled" />
        </BootstrapInputGroup>
    </div>
    <div class="col-auto">
        <BootstrapInputGroup>
            <BootstrapInputGroupLabel DisplayText="UseInput" />
            <Checkbox @bind-Value="@useInput" />
        </BootstrapInputGroup>
    </div>
    <div class="col-auto">
        <BootstrapInputGroup>
            <BootstrapInputGroupLabel DisplayText="ShowLabel" />
            <Checkbox @bind-Value="@showLabel" />
        </BootstrapInputGroup>
    </div>
    <div class="col-12">
        <Range @bind-Value="@currentValue"
               Max="@maxValue" Min="@minValue" Step="@step"
               DisplayText="@displayText" ShowLabel="@showLabel"
               IsDisabled="@isDisabled" UseInputEvent="useInput"
               OnValueChanged="OnRangeSliderValueChanged" />
    </div>
    <div class="col-12">
        <ConsoleLogger @ref="Logger" class="mt-3" />
    </div>
</div>

@code {
    private string displayText { get; set; } = "Range";

    private double maxValue { get; set; } = 500;
    private double minValue { get; set; } = -500;
    private double currentValue { get; set; } = 0;
    private string step { get; set; } = "1";

    private bool isDisabled { get; set; }
    private bool useInput { get; set; }
    private bool showLabel { get; set; } = true;

    [NotNull] private ConsoleLogger? Logger { get; set; }

    private Task OnRangeSliderValueChanged(double value)
    {
        Logger.Log($"RangeSlider: Bind Value: {value}");
        return Task.CompletedTask;
    }
}
