@namespace BootstrapBlazor.Components
@inherits PopoverCompleteBase<string>

<div @attributes="@AdditionalAttributes" class="@ClassString" id="@Id">
    <div class="input-group">
        <input @attributes="AdditionalAttributes" id="@InputId" class="@ClassName" autocomplete="off" type="text"
               data-bs-toggle="@ToggleString" data-bs-placement="@PlacementString"
               data-bs-offset="@OffsetString" data-bs-custom-class="@CustomClassString"
               data-bb-skip-esc="@SkipEscString" data-bb-skip-enter="@SkipEnterString"
               data-bb-scroll-behavior="@ScrollIntoViewBehaviorString"
               data-bb-input="@UseInputString"
               value="@CurrentValueAsString"
               placeholder="@PlaceHolder" disabled="@Disabled" @ref="FocusElement" />
        @if (ShowClearButton)
        {
            <Button Color="ClearButtonColor" Text="@ClearButtonText" Icon="@ClearButtonIcon" OnClick="OnClearClick" aria-label="Clear" />
        }
        <Button Color="SearchButtonColor" Text="@SearchButtonText" Icon="@ButtonIcon" aria-label="Search" />
    </div>
    <ul class="dropdown-menu">
        @foreach (var item in FilterItems)
        {
            <li class="dropdown-item">
                @if (ItemTemplate == null)
                {
                    <div>@item</div>
                }
                else
                {
                    @ItemTemplate(item)
                }
            </li>
        }
        @if (ShowNoDataTip && FilterItems.Count == 0)
        {
            <li class="dropdown-item">@NoDataTip</li>
        }
    </ul>
</div>
