@namespace BootstrapBlazor.Components
@typeparam TModel
@inherits BootstrapComponentBase

<CascadingValue Value="@EditorItems" IsFixed="true">
    @FieldItems?.Invoke(Model)
</CascadingValue>

@if (FirstRender)
{
    <div class="ef-loading">
        <Spinner Color="Color.Primary" />
    </div>
}
else
{
    <div class="form-inline">
        <div class="row">
            @foreach (var item in FormItems)
            {
                @if (item.EditTemplate != null)
                {
                    <CascadingValue Value="@ShowLabel" IsFixed="true" Name="EditorFormShowLabel">
                        @item.EditTemplate.Invoke(Model)
                    </CascadingValue>
                }
                else
                {
                    <div class="@GetCssString(item)">
                        @AutoGenerateTemplate(item)
                    </div>
                }
            }
        </div>
    </div>
    @Buttons
}
