@namespace BootstrapBlazor.Components
@typeparam TModel
@inherits BootstrapComponentBase

<CascadingValue Value="@EditorItems" IsFixed="true">
    @FieldItems?.Invoke(Model)
</CascadingValue>

@if (FirstRender)
{
    <div class="ef-loading">
        <Spinner Color="Color.Primary" />
    </div>
}
else
{

    <CascadingValue Value="this" Name="EidtorForm">

        @if (ShowCategory ?? false)
    {
        foreach (var grp in GroupedFormItems)
        {
            <div class="mt-4">
                <GroupBox Title="@grp.Key">
                    <div class="@FormClassString">
                        @foreach (var item in grp.Value)
                        {
                            var render = GetRenderTemplate(item);


                            @if (render != null)
                            {
                                @render(Model)
                            }
                            else
                            {
                                <div class="@GetCssString(item)">
                                    @AutoGenerateTemplate(item)
                                </div>
                            }
                        }
                    </div>
                </GroupBox>
            </div>
        }
    }
    else
    {

        <div class="@FormClassString">
            @foreach (var item in FormItems)
            {
                var render = GetRenderTemplate(item);
                @if (render != null)
                {
                    @render(Model)
                }
                else
                {
                    <div class="@GetCssString(item)">
                        @AutoGenerateTemplate(item)
                    </div>
                }
            }
            @if (Buttons != null)
            {
                <div class="col-12">
                    @Buttons
                </div>
            }
        </div>
    }

</CascadingValue>
}
