@namespace BootstrapBlazor.Components
@typeparam TModel
@inherits BootstrapComponentBase

<CascadingValue Value="@EditorItems" IsFixed="true">
    @FieldItems?.Invoke(Model)
</CascadingValue>

@if (FirstRender)
{
    <div class="ef-loading">
        <Spinner Color="Color.Primary" />
    </div>
}
else
{
    <div class="form-body">
        <CascadingValue Value="this" Name="EidtorForm">
            @foreach (var g in FormItems.GroupBy(i => i.GroupOrder).OrderBy(i => i.Key).Select(i => new { i.First().GroupName, Items = i.OrderBy(x => x.Order) }))
            {
                if (string.IsNullOrEmpty(g.GroupName))
                {
                    <div class="@FormClassString">
                        @foreach (var item in g.Items)
                        {
                            var render = GetRenderTemplate(item);
                            @if (render != null)
                            {
                                @render(Model)
                            }
                            else
                            {
                                <div class="@GetCssString(item)">
                                    @AutoGenerateTemplate(item)
                                </div>
                            }
                        }
                    </div>
                }
                else
                {
                    <GroupBox Title="@g.GroupName">
                        <div class="@FormClassString">
                            @foreach (var item in g.Items)
                            {

                                var render = GetRenderTemplate(item);
                                @if (render != null)
                                {
                                    @render(Model)
                                }
                                else
                                {
                                    <div class="@GetCssString(item)">
                                        @AutoGenerateTemplate(item)
                                    </div>
                                }
                            }
                        </div>
                    </GroupBox>
                }
            }
        </CascadingValue>
    </div>
    @if (Buttons != null)
    {
        <div class="form-footer">
            @Buttons
        </div>
    }
}
