@inject IStringLocalizer<ImageViewerNormal> Localizer

<div>
    <ul class="ul-demo">
        <li>@((MarkupString)Localizer["ImageViewerNormalTips1"].Value)</li>
        <li>@((MarkupString)Localizer["ImageViewerNormalTips2"].Value)</li>
        <li>@((MarkupString)Localizer["ImageViewerNormalTips3"].Value)</li>
        <li>@((MarkupString)Localizer["ImageViewerNormalTips4"].Value)</li>
        <li>@((MarkupString)Localizer["ImageViewerNormalTips5"].Value)</li>
    </ul>
    <div class="images mt-3">
        <div class="images-item">
            <div>Fill</div>
            <ImageViewer Url="./images/bird.jpeg"
                         FitMode="ObjectFitMode.Fill" />
        </div>
        <div class="images-item">
            <div>Contain</div>
            <ImageViewer Url="./images/bird.jpeg"
                         FitMode="ObjectFitMode.Contain" />
        </div>
        <div class="images-item">
            <div>Cover</div>
            <ImageViewer Url="./images/bird.jpeg"
                         FitMode="ObjectFitMode.Cover" />
        </div>
        <div class="images-item">
            <div>None</div>
            <ImageViewer Url="./images/bird.jpeg"
                         FitMode="ObjectFitMode.None" />
        </div>
        <div class="images-item">
            <div>ScaleDown</div>
            <ImageViewer Url="./images/bird.jpeg"
                         FitMode="ObjectFitMode.ScaleDown" />
        </div>
    </div>
</div>
