@inject IStringLocalizer<ImageViewerPlaceHolderTemplate> Localizer

<div>
    <div>@((MarkupString)Localizer["ImageViewerPlaceHolderTemplateTips1"].Value)</div>
    <div class="images img-ph mt-3">
        <div class="images-item">
            <div>@Localizer["ImageViewerPlaceHolderTemplateUrl"]</div>
            <ImageViewer Url="">
                <PlaceHolderTemplate>
                    <div class="bb-img-holder">
                        <div class="bb-img-loading">@Localizer["ImageViewerPlaceHolderTemplateplaceholder"]</div>
                    </div>
                </PlaceHolderTemplate>
            </ImageViewer>
        </div>
        <div class="images-item">
            <div>@Localizer["ImageViewerPlaceHolderTemplateLoadingShow"]</div>
            <ImageViewer Url="./images/image-ph.jpeg" ShowPlaceHolder="true">
                <PlaceHolderTemplate>
                    <div class="bb-img-holder">
                        <div class="bb-img-loading">@Localizer["ImageViewerPlaceHolderTemplateplaceholder"]</div>
                    </div>
                </PlaceHolderTemplate>
            </ImageViewer>
        </div>
    </div>
</div>
