@namespace BootstrapBlazor.Components
@inherits BootstrapModuleComponentBase
@attribute [BootstrapModuleAutoLoader]

<div @attributes="@AdditionalAttributes" tabindex="-1" class="@ClassString" id="@Id">
    @if (ShowBackdrop)
    {
        <div tabindex="-1" class="drawer-backdrop" @onclick="@OnContainerClick">
        </div>
    }
    <div tabindex="-1" class="@DrawerClassString" style="@DrawerStyleString" @onclick:stopPropagation>
        <CascadingValue Value="Close" IsFixed=" true">
            @ChildContent
        </CascadingValue>
    </div>
</div>
