@inject IStringLocalizer<DividerIcon> Localizer

<div>
    <p>@Localizer["Content1"]</p>
    <Divider Icon="fa-fw fa-solid fa-at" Alignment="Alignment.Left" />
    <p>@Localizer["Content2"]</p>
    <Divider Icon="fa-fw fa-solid fa-chart-bar" />
    <p>@Localizer["Content3"]</p>
    <Divider Icon="fa-fw fa-solid fa-bookmark" Text="@Localizer["Bookmark"]" Alignment="Alignment.Right" />
    <p>@Localizer["Content4"]</p>
</div>
