@inject IStringLocalizer<DividerAlignment> Localizer

<div>
    <p>@Localizer["Content1"]</p>
    <Divider Text="@Localizer["Divider1"]" Alignment="Alignment.Left"/>
    <p>@Localizer["Content2"]</p>
    <Divider Text="@Localizer["Divider2"]"/>
    <p>@Localizer["Content3"]</p>
    <Divider Text="@Localizer["Divider3"]" Alignment="Alignment.Right"/>
    <p>@Localizer["Content4"]</p>
</div>
