@inject IStringLocalizer<DividerVertical> Localizer

<div>
    <div class="d-flex">
        <span>@Localizer["Content1"]</span>
        <Divider IsVertical="true" />
        <span>@Localizer["Content2"]</span>
        <Divider IsVertical="true" />
        <span>@Localizer["Content3"]</span>
    </div>
    <Divider Text="@Localizer["Divider"]" />
    <div class="d-flex" style="height: 100px;">
        <div class="border border-primary" style="width:100px; height:100%;"></div>
        <Divider IsVertical="true" Alignment="Alignment.Left" />
        <div class="border border-success" style="width:100px; height:100%;"></div>
        <Divider IsVertical="true"></Divider>
        <div class="border border-info" style="width:100px; height:100%;"></div>
        <Divider IsVertical="true" Alignment="Alignment.Right" />
        <div class="border border-warning" style="width:100px; height:100%;"></div>
    </div>
    <Divider Text="@Localizer["Divider"]" />
    <div class="d-flex" style="height: 200px;">
        <div class="border border-primary" style="width:100px; height:100%;"></div>
        <Divider IsVertical="true" Text="@Localizer["Divider"]" Alignment="Alignment.Left" />
        <div class="border border-success" style="width:100px; height:100%;"></div>
        <Divider IsVertical="true" Text="@Localizer["Divider"]" />
        <div class="border border-info" style="width:100px; height:100%;"></div>
        <Divider IsVertical="true" Text="@Localizer["Divider"]" Alignment="Alignment.Right" />
        <div class="border border-warning" style="width:100px; height:100%;" />
    </div>
</div>
