@namespace BootstrapBlazor.Components
@inherits BootstrapModuleComponentBase
@attribute [BootstrapModuleAutoLoader]

<div @attributes="AdditionalAttributes" id="@Id" class="@ClassString" data-bb-title="@TooltipText">
    <span class="anchor-text">@Text</span>
    <i class="@IconString"></i>
</div>
