@namespace BootstrapBlazor.Components
@inherits BootstrapModuleComponentBase
@attribute [BootstrapModuleAutoLoader(JSObjectReference = true)]

@if (_init)
{
    <CascadingValue Value="this" IsFixed="true">
        @if (IsAuthenticated)
        {
            <section @attributes="AdditionalAttributes" class="@ClassString" style="@StyleString">
                @if (Side == null)
                {
                    if (Header != null)
                    {
                        @RenderHeader(false)
                    }
                    @RenderMain
                    @if (ShowFooter && Footer != null)
                    {
                        @RenderFooter
                    }
                }
                else if (IsFullSide)
                {
                    @RenderSide
                    <section class="layout-right">
                        @if (Header != null)
                        {
                            @RenderHeader(ShowCollapseBar)
                        }
                        @RenderMain
                        @if (ShowFooter && Footer != null)
                        {
                            @RenderFooter
                        }
                    </section>
                }
                else
                {
                    @if (Header != null)
                    {
                        @RenderHeader(ShowCollapseBar)
                    }
                    <section class="has-sidebar">
                        @RenderSide
                        @RenderMain
                    </section>
                    @if (ShowFooter && Footer != null)
                    {
                        @RenderFooter
                    }
                }
            </section>
        }
        else if (NotAuthorized != null)
        {
            @NotAuthorized
        }
        else
        {
            @RenderMain
        }
    </CascadingValue>
}

@code {
    RenderFragment<bool> RenderHeader => collapse =>
    @<header class="@HeaderClassString">
        @if (collapse)
        {
            @if (CollapseBarTemplate == null)
            {
                <div data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="@TooltipText" class="layout-header-bar" @onclick="ToggleSidebar">
                    <i class="@MenuBarIcon"></i>
                </div>
            }
            else
            {
                @CollapseBarTemplate
            }
        }
        @Header
    </header>;

    RenderFragment RenderSide =>
    @<aside class="@SideClassString" style="@SideStyleString">
        @if (Side != null)
        {
            @Side
        }
        @if (ShowSplitebar)
        {
            <LayoutSplitebar Min="SidebarMinWidth" Max="SidebarMaxWidth"></LayoutSplitebar>
        }
        @if (Menus != null)
        {
            @RenderMenu
        }
    </aside>;

    RenderFragment RenderMenu =>
    @<div class="layout-menu">
        @if (IsFixedTabHeader || IsFullSide)
        {
            <Scroll>
                <Menu Items="@Menus" IsVertical="true" IsAccordion="@IsAccordion" OnClick="ClickMenu"></Menu>
            </Scroll>
        }
        else
        {
            <Menu Items="@Menus" IsVertical="true" IsAccordion="@IsAccordion" OnClick="ClickMenu"></Menu>
        }
    </div>;

    RenderFragment RenderMain =>
    @<main class="layout-main">
        @if (UseTabSet)
        {
            <Tab ClickTabToNavigation="ClickTabToNavigation" AdditionalAssemblies="@AdditionalAssemblies"
                 ShowExtendButtons="ShowTabExtendButtons" ShowClose="ShowTabItemClose" AllowDrag="AllowDragTab"        
                 DefaultUrl="@TabDefaultUrl" ExcludeUrls="@ExcludeUrls" IsOnlyRenderActiveTab="IsOnlyRenderActiveTab"
                 Body="@Main" NotAuthorized="NotAuthorized!" NotFound="NotFound!" NotFoundTabText="@NotFoundTabText">
            </Tab>
        }
        else
        {
            @HandlerMain()
        }
    </main>;

    RenderFragment RenderFooter =>
    @<footer class="@FooterClassString">
        @Footer
        @if (ShowGotoTop)
        {
            <GoTop Target="@GetTargetString()" />
        }
    </footer>;
}
