@namespace BootstrapBlazor.Components
@inherits LayoutBase

<section @attributes="AdditionalAttributes" class="@ClassString">
    @if (Side == null)
    {
        <header class="@HeaderClassString">
            @Header
        </header>
        <main class="@MainClassString">
            @Main
        </main>
        @if (ShowFooter)
        {
            <footer class="@FooterClassString">
                @Footer
                @if (ShowGotoTop)
                {
                    <GoTop />
                }
            </footer>
        }
    }
    else if (IsFullSide)
    {
        <aside class="@SideClassString" style="@SideStyleString">
            @Side
            @if (Menus != null)
            {
                <div class="layout-menu">
                    <Scroll IsDark="@IsDark">
                        <Menu Items="@Menus" IsVertical="true" IsCollapsed="@IsCollapsed" OnClick="@ClickMenu" />
                    </Scroll>
                </div>
            }
        </aside>
        <section class="layout-right">
            <header class="@HeaderClassString">
                @if (ShowCollapseBar)
                {
                    <a title="" data-toggle="tooltip" data-original-title="@TooltipText" class="@CollapseBarClassString" @onclick="@CollapseMenu">
                        <i class="fa fa-bars"></i>
                    </a>
                }
                @Header
            </header>
            <main class="@MainClassString">
                @Main
            </main>
            @if (ShowFooter)
            {
                <footer class="@FooterClassString">
                    @Footer
                    @if (ShowGotoTop)
                    {
                        <GoTop />
                    }
                </footer>
            }
        </section>
    }
    else
    {
        <header class="@HeaderClassString">
            @if (ShowCollapseBar)
            {
                <a title="" data-toggle="tooltip" data-original-title="@TooltipText" class="@CollapseBarClassString" @onclick="@CollapseMenu">
                    <i class="fa fa-bars"></i>
                </a>
            }
            @Header
        </header>
        <section class="has-sidebar">
            <aside class="@SideClassString" style="@SideStyleString">
                @Side
                @if (Menus != null)
                {
                    <div class="layout-menu">
                        <Menu Items="@Menus" IsVertical="true" IsCollapsed="@IsCollapsed" OnClick="@ClickMenu" />
                    </div>
                }
            </aside>
            <main class="@MainClassString">
                @Main
            </main>
        </section>
        @if (ShowFooter)
        {
            <footer class="@FooterClassString">
                @Footer
                @if (ShowGotoTop)
                {
                    <GoTop />
                }
            </footer>
        }
    }
</section>
