@namespace BootstrapBlazor.Components
@inherits BootstrapModuleComponentBase

<div @attributes="@AdditionalAttributes" class="@ClassString">
    @foreach (var item in Items)
    {
        <div @key="item" class="@GetLabelClassString(item)">
            @if (!string.IsNullOrEmpty(item.Icon))
            {
                <span class="segmented-item-icon">
                    <i class="@item.Icon"></i>
                </span>
                <span>@item.Text</span>
            }
            else if (DisplayItemTemplate != null)
            {
                @DisplayItemTemplate(item)
            }
            else
            {
                @item.Text
            }
        </div>
    }
</div>
