<div class="row g-3">
    <div class="col-auto">
        <h4>Positions</h4>
        <RadioList @bind-Value="@position" />
        <h4>Models</h4>
        <p>所有模型均来自github开源项目，仅供展示之用，本组件并不包含任何模型。</p>
        <RadioList Items="@SrcItems" @bind-Value="@BindSrcItem" />
    </div>
    <div class="col-12">
        <h4>Scale</h4>
        <Slider @bind-Value="@Scale" Max=100 Label="Model Scale"></Slider>
    </div>
    <h4>Offset</h4>
    <div class="col-12 col-sm-6">
        <Slider @bind-Value="@Xoffset" Max=500 Label="X offset"></Slider>
    </div>
    <div class="col-12 col-sm-6">
        <Slider @bind-Value="@Yoffset" Max=500 Label="Y offset"></Slider>
    </div>
    <div class="col-12">
        <h4>Other options</h4>
        <div class="d-flex flex-row mb-3">
            <div class="p-2">
                <Checkbox TValue="bool" @bind-Value="@addHitAreaFrames" ShowLabel="true" DisplayText="HitAreaFrames" />
            </div>
            <div class="p-2">
                <Checkbox TValue="bool" @bind-Value="@backgroundAlpha" ShowLabel="true" DisplayText="BackgroundAlpha" />
            </div>
            <div class="p-2">
                <ColorPicker @bind-Value="@backgroundColor" ShowLabel="true" DisplayText="BackgroundColor" />
            </div>
        </div>
    </div>
</div>

<Live2DDisplay class=@BindCssItem.Value Source=@BindSrcItem.Value
               Scale=@_scale Position=@position AddHitAreaFrames=@addHitAreaFrames
               Xoffset=@_xoffset BackgroundColor=@backgroundColor
               Yoffset=@_yoffset BackgroundAlpha=@backgroundAlpha />

@code {
    private string backgroundColor { get; set; } = "#000000";

    private bool backgroundAlpha { get; set; } = false;

    private bool addHitAreaFrames { get; set; } = false;

    private double _scale { get; set; } = 0.2;

    private double Scale
    {
        get => _scale * 100;
        set
        {
            _scale = value / 100;
        }
    }

    private int _xoffset { get; set; } = 0;

    private double Xoffset
    {
        get => _xoffset;
        set
        {
            _xoffset = Convert.ToInt32(value);
        }
    }

    private int _yoffset { get; set; } = 0;

    private double Yoffset
    {
        get => _yoffset;
        set
        {
            _yoffset = Convert.ToInt32(value);
        }
    }

    private LivePosition position { get; set; }

    private SelectedItem BindCssItem { get; set; } = new SelectedItem();

    private SelectedItem BindSrcItem { get; set; } = new SelectedItem();

    private IEnumerable<SelectedItem>? SrcItems { get; set; } = new SelectedItem[]
    {
        new SelectedItem("https://cdn.jsdelivr.net/gh/guansss/pixi-live2d-display/test/assets/shizuku/shizuku.model.json","cubism2Model"),
        new SelectedItem("https://cdn.jsdelivr.net/gh/guansss/pixi-live2d-display/test/assets/haru/haru_greeter_t03.model3.json","cubism4Model"),
        new SelectedItem("https://raw.githubusercontent.com/iCharlesZ/vscode-live2d-models/master/model-library/bilibili-22/index.json","bilibili-22"),
        new SelectedItem("https://raw.githubusercontent.com/iCharlesZ/vscode-live2d-models/master/model-library/bilibili-33/index.json","bilibili-33"),
        new SelectedItem("https://raw.githubusercontent.com/iCharlesZ/vscode-live2d-models/master/model-library/chiaki_kitty/chiaki_kitty.model.json","chiaki_kitty"),
        new SelectedItem("https://raw.githubusercontent.com/iCharlesZ/vscode-live2d-models/master/model-library/date_16/date_16.model.json","date_16"),
        new SelectedItem("https://raw.githubusercontent.com/iCharlesZ/vscode-live2d-models/master/model-library/hallo_16/hallo_16.model.json","hallo_16"),
        new SelectedItem("https://raw.githubusercontent.com/iCharlesZ/vscode-live2d-models/master/model-library/haruto/haruto.model.json","haruto"),
    };
}
