@page "/"
@using System.Diagnostics.CodeAnalysis;

<div class="row g-3">
    <div class="col-auto">
        <RadioList class="mb-1" @bind-Value="@position" />
        <RadioList class="mb-1" Items="@SrcItems" @bind-Value="@BindSrcItem" />
        <BootstrapInputGroup class="mb-1">
            <BootstrapInputGroupLabel DisplayText="Scale" />
            <BootstrapInputNumber @bind-Value="@Scale" IsSelectAllTextOnFocus="true" />
        </BootstrapInputGroup>
        <BootstrapInputGroup class="mb-1">
            <BootstrapInputGroupLabel DisplayText="X offset" />
            <BootstrapInputNumber @bind-Value="@x" IsSelectAllTextOnFocus="true" />
        </BootstrapInputGroup>
        <BootstrapInputGroup class="mb-1">
            <BootstrapInputGroupLabel DisplayText="Y offset" />
            <BootstrapInputNumber @bind-Value="@y" IsSelectAllTextOnFocus="true" />
        </BootstrapInputGroup>
        <BootstrapInputGroup class="mb-1">
            <BootstrapInputGroupLabel DisplayText="IsDraggble" />
            <Checkbox TValue="bool" @bind-Value="@isDraggble" />
        </BootstrapInputGroup>
        <BootstrapInputGroup class="mb-1">
            <BootstrapInputGroupLabel DisplayText="Hit Area Frames" />
            <Checkbox TValue="bool" @bind-Value="@addHitAreaFrames" />
        </BootstrapInputGroup>
        <BootstrapInputGroup class="mb-1">
            <BootstrapInputGroupLabel DisplayText="BackgroundAlpha" />
            <Checkbox TValue="bool" @bind-Value="@backgroundAlpha" />
        </BootstrapInputGroup>
        <BootstrapInputGroup class="mb-1">
            <BootstrapInputGroupLabel DisplayText="BackgroundColor" />
            <ColorPicker @bind-Value="@backgroundColor" />
        </BootstrapInputGroup>
    </div>
</div>

<Live2DDisplay class=@BindCssItem.Value
               Scale=@Scale
               X=@x BackgroundColor="@backgroundColor"
               Y=@y BackgroundAlpha="@backgroundAlpha"
               Position=@position
               IsDraggble=@isDraggble
               AddHitAreaFrames=@addHitAreaFrames
               Source=@BindSrcItem.Value />

@code {

    private string backgroundColor { get; set; } = "#DDDDDD";
    private bool backgroundAlpha { get; set; }
    private bool addHitAreaFrames { get; set; }

    private bool isDraggble { get; set; }

    private double Scale { get; set; } = 0.2;

    private int x { get; set; }
    private int y { get; set; }

    private LivePosition position { get; set; }

    private SelectedItem BindCssItem { get; set; } = new SelectedItem();


    private IEnumerable<SelectedItem>? SrcItems { get; set; } = new SelectedItem[]
    {
        new SelectedItem("https://cdn.jsdelivr.net/gh/guansss/pixi-live2d-display/test/assets/shizuku/shizuku.model.json","cubism2Model"),
        new SelectedItem("https://cdn.jsdelivr.net/gh/guansss/pixi-live2d-display/test/assets/haru/haru_greeter_t03.model3.json","cubism4Model"),
        new SelectedItem("https://raw.githubusercontent.com/iCharlesZ/vscode-live2d-models/master/model-library/bilibili-22/index.json","bilibili-22"),
        new SelectedItem("https://raw.githubusercontent.com/iCharlesZ/vscode-live2d-models/master/model-library/bilibili-33/index.json","bilibili-33"),
        new SelectedItem("https://raw.githubusercontent.com/iCharlesZ/vscode-live2d-models/master/model-library/chiaki_kitty/chiaki_kitty.model.json","chiaki_kitty"),
        new SelectedItem("https://raw.githubusercontent.com/iCharlesZ/vscode-live2d-models/master/model-library/chitose/chitose.model.json","chitose"),
        new SelectedItem("https://raw.githubusercontent.com/iCharlesZ/vscode-live2d-models/master/model-library/date_16/date_16.model.json","date_16"),
        new SelectedItem("https://raw.githubusercontent.com/iCharlesZ/vscode-live2d-models/master/model-library/hallo_16/hallo_16.model.json","hallo_16"),
        new SelectedItem("https://raw.githubusercontent.com/iCharlesZ/vscode-live2d-models/master/model-library/haru01/haru01.model.json","haru01"),
        new SelectedItem("https://raw.githubusercontent.com/iCharlesZ/vscode-live2d-models/master/model-library/haru02/haru02.model.json","haru02"),
        new SelectedItem("https://raw.githubusercontent.com/iCharlesZ/vscode-live2d-models/master/model-library/haruto/haruto.model.json","haruto"),
    };

    private SelectedItem BindSrcItem { get; set; } = new SelectedItem();
}
