@namespace BootstrapBlazor.Components
@typeparam TModel
@inherits BootstrapComponentBase

<div @attributes="@AdditionalAttributes" class="@ClassString">
    <CascadingValue Value="_filters" IsFixed="true">
        @ChildContent?.Invoke(new TModel())
    </CascadingValue>
    @if (_inited)
    {
        @RenderFilters(_filters)
    }
    else
    {
        if (ShowSkeleton)
        {
            // TODO: QueryBuilder 骨架屏
        }
        else if (ShowLoadingInFirstRender)
        {
            <div class="table-loading">
                <Spinner Color="Color.Primary" />
            </div>
        }
    }
</div>

@code {
    RenderFragment<FilterKeyValueAction> RenderFilter => filter =>
    @<div class="qb-row">
        <Select Items="_fields" @bind-Value="@filter.FieldKey" />
        <Select Items="Operations" @bind-Value="@filter.FilterAction" />
        <BootstrapInput @bind-Value="@filter.FieldValue" />
        <Button Icon="@MinusIcon" class="btn-minus"></Button>
        <Button Icon="@PlusIcon" class="btn-plus"></Button>
    </div>;
}
