@page "/chart/index"
@layout MainLayout
@inject IStringLocalizer<Index> Localizer

<h3>@Localizer["Chart"]</h3>
<h4>@Localizer["ChartIntro"]</h4>

<PackageTips Name="BootstrapBlazor.Chart" />

<p>@((MarkupString)Localizer["ChartIntro2"].Value)</p>

<AttributeTable Items="@GetAttributes()" />

<MethodTable Items="@GetMethodAttributes()" />
