@page "/charts/index"
@layout MainLayout
@inject IStringLocalizer<Index> Localizer

<h3>@Localizer["Chart"]</h3>
<h4>@Localizer["ChartIntro"]</h4>

<PackageTips Name="BootstrapBlazor.Chart" />

<Tips>
    <div>@((MarkupString)Localizer["Tips"].Value)</div>
</Tips>

<h4>@Localizer["CSSfile"]</h4>

<p>
    @Localizer["AddBelowThisLine"] : 
    <code>
        &lt;link href="_content/BootstrapBlazor/css/bootstrap.blazor.bundle.min.css" rel="stylesheet"  /&gt;
    </code>
</p>

<Pre>&lt;link rel="stylesheet" href="_content/BootstrapBlazor.Chart/css/bootstrap.blazor.chart.bundle.min.css" /&gt;</Pre>

<h4>@Localizer["JSfile"]</h4>

<p>
    @Localizer["AddBelowThisLine"] : 
    <code>
        &lt;script src="_content/BootstrapBlazor/js/bootstrap.blazor.bundle.min.js"&gt;&lt;/script&gt;
    </code>
</p>

<Pre>&lt;script src="_content/BootstrapBlazor.Chart/js/bootstrap.blazor.chart.bundle.min.js"&gt;&lt;/script&gt;</Pre>

<p>@((MarkupString)Localizer["ChartIntro2"].Value)</p>

<AttributeTable Items="@GetAttributes()" />
