@page "/charts/index"
@layout MainLayout
@inject IStringLocalizer<Index> Localizer

<h3>@Localizer["H1"]</h3>
<h4>@Localizer["H2"]</h4>

<p>@Localizer["P1"] <a href="https://www.nuget.org/packages?q=BootstrapBlazor.Chart" target="_blank"><code>BootstrapBlazor.Chart</code></a>，@Localizer["P2"]</p>

<Tips>
    <div>@Localizer["P3"]</div>
</Tips>

<p><b>@Localizer["P4"]</b></p>

<p>@Localizer["P5"] <a href="https://www.nuget.org/packages?q=BootstrapBlazor.Chart" target="_blank">nuget.org</a> @Localizer["P5A"] <code>BootstrapBlazor.Chart</code> @Localizer["P6"]</p>

<div class="code-label">.NET CLI</div>
<Pre class="no-highlight">dotnet add package BootstrapBlazor.Chart --version @Version</Pre>

<div class="code-label">PackageReference</div>
<Pre class="no-highlight">&lt;PackageReference Include="BootstrapBlazor.Chart" Version="@Version" /&gt;</Pre>

<div class="code-label">Package Manager</div>
<Pre class="no-highlight">Install-Package BootstrapBlazor.Chart -Version @Version</Pre>

<h4>@Localizer["P7"]</h4>

<Pre>&lt;link rel="stylesheet" href="_content/BootstrapBlazor.Chart/css/bootstrap.blazor.chart.bundle.min.css" /&gt;</Pre>

<h4>@Localizer["P8"]</h4>

<Pre>&lt;script src="_content/BootstrapBlazor.Chart/js/bootstrap.blazor.chart.bundle.min.js"&gt;&lt;/script&gt;</Pre>

<p>@Localizer["P9"]</p>

<AttributeTable Items="@GetAttributes()" />

<EventTable Items="@GetEvents()" />
