@page "/charts/index"
@layout MainLayout
@inject IStringLocalizer<Index> Localizer

<h3>@Localizer["Chart"]</h3>
<h4>@Localizer["ChartIntro"]</h4>

<PackageTips Name="BootstrapBlazor.Chart" />

<Tips>
    <div>@((MarkupString)Localizer["Tips"].Value)</div>
</Tips>

<p>@((MarkupString)Localizer["ChartIntro2"].Value)</p>

<AttributeTable Items="@GetAttributes()" />
