@namespace BootstrapBlazor.Components
@inherits ToggleBase<bool?>

@if (IsShowLabel)
{
    <BootstrapLabel required="@Required" ShowLabelTooltip="ShowLabelTooltip" Value="@DisplayText" />
}
<div @attributes="@AdditionalAttributes" class="@ClassName" style="@SwitchStyleName">
    <span class="@CoreClassName" data-inner-text="@GetInnerText()" style="@StyleName" @onclick="@OnClick" />
    @if (!string.IsNullOrEmpty(Text))
    {
        <span class="switch-label">
            @Text
        </span>
    }
</div>
