@inject IStringLocalizer<DisplayDataType> Localizer

<div class="row g-3">
    <div class="col-12 col-sm-6">
        Integer
        <Display FormatString="000" @bind-Value="@Model.Count" ShowLabel="true" DisplayText="@Localizer["Integer"]" />
    </div>
    <div class="col-12 col-sm-6">
        <Display @bind-Value="@Model.Education" ShowLabel="true" DisplayText="@Localizer["Enum"]" />
    </div>
    <div class="col-12 col-sm-6">
        <Display @bind-Value="@Model.Hobby" ShowLabel="true" DisplayText="@Localizer["Collection"]" />
    </div>
    <div class="col-12 col-sm-6">
        <Display @bind-Value="@ByteArray" ShowLabel="true" DisplayText="@Localizer["Arr"]" />
    </div>
    <div class="col-12 col-sm-6">
        <Display Value="@DateTime.Now" ShowLabel="true" DisplayText="DateTime" />
    </div>
    <div class="col-12 col-sm-6">
        <Display Value="@DateTimeOffset.Now" ShowLabel="true" DisplayText="DateTimeOffset" />
    </div>
</div>

@code {
    /// <summary>
    /// Foo 类为Demo测试用，如有需要请自行下载源码查阅
    /// Foo class is used for Demo test, please download the source code if necessary
    /// https://gitee.com/LongbowEnterprise/BootstrapBlazor/blob/main/src/BootstrapBlazor.Shared/Data/Foo.cs
    /// </summary>
    [NotNull]
    private Foo? Model { get; set; }

    [Inject]
    [NotNull]
    private IStringLocalizer<Foo>? FooLocalizer { get; set; }

    private byte[] ByteArray { get; set; } = { 0x01, 0x12, 0x34, 0x56 };

    /// <summary>
    /// OnInitialized 方法
    /// </summary>
    protected override void OnInitialized()
    {
        base.OnInitialized();

        Model = Foo.Generate(FooLocalizer);
        Model.Hobby = Foo.GenerateHobbies(FooLocalizer).Take(3).Select(i => i.Text);
    }
}
