@inject IStringLocalizer<BootstrapBlazor.Shared.Samples.Rows> Localizer
@inject IStringLocalizer<Foo> LocalizerFoo

<p><b>@Localizer["RowspanTips1"]</b></p>
<ValidateForm Model="@Model">
    <Row ItemsPerRow="ItemsPerRow.Four">
        <BootstrapInput @bind-Value="@Model.Name" />
        <BootstrapInput @bind-Value="@Model.Address" />
        <BootstrapInputNumber @bind-Value="@Model.Count" />
        <Select @bind-Value="@Model.Education" />
    </Row>
</ValidateForm>
<p class="mt-3"><b>@Localizer["RowspanTips2"]</b></p>
<ValidateForm Model="@Model">
    <Row ItemsPerRow="ItemsPerRow.Two">
        <BootstrapInput @bind-Value="@Model.Name" />
        <BootstrapInput @bind-Value="@Model.Address" />
    </Row>
</ValidateForm>
<p class="mt-3"><b>@((MarkupString)Localizer["RowspanTips3"].Value)</b></p>
<ValidateForm Model="@Model">
    <Row ItemsPerRow="ItemsPerRow.Four">
        <BootstrapInput @bind-Value="@Model.Name" />
        <Row ColSpan="2">
            <BootstrapInput @bind-Value="@Model.Address" />
        </Row>
        <Select @bind-Value="@Model.Education" />
    </Row>
</ValidateForm>
<p class="mt-3"><b>@((MarkupString)Localizer["RowspanTips4"].Value)</b></p>
<ValidateForm Model="@Model">
    <Row ItemsPerRow="ItemsPerRow.Four">
        <BootstrapInput @bind-Value="@Model.Name" />
        <Row ColSpan="3">
            <BootstrapInput @bind-Value="@Model.Address" />
        </Row>
    </Row>
</ValidateForm>
<p class="mt-3"><b>@((MarkupString)Localizer["RowspanTips5"].Value)</b></p>
<ValidateForm Model="@Model">
    <Row ItemsPerRow="ItemsPerRow.Four">
        <Row ColSpan="3">
            <CheckboxList @bind-Value="@Model.Hobby" Items="@Hobbys" />
        </Row>
        <BootstrapInput @bind-Value="@Model.Address" />
    </Row>
</ValidateForm>
<p class="mt-3"><b>@Localizer["RowspanTips6"]</b></p>
<ValidateForm Model="@Model">
    <Row ItemsPerRow="ItemsPerRow.One">
        <BootstrapInput @bind-Value="@Model.Address" />
    </Row>
</ValidateForm>

@code {
    private RowFoo Model { get; } = new()
    {
        Name = "张三",
        Count = 23,
        Address = "测试地址",
        DateTime = new DateTime(1997, 12, 05),
        Educations = new List<EnumEducation> { EnumEducation.Primary, EnumEducation.Middle }
    };

    [NotNull]
    private IEnumerable<SelectedItem>? Hobbys { get; set; }

    /// <summary>
    /// OnInitialized 方法
    /// </summary>
    protected override void OnInitialized()
    {
        base.OnInitialized();

        Hobbys = Foo.GenerateHobbies(LocalizerFoo);
    }

    private class RowFoo : Foo
    {
        [Required(ErrorMessage = "请选择学历")]
        [Display(Name = "学历")]
        [AutoGenerateColumn(Order = 60)]
        public List<EnumEducation>? Educations { get; set; }
    }
}
