@namespace BootstrapBlazor.Components
@typeparam TValue
@inherits SelectBase<TValue>
@attribute [JSModuleAutoLoader("./_content/BootstrapBlazor/Components/Select/MultiSelect.razor.js", JSObjectReference = true, Relative = false)]

@if (IsShowLabel)
{
    <BootstrapLabel required="@Required" for="@Id" ShowLabelTooltip="ShowLabelTooltip" Value="@DisplayText" />
}
<div @attributes="@AdditionalAttributes" class="@ClassString" id="@Id">
    <div class="@ToggleClassString" data-bs-toggle="@ToggleString" data-bs-placement="@PlacementString" data-bs-offset="@OffsetString" data-bs-auto-close="outside" data-bs-custom-class="@CustomClassString" tabindex="0">
        <div class="@PlaceHolderClassString">@PlaceHolder</div>
        <div class="multi-select-items">
            @foreach (var item in SelectedItems)
            {
                @if (ShowCloseButton)
                {
                    <div class="multi-select-item-group">
                        <DynamicElement TagName="span" class="multi-select-close" data-bb-val="@GetValueString(item)"
                                        TriggerClick="@(!IsPopover)" OnClick="() => ToggleRow(item.Value)">
                            <i class="@ClearIcon"></i>
                        </DynamicElement>
                        <span class="multi-select-item">@item.Text</span>
                    </div>
                }
                else
                {
                    <span class="multi-select-item">@item.Text</span>
                }
            }
        </div>
    </div>
    <div class="dropdown-menu">
        @if (ShowSearch)
        {
            <div class="search">
                <input type="text" class="form-control" @bind="@SearchText" @bind:event="oninput" />
                <i class="@SearchIconString"></i>
            </div>
        }
        @if (ShowToolbar)
        {
            <div class="toolbar">
                @if (ShowDefaultButtons)
                {
                    <button class="btn" type="button" @onclick="@SelectAll">@SelectAllText</button>
                    <button class="btn" type="button" @onclick="@InvertSelect">@ReverseSelectText</button>
                    <button class="btn" type="button" @onclick="@Clear">@ClearText</button>
                }
                @ButtonTemplate
            </div>
        }
        @foreach (var itemGroup in GetData().GroupBy(i => i.GroupName))
        {
            if (!string.IsNullOrEmpty(itemGroup.Key))
            {
                <Divider Text="@itemGroup.Key" />
            }
            @foreach (var item in itemGroup)
            {
                <DynamicElement OnClick="() => ToggleRow(item.Value)" TriggerClick="@CheckCanTrigger(item)" class="@GetItemClassString(item)">
                    <div class="multi-select-item">
                        <Checkbox Value="GetCheckedState(item)" ShowLabel="false" IsDisabled="@CheckCanSelect(item)"></Checkbox>
                        @if (ItemTemplate == null)
                        {
                            <span>@item.Text</span>
                        }
                        else
                        {
                            @ItemTemplate(item)
                        }
                    </div>
                </DynamicElement>
            }
        }
    </div>
    @if (!IsPopover)
    {
        <div class="dropdown-menu-arrow"></div>
    }
</div>
