@namespace BootstrapBlazor.Components
@typeparam TValue
@inherits ValidateBase<TValue>

@if (IsShowLabel)
{
    <label class="form-label" required="@Required" for="@Id">@DisplayText</label>
}
<div class="@ClassString" @ref="SelectElement">
    <div class="@ToggleClassString" tabindex="0" hidefocus="true" outline="0" id="@Id" @onclick="@ToggleMenu">
        <div class="@PlaceHolderClassString">@PlaceHolder</div>
        <div class="multi-select-items">
            @foreach (var item in SelectedItems)
            {
                @if (ShowCloseButton)
                {
                    <div class="multi-select-item-group">
                        <span class="multi-select-close" @onclick:stopPropagation @onclick="@(e => ToggleRow(item))">
                            <i class="fa fa-times"></i>
                        </span>
                        <span class="multi-select-item">@item.Text</span>
                    </div>
                }
                else
                {
                    <span class="multi-select-item">@item.Text</span>
                }
            }
        </div>
    </div>
    <div class="dropdown-menu shadow">
        @if (ShowSearch)
        {
            <div class="search">
                <input type="text" class="search-text form-control" @bind="@SearchText" @bind:event="oninput" />
                <i class="fa fa-search"></i>
            </div>
        }
        @if (ShowToolbar)
        {
            <div class="toolbar">
                @if (ShowDefaultButtons)
                {
                    <button class="btn" type="button" @onclick="@SelectAll">@SelectAllText</button>
                    <button class="btn" type="button" @onclick="@InvertSelect">@ReverseSelectText</button>
                    <button class="btn" type="button" @onclick="@Clear">@ClearText</button>
                }
                @ButtonTemplate
            </div>
        }
        @foreach (var item in GetData())
        {
            <DynamicElement OnClick="() => ToggleRow(item, true)" TriggerClick="@CheckCanTrigger(item)" class="@GetItemClassString(item)">
                <Checkbox TValue="bool" Value="GetCheckedState(item)" IsDisabled="@CheckCanSelect(item)"></Checkbox>
                <span>@item.Text</span>
            </DynamicElement>
        }
    </div>
    <div class="dropdown-menu-arrow"></div>
</div>
