@namespace BootstrapBlazor.Components
@typeparam TValue
@inherits SelectBase<TValue>

@if (IsShowLabel)
{
    <label class="control-label" for="@InputId">@DisplayText</label>
}
<div @attributes="AdditionalAttributes" id="@Id" data-toggle="lgbSelect" class="@ClassName" @ref="SelectElement">
    <CascadingValue Value="this" IsFixed="true">
        @Options
    </CascadingValue>
    <RenderTemplate>
        @{
            var items = GetShownItems();
        }
        <input type="text" id="@InputId" readonly disabled="@DisabledString" class="@InputClassName" data-toggle="dropdown" placeholder="@PlaceHolder" value="@CurrentTextAsString" />
        <span class="@AppendClassName"><i class="fa fa-angle-up"></i></span>
        <div class="dropdown-menu-arrow"></div>
        <div class="dropdown-menu">
            @if (ShowSearch)
            {
                <div class="search">
                    <input type="text" class="search-text form-control" @bind="@SearchText" @bind:event="oninput" />
                    <i class="fa fa-search"></i>
                </div>
            }
            @if (ItemTemplate != null)
            {
                foreach (var item in items)
                {
                    <div class="@ActiveItem(item)" data-val="@item.Value" @onclick="@(e => OnItemClick(item))">
                        @ItemTemplate.Invoke(item)
                    </div>
                }
            }
            else
            {
                @foreach (var itemGroup in items.GroupBy(i => i.GroupName))
                {
                    if (!string.IsNullOrEmpty(itemGroup.Key))
                    {
                        <Divider Text="@itemGroup.Key" />
                    }
                    @foreach (var item in itemGroup)
                    {
                        <div class="@ActiveItem(item)" data-val="@item.Value" @onclick="@(e => OnItemClick(item))">@item.Text</div>
                    }
                }
            }
        </div>
        @if (!Initialized && SelectedItem != null && OnSelectedItemChanged != null)
        {
            Initialized = true;
            OnSelectedItemChanged.Invoke(SelectedItem);
        }
    </RenderTemplate>
</div>
<CascadingValue Value="this" IsFixed="true">
    @ChildContent
</CascadingValue>
