@namespace BootstrapBlazor.Components
@typeparam TItem
@inherits PopoverDropdownBase<TItem>
@attribute [BootstrapModuleAutoLoader("Select/SelectTable.razor.js", JSObjectReference = true)]

@if (IsShowLabel)
{
    <BootstrapLabel required="@Required" for="@InputId" ShowLabelTooltip="ShowLabelTooltip" Value="@DisplayText" />
}
<div @attributes="AdditionalAttributes" id="@Id" data-bs-toggle="lgbSelect" data-bb-min-width="@TableMinWidth"
     class="@ClassName">
    <div class="dropdown-toggle" data-bs-toggle="bb.dropdown" aria-expanded="false"
         data-bs-auto-close="outside" data-bs-placement="@PlacementString" data-bs-custom-class="@CustomClassString">
        @if (Template == null)
        {
            @if (IsMultipleSelect)
            {
                <div class="@MultiItemsClassString" id="@InputId" style="@MultiItemsStyleString">
                    @foreach (var item in GetDisplayItems())
                    {
                        <div class="multi-select-item-group">
                            <span class="multi-select-close" data-bb-index="@GetIndexString(item)">
                                <i class="@_closeButtonIcon"></i>
                            </span>
                            <span class="multi-select-item">@GetText(item)</span>
                        </div>
                    }
                    @if (SelectedItems.Count > MultiSelectedItemsMaxDisplayCount)
                    {
                        <div class="@MultiSelectedItemCountClassString">
                            @GetCountText()
                        </div>
                    }
                    @if (SelectedItems.Count == 0)
                    {
                        <div class="multi-select-item-ph">
                            @PlaceHolder
                        </div>
                    }
                </div>
            }
            else
            {
                <input type="text" id="@InputId" readonly disabled="@Disabled" placeholder="@PlaceHolder"
                       class="@InputClassName" value="@GetText(Value)" />
            }
        }
        else
        {
            <div id="@InputId" class="form-control is-display" tabindex="0" hidefocus="true">
                @if (Value is null)
                {
                    @PlaceHolder
                }
                else
                {
                    @Template(Value)
                }
            </div>
        }
        @if (ShowAppendArrow)
        {
            <span class="@AppendClassString"><i class="@DropdownIcon"></i></span>
        }
    </div>
    @if (GetClearable())
    {
        <span class="@ClearClassString" @onclick="OnClearValue"><i class="@ClearIcon"></i></span>
    }
    <CascadingValue Value="this" IsFixed="true">
        @TableColumns?.Invoke(new TItem())
    </CascadingValue>
    <RenderTemplate>
        <div class="dropdown-menu dropdown-table" style="@GetStyleString">
            <Table TableColumns="TableColumns" IsFixedHeader="true" IsBordered="true" IsStriped="true" @ref="_table"
                   RenderMode="TableRenderMode.Table" ClickToSelect="true" AutoGenerateColumns="AutoGenerateColumns"
                   ShowSearch="ShowSearch" SearchMode="SearchMode.Top"
                   SearchModel="SearchModel" SearchTemplate="SearchTemplate" CollapsedTopSearch="CollapsedTopSearch"
                   CustomerSearchModel="CustomerSearchModel" CustomerSearchTemplate="CustomerSearchTemplate"
                   IsPagination="IsPagination" PageItemsSource="PageItemsSource" ShowGotoNavigator="false" MaxPageLinkCount="3"
                   OnClickRowCallback="OnClickRowCallback" OnQueryAsync="OnQueryAsync"
                   IsMultipleSelect="IsMultipleSelect" @bind-SelectedRows="SelectedItems"
                   ShowToolbar="ShowToolbar" ToolbarTemplate="ToolbarTemplate"
                   TableExtensionToolbarTemplate="TableExtensionToolbarTemplate"
                   ShowDefaultButtons="false" ShowRefresh="false"
                   ShowEmpty="ShowEmpty" EmptyTemplate="EmptyTemplate"></Table>
        </div>
    </RenderTemplate>
</div>
