@inherits TablesBaseEdit
@page "/tables/selection"

<h3>Table 表格</h3>

<h4>通过设置 <code>SelectedRows</code> 设置表格行状态，通过选中样式可以设置高亮</h4>

<Block Title="设置选中行功能" Introduction="通过设置 <code>SelectedRows</code> 属性集合初始化表格时默认为选中状态">
    <Table TItem="BindItem"
           IsPagination="true" PageItemsSource="@PageItemsSource"
           IsStriped="true" IsBordered="true" IsMultipleSelect="true"
           ShowToolbar="true" @bind-SelectedRows="@SelectedRows"
           ShowDefaultButtons="false"
           OnQueryAsync="@OnQueryAsync">
        <TableColumns>
            <TableColumn @bind-Field="@context.DateTime" Width="180" />
            <TableColumn @bind-Field="@context.Name" Width="100" />
            <TableColumn @bind-Field="@context.Address" />
            <TableColumn @bind-Field="@context.Count" />
        </TableColumns>
    </Table>
</Block>

<p class="mt-3">选中的行记录：</p>
<ul class="ul-demo">
    @foreach (var item in SelectedRows)
    {
        <li>@item.Name</li>
    }
</ul>

@code {
    private IEnumerable<BindItem> SelectedRows = new List<BindItem>();

    /// <summary>
    ///
    /// </summary>
    protected override void OnInitialized()
    {
        base.OnInitialized();

        SelectedRows = Items.Take(2);
    }
}
