@page "/tables/loading"

<h3>显示数据加载功能</h3>

<h4>调用远端数据接口时，由于网络原因可能出现延时情况，可使用显示加载功能进行屏蔽</h4>

<Block Title="基础用法" Introduction="设置 <code>ShowLoading</code> 即可">
    <Table TItem="Foo" PageItemsSource="@PageItemsSource" AutoGenerateColumns="true"
           IsPagination="true" IsStriped="true" IsBordered="true" IsMultipleSelect="true"
           ShowToolbar="true" ShowExtendButtons="true" ShowSkeleton="true" ShowLoading="true" ShowSearch="true"
           OnAddAsync="@OnAddAsync" OnEditAsync="@OnEditAsync" OnSaveAsync="@OnSaveAsync" OnDeleteAsync="@OnDeleteAsync"
           OnQueryAsync="@OnQueryAsync">
        <TableColumns>
            <TableColumn @bind-Field="@context.Hobby" Data="@Hobbys" />
        </TableColumns>
    </Table>
</Block>
