@inject IStringLocalizer<DateTimePickerTime> Localizer

<div class="row g-3">
    <div class="col-12 col-sm-6">
        <div class="d-flex flex-column">
            <div class="mb-1"><code>TimeSpan</code>@Localizer["Codetext"]</div>
            <TimePickerBody @bind-Value="@SpanValue" />
            <BootstrapInput @bind-Value="@SpanValue" TValue="TimeSpan" Formatter="@FormatterSpanString" style="width: 180px; margin-top: 0.5rem;" />
        </div>
    </div>
    <div class="col-12 col-sm-6">
        <div class="d-flex flex-column">
            <div class="mb-1"><code>string</code>@Localizer["Codetext"]</div>
            <TimePickerBody Value="@TimeNow" ValueChanged="@OnValueChange" />
            <BootstrapInput @bind-Value="@SpanValue2" style="width: 180px; margin-top: 0.5rem;" />
        </div>
    </div>
</div>

@code {
    private TimeSpan TimeNow { get; set; } = DateTime.Now - DateTime.Today;

    private TimeSpan SpanValue { get; set; } = DateTime.Now.Subtract(DateTime.Today);

    private string SpanValue2 { get; set; } = DateTime.Now.ToString("HH:mm:ss");

    private static string FormatterSpanString(TimeSpan ts)
    {
        return ts.ToString("hh\\:mm\\:ss");
    }

    private void OnValueChange(TimeSpan ts)
    {
        SpanValue2 = ts.ToString("hh\\:mm\\:ss");
        StateHasChanged();
    }
}
