<div class="table-attr">
    <h4>@Title</h4>

    <Table TItem="AttributeItem" Items="Items">
        <TableColumns>
            <TableColumn @bind-Field="@context.Name" />
            <TableColumn @bind-Field="@context.Description" TextWrap="true" />
            <TableColumn @bind-Field="@context.Type" />
            <TableColumn @bind-Field="@context.Version" />
        </TableColumns>
    </Table>
</div>
