@inject IOptions<WebsiteOptions> WebsiteOption
@inject IStringLocalizer<BlazorReconnector> Localizer

<Reconnector>
    <ReconnectingTemplate>
        <div class="connection-mask"></div>
        <div class="connection-body">
            <div class="row g-3">
                @RenderBootstrapBlazor
                <div class="col-12 col-sm-5">
                    <h5>@Localizer["Title"]</h5>
                    <p><b>@Localizer["ReconnectingTitle"]</b></p>
                    <p>@((MarkupString)Localizer["ReconnectingDescription"].Value)</p>
                </div>
                <div class="col-12 col-sm-2">
                    <div class="d-flex align-items-center justify-content-center h-100">
                        <a href="javascript:window.Blazor.reconnect()" class="btn btn-primary">@Localizer["ReconnectButton"]</a>
                    </div>
                </div>
            </div>
        </div>
    </ReconnectingTemplate>
    <ReconnectFailedTemplate>
        <div class="connection-mask"></div>
        <div class="connection-body">
            <div class="row g-3">
                @RenderBootstrapBlazor
                <div class="col-12 col-sm-5">
                    <h5>@Localizer["Title"]</h5>
                    <p><b>@Localizer["ReconnectFailedTitle"]</b></p>
                    <div>@((MarkupString)Localizer["ReconnectFailedDescription"].Value)</div>
                </div>
                <div class="col-12 col-sm-2">
                    <div class="d-flex flex-column align-items-center justify-content-center h-100">
                        <a href="javascript:window.Blazor.reconnect()" class="btn btn-primary mb-3">@Localizer["ReconnectButton"]</a>
                        <a href="javascript:location.reload()" class="btn btn-info">@Localizer["ReloadButton"]</a>
                    </div>
                </div>
            </div>
        </div>
    </ReconnectFailedTemplate>
    <ReconnectRejectedTemplate>
        <div class="connection-mask"></div>
        <div class="connection-body">
            <div class="row g-3">
                @RenderBootstrapBlazor
                <div class="col-12 col-sm-5">
                    <h5>@Localizer["Title"]</h5>
                    <p><b>@Localizer["ReconnectRejectedTitle"]</b></p>
                    <div>@((MarkupString)Localizer["ReconnectRejectedDescription"].Value)</div>
                </div>
                <div class="col-12 col-sm-2">
                    <div class="d-flex flex-column align-items-center justify-content-center h-100">
                        <a href="javascript:location.reload()" class="btn btn-info">@Localizer["ReloadButton"]</a>
                    </div>
                </div>
            </div>
        </div>
    </ReconnectRejectedTemplate>
</Reconnector>

@code {
    private string TemplateUrl => $"{WebsiteOption.Value.GiteeRepositoryUrl}/wikis/%E9%A1%B9%E7%9B%AE%E6%A8%A1%E6%9D%BF%E4%BD%BF%E7%94%A8%E6%95%99%E7%A8%8B";

    RenderFragment RenderBootstrapBlazor =>
    @<div class="col-12 col-sm-5">
        <h5>@Localizer["UILibraryTitle"]</h5>
        <div class="d-flex">
            <div class="flex-fill">
                <p>@((MarkupString)Localizer["UILibraryDescription1"].Value)</p>
                <p>@((MarkupString)string.Format(Localizer["UILibraryDescription2"].Value, WebsiteOption.Value.GetTargets()))</p>
                <p></p>
                <div>@Localizer["TemplateText"] <a class="connection-link" href="@TemplateUrl" target="_blank">@Localizer["TemplateLink"]</a></div>
            </div>
            <img altt="QQ" src="@WebsiteOption.Value.GetAssetUrl("images/QQGroup@2x.png")" alt="QQGroup" />
            <div class="connection-body-tail d-none d-sm-block"></div>
        </div>
    </div>;
}
