<div class="d-flex fw-bold mb-1">
    <span class="text-success flex-fill">@Timestamp</span>
    <span>共 @TotalCount 个提交</span>
</div>
<div>提交作者: <span class="text-info fw-bold">@Author</span></div>
<div>分支名称: <span class="text-info fw-bold">@Branch</span></div>
<div>提交信息: <a href="@Url" target="_blank">@Message</a></div>
