@inherits IdComponentBase

<article class="demo-block">
    <AnchorLink Text="@Title" Id="@Name" TooltipText="@TooltipText" />

    <p>@(new MarkupString(Introduction))</p>

    <div class="card">
        <div class="card-body">
            @ChildContent
        </div>
        @if (ShowCode)
        {
            <div class="card-footer">
                <div class="card-footer-code collapse" id="@Id">
                    <LazyLoad OnLoadConditionCheckAsync="OnLoadConditionCheckAsync">
                        <Pre BlockName="@Name" ShowToolbar="true" CodeFile="@CodeFile"></Pre>
                    </LazyLoad>
                </div>
                <a class="card-footer-control collapsed" href="#@Id" data-bs-toggle="collapse" role="button" aria-label="show code" @onclick="ShowPreCode">
                    <i class="fa-solid fa-caret-up"></i>
                    <span class="card-text"></span>
                </a>
            </div>
        }
    </div>
</article>
