@inherits WebSiteModuleComponentBase
@attribute [JSModuleAutoLoader("Components/Header.razor.js")]

<header class="navbar-header navbar navbar-expand flex-column flex-md-row px-3">
    <div class="header-img navbar-brand">
        <BBLogo />
        <span>Bootstrap Blazor</span>
    </div>
    <div class="navbar-nav-scroll">
        <ul class="navbar-nav bd-navbar-nav flex-row">
            <li class="nav-item">
                <a class="nav-link" href="index">@HomeText</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="introduction">@IntroductionText</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="components">@ComponentsText</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="tutorials">@TutorialsText</a>
            </li>
            @* @if (CultureInfo.CurrentUICulture.Name == "zh-CN")
            {
                <li class="nav-item">
                    <a class="nav-link" href="https://theme.blazor.zone">主题</a>
                </li>
            } *@
        </ul>
    </div>
    <div class="d-flex flex-fill"></div>
    <GlobalSearch />
    <CultureChooser class="flex-md" />
    <ul class="navbar-nav nav-repo ms-3">
        <li class="nav-item">
            <a class="nav-link p-2" href="@WebsiteOption.CurrentValue.GithubRepositoryUrl" target="_blank">
                <img alt="git" src="@WebsiteOption.CurrentValue.GetAssetUrl("images/git.svg")" />
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link p-2" href="@WebsiteOption.CurrentValue.GiteeRepositoryUrl" target="_blank">
                <img alt="gitee" src="@WebsiteOption.CurrentValue.GetAssetUrl("images/gitee.svg")" />
            </a>
        </li>
        <li class="nav-item">
            <FullScreenButton class="nav-link p-2" TooltipText="点击切换全屏模式" />
        </li>
    </ul>
    <a class="btn btn-bd-download d-none d-lg-block mb-3 mb-md-0 ms-md-3" target="_blank" href="@DownloadUrl">@DownloadText</a>
    <div class="navbar-version ms-2">@_versionString</div>
    <ThemeProvider class="ms-2 d-none d-lg-block" OnThemeChangedAsync="OnThemeChangedAsync"></ThemeProvider>
</header>
