@namespace BootstrapBlazor.Components
@inherits BootstrapModuleComponentBase
@attribute [BootstrapModuleAutoLoader(AutoInvokeDispose = false)]

<div @attributes="AdditionalAttributes" id="@Id" class="@ClassString" data-bb-columns="@Columns" data-bb-repeat="@Repeat">
    @if (ShowLoadingText)
    {
        <div class="splitting-text">@Text</div>
    }
    <div class="splitting-wrap">
        <div class="@FlipClassString"></div>
    </div>
</div>
