@namespace BootstrapBlazor.Components
@inherits DisplayBase<string>

@if (IsInnerLabel)
{
    <div @attributes="@AdditionalAttributes" class="@ClassString">
        <span>@DisplayText</span>
    </div>
}
else
{
    <label @attributes="@AdditionalAttributes" class="@ClassString">@DisplayText</label>
}
