@namespace BootstrapBlazor.Components
@inherits DisplayBase<string>

@if (IsInputGroupLabel)
{
    <div @attributes="@AdditionalAttributes" class="@ClassString" style="@StyleString" required="@Required">
        @if (ChildContent != null)
        {
            @ChildContent
        }
        else
        {
            <span>@DisplayText</span>
        }
    </div>
}
else
{
    <label @attributes="@AdditionalAttributes" class="@ClassString" style="@StyleString" required="@Required">
        @if (ChildContent != null)
        {
            @ChildContent
        }
        else
        {
            @DisplayText
        }
    </label>
}
