@namespace BootstrapBlazor.Components
@inherits DisplayBase<string>

@if (IsInputGroupLabel)
{
    <div @attributes="@AdditionalAttributes" class="@ClassString" style="@StyleString" required="@Required">
        <span>@DisplayText</span>
    </div>
}
else
{
    <label @attributes="@AdditionalAttributes" class="@ClassString" style="@StyleString" required="@Required">@DisplayText</label>
}
