@namespace BootstrapBlazor.Components
@inherits ValidateBase<string>

@if (IsShowLabel && !IsGroup)
{
    <label class="form-label" required="@Required" for="@Id">@DisplayText</label>
}
<input @attributes="AdditionalAttributes" type="password" placeholder="@PlaceHolder" id="@Id" class="@ClassName" disabled="@Disabled" @bind-value="@CurrentValueAsString" @bind-value:event="onchange" />
<CascadingValue Value="this" IsFixed="true">
    @ChildContent
</CascadingValue>
