@namespace BootstrapBlazor.Components
@typeparam TValue
@inherits ValidateBase<TValue>

@if (IsShowLabel && !IsGroup)
{
    <label class="control-label" required="@Required" for="@Id">@DisplayText</label>
}
<input @attributes="AdditionalAttributes" type="@Type" placeholder="@PlaceHolder" id="@Id" class="@ClassName" disabled="@DisabledString" @bind-value="@CurrentValueAsString" @bind-value:event="onchange" />
<CascadingValue Value="this" IsFixed="true">
    @ChildContent
</CascadingValue>
