@namespace BootstrapBlazor.Components
@typeparam TItem
@inherits BootstrapInputBase<TItem>

@if (ShowLabel)
{
    @if (ValueExpression != null && DisplayText != null)
    {
        <label class="control-label" for="@Id">@DisplayText</label>
    }
}
<input @attributes="AdditionalAttributes" id="@Id" class="@ClassName" data-original-title="@ErrorMessage" value="@CurrentValueAsString" @oninput="EventCallback.Factory.CreateBinder<string>(this, __value => CurrentValueAsString = __value, CurrentValueAsString)" />
<CascadingValue Value="this" IsFixed="true">
    @ChildContent
</CascadingValue>
