@namespace BootstrapBlazor.Components
@typeparam TValue
@inherits ValidateBase<TValue>

@if (IsShowLabel)
{
    if(IsGroup)
    {
        <span class="input-group-text" required="@Required" for="@Id">@DisplayText</span>
    }
    else
    {
        <label class="form-label" required="@Required" for="@Id">@DisplayText</label>
    }
}
<input @attributes="@AdditionalAttributes" type="@Type" placeholder="@PlaceHolder" id="@Id" class="@ClassName" disabled="@Disabled" @bind-value="@CurrentValueAsString" @bind-value:event="onchange" />
<CascadingValue Value="this" IsFixed="true">
    @ChildContent
</CascadingValue>
