@namespace BootstrapBlazor.Components
@typeparam TValue
@inherits BootstrapInputBase<TValue>

<div class="@ClassString">
    <input @attributes="@AdditionalAttributes" type="@Type" id="@Id" placeholder="@PlaceHolder" class="@ClassName" disabled="@Disabled" @bind-value="@CurrentValueAsString" @ref="FocusElement" />
    <label for="@Id">@DisplayText</label>
</div>
