@namespace BootstrapBlazor.Components
@inherits ValidateBase<string>

<div @attributes="AdditionalAttributes" id="@Id" class="@ClassString">
    @for (var index = 0; index < Digits; index++)
    {
        <span class="@ItemClassString">
            @if(IsReadonly || IsDisabled)
            {
                @GetValueString(index)
            }
            else
            {
                var charIndex = index;
                <input type="@TypeString" class="@InputClassString"
                       maxlength="@MaxLengthString" inputmode="@TypeModeString" placeholder="@PlaceHolder"
                       value="@GetValueString(index)" @onchange="e => OnChanged(e.Value!.ToString(), charIndex)" />
            }
        </span>
    }
</div>
