@namespace BootstrapBlazor.Components
@inherits ValidateBase<string>

<div @attributes="AdditionalAttributes" id="@Id" class="@ClassString">
    @for (var index = 0; index < Digits; index++)
    {
        if (index < _values.Length)
        {
            @if (IsReadonly || IsDisabled)
            {
                <span class="@ItemClassString">@_values[index]</span>
            }
            else
            {
                <span class="@ItemClassString">
                    @{
                        var charIndex = index;
                    }
                    <input type="@TypeString" @bind="@_values[charIndex]" />
                </span>
            }
        }
    }
</div>
