@page "/breadcrumbs"
@inject IStringLocalizer<Breadcrumbs> Localizer

<h3>@Localizer["Title"]</h3>

<h4>@Localizer["H1"]</h4>

<Block Title="@Localizer["Blcok1Title"]" Introduction="@Localizer["Blcok1Intro"]">
    <Breadcrumb Value="@DataSource" />
</Block>
