@page "/checkboxlists"

<h3>@Localizer["Title"]</h3>

<h4>@Localizer["H1"]</h4>

<DemoBlock Title="@Localizer["Blok1Title"]" Introduction="@Localizer["Block1Intro"]" Name="Normal">
    <p></p>
    <ul class="ul-demo">
        <li>@((MarkupString)Localizer["Li1"].Value)</li>
        <li>@((MarkupString)Localizer["Li2"].Value)</li>
        <li>@((MarkupString)Localizer["Li3"].Value)</li>
    </ul>
    <CheckboxList @bind-Value="@Value1" Items="@Items1" ShowLabel="true" DisplayText="@Localizer[nameof(Foo.Name)]"
                  OnSelectedChanged="@OnSelectedChanged"></CheckboxList>
    <BlockLogger class="mt-3" @ref="Trace" />
</DemoBlock>

<DemoBlock Title="@Localizer["Block2Title"]" Introduction="@Localizer["Block2Intro"]" Name="ValidateForm">
    <p>@((MarkupString)Localizer["P2"].Value)</p>
    <p>@((MarkupString)Localizer["P3"].Value)</p>
    <p>@((MarkupString)Localizer["P4"].Value)</p>
    <ValidateForm Model="@Dummy">
        <div class="row g-3">
            <div class="col-12">
                <CheckboxList @bind-Value="@Dummy.Name" Items="@Items2" />
            </div>
            <div class="col-12">
                <label class="form-label">@Localizer["Foo.BindValue"]</label>
                <div class="form-control flex-fill">@Dummy.Name</div>
            </div>
        </div>
    </ValidateForm>
</DemoBlock>

<DemoBlock Title="@Localizer["Block3Title"]" Introduction="@Localizer["Block3Intro"]" Name="ShowLabel">
    <p>@((MarkupString)Localizer["P5"].Value)</p>
    <div class="row g-3">
        <div class="col-12">
            <CheckboxList TValue="IEnumerable<int>" Items="@Items3" @bind-Value="@Value2" ShowLabel="true" DisplayText="@Localizer[nameof(Foo.Name)]" />
        </div>
        <div class="col-12">
            <label class="form-label">@Localizer["Foo.BindValue"]</label>
            <div class="form-control">@(string.Join(",", Value2))</div>
        </div>
    </div>
    <p class="mt-3">@((MarkupString)Localizer["P6"].Value)</p>
    <div class="row g-3">
        <div class="col-12">
            <CheckboxList TValue="IEnumerable<string>" Items="@Items4" @bind-Value="@Value3" ShowLabel="true" DisplayText="@Localizer[nameof(Foo.Name)]" />
        </div>
        <div class="col-12">
            <label class="form-label">@Localizer["Foo.BindValue"]</label>
            <div class="form-control flex-fill">@(string.Join(",", Value3))</div>
        </div>
    </div>
</DemoBlock>

<DemoBlock Title="@Localizer["Block4Title"]" Introduction="@Localizer["Block4Intro"]" Name="Enum">
    <p>@((MarkupString)Localizer["P7"].Value)</p>
    <div class="row g-3">
        <div class="col-12">
            <CheckboxList @bind-Value="@SelectedEnumValues" ShowLabel="true" DisplayText="@Localizer[nameof(Foo.Name)]" />
        </div>
        <div class="col-12">
            <label class="form-label">@Localizer["Foo.BindValue"]</label>
            <div class="form-control">@(string.Join(",", SelectedEnumValues))</div>
        </div>
    </div>
</DemoBlock>

<DemoBlock Title="@Localizer["Block5Title"]" Introduction="@Localizer["Block5Intro"]" Name="NoBorder">
    <p>@Localizer["P8"]</p>
    <ValidateForm Model="@Dummy">
        <CheckboxList @bind-Value="@Dummy.Name" ShowBorder="false" Items="@Items2" />
    </ValidateForm>
</DemoBlock>

<DemoBlock Title="@Localizer["Block6Title"]" Introduction="@Localizer["Block6Intro"]" Name="Vertical">
    <CheckboxList @bind-Value="@Dummy1.Name" IsVertical="true" ShowBorder="false" Items="@Items5" />
</DemoBlock>

<DemoBlock Title="@Localizer["Block7Title"]" Introduction="@Localizer["Block7Intro"]" Name="Disabled">
    <CheckboxList @bind-Value="@Dummy2.Name" IsDisabled="true" ShowBorder="false" Items="@Items6" />
</DemoBlock>

<AttributeTable Items="@GetAttributes()" />

<EventTable Items="@GetEvents()" />
