@page "/dividers"
@inject IStringLocalizer<Dividers> Localizer

<h3>@Localizer["Title"]</h3>

<h4>@Localizer["H1"]</h4>

<Block Title="@Localizer["Block1Title"]" Introduction="@Localizer["Block1Intro"]">
    <p>@Localizer["P1"]</p>
    <Divider></Divider>
    <p>@Localizer["P2"]</p>
</Block>

<Block Title="@Localizer["Block2Title"]" Introduction="@Localizer["Block2Intro"]">
    <p>@Localizer["P3"]</p>
    <Divider Text="@Localizer["D1"]" Alignment="Alignment.Left"></Divider>
    <p>@Localizer["P4"]</p>
    <Divider Text="@Localizer["D2"]"></Divider>
    <p>@Localizer["P5"]</p>
    <Divider Text="@Localizer["D3"]" Alignment="Alignment.Right"></Divider>
    <p>@Localizer["P6"]</p>
</Block>

<Block Title="@Localizer["Block3Title"]" Introduction="@Localizer["Block3Intro"]">
    <p>@Localizer["P3"]</p>
    <Divider Icon="fa fa-fw fa-at" Alignment="Alignment.Left"></Divider>
    <p>@Localizer["P4"]</p>
    <Divider Icon="fa fa-fw fa-bar-chart"></Divider>
    <p>@Localizer["P5"]</p>
    <Divider Icon="fa fa-fw fa-bookmark" Text="@Localizer["D4"]" Alignment="Alignment.Right"></Divider>
    <p>@Localizer["P6"]</p>
</Block>

<Block Title="@Localizer["Block4Title"]" Introduction="@Localizer["Block4Intro"]">
    <div class="d-flex">
        <span>@Localizer["S1"]</span>
        <Divider IsVertical="true"></Divider>
        <span>@Localizer["S2"]</span>
        <Divider IsVertical="true"></Divider>
        <span>@Localizer["S3"]</span>
    </div>
    <Divider Text="@Localizer["D5"]"></Divider>
    <div class="d-flex">
        <div class="border border-primary" style="width:100px; height:100px;"></div>
        <Divider IsVertical="true"></Divider>
        <div class="border border-success" style="width:100px; height:100px;"></div>
        <Divider IsVertical="true"></Divider>
        <div class="border border-info" style="width:100px; height:100px;"></div>
    </div>
    <Divider Text="@Localizer["D5"]"></Divider>
    <div class="d-flex">
        <div class="border border-primary" style="width:100px; height:200px;"></div>
        <Divider IsVertical="true" Text="@Localizer["D5"]"></Divider>
        <div class="border border-success" style="width:100px; height:200px;"></div>
        <Divider IsVertical="true" Text="@Localizer["D5"]"></Divider>
        <div class="border border-info" style="width:100px; height:200px;"></div>
    </div>
</Block>

<Block Title="@Localizer["Block5Title"]" Introduction="@(Localizer["Block5Intro"])">
    <p>@Localizer["P3"]</p>
    <Divider>
        <div class="text-dagner">@((MarkupString)Localizer["Div"].Value)</div>
    </Divider>
    <p>@Localizer["P4"]</p>
</Block>

<AttributeTable Items="@GetAttributes()" />
