@page "/editorforms"

<h3>@Localizer["Title"]</h3>

<h4>@Localizer["H1"]</h4>

<p>@((MarkupString)Localizer["P1"].Value)</p>

<ul class="ul-demo">
    <li>@((MarkupString)Localizer["Li1"].Value)</li>
    <li>@((MarkupString)Localizer["Li2"].Value)</li>
    <li>@((MarkupString)Localizer["Li3"].Value)</li>
    <li>@((MarkupString)Localizer["Li4"].Value)</li>
</ul>

<Block Title="@Localizer["Block1Title"]" Introduction="@Localizer["Block1Title"]">
    <p>@((MarkupString)Localizer["P2"].Value)</p>
    <GroupBox Title="@Localizer["GroupBox1"]" style="margin-top: 1.5rem;">
        <EditorForm Model="@Model">
            <FieldItems>
                <EditorItem @bind-Field="@context.Education" Editable="false" />
                <EditorItem @bind-Field="@context.Complete" Editable="false" />
                <EditorItem @bind-Field="@context.Hobby">
                    <EditTemplate Context="value">
                        <div class="col-12">
                            <CheckboxList @bind-Value="@context.Hobby" Items="@Hobbys" />
                        </div>
                    </EditTemplate>
                </EditorItem>
            </FieldItems>
            <Buttons>
                <Button Icon="fa fa-save" Text="@Localizer["ButtonText"]" />
            </Buttons>
        </EditorForm>
    </GroupBox>
</Block>

<Block Title="@Localizer["Block2Title"]" Introduction="@Localizer["Block2Intro"]">
    <p>@((MarkupString)Localizer["P3"].Value)</p>
    <p>@((MarkupString)Localizer["P4"].Value)</p>
    <GroupBox Title="@Localizer["GroupBox2"]" style="margin-top: 1.5rem;">
        <ValidateForm Model="@ValidateModel">
            <EditorForm TModel="Foo">
                <FieldItems>
                    <EditorItem @bind-Field="@context.DateTime" Readonly="true" />
                    <EditorItem @bind-Field="@context.Hobby">
                        <EditTemplate Context="value">
                            <div class="col-12">
                                <CheckboxList @bind-Value="@context.Hobby" Items="@Hobbys" />
                            </div>
                        </EditTemplate>
                    </EditorItem>
                </FieldItems>
                <Buttons>
                    <Button ButtonType="ButtonType.Submit" Icon="fa fa-save" Text='@Localizer["ButtonText"]' />
                </Buttons>
            </EditorForm>
        </ValidateForm>
    </GroupBox>
</Block>

<Block Title="@Localizer["Block3Title"]" Introduction="@Localizer["Block3Intro"]">
    <GroupBox Title="@Localizer["GroupBox3"]">
        <p>@((MarkupString)Localizer["P5"].Value)</p>
        <EditorForm Model="@Model" AutoGenerateAllItem="false">
            <FieldItems>
                <EditorItem @bind-Field="@context.Name" />
                <EditorItem @bind-Field="@context.Count" />
            </FieldItems>
        </EditorForm>
    </GroupBox>
</Block>

<Block Title="@Localizer["Block4Title"]" Introduction="@Localizer["Block4Intro"]">
    <GroupBox Title="@Localizer["GroupBox4"]">
        <p>@((MarkupString)Localizer["P6"].Value)</p>
        <ValidateForm Model="@Model">
            <EditorForm TModel="Foo" AutoGenerateAllItem="false">
                <FieldItems>
                    <EditorItem @bind-Field="@context.Name" />
                    <EditorItem @bind-Field="@context.Address" />
                    <EditorItem @bind-Field="@context.Count">
                        <EditTemplate Context="value">
                            <div class="col-12 col-sm-6">
                                <Select SkipValidate="true" @bind-Value="@context.Count" Items="@DummyItems" ShowSearch="true" />
                            </div>
                            <div class="col-12 col-sm-6">
                                <BootstrapInput Value="@context.Count" readonly="true" />
                            </div>
                        </EditTemplate>
                    </EditorItem>
                    <EditorItem @bind-Field="@context.Hobby" Items="@Hobbys" />
                </FieldItems>
                <Buttons>
                    <Button ButtonType="ButtonType.Submit" Icon="fa fa-save" Text="@Localizer["ButtonText"]" />
                </Buttons>
            </EditorForm>
        </ValidateForm>
    </GroupBox>
</Block>

<Block Title="@Localizer["Blcok5Title"]" Introduction="@Localizer["Block5Intro"]">
    <p>@((MarkupString)Localizer["P7"].Value)</p>
    <GroupBox Title="@Localizer["GroupBox5"]" style="margin-top: 1.5rem;">
        <ValidateForm Model="@Model">
            <EditorForm TModel="Foo" ItemsPerRow="3">
                <FieldItems>
                    <EditorItem @bind-Field="@context.Hobby" Items="@Hobbys" />
                </FieldItems>
                <Buttons>
                    <Button ButtonType="ButtonType.Submit" Icon="fa fa-save" Text="@Localizer["ButtonText"]" />
                </Buttons>
            </EditorForm>
        </ValidateForm>
    </GroupBox>
</Block>

<Block Title="@Localizer["Block6Title"]" Introduction="@Localizer["Block6Intro"]">
    <ul class="ul-demo">
        <li>@((MarkupString)Localizer["Li5"].Value)</li>
        <li>@((MarkupString)Localizer["Li6"].Value)</li>
    </ul>
    <ValidateForm Model="@Model">
        <EditorForm TModel="Foo" ItemsPerRow="2" RowType="RowType.Inline" LabelAlign="Alignment.Right">
            <FieldItems>
                <EditorItem @bind-Field="@context.Hobby" Items="@Hobbys" />
            </FieldItems>
            <Buttons>
                <div class="text-end">
                    <Button ButtonType="ButtonType.Submit" Icon="fa fa-save" Text="@Localizer["ButtonText"]" />
                </div>
            </Buttons>
        </EditorForm>
    </ValidateForm>
</Block>

<AttributeTable Items="@GetAttributes()" />

<AttributeTable Title="@Localizer["AttrAttributeTitle"]" Items="@GetEditorItemAttributes()" />
