@page "/footers"
@inject IStringLocalizer<Footers> Localizer

<h3>@Localizer["Title"]</h3>

<h4>@Localizer["H1"]</h4>

<p>@((MarkupString)Localizer["P1"].Value)</p>

<Block Title="@Localizer["BlockTitle"]" Introduction="@Localizer["BlockIntro"]">
    <div id="scroll" class="overflow-auto border border-secondary p-3" style="max-height: 180px; border-radius: 4px; position: relative;">
        <div style="height: 200px">
            <p>@Localizer["P2"]</p>
            <p>@Localizer["P3"]</p>
        </div>
        <Footer Text="Bootstrap Blazor" Target="#scroll" style="margin: -1rem;" />
    </div>
</Block>

<AttributeTable Items="@GetAttributes()" />
