@page "/gotops"
@inject IStringLocalizer<GoTops> Localizer

<h3>@Localizer["Title"]</h3>

<h4>@Localizer["H1"]</h4>

<DemoBlock Title="@Localizer["Block1Title"]" Introduction="@Localizer["Block1Intro"]" Name="Normal">
    <div id="scroll" class="overflow-auto border border-secondary p-3" style="max-height: 180px; border-radius: 4px; position: relative;">
        <div style="height: 200px">
            <p>@Localizer["P1"]</p>
            <p>@Localizer["P2"]</p>
        </div>
        <footer class="footer">
            <div class="footer-text">
                <span>Bootstrap Blazor</span>
            </div>
            <GoTop Target="#scroll"></GoTop>
        </footer>
    </div>
</DemoBlock>

<AttributeTable Items="@GetAttributes()" />
