@page "/handwrittenPage"

<h3>@Title</h3>

<h4>@SubTitle</h4>

<Block Title="@BaseUsageText" Introduction="@IntroText1">
    <Handwritten HandwrittenBase64="((e) => { DrawBase64 = e; })" />
    <textarea type="text" class="form-control mt-3" readonly rows="5" @bind="DrawBase64" />
</Block>

<AttributeTable Items="@GetAttributes()" />
