@layout ComponentLayout
@inject IStringLocalizer<Labels> LLocalizer
@page "/labels"

<h3>@LLocalizer["Title"]</h3>

<p>@((MarkupString)LLocalizer["P1"].Value)</p>

<ul class="ul-demo">
    <li>@((MarkupString)LLocalizer["UlLi1"].Value)</li>
    <li>@((MarkupString)LLocalizer["UlLi2"].Value)</li>
</ul>

<p>@((MarkupString)LLocalizer["P2"].Value)</p>

<Tips>
    <p>@((MarkupString)LLocalizer["Tips"].Value)</p>
</Tips>

<Block Title="@LLocalizer["Block1Title"]" Introduction="@LLocalizer["Block1Intro"]">
    <p><b>@LLocalizer["Block1P1"]</b></p>
    <ul class="ul-demo">
        <li>@((MarkupString)LLocalizer["Block1Li1"].Value)</li>
        <li>@((MarkupString)LLocalizer["Block1Li2"].Value)</li>
        <li>@((MarkupString)LLocalizer["Block1Li3"].Value)</li>
        <li>@((MarkupString)LLocalizer["Block1Li4"].Value)</li>
    </ul>

    <GroupBox Title="@LLocalizer["GroupBox1Title"]" style="margin-top: 1.5rem;">
        <div>@LLocalizer["GroupBox1D1"]</div>
        <div>@((MarkupString)LLocalizer["GroupBox1D2"].Value)</div>
        <div>@((MarkupString)LLocalizer["GroupBox1D3"].Value)</div>
        <div>@((MarkupString)LLocalizer["GroupBox1D4"].Value)</div>
        <div class="row g-3 mt-3">
            <div class="col-sm-12 col-md-3">
                <BootstrapInput TValue="string" />
            </div>
            <div class="col-sm-12 col-md-3">
                <BootstrapInput TValue="string" ShowLabel="true" DisplayText="" />
            </div>
            <div class="col-sm-12 col-md-3">
                <BootstrapInput TValue="string" ShowLabel="true" DisplayText="@Localizer[nameof(Foo.Name)]" />
            </div>
            <div class="col-sm-12 col-md-3">
                <BootstrapInput TValue="string" ShowLabel="true" DisplayText="@null" />
            </div>
        </div>
    </GroupBox>

    <p class="mt-3"><b>@LLocalizer["P3"]</b></p>
    <GroupBox Title="@LLocalizer["GroupBox2Title"]" class="mt-3">
        <div>@((MarkupString)LLocalizer["GroupBox2D1"].Value)</div>
        <div>@((MarkupString)LLocalizer["GroupBox2D2"].Value)</div>
        <div>@((MarkupString)LLocalizer["GroupBox2D3"].Value)</div>
        <div>@((MarkupString)LLocalizer["GroupBox2D4"].Value)</div>
        <div class="row g-3 mt-3">
            <div class="col-sm-12 col-md-3">
                <BootstrapInput @bind-Value="Dummy.Name" />
            </div>
            <div class="col-sm-12 col-md-3">
                <BootstrapInput @bind-Value="Dummy.Name" ShowLabel="true" DisplayText="@Localizer[nameof(Foo.Address)]" />
            </div>
            <div class="col-sm-12 col-md-3">
                <BootstrapInput @bind-Value="Dummy.Name" ShowLabel="true" DisplayText="" />
            </div>
            <div class="col-sm-12 col-md-3">
                <BootstrapInput @bind-Value="Dummy.Name" ShowLabel="true" DisplayText="@null" />
            </div>
        </div>
    </GroupBox>
</Block>

<Block Title="@LLocalizer["Block2Title"]" , Introduction="@(((MarkupString)LLocalizer["Block2Intro"].Value).ToString())">
    <p>@((MarkupString)LLocalizer["P4"].Value)</p>
    <GroupBox>
        <EditorForm Model="@Dummy">
            <FieldItems>
                <EditorItem @bind-Field="context.Hobby" Data="@Foo.GenerateHobbys(Localizer)">
                </EditorItem>
            </FieldItems>
        </EditorForm>
    </GroupBox>

    <p class="mt-3">@((MarkupString)LLocalizer["P5"].Value)</p>
    <GroupBox>
        <EditorForm Model="@Dummy" ShowLabel="false">
            <FieldItems>
                <EditorItem @bind-Field="context.Hobby" Data="@Foo.GenerateHobbys(Localizer)">
                </EditorItem>
            </FieldItems>
        </EditorForm>
    </GroupBox>
</Block>

<Block Title="@LLocalizer["Block3Title"]" , Introduction="@(((MarkupString)LLocalizer["Block3Intro"].Value).ToString())">
    <p>@((MarkupString)LLocalizer["P6"].Value)</p>
    <GroupBox>
        <ValidateForm Model="@Dummy">
            <EditorForm TModel="Foo">
                <FieldItems>
                    <EditorItem @bind-Field="context.Hobby" Data="@Foo.GenerateHobbys(Localizer)">
                    </EditorItem>
                </FieldItems>
            </EditorForm>
        </ValidateForm>
    </GroupBox>

    <p class="mt-3">@((MarkupString)LLocalizer["P7"].Value)</p>
    <GroupBox>
        <ValidateForm Model="@Dummy" ShowLabel="false">
            <EditorForm TModel="Foo">
                <FieldItems>
                    <EditorItem @bind-Field="context.Hobby" Data="@Foo.GenerateHobbys(Localizer)">
                    </EditorItem>
                </FieldItems>
            </EditorForm>
        </ValidateForm>
    </GroupBox>
</Block>

<Block Title="@LLocalizer["Block4Title"].Value" , Introduction="@LLocalizer["Block4Intro"]">
    <p>@((MarkupString)LLocalizer["P8"].Value)</p>
    <ValidateForm Model="@Dummy">
        <div class="row g-3">
            <div class="col-sm-12 col-md-6">
                <BootstrapInput @bind-Value="Dummy.Name" />
            </div>
            <div class="col-sm-12 col-md-6">
                <BootstrapInput @bind-Value="Dummy.Address" />
            </div>
        </div>
    </ValidateForm>

    <p class="mt-3">@((MarkupString)LLocalizer["P9"].Value)</p>
    <ValidateForm Model="@Dummy" ShowLabel="false">
        <div class="row g-3">
            <div class="col-sm-12 col-md-6">
                <BootstrapInput @bind-Value="Dummy.Name" />
            </div>
            <div class="col-sm-12 col-md-6">
                <BootstrapInput @bind-Value="Dummy.Address" />
            </div>
        </div>
    </ValidateForm>

    <p class="mt-3">@((MarkupString)LLocalizer["P10"].Value)</p>
    <ValidateForm Model="@Dummy">
        <div class="row g-3 form-inline">
            <div class="col-sm-12 col-md-6">
                <BootstrapInput @bind-Value="Dummy.Name" />
            </div>
            <div class="col-sm-12 col-md-6">
                <BootstrapInput @bind-Value="Dummy.Address" />
            </div>
        </div>
    </ValidateForm>
</Block>
