@page "/qrcodes"

<h3>@Title</h3>

<h4>@SubTitle</h4> 

<Block Title="@BaseUsageText" Introduction="@IntroText1">
    <QRCode OnGenerated="@OnGenerated"></QRCode>
    <Logger @ref="Trace" class="mt-3" />
</Block>

<AttributeTable Items="@GetAttributes()" />
