@page "/rates"

<h3>Rate 评分</h3>

<h4>评分组件</h4>

<Block Title="基本用法" Introduction="<code>Rate</code> 组件通过 1 - 5 颗星表示数值等级，后台可以通过 <code>bind-Value</code> 对数值进行双向绑定通过 <code>Rate</code> 组件更改其值，鼠标滑动更改值，点击星星时确认其值">
    <div class="form-inline">
        <div class="row">
            <div class="col-12">
                <Rate Value="@BindValue" ValueChanged="@OnValueChanged" />
            </div>
        </div>
    </div>
    <Logger @ref="Trace" class="mt-3" />
</Block>

<Block Title="禁用" Introduction="通过设置 <code>IsDisable</code> 属性值禁用组件">
    <div class="form-inline">
        <div class="row">
            <div class="form-group col-6">
                <Rate Value="@BindValue1" IsDisable="IsDisable" />
            </div>
            <div class="form-group col-6">
                <Switch @bind-Value="IsDisable" OnText="禁用" OnColor="Color.Danger" OffText="启用" OffColor="@Color.Success" />
            </div>
        </div>
    </div>
</Block>

<AttributeTable Items="@GetAttributes()" />

<EventTable Items="@GetEvents()" />
