@page "/scrolls"
@inject IStringLocalizer<Scrolls> Locaizer

<h3>@Locaizer["Title"]</h3>

<h4>@Locaizer["H1"]</h4>

<p>@((MarkupString)Locaizer["P1"].Value)</p>

<DemoBlock Title="@Locaizer["Block1Title"]" Introduction="@Locaizer["Block1Intro"]"  Name="Normal">
    <Scroll class="scroll-demo" Height="200px">
        <div style="height: 400px;">@Locaizer["D1"]</div>
        <div>@Locaizer["D2"]</div>
    </Scroll>
</DemoBlock>

<AttributeTable Items="@GetAttributes()" />
