@page "/scrolls"
@inject IStringLocalizer<Scrolls> Locaizer

<h3>@Locaizer["Title"]</h3>

<h4>@Locaizer["H1"]</h4>

<p>@((MarkupString)Locaizer["P1"].Value)</p>

<p>@Locaizer["P2"]</p>
<p>@((MarkupString)Locaizer["P3"].Value)</p>
<ul class="ul-demo">
    <li><b>True</b>: @((MarkupString)Locaizer["Li1"].Value)</li>
    <li><b>False</b>: @Locaizer["Li2"]</li>
</ul>

<Block Title="@Locaizer["Block1Title"]" Introduction="@Locaizer["Block1Intro"]">
    <Scroll class="scroll-demo" IsAutoHide="false" Height="200px">
        <div style="height: 400px;">@Locaizer["D1"]</div>
        <div>@Locaizer["D3"]</div>
    </Scroll>
</Block>

<Block Title="@Locaizer["Block2Title"]" Introduction="@Locaizer["Blcok2Intro"]">
    <Scroll class="scroll-demo" Height="200px">
        <div style="height: 400px;">@Locaizer["D3"]</div>
        <div>@Locaizer["D3"]</div>
    </Scroll>
</Block>

<AttributeTable Items="@GetAttributes()" />
