@page "/skeletons"
@inject IStringLocalizer<Skeletons> Localizer

<h3>@Localizer["Title"]</h3>

<h4>@Localizer["H1"]</h4>

<p><b>@Localizer["b1"]</b></p>

<ul class="ul-demo">
    <li>@Localizer["Li1"]</li>
    <li>@Localizer["Li2"]</li>
    <li>@Localizer["Li3"]</li>
    <li>@Localizer["Li4"]</li>
</ul>

<Block Title="@Localizer["Block1Title"]" Introduction="@Localizer["Block1Intro"]">
    <p>@((MarkupString)Localizer["P1"].Value)</p>
    <div class="row g-3 skeleton-demo">
        <div class="col-4">
            <SkeletonAvatar Round="false" />
        </div>
        <div class="col-4">
            <SkeletonAvatar />
        </div>
        <div class="col-4">
            <SkeletonAvatar Circle="true" />
        </div>
    </div>
</Block>

<Block Title="@Localizer["Block2Title"]" Introduction="@Localizer["Block2Intro"]">
    <p>@((MarkupString)Localizer["P2"].Value)</p>
    <SkeletonParagraph />
</Block>

<Block Title="@Localizer["Block3Title"]" Introduction="@Localizer["Block3Intro"]">
    <SkeletonEditor />
</Block>

<Block Title="@Localizer["Block4Title"]" Introduction="@Localizer["Block4Intro"]">
    <SkeletonTable />
</Block>
