@page "/sliders"
@inject IStringLocalizer<Sliders> Localizer

<h3>@Localizer["Title"]</h3>

<h4>@Localizer["H1"]</h4>

<Block Title="@Localizer["Block1Title"]" Introduction="@Localizer["Block1Intro"]"  Name="Normal">
    <Slider></Slider>
    <Slider Value="50" Label="@Localizer["Slider1Label"]"></Slider>
    <Slider Value="42" IsDisabled="true" Label="@Localizer["Slider2Label"]"></Slider>
</Block>

<Block Title="@Localizer["Block2Title"]" Introduction="@Localizer["Block2Intro"]" Name="Binding">
    <div class="row g-3">
        <div class="col-12 col-sm-8">
            <Slider @bind-Value="@BindValue" Label="@Localizer["Slider3Label"]"></Slider>
        </div>
        <div class="col-12 col-sm-4">
            <BootstrapInput @bind-Value="@BindValue" readonly></BootstrapInput>
        </div>
    </div>
</Block>

<AttributeTable Items="@GetAttributes()" />

<EventTable Items="@GetEvents()" />
