@page "/textareas"
@inject IStringLocalizer<Textareas> Localizer

<h3>@Localizer["Title"]</h3>

<h4>@Localizer["SubTitle"]</h4>

<Block Title="@Localizer["BasicUsageTitle"]" Introduction="@Localizer["BasicUsageIntro"]" Name="Normal">
    <label class="form-label">@Localizer["BasicUsageLabel"]</label>
    <Textarea placeholder="@Localizer["PlaceHolder"]" rows="4"></Textarea>
</Block>

<Block Title="@Localizer["DisableTitle"]" Introduction="@Localizer["DisableIntro"]" Name="Disable">
    <label class="form-label">@Localizer["BasicUsageLabel"]</label>
    <Textarea placeholder="@Localizer["PlaceHolder"]" rows="4" IsDisabled="true"></Textarea>
</Block>

<Block Title="@Localizer["ReadonlyTitle"]" Introduction="@Localizer["ReadonlyIntro"]"  Name="Readonly">
    <label class="form-label">@Localizer["BasicUsageLabel"]</label>
    <Textarea placeholder="@Localizer["PlaceHolder"]" rows="4" readonly></Textarea>
</Block>

<Block Title="@Localizer["HeightTitle"]" Introduction="@Localizer["HeightIntro"]"  Name="Height">
    <label class="form-label">@Localizer["BasicUsageLabel"]</label>
    <Textarea placeholder="@Localizer["PlaceHolder"]" rows="4"></Textarea>
</Block>

<Block Title="@Localizer["BindWayTitle"]" Introduction="@Localizer["BindWayIntro"]"  Name="BindToWay">
    <div class="row g-3">
        <div class="col-12">
            <label class="form-label">@Localizer["BasicUsageLabel"]</label>
            <Textarea placeholder="@Localizer["PlaceHolder"]" rows="4" @bind-Value="@Text"></Textarea>
        </div>
        <div class="col-12">
            <label class="form-label">@Localizer["BindValue"]</label>
            <div class="form-control textarea-demo">@Text</div>
        </div>
    </div>
</Block>

<AttributeTable Items="@GetAttributes()" />
