<div class="d-flex">
    <strong class="text-success flex-fill">@Timestamp</strong>
    <span class="text-info fw-bold">@Author</span>
</div>
<div class="fw-bold">提交 @Item.Total_Commits_Count 个 Commit</div>
<hr class="my-2" />
<div>Message: <a href="@Url" target="_blank">@Message</a></div>
