@inherits BootstrapComponentBase

<div @attributes="@AdditionalAttributes" class="@ClassString">
    <label>@Label</label>
    <Select Value="@SelectedCulture" OnSelectedItemChanged="@SetCulture">
        <Options>
            @foreach (var kv in BootstrapOptions.CurrentValue.GetSupportedCultures())
            {
                <SelectOption Text="@GetDisplayName(kv)" Value="@kv.Name" />
            }
        </Options>
    </Select>
</div>
