@inherits JSModuleComponentBase
@attribute [JSModuleAutoLoader]

<div @attributes="@AdditionalAttributes" class="@ClassString" id="@Id" data-bb-title="@CopiedText">
    @if (!Loaded)
    {
        <p class="loading">@LoadingText</p>
    }
    else
    {
        <pre><code>@ChildContent</code></pre>
        @if (CanCopy)
        {
            <Button TooltipPlacement="Placement.Left" TooltipText="@TooltipTitle">Copy</Button>
        }
    }
</div>
