@inherits WebSiteModuleComponentBase
@attribute [JSModuleAutoLoader("theme-chooser")]

<div id="@Id" class="theme">
    <PulseButton class="btn-fade btn-theme" Color="Color.None" ImageUrl="_content/BootstrapBlazor.Shared/images/m.svg" TooltipText="@Title" TooltipPlacement="Placement.Left" />
    <div class="theme-list">
        <div class="theme-header">
            <div class="flex-fill">@HeaderText</div>
            <button class="btn-close btn-close-white" type="button" aria-label="Close"></button>
        </div>
        @foreach (var item in Themes)
        {
            <div class="@GetThemeItemClass(item)" @onclick="@(e => OnClickTheme(item))">
                @item.Text
            </div>
        }
    </div>
</div>
