@inherits BootstrapComponentBase

<div @ref="@ThemeElement" class="theme">
    <div class="btn btn-theme" data-bs-toggle="tooltip" title="@Title" data-bs-placement="left">
        <img src="_content/BootstrapBlazor.Shared/images/m.svg" class="m-logo" />
        <div class="pulse pulse-warning">
            <span class="pulse-ring"></span>
        </div>
    </div>

    <div class="theme-list">
        <div class="theme-header">
            <div class="flex-fill">@HeaderText</div>
            <button class="btn-close btn-close-white" aria-label="Close"></button>
        </div>
        @foreach (var item in Themes)
        {
            <div class="@GetThemeItemClass(item)" @onclick="@(e => OnClickTheme(item))">
                @item.Text
            </div>
        }
    </div>
</div>
