@inherits BootstrapComponentBase

<div @ref="@ThemeElement" class="theme">
    <PulseButton class="btn-theme" Color="Color.None" ImageUrl="_content/BootstrapBlazor.Shared/images/m.svg" Title="@Title" TooltipPlacement="Placement.Left" />
    <div class="theme-list">
        <div class="theme-header">
            <div class="flex-fill">@HeaderText</div>
            <button class="btn-close btn-close-white" aria-label="Close"></button>
        </div>
        @foreach (var item in Themes)
        {
            <div class="@GetThemeItemClass(item)" @onclick="@(e => OnClickTheme(item))">
                @item.Text
            </div>
        }
    </div>
</div>
