@namespace BootstrapBlazor.Components
@typeparam TItem
@inherits ComponentBase

<div class="@ContentClassString" data-bb-tree-view-index="@Index" style="@GetTreeRowStyle()"
     @oncontextmenu="e => OnContextMenu(e)" @oncontextmenu:preventDefault="IsPreventDefault"
     @ontouchstart="e => OnTouchStart(e)" @ontouchend="OnTouchEnd">
    <div class="tree-content-header"></div>
    <div class="tree-content-body">
        <DynamicElement TagName="i" class="@CaretClassString" TriggerClick="CanTriggerClickNode" OnClick="ToggleNodeAsync"></DynamicElement>
        <i class="@NodeLoadingClassString"></i>
        @if (ShowCheckbox)
        {
            <Checkbox Value="@Item" IsDisabled="ItemDisabledState"
                      SkipValidate="true" ShowLabel="false" ShowAfterLabel="false"
                      State="@Item.CheckedState" OnStateChanged="(state, v) => CheckStateChanged(state)"
                      OnBeforeStateChanged="@(MaxSelectedCount > 0 ? state => TriggerBeforeStateChangedCallback(state) : null)">
            </Checkbox>
        }
        <DynamicElement class="@NodeClassString" TriggerClick="!ItemDisabledState" OnClick="ClickRow"
                        draggable="@DraggableString"
                        @ondragstart="DragStart" @ondragend="DragEnd">
            @if (ShowIcon)
            {
                <i class="@IconClassString"></i>
            }
            @if (Item.Template == null)
            {
                <span class="@ItemTextClassString">@Item.Text</span>
            }
            else
            {
                @Item.Template(Item.Value)
            }
            @if (_showToolbar)
            {
                @if (ToolbarTemplate != null)
                {
                    @ToolbarTemplate(Item.Value)
                }
                else
                {
                    <TreeViewToolbarEditButton Title="@ToolbarEditTitle" Text="@ToolbarEditLabelText" @bind-Item="Item"
                                               OnUpdateCallbackAsync="OnUpdateCallbackAsync"></TreeViewToolbarEditButton>
                }
            }

            @* 鼠标拖到节点中央，表示放置到当前节点内部作为最后一个子节点，显示边框预览 *@
            @if (_previewChildLast)
            {
                <div class="tree-preview-child-last"></div>
            }
            @* 展开状态下，拖到当前节点靠下的位置，插入到内部作为第一个子节点，显示线条预览 *@
            @if (_previewChildFirst)
            {
                <div class="tree-preview-child-first">
                    <div class="tree-preview-circle"></div>
                    <div class="tree-preview-line"></div>
                </div>
            }
            @* 折叠状态或者没有子节点，拖到当前节点靠下的位置，作为同级节点，显示线条预览 *@
            @if (_previewBelow)
            {
                <div class="tree-preview-below">
                    <div class="tree-preview-circle"></div>
                    <div class="tree-preview-line"></div>
                </div>
            }
        </DynamicElement>
    </div>
</div>
