@namespace BootstrapBlazor.Components
@inherits IdComponentBase

<div @attributes="@AdditionalAttributes" class="@ClassString" id="@Id" style="@StyleString" data-bb-support-touch="@IsSupportTouchString" data-bb-fit-view="@IsFitViewString" data-bb-center-view="@IsCenterViewString"></div>
