@page "/speech/recognizer"
@inherits BootstrapComponentBase
@inject IStringLocalizer<Recognizers> Localizer
@inject RecognizerService RecognizerService

<h3>@Localizer["RecognizersTitle"]</h3>
<h4>@Localizer["RecognizersSubTitle"]</h4>

<DemoBlock Title="@Localizer["RecognizerNormalTitle"]"
           Introduction="@Localizer["RecognizerNormalIntro"]"
           Name="Normal">
    <p><b>@Localizer["RecognizerNormalDescription"]：</b></p>
    <p>@((MarkupString)Localizer["RecognizerNormalTips"].Value)</p>
    <div class="row">
        <div class="col-12 col-sm-6 text-center">
            <SpeechWave Show="Start" TotalTime="5000" OnTimeout="OnTimeout" class="my-3" />
            <Button Text="@ButtonText" Icon="fa-fw fa-solid fa-microphone" OnClick="OnStart" />
        </div>
        <div class="col-12 col-sm-6">
            <Textarea Value="@Result" rows="6" />
        </div>
    </div>
</DemoBlock>

