@page "/speech/synthesizer"
@inherits BootstrapComponentBase
@inject IStringLocalizer<Synthesizers> Localizer
@inject SynthesizerService SynthesizerService

<h3>@Localizer["SynthesizersTitle"]</h3>
<h4>@Localizer["SynthesizersSubTitle"]</h4>

<DemoBlock Title="@Localizer["SynthesizerNormalTitle"]"
           Introduction="@Localizer["SynthesizerNormalIntro"]"
           Name="Normal">
    <div class="row">
        <div class="col-12 col-sm-6">
            <Textarea @bind-Value="InputText" rows="6" />
        </div>
        <div class="col-12 col-sm-6 text-center">
            <SpeechWave Show="Start" ShowUsedTime="false" class="my-3" />
            <Button Text="@ButtonText" OnClick="OnStart" Icon="fa-fw fa-solid fa-microphone" />
        </div>
    </div>
</DemoBlock>
