@page "/speech/web-speech"
@inherits BootstrapComponentBase

<h3>@Localizer["WebSpeechTitle"]</h3>
<h4>@Localizer["WebSpeechSubTitle"]</h4>

<DemoBlock Title="@Localizer["WebSpeechNormalTitle"]"
           Introduction="@Localizer["WebSpeechNormalIntro"]"
           Name="Normal">
    <div class="row">
        <div class="col-12 col-sm-6">
            <Select Items="_voices" @bind-Value="_voiceName" class="mb-1"></Select>
            <Textarea @bind-Value="_text" rows="6"></Textarea>
        </div>
        <div class="col-12 col-sm-6 text-center">
            <SpeechWave Show="_star" ShowUsedTime="false" class="my-3"></SpeechWave>
            <Button Text="@_buttonText" OnClickWithoutRender="OnStart" IsAsync="true" Icon="fa-fw fa-solid fa-microphone"></Button>
            <Button Text="@_buttonStopText" IsDisabled="!_star" OnClickWithoutRender="OnStop" Icon="fa-fw fa-solid fa-stop"></Button>
        </div>
    </div>
</DemoBlock>

<DemoBlock Title="@Localizer["WebSpeechRecognitionTitle"]"
           Introduction="@Localizer["WebSpeechRecognitionIntro"]"
           Name="Recognition">
    <div class="row">
        <div class="col-12 col-sm-6">
            <Button Text="@_buttonRecognitionText" OnClickWithoutRender="OnStartRecognition" IsAsync="true" Icon="fa-fw fa-solid fa-microphone"></Button>
            <div class="mt-3">@_result</div>
        </div>
        <div class="col-12 col-sm-6">
            <SpeechWave Show="_starRecognition" ShowUsedTime="false" class="my-3"></SpeechWave>
        </div>
    </div>
</DemoBlock>
