@namespace BootstrapBlazor.Components
@inherits CollapseBase

<div @attributes="@AdditionalAttributes" class="@ClassString" @ref="CollapseElement">
    <CascadingValue Value="this" IsFixed="true">
        @CollapseItems
    </CascadingValue>
    <RenderTemplate>
        @foreach (var item in Items)
        {
            <div class="card">
                <div class="@TitleClassString(item.TitleColor)">
                    <div class="card-header-wrapper">
                        <Button class="@GetButtonClassString(item.IsCollapsed)" data-toggle="collapse" aria-expanded="@(item.IsCollapsed ? "false" : "true")" Color="Color.None" Text="@item.Text" OnClickWithoutRender="@(() => OnClickItem(item))" />
                        @if (ShowArrow)
                        {
                            <i class="fa fa-angle-down"></i>
                        }
                    </div>
                </div>
                <div class="@GetClassString(item.IsCollapsed)">
                    <div class="card-body">
                        @item.ChildContent
                    </div>
                </div>
            </div>
        }
    </RenderTemplate>
</div>
