@namespace BootstrapBlazor.Components
@inherits CollapseBase

<div @attributes="@AdditionalAttributes" id="@Id" class="collapse-group" data-toggle="collapse">
    <button class="@ClassName" type="button" disabled="@Disabled" @onclick="@OnClick" aria-expanded="@Collapsed">
        @Title
    </button>
    <CollapseBody IsCollapsed="@IsCollapsed" @ref="@CollapseContent">
        @ChildContent
    </CollapseBody>
</div>
