@namespace BootstrapBlazor.Components
@inherits CollapseBase

<div @attributes="@AdditionalAttributes" id="@Id" class="collapse-group" data-toggle="collapse">
    <button class="@ClassName" type="button" disabled="@Disabled" @onclick="@OnClick" aria-expanded="@Expanded">
        @Title
    </button>
    <div class="@CollapseClass">
        <div class="card card-body">
            @ChildContent
        </div>
    </div>
</div>
