@namespace BootstrapBlazor.Components
@inherits BootstrapComponentBase

<div @attributes="@AdditionalAttributes" class="@ClassString" @ref="QRCodeElement">
    <div class="qrcode-img" style="@ImageStyleString"></div>
    @if (ShowButtons)
    {
        <div class="input-group qrcode-buttons">
            <input type="text" class="form-control qrcode-text" placeholder="@PlaceHolder" @bind="@Content">
            <Button Icon="fa-solid fa-xmark" Text="@ClearButtonText" Color="@Color.Secondary" OnClick="@Clear"></Button>
            <Button Icon="fa-solid fa-qrcode" Text="@GenerateButtonText" Color="@Color.Success" OnClick="@Generate"></Button>
        </div>
    }
</div>
