@namespace BootstrapBlazor.Components
@inherits BootstrapComponentBase

<div @attributes="@AdditionalAttributes" class="@ClassString" data-bb-width="@Width" data-bb-color-light="@LightColor" data-bb-color-dark="@DarkColor" ref="@Element">
    <div class="qrcode-img" style="@ImageStyleString"></div>
    @if (ShowButtons)
    {
        <div class="input-group mt-3">
            <input type="text" class="form-control" placeholder="@PlaceHolder" @bind-value="@Content" @bind-value:event="onchange">
            <Button Icon="@ClearButtonIcon" Text="@ClearButtonText" Color="@Color.Secondary" OnClickWithoutRender="@Clear"></Button>
            <Button Icon="@GenerateButtonIcon" Text="@GenerateButtonText" Color="@Color.Success" OnClickWithoutRender="@Generate"></Button>
        </div>
    }
</div>
