@page "/recognizer"
@namespace BootstrapBlazor.Shared.Samples
@inherits BootstrapComponentBase
@inject IStringLocalizer<Recognizers> Localizer

<h3>@Localizer["RecognizersTitle"]</h3>
<h4>@Localizer["RecognizersSubTitle"]</h4>

<DemoBlock Title="@Localizer["RecognizerNormalTitle"]"
           Introduction="@Localizer["RecognizerNormalIntro"]"
           Name="Normal"
           Demo="typeof(Demos.Speechs.Recognizers.RecognizerNormal)">
    <p><b>@Localizer["RecognizerNormalDescription"]：</b></p>
    <p>@((MarkupString)Localizer["RecognizerNormalTips"].Value)</p>
</DemoBlock>
