@page "/speech-wave"
@namespace BootstrapBlazor.Shared.Samples
@inject IStringLocalizer<SpeechWaves> Localizer

<h3>@Localizer["SpeechWaveTitle"]</h3>

<h4>@Localizer["SpeechWavesDescription"]</h4>

<DemoBlock Title="@Localizer["NormalTitle"]"
           Introduction="@Localizer["NormalIntro"]"
           Name="Normal"
           Demo="typeof(Demos.Speechs.SpeechWaves.SpeechWaveNormal)" />

<DemoBlock Title="@Localizer["ShowUsedTimeTitle"]"
           Introduction="@Localizer["ShowUsedTimeIntro"]"
           Name="ShowUsedTime"
           Demo="typeof(Demos.Speechs.SpeechWaves.SpeechWaveShowUsedTime)" />

<DemoBlock Title="@Localizer["ValueTitle"]"
           Introduction="@Localizer["ValueIntro"]"
           Name="Value"
           Demo="typeof(Demos.Speechs.SpeechWaves.SpeechWaveShow)" />

<AttributeTable Items="@GetAttributes()" />
