@page "/speechwaves"
@namespace BootstrapBlazor.Shared.Samples
@inject IStringLocalizer<SpeechWaves> Localizer

<h3>@Localizer["SpeechWaveTitle"]</h3>

<h4>@Localizer["H4"]</h4>

<DemoBlock Title="@Localizer["NormalTitle"]" Introduction="@Localizer["NormalIntro"]" Name="Normal" Demo="typeof(Demos.Speechs.SpeechWaveNormal)" />

<DemoBlock Title="@Localizer["ShowUsedTimeTitle"]" Introduction="@Localizer["ShowUsedTimeIntro"]" Name="ShowUsedTime" Demo="typeof(Demos.Speechs.SpeechWaveShowUsedTime)" />

<DemoBlock Title="@Localizer["ValueTitle"]" Introduction="@Localizer["ValueIntro"]" Name="Value">
    <div class="row g-3">
        <div class="col-12">
            <SpeechWave Show="IsShow" />
        </div>
        <div class="col-12">
            <Button Text="@ButtonText" OnClick="OnClickShow"> </Button>
        </div>
    </div>
</DemoBlock>

<AttributeTable Items="@GetAttributes()" />
