@page "/speechs"
@namespace BootstrapBlazor.Shared.Samples
@inherits BootstrapComponentBase
@layout MainLayout

<h3>@Localizer["SpeechsTitle"]</h3>

<h4>@Localizer["SpeechsDescription"]</h4>

<p>@((MarkupString)Localizer["SpeechsDescription1"].Value) <a href="https://www.nuget.org/packages?q=@NugetPackageName" target="_blank"><code>@NugetPackageName</code></a>，@Localizer["SpeechsDescription2"]</p>

<PackageTips Name="@NugetPackageName"></PackageTips>

<div class="code-label mb-2">@Localizer["SpeechsLiTitle"]</div>

<ul class="ul-demo">
    <li>@((MarkupString)Localizer["SpeechsLi1"].Value)</li>
    <li>@((MarkupString)Localizer["SpeechsLi2"].Value)</li>
    <li>@((MarkupString)Localizer["SpeechsLi3"].Value)</li>
    <li>@((MarkupString)Localizer["SpeechsLi4"].Value)</li>
</ul>

<div class="row">
    <div class="col-12 col-sm-auto">
        <Button Text="@Localizer["SpeechsButtonText"]" Icon="fa-fw fa-solid fa-microphone" OnClick="OnStart" style="margin: 1.5rem 0;" />
    </div>
    <div class="col-12 col-sm-auto">
        <SpeechWave Show="Show" TotalTime="@TotalTime" class="my-3" />
    </div>
</div>

<GroupBox Title="@Localizer["SpeechsGroupBoxTitle"]">
    <BootstrapBlazor.Components.Console HeaderText="@Localizer["SpeechsGroupBoxHeaderText"]" Items="@ConsoleMessages" Height="140" />
</GroupBox>

<div class="code-label mt-3 mb-2">@Localizer["SpeechsTips1"]</div>

<div class="mb-2"><b>Program.cs</b></div>

<Pre>// @Localizer["SpeechsTips1Text"]
<b><i>builder.Services.AddBootstrapBlazorBaiduSpeech();</i></b></Pre>

<div class="code-label mb-2">@Localizer["SpeechsTips2"]</div>

<Pre>// @Localizer["SpeechsTips2Text1"]
[Inject]
[NotNull]
private RecognizerService? RecognizerService { get; set; }

// @Localizer["SpeechsTips2Text2"]
[Inject]
[NotNull]
private SynthesizerService? SynthesizerService { get; set; }</Pre>
